{% extends 'AmapolannUserBundle::layout.html.twig' %}


{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
{% endblock %}

{% block content %}
{{ parent() }}
<div style="width: 100%; text-align: center;">
<img style="width: 100%;" src="/az/serinco/web/images/error.png">
</div>
{% endblock %}