{% extends 'AmapolannUserBundle::layout.html.twig' %}


{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
{% endblock %}

{% block content %}
{{ parent() }}
<div style="width: 100%; text-align: center;">
{%if status_code == 404 %}
<img style="width: 100%;" src="/az/serinco/web/images/404.png">
<input type="hidden" value="{{status_message}}"
{%else %}
    <img style="width: 100%;" src="/az/serinco/web/images/500.png">
<input type="hidden" value="{{status_message}}"
{%endif%}
</div>
{% endblock %}