<!DOCTYPE html>
<html>

    <head>
        <!--<meta charset="utf-8" />-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!-- Viewport para celulares: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all" />


        <!-- <link rel='shortcut icon' type='image/vnd.microsoft.icon' href='img/favicon.ico'> --> <!-- IE -->
        <link rel='apple-touch-icon' type='image/png' href='{{genericDomain}}front/images/favicon.svg'> <!-- iPhone -->
        <link rel='apple-touch-icon' type='image/png' sizes='72x72' href='{{genericDomain}}front/images/favicon.svg'> <!-- iPad -->
        <link rel='apple-touch-icon' type='image/png' sizes='114x114' href='{{genericDomain}}front/images/favicon.svg'> <!-- iPhone4 -->
        <link rel='icon' type='image/png' href='{{genericDomain}}front/images/favicon.svg'> <!-- Opera Speed Dial, at least 144×114 px -->
        <title>Amapolann</title>
        
        
        {% block css %}
            
            <link rel="stylesheet" href="{{ genericDomain }}css/bootstrap.css">
            <link rel="stylesheet" href="{{ genericDomain }}css/fontsh.css">
            
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,600i,700,900" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ genericDomain }}css/style.css?v=2">

            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
       {% endblock %}
        
       {% block js %}
       
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
            <script src="{{ genericDomain }}js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

            <script src='{{ genericDomain }}js/jquery.easing.1.3.js'></script><!-- variedad de movimientos para efectos -->
<!--animar anclas-->
            <script src="{{ genericDomain }}js/anchor.jquery.js" type="text/javascript"></script>
            
  
            
       {% endblock %}
        
        
        
    </head>

    <body>

        
		{% block content %}
                  
		{% endblock content %}
		      
        
        
            <script src='{{ genericDomain }}js/efectos.js'></script><!-- Acciones personales -->

            
    
    </body>

</html>
