html { font-size: 62.5%; }
html { height: 100%; width: 100%; margin: 0px; }

::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background:#d7dadc;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #0277bd;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'Lato-Regular', Helvetica, sans-serif;
	font-size: 1.4rem;
	line-height: 1.4rem;
	background-repeat: none;
	color: #9e9ea0;
	font-weight: 300;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%  50%;
}

h1, h2, h3 { margin:0;padding:0;border:0; line-height:0; font-size:12px; }
p {border:0;margin:0;padding:0;}
img {border:0;}
a {text-decoration:none !important;color:inherit !important; cursor: pointer;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}
a:focus{text-decoration:none;}
a:hover{text-decoration:none; }
span { border:0;margin:0;padding:0;}


/*divs
---------------------------------------------------------------------------------------------------- */
/*RESET FORM */
label {display:block;border:none;background:transparent;font:100% 'helvetica-thin', Helvetica, sans-serif;} 
fieldset {border:none;}  

/*titulos
---------------------------------------------------------------------------------------------------- */
.tit {  font-size:2.3rem; line-height:3rem; line-height:auto; }
.sub-tit {  font-size:1.8rem; line-height:2.2rem;  }

.article-tit {font-size:2rem; line-height:2.2rem; z-index:999; }
.article-sub-tit {  font-size:1.8rem; line-height:2.2rem; }
.article-txt {  font-size:1.6rem; line-height:1.8rem; }

.txt {  font-size:1.4rem; line-height:2rem;  }

.txt-tit{ font-size:1.6rem; line-height:2.2rem; color:#1f1e21;  }

.txt.legal {  font-size:1.2rem; line-height:1.6rem; }

.txt-img {  font-size:1.2rem; line-height:1.4rem;  }

.txt.link {  font-size:1.1rem; line-height:1.4rem; text-transform:uppercase; cursor:pointer ; display:block; }

.txt.pie, .txt-tabla {  font-size:1.3rem; line-height:2rem; }


.subrayado a{ border-bottom:1px solid #cc9635; padding-bottom:2px;}

/*images
---------------------------------------------------------------------------------------------------- */

.propiedades-similares , .locaciones {
	position: relative;
    height: 200px;
    overflow: hidden;
	background-color: #f7f7f7;

	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
    border: 1px solid #898a93;
}
.propiedades-similares img , .locaciones img  {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}

.propiedades-similares:after , .locaciones:after {
    display: block;
    content: '';
    position: relative;
    pointer-events: none;
    background-image: linear-gradient(to bottom,transparent,rgba(21,101,192,0.31));
    height: 100%;
    z-index: 1;
}




.img-texto {
	display: block;
    bottom: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    position: absolute;
	z-index: 2;}
	
	.img-texto p{
		width:100%; margin:0 !important; font-size:1.3rem; line-height:1.8rem; }
	.img-texto p:first-child{
			width:100%; margin:0 !important; font-size:2rem; line-height:2rem; }


.img-texto.precio-prop { background: linear-gradient(to right, rgba(17,71,146,1) 0%, rgba(2,117,188,1) 43%, rgba(2,117,188,1) 100%); padding:6px; }			
	
.propiedades-resultados{
	position: relative;
    height: 270px;
    overflow: hidden;
	background-color: #f7f7f7;
}
.propiedades-resultados img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}


.propiedades-resultados .carousel-inner .carousel-item img {
	
	object-fit:contain;
	position: relative;
	height: 270px; 
	width: auto;
}


.propiedades-resultados:after {
    display: block;
    content: '';
    position: relative;
    pointer-events: none;
    background-image: linear-gradient(to bottom,transparent,rgba(21,101,192,0.31));
    height: 100%;
    z-index: 1;
}  


.propiedades-ficha{
	position: relative;
    height: 200px;
    overflow: hidden;
	background-color: #f7f7f7;
} 

#slider-ficha .carousel-inner .carousel-item img {
	
	object-fit:cover;
	position: relative;
	height: 200px;
	width: 100%;
}

.propiedades-ficha-modal{
	position: relative;
    height: auto;
    overflow: hidden;
	background-color: #f7f7f7;
} 

#slider-ficha-modal .carousel-inner .carousel-item img {
	
	object-fit:contain;
	position: relative;
	width: 100%;

	max-height: 90%;
    margin: auto;
    right: 0;
    bottom: 0;
}

.modal-dialog.ficha-modal {
	width: 100%;
	height: auto;
	max-width:1000px;
  }
  
  .modal-content.ficha-modal {
	height: auto;
	
	border-radius: 0;
  }

  .modal-dialog.modal-xl {
	width: 100%;
	height: auto;
	max-width:1000px;
  }
  
  .modal-content.modal-xl {
	height: auto;
	
	border-radius: 0;
  }


.visita-virtual{
	position: relative;
    height: 360px;
    overflow: hidden;
	background-color: #f7f7f7;
}
.visita-virtual img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}
.visita-virtual:after {
    display: block;
    content: '';
    position: relative;
    pointer-events: none;
    background-image: linear-gradient(to bottom,transparent,rgba(21,101,192,0.31));
    height: 100%;
    z-index: 1;
}

.visita-virtual .img-texto-centrado {
	
	z-index: 2;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	height:300px;
	width:calc( 100% - 2rem)

}
	
	.visita-virtual .img-texto-centrado p{
		font-size:1.6rem; line-height:3rem;padding-top: 5rem; }
	
	.visita-virtual .img-texto-centrado a{
		display: block;
	position: relative;
	left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
			width:300px; height: 150px; box-sizing: border-box; }
		

.contact-box-btn {
    position: relative;
    left: calc(100% - 80px);
    bottom: 10px;
}

.contact-box-info {
	-webkit-line-clamp: 4;
	width:100% ;
    max-height: 150px;
	height: 150px;
	text-overflow: Ellipsis;
}



/*filtros
---------------------------------------------------------------------------------------------------- */

.filter {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.filter-tit {font-size:1.4rem; line-height:4rem;  z-index:9;}

.filter-txt-btn {  font-size:1.4rem; line-height:24px;  display: inline-flex;
    vertical-align: middle;}

	.target-is-open {
		display: block;
	}

	.target-is-close {
		display: none;
	}

	.filtros-lista {  text-align:left;   }
	.filtros-lista ul  { display:block; text-decoration:none;  position:relative; padding:0; margin-bottom:0rem; }
	.filtros-lista ul li { display:block; border-radius:0%; box-sizing:border-box; width:auto; height:auto; cursor: pointer; -webkit-border-radius:0%; -moz-border-radius:0%; -ms-border-radius:0%; -o-border-radius:0%; font-size: 1.4rem;color: #cc9635; }


/*map
---------------------------------------------------------------------------------------------------- */
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/*form
---------------------------------------------------------------------------------------------------- */
.boton {
	padding: 0 10px;
	float:none;
	display:block;
	color: #ffffff;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #cc9635;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	height:40px;
	line-height:40px;
	font-family: 'Raleway-Bold',Arial, Helvetica, sans-serif;
	width:inherit;
	max-width:260px;
	border: 1px solid #cc9635;
}

.boton i {  vertical-align: middle;}

.boton.alt{  
	max-width:260px; background-color: transparent; color: #ffffff; border: 1px solid #ffffff;}

.boton.alt.alt-subir{  
		background-color: #ffffff; color: #545454; font-family:'Lato-Light',Arial, Helvetica, sans-serif; border: 1px solid #898a93;  }

	
.boton.alt-amarillo{  
		max-width:300px; background-color: transparent; color: #cc9635; border: 1px solid #cc9635;}

.boton-radius { 	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;}		

.boton.boton-icon {
width:100%; 
}
.boton.boton-icon i {
	color: #cc9635;
	vertical-align: middle;
	}

.boton.boton-icon-i {
		color: #ffffff;
		background-color:#cc9635;
		vertical-align: middle;
		}
		.boton:hover.boton-icon-i {
			color: #ffffff;
			background-color:#cc9635;
			vertical-align: middle;
			}
.boton:hover{  
background-color: #ffffff; color: #cc9635; border: 1px solid #cc9635;}

textarea, select, input {
  box-shadow: none;
  box-sizing: border-box;
  float:left;
  position:relative;
  height: 40px;
  width:100%;
  padding: 6px 10px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom:0.8rem;
  float:left;
  font-family: 'Lato-Light', Helvetica, sans-serif;
  font-size:1.6rem;
  color:#1f1e21 !important;
  border: 1px solid #eaeceb !important;
  background-color: #ffffff;
  border-radius: 4px !important ;
  -webkit-border-radius: 4px !important ;
  -moz-border-radius: 4px !important ;
  -ms-border-radius: 4px !important ;
  -o-border-radius: 4px !important ;
}
select {padding: 6px 10px 6px 6px; }
textarea:focus, input:focus, select:focus{
    outline: none; border:1px solid #cc9635;
}



button {
	width:70%;
	padding: 1.3rem 3.3rem 1.3rem 3.3rem;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
	float:none;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border:1px solid #cc9635 ;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-weight: normal;
	line-height: 1.5rem;
	font-size: 1.6rem;
	background-color: #cc9635;
	font-family: 'Raleway-Bold',Arial, Helvetica, sans-serif;
	transition: 0.3s;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}
button:hover{  
background-color: #ffffff; color: #cc9635; border: 1px solid #cc9635;}



textarea { height: 80px;}

[type="date"] {
	background:#fff url(../images/icons/icon-calendario-form.svg)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
	display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
  }



  select {

	/* styling */
	background-color: white;
	display: inline-block;
	font: inherit;
  
	/* reset */
  
	margin: 0;    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
  }



  select.arrow-azul {
	background-image:
	  linear-gradient(45deg, transparent 50%, #cc9635 50%),
	  linear-gradient(135deg, #cc9635 50%, transparent 50%),
	  linear-gradient(to right, #ffffff, #ffffff) !important; 
	background-position:
	  calc(100% - 15px) calc(1.5rem + 2px),
	  calc(100% - 10px) calc(1.5rem + 2px),
	  100% 0;
	background-size:
	  5px 5px,
	  5px 5px,
	  2.5rem 2.5rem;
	background-repeat: no-repeat;
  }


  input[type=file] {
	cursor: pointer;
	width: 50%;
	height: 44px;
	overflow: hidden;
background-color: transparent !important;
border:none !important;
color:transparent !important ;
position:absolute; 
z-index: -1;
bottom:0px;
height:1px !important;

  }
  
/*input[type=file]:before {
	width: 0px;
	height: 0px;
	font-size: 1rem;
	line-height:44px;
	content: 'Seleccionar Archivo';
	width:100%;
	color:#545454;
	text-align: center;
	font-family: 'Raleway-Bold',Helvetica, Arial, sans-serif;
	position:absolute;
	left: calc( 10% - 70px);
  }*/
  
 


 

.file-selected {
        font-size: 10px;
        text-align: center;
        width: 100%;
        display: block;
		margin-top: 5px;
		color:#898a93;
    }

	.file-selected.blanco {
		color:#ffffff;
	}
	
.checkcontainer {
	display: inline-block;
	position: relative;
	padding-left: 0px;
	padding-right:10px;
	cursor: pointer;
	font-size: 1.6rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom:1.4rem;
	margin-top:1rem;
  }
  
  .checkcontainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	
  }

  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  .checkcontainer:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  .checkcontainer input:checked ~ .checkmark {
	background-color: #cc9635;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .checkcontainer input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkcontainer .checkmark:after {
	   top: 4px;
	  left: 4px;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  background: white;
  }

.chips.chips-snap {
	scroll-snap-type: x mandatory ;
	
}
.chips {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 10px 10px 30px;
    -webkit-overflow-scrolling: touch;
}
.chip {
    flex: 0 0 auto;
    color: #000000de;
    border: 1px solid #0000001f;
    background: 0 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    padding: 5px 8px 6px 15px;
    margin-right: 10px;
    border-radius: 16px;
    text-decoration: none;
  }


.boton-compartir {
	position: relative;
    height: 24px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    color: #fff !important;
    border-radius: 3px;
    font-weight: 700;
	cursor: pointer;
	font-family: Helvetica, sans-serif;
	float:none;
	display:block;
	font-size: 24px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	max-width:100px;

}
.boton-compartir.tw { 
    background-color: #1b95e0;}
.boton-compartir.wp { 
	background-color: #1ebea5;}
.boton-compartir.fb { 
	background-color: #4267b2;}

/* responsive
-------------------------------------------------- */
.width-responsive {
  width: 100%;
  box-sizing: border-box;
  height:auto;
  display:block; }
  
.pullright {
  float: right!important;}
.pullleft {
  float: left!important; }

.zi-1{z-index: 1;};
.zi-2{z-index: 2;};

.left { float:left;} 
.right{ float:right;}
.clear { clear:left;}
.clearing {clear:both;}

.full-height { height: 100vh;}
.v-height { height: calc(100vh - 3rem)}

.g-recaptcha  {
	transform: scale(0.8);
	transform-origin: 0 0;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
}

.sombra {   /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/


box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease-in-out;}
.sombra:hover {   box-shadow: 0 20px 30px rgba(0,0,0,0.26), 0 9px 9px rgba(0,0,0,0.22);}


.cursor{cursor:pointer}
.table {  margin: 0 auto;	display:table; height:100%; min-height:100px;}
.block { display:block;}
.table-cell {  display:table-cell; vertical-align:middle; width:100%;}
.overflow-h{overflow:hidden; box-sizing: border-box;}
.overflow-y{overflow-y:scroll; box-sizing: border-box;}
.centrar{margin:0 auto; text-align:center; }
.relative{position:relative}
.absolute{position:absolute;}

.active{display: block;}
.off{display:none;}

.bg {	width: 100%; float: left; display: block; background-repeat:no-repeat; background-size:auto;}

.bg.blanco { background: #ffffff; }
.bg.gris { background:#dddddd;}
.bg.gris-celeste {background:#f0f3f6;}

.bg.gris-oscuro{background:#686868;}
.bg-resultados {position:relative; background-image: url(../images/bg-resultados.jpg); width:100%; background-position:0 0;  background-color: #6d6d6d; box-sizing: border-box;  }


.bg-atencion {position:relative; background-image: url(../images/bg-atencion.jpg); width:100%; float:left; display:block; background-repeat: no-repeat; 
		background-position:0 0; background-size: cover; box-sizing: border-box;  }
.bg-actividades {position:relative; background-image: url(../images/bg-actividades.jpg); width:100%; float:left; display:block; background-repeat: no-repeat; background-position:0 0; background-color: #6d6d6d; box-sizing: border-box;  }

.bg.negro{background:#000000;}

.bg-celeste { background: #0277bd; }
.bg-celeste-op { background: rgba(21,101,192,0.58) ; }
.bg-celeste-op-2 { background: rgba(21,101,192,0.94) ; }
.bg-rosa { background: #d81b60; }
.bg-rosa-op { background: rgba(216,27,96,0.94) ; }
.bg-gris { background: #545454; }
.bg-gris-op { background: rgba(84,84,84,0.9) ; }
.bg-celeste-op-dg {background: linear-gradient(to right, rgba(17,71,146,1) 0%, rgba(2,117,188,1) 43%, rgba(2,117,188,1) 100%);}
.bg-blanco { background-color:#ffffff;}
.bg-negro{background:#000000;}

.bg-mp {position:relative; background-image: url(../images/bg-buscador.jpg); width:100%; float:left; display:block; background-repeat: no-repeat; 
	background-position:0 0; background-size: cover; box-sizing: border-box;  }

.bg-mp-height {position:relative; background-image: url(../images/bg-amp.jpg); width:100%; float:left; display:block; background-repeat: no-repeat; 
		background-position:50% 50%; background-size:auto; box-sizing: border-box; background-color:#000000; }

.bg-mp.rosa {background-image: url(../images/bg-buscador-rosa.jpg);   }
.bg-mp.gris {background-image: url(../images/bg-buscador-gris.jpg);   }


.bg-blanco-op {background: linear-gradient(to bottom, rgba(255,255,255,0) 16%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 17%, rgba(255,255,255,1) 100%);}



.linea-centro{position: relative; padding-bottom: 5rem;}
.linea-centro::after {
		content: "";
		width: 40px;
		height: 6px;
		position: absolute;
		bottom: 0;
		background: #e91e63;
		margin: 0 auto;
		left: calc(50% - 20px);
	}

.linea-centro-article{position: relative; padding-bottom: 3rem;}
.linea-centro-article::after {
		content: "";
		width: 40px;
		height: 6px;
		position: absolute;
		bottom: 0;
		background: #e91e63;
		margin: 0 auto;
		left: calc(50% - 20px);
	}


.borde { border:1px solid #898a93;}
.borde-t { border-top:1px solid #eaeceb;}
.borde-b { border-bottom:1px solid #eaeceb;}
.borde-t.celeste { border-top:1px solid #cc9635;}
.borde-b.celeste { border-bottom:1px solid #cc9635;}
.borde-b.rosa { border-bottom:1px solid #e91e63;}
.borde-rlt { border-top:1px solid #eaeceb;border-left:1px solid #eaeceb; border-right:1px solid #eaeceb;}
.borde-rlb { border-bottom:1px solid #eaeceb;border-left:1px solid #eaeceb; border-right:1px solid #eaeceb;}

.borde-rosa {  border:1px solid #e91e63;}
.borde-celeste {  border:1px solid #cc9635;}
.borde-negro {  border:1px solid #000000;}
.borde-gris { border:1px solid #a7a6a6}

.radius { border-radius: 5px; box-sizing:border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }
.radius.inferior { border-radius: 0px 0px 4px 4px; box-sizing:border-box;}
.radius.inferior-derecho { border-radius: 0px 0px 30px 0px; box-sizing:border-box;}
.radius.superior { border-radius: 4px 4px 0px 0px; box-sizing:border-box;}
.radius.circular { border-radius:50%; }

.linea { width:100%; background-color:#9e9ea0; height:2px;}
.linea-celeste { width:100%; background-color:#cc9635; height:1px;}
.linea.transparente { width:100%; background-color:transparent; height:1px;}




.out-line-none { outline: none;
  -webkit-appearance:none;}

.no-copy a {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}


/* listas
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lista { margin:0 auto; text-align:left;   }
.lista ul  { display:block; text-decoration:none;  position:relative; padding:0;  }
.lista ul li { display:block; border-radius:0%; box-sizing:border-box; width:auto; height:auto; cursor: pointer; -webkit-border-radius:0%; -moz-border-radius:0%; -ms-border-radius:0%; -o-border-radius:0%; } 

.lista.objetivos  ul li { margin:2rem 0rem; padding-bottom:2rem; border-bottom:1px solid #cc9635;} 
.lista.objetivos  ul li:last-child { margin:2rem 0rem; padding-bottom:1rem; border-bottom:0px solid #cc9635;} 

.lista.usuario  ul li { margin:1rem 0rem; padding-bottom:1rem; border-bottom:1px solid #898a93;   overflow: hidden; 
	text-overflow: Ellipsis;
	white-space: nowrap;} 
.lista.usuario ul {margin:0.5 0rem;}
.lista.usuario  ul li:last-child { margin:1rem 0rem; padding-bottom:1rem; border-bottom:0px solid #898a93;} 
.lista.usuario.num  ul li { color:#cc9635; padding-right: 4px;  overflow: visible;} 
.lista.usuario.link  ul li { color:#d81b60; text-align: center; font-size: 1rem;} 

.lista.tab ul li { color:#ffffff ;display:inline-block; margin-right: 10px; font-size: 1.6rem; }
.lista.tab ul li.active { color:#cc9635 ;display:inline-block; margin-right: 10px;  font-family: 'Raleway-Bold', Helvetica, sans-serif; }
.lista.tab ul li > a:hover { background-color:transparent !important; border:none !important; }
.lista.tab ul li > a:focus { background-color:transparent!important; border:none !important; }

ul.nav-tabs {border:none !important; }
ul.nav-tabs .nav-link.active {color:#ffffff !important ;display:inline-block;   font-family: 'Raleway-Bold', Helvetica, sans-serif; border:none !important; background: none !important;}
ul.nav-tabs .nav-link:hover { border:none !important; }
ul.nav-tabs .nav-link { border:none !important; text-transform: uppercase; }

.lista.actividades ul li { display:inline-block; color:#545454; background-color:#ebebeb; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; margin:0 1px; width:calc(50% - 4px); text-align: center; font-size:2rem; line-height: 6rem; } 
.lista.actividades ul li.objetivo { color:#cc9635;} 
.lista.actividades ul li:only-child { width:100%; } 

.redes { margin:0 auto; text-align:left;   }
.redes ul  { display:block; text-decoration:none;  position:relative; padding:0;  }
.redes ul li { display:inline-block;  border-radius:0%; box-sizing:border-box;  width:20px; height:20px; cursor: pointer; margin: 5px} 

.redes.compartir { margin:0 auto; text-align:center;   }
.redes.compartir ul  { display:block; text-decoration:none;  position:relative; padding:0; margin: 0;  }
.redes.compartir ul li { display:inline-block;  border-radius:0%; box-sizing:border-box;  width:24%; height:30px; cursor: pointer; margin: 0px; padding: 0;} 

.caracteristicas-principales ul  {  text-decoration:none;   padding:0; 
	justify-content: center; 
    list-style: none;
	display: flex;
	justify-content: space-between; 
 }
.caracteristicas-principales ul li {   box-sizing:border-box;  
	text-align: center;
    padding: 5px;
	font-weight: 300; } 


	.caracteristicas-principales ul li i {
		display: block;
		width: 40px;
		height: auto;
		margin: 0 auto;
		color: #cc9635;
	}
	.caracteristicas-principales ul li:first-child i{
		color: #d81b60;
	}

	.caracteristicas-principales li p {
		margin: 5px 0 0 0;
		font-size: 1.1rem ; line-height: 1.4rem;
		text-align: center;
	}
	.caracteristicas-principales li span {
		margin: 5px 0 0 0;
		font-size: 1.3rem ; line-height: 1.4rem;
		text-align: center;
	}



	.caracteristicas ul {
		text-decoration: none;
		list-style: none;
		padding: 0;
		columns: 1;
	}


	.caracteristicas ul li {
		box-sizing: border-box;
	}

	.caracteristicas li p {
		color: #898a93;
	}

	.caracteristicas li p span {
		color: #cc9635
	}

	.caracteristicas li p i {
		color: #cc9635;
		font-size: 1.7rem;
		line-height: 2rem;
		vertical-align: middle;
	}

	.caracteristicas.opciones ul {
		columns: 2;
		text-align: center;
		margin-bottom: 0;
		vertical-align: middle;
		height: auto;
	}
	
	.caracteristicas.opciones.colums1 ul {
		columns: 1;
	}
	.caracteristicas.opciones.colums1  ul li  a p{
		line-height: auto;
	}
	.caracteristicas.opciones.colums1  ul li  a p input{
		border: none;
		color: #cc9635;
	}


	.caracteristicas.opciones ul li  a p{
		color: #cc9635;
		margin-bottom:0;
		line-height: 4rem;
	}

	.caracteristicas.opciones li p i {
		color: #cc9635;
		font-size: 1.7rem;
		line-height: 2rem;
		vertical-align: middle;
	}

	.caracteristicas.opciones ul li  a p.disable , .caracteristicas.opciones li p.disable i{
		color: rgba(137, 138, 147, 0.0) !important; cursor:default;
		
	}

	.caracteristicas-img ul {
		text-decoration: none;
		list-style: none;

		display: block;
		text-decoration: none;
		position: relative;
		padding: 0;

	}

	.caracteristicas-img ul li {
		box-sizing: border-box;
		text-align: left;
		display: inline-block;
		font-weight: 300;
		color: #cc9635;
		text-transform: uppercase;
		margin-right: 5px;
		;
	}
	

	.img-avatar {
		max-width:100px;
		height:100px;
		overflow: hidden;
		box-sizing: border-box;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		object-fit:contain;
}
	
	.estado-actividad{ border-bottom:1px solid #cc9635; color:#cc9635; line-height:3rem; }
	.estado-actividad.actividad-incompleta { border-bottom:1px solid #d81b60; color:#d81b60;  }
	.estado-actividad.actividad-completa { border-bottom:1px solid #cc9635; color:#cc9635;  }



/* icons 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  display: block;
  background-repeat: no-repeat;
  z-index: 1;
  transform: scale(1);
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -o-transition: all.1s ease-in;
 
}
.icon-lista {
  background-size: contain;
  background-position: 50% 50%;
}

.icon-lista.fb {
	background-image: url(../images/icons/redes/icon-fb.svg);
	width: 100%;height: 100%;
  }
  .icon-lista.wp {
	background-image: url(../images/icons/redes/icon-wp.svg);
	width: 100%;height: 100%;
  }
  .icon-lista.ig {
	background-image: url(../images/icons/redes/icon-ig.svg);
	width: 100%;height: 100%;
  }
  .icon-lista.tw {
	background-image: url(../images/icons/redes/icon-tw.svg);
	width: 100%;height: 100%;
  }

  .icon.icon-mail{
	background-size: contain;
	background-position: 0% 50%;
	background-image: url(../images/icons/icon-mail.svg);
	width:40px;height: 60px;
  }

  .icon.icon-lugar{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-lugar.svg);
	width:100%;height: 100%;
  }
  .icon.icon-tasacion{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-tasacion.svg);
	width:100%;height: 100%;
  }

  .icon.icon-superficie{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-superficie.svg);
	width:100%;height: 24px;
  }

  .icon.icon-dormitorio{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-dormitorio.svg);
	width:100%;height: 24px;
  }
  .icon.icon-calendario{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-calendario.svg);
	width:100%;height: 24px;
  }
  .icon.icon-disposicion{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-disposicion.svg);
	width:100%;height: 24px;
  }


  .icon.icon-logofooter{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/logo-maspropiedades-blanco.png);
	width:154px;height: 80px;
  }

  .icon.icon-maspropiedades{
	background-size: contain;
	background-position: 0% 50%;
	background-image: url(../images/icons/icon-maspropiedades.svg);
	width:260px;height: 50px;
  }

  .icon.icon-maspropiedades-azul{
	background-size: contain;
	background-position: 0% 50%;
	background-image: url(../images/icons/icon-maspropiedades-azul.svg);
	width:260px;height: 50px;
  }

  .icon.icon-visitavirtual{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-visita-virtual.svg);
	width:100%;height: 100%;
  }

  .icon.icon-mensaje{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-mensaje-nonexistente.svg);
	height: 150px;
  }
  .icon.icon-mensajeerror{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-mensaje-error.svg);
	height: 150px;
  }
  .icon-close-modal{
	display: block;
	
	background-color:transparent;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	z-index: 9;
	background-position: 50% 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
	cursor:pointer;
	padding:0px;
	border:0px;
	box-shadow:none;
	
 }
 .icon-compartir {
	background-size: contain;
	background-position:50% 2px;
	width: 100%;height:20px; 
  }
 .icon-compartir.wp {
	background-image: url(../images/icons/icon-whatsapp-compartir.svg);
  }
  .icon-compartir.tw {
	background-image: url(../images/icons/icon-tweeter-compartir.svg);
  }
  .icon-compartir.fb {
	background-image: url(../images/icons/icon-facebook-compartir.svg);
  }


 .icon-right {vertical-align: middle; float:right; padding:8px 10px 0 0} 
 
/*Absolute
---------------------------------------------------------------------------------------------------- */
.flotante { position:absolute; }
.flotante.circulo-top { position:absolute; width:60px; height:60px; background-color:#ffffff; top:-54px; right:10px;  z-index:2; border-radius:50%;}

.flotante.circulo-mas { position:absolute; width:68px; height:68px; background-color:#ffffff; bottom:-34px; right:10px;  z-index:2; border-radius:50%;}


.codigo-mensaje {position: absolute; bottom: 4rem; left: 0; right:0; margin-left: auto; margin-right: auto;} 
/*displays
---------------------------------------------------------------------------------------------------- */
.web { display:none; }
.tablet { display:none;}
.mobileyweb { display:block; }
.mobile { display:block; width:100%; height: auto; float:left;}
.smart { display:none;}
.tabletyweb { display:none;}
.tabletymobile { display:block;}


/* medias
---------------------------------------------------------------------------------------------------- */
@media (min-width:200px){ } 
@media (min-width:240px){ } 
@media (min-width:280px){ } 
@media (min-width:350px){ } 
@media (min-width:450px){ }
@media (min-width:550px){
/*displays
---------------------------------------------------------------------------------------------------- */
.tablet { display:block;}
.tabletyweb { display:block;}
.mobile { display:none;}
.mobileyweb { display:none; }




}
@media (min-width:750px){

.pullright-tabletyweb {
		float: right!important;}
.pullleft-tabletyweb  {
		float: left!important; }

.radius-web { border-radius: 5px; box-sizing:border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }

.mb-4-tabletyweb { margin-bottom:6rem;}
.mt-4-tabletyweb{ margin-top:6rem;}

.contenedor.form{
	width:calc(100% - 40px);}
	
 .contenedor-form{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  width:calc(100% - 40px); }

  .icon.icon-logofooter{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/logo-maspropiedades-blanco.png);
	width:200px;height: 80px;
  }

  .flotante.circulo-top { position:absolute; width:100px; height:100px; background-color:#ffffff; top:-44px; right:10px;  z-index:2; border-radius:50%;}
 
  .bg-mp-height {position:relative; background-image: url(../images/bg-amp.jpg); width:100%; float:left; display:block; background-repeat: no-repeat; 
	background-position:0 0; background-size:100% 800px; box-sizing: border-box; }

	.propiedades-ficha{
		height: 400px;
	} 
	
	#slider-ficha .carousel-inner .carousel-item img {
		
		object-fit:cover;
		position: relative;
		height: 400px;
	}

/*displays
-------------------------------------------------- */
.web { display:block;}
.tablet { display:none;}
.tabletymobile { display:none;}
.mobileyweb { display:block; }	

/* titulos
---------------------------------------------------------------------------------------------------- */
.tit {  font-size:3.8rem; line-height:4.4rem; } 
.sub-tit {  font-size:2.1rem; line-height:2.8rem; }

.txt-tit{ font-size:2rem; line-height:2.4rem;  }

.article-tit {font-size:1.8rem; line-height:2.2rem;  z-index:999;   }
.article-sub-tit {  font-size:1.6rem; line-height:2.6rem;  }
.article-txt {  font-size:1.6rem; line-height:2.2rem;  }
.article-sub-tit.web-md {  font-size:1.4rem; line-height:2.4rem;  }


/* listas
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.caracteristicas ul  {  
	columns: 3;
	 }


}

/* plataforma
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#contenedor_botonera_izq {
   padding-top: 0px !important;
}

@media (min-width:1280px){
.boton, .boton.alt, .boton.alt-amarillo { max-width:160px;}
 .boton.alt.alt-subir { max-width:260px;}
}

@media (min-width:1440px){ 
/*displays
---------------------------------------------------------------------------------------------------- */
.smart { display:block;}

}

.contenedor.form .message{
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	margin:0 2rem;
}

.container.w-xl { max-width: 1440px !important; }
@media (max-width:550px){ 

.menu-inicio-actividades div#contenedor_botonera_izq{
	position:relative !important; top:0px !important;
}
}

