


#sequentialupload{
  background-color: #F4F7F7;
  border: 1px solid #D6D7DA;
}




/*Contenedor de cda archivo subido*/
.ajax-file-upload-statusbar {
  background-color: #F4F7F7;
  border: 1px solid #D6D7DA;
  margin-top: 10px;
  width: 420px;
  margin-right: 10px;
  /*margin: 5px;*/
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 15px;
}


/*Nombre de archivo*/
.ajax-file-upload-filename {
  width: auto;
  /*background-color: red;*/
  height: auto;
  color: #7F7F7F;
  margin: 10px 5px 5px 0px;
  /*font-family: Arial, sans-serif;*/
  font-size: 14px;
}

.ajax-file-upload-filesize {
  width: 50px;
  height: auto;
  margin: 0 5px 5px 0px;
  /*display: inline-block;*/
  display: none;
  vertical-align:middle;
}







/* Contenedor barra cargando */
.ajax-file-upload-progress {
  margin: 5px 10px 5px 0px;
  position: relative;
  width: 230px;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 0px;
  display: inline-block;
  color:#FFFFFF;
}

/* Barra cargando */
.ajax-file-upload-bar {
  background-color: #0967b1;
  width: 0;
  height: 15px;
  border-radius: 0px;
  color:#FFFFFF;
  font-size: 12px;
}
.ajax-file-upload-percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%;
}


/*.ajax-file-upload-red {
  -moz-box-shadow: inset 0 39px 0 -24px #e67a73;
  -webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
  box-shadow: inset 0 39px 0 -24px #e67a73;
  background-color: #e4685d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #b23e35;
  cursor: pointer;
  vertical-align: top;
  margin: 5px 10px 5px 0px;
}*/
/*.ajax-file-upload-green {
  background-color: #77b55a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  padding: 4px 15px;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #5b8a3c;
  vertical-align: top;
  margin: 5px 10px 5px 0px;
}*/


/* Boton cancelar */
.ajax-file-upload-red
{
  background-color: transparent;
  color: #ed6f34;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  padding-left: 20px;
  background-image: url('../../img/icono_cruz_naranja.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
}

/* Boton Ok (showDone) */
.ajax-file-upload-green
{
  background-color: transparent;
  color: #0967b1;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding-left: 20px;
  background-image: url('../../img/icono_ok_azul.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
}



/*Bt seleccionar archivos*/
.ajax-file-upload {
  font-size:16px;
  color: #ed6f34;
  font-weight: 500 !important;
  /*background-image: url('../../img/icono_seleccionar_archivo.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  padding-left: 25px;*/
  cursor:pointer;
  display: block;
  text-decoration: none;
  border: none;
  vertical-align: middle;
}

.ajax-file-upload:hover {
  color:#000;
  /*-moz-box-shadow: 0 2px 0 0 #15719f;
  -webkit-box-shadow: 0 2px 0 0 #15719f;
  box-shadow: 0 2px 0 0 #15719f;*/
}

.ajax-upload-dragdrop{
  width: 250px; /*Misma medida que el script (ver archivo js donde están los seteos de #sequentialupload)*/
  left: 50%;
  margin-left: -125px;
  position: relative;
    /*border: 1px solid blue;*/
  color: #7C7C7C;
  font-weight: 300 !important;
  font-size: 16px;
  text-align:center;
  vertical-align:middle;
  padding: 130px 10px 80px 10px;
  
}
.ajax-upload-dragdrop:before{
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 60px;
  left: 35%;
  /*background-color: red;*/
  background-image: url('../../img/icono_subir_gris.svg');
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}




.state-hover{
    border:2px solid #A5A5C7;
}
.ajax-file-upload-container{
  margin:20px 0px 20px 0px;
}


.ajax-file-upload-green,.ajax-file-upload-red{
  border-radius: 0;
  text-shadow:none !important;
}

#archivosYaSubidos{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 23px;
}