@charset "utf-8";
/* CSS Document */





.fw-regular-d {
  font-family: 'Cinzel', sans-serif;font-weight:400; 
}

.fw-medium-d {
  font-family: 'Cinzel', sans-serif;font-weight:500; 
}
.fw-semi-bold-d {
  font-family: 'Cinzel', sans-serif; font-weight:600; 
}

.fw-bold-d {
  font-family: 'Cinzel', sans-serif; font-weight:700; 
}


.fw-thin-t {
  font-family: 'Raleway', sans-serif;font-weight:100; 
}
.fw-light-t {
  font-family: 'Raleway', sans-serif;font-weight:300; 
}
.fw-light-italic-t {
  font-family: 'Raleway', sans-serif;font-weight:300; font-style: italic;
}
.fw-regular-t {
  font-family: 'Raleway', sans-serif;font-weight:400; 
}
.fw-regular-italic-t {
  font-family: 'Raleway', sans-serif;font-weight:400; font-style: italic;
}
.fw-bold-t {
  font-family: 'Raleway', sans-serif; font-weight:700; 
}
.fw-bold-italic-t {
  font-family: 'Raleway', sans-serif; font-weight:700; font-style: italic;
}

.fw-black-t {
  font-family: 'Raleway', sans-serif; font-weight:900; 
}

.fw-light-n {
  font-family: 'Roboto', sans-serif;font-weight:300; 
}

.fw-regular-n {
  font-family: 'Roboto', sans-serif;font-weight:400; 
}
.fw-medium-n {
  font-family: 'Roboto', sans-serif; font-weight:500; 
}



.cf-blanco {
  color: #ffffff;
}

.cf-gris {
  color: #6f7382 !important;
}

.cf-gris-oscuro {
  color: #3a3f44;
}

.cf-negro {
  color: #000000;
}


.cf-amarillo {
  color: #cc9635!important;
}

.ta-center {
  text-align: center !important;
}

.ta-left {
  text-align: left !important;
}

.ta-right {
  text-align: right !important;
}

.up-percase {
  text-transform: uppercase;
}

.op-font { opacity: 0.6;}