@charset "utf-8";
/* CSS Document */

/* head
-------------------------------------------------- */

header {
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
    box-shadow: none;
	position:relative;
	z-index:4;
	border-bottom: 1px solid #4d4d4d;
 }


.logo-iz { float:left; width:110px; display:block; height:auto; padding-top:4px; }




@media (min-width:350px){
.logo-iz { width:168px; padding-top:8px;}
}


@media (min-width:550px){
/*divs
-------------------------------------------------- */ 
.logo-iz{  width:200px;  }
header { height: 64px; }


}

@media (min-width:750px){
	/*divs
	-------------------------------------------------- */ 
	.logo-iz{  width:260px; padding-top:14px; }
	header { height: 84px; }



@media (min-width: 1800px) {

}


