html { font-size: 44%; }
html { height: 100%; width: 100%; margin: 0px; }

/*::-webkit-scrollbar {
    width: 6px;  
    background:#d7dadc;  
}

::-webkit-scrollbar-thumb {
    background: #cc9635;
}*/

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'Lato-Regular', Helvetica, sans-serif;
	font-size: 1.4rem;
	line-height: 1.4rem;
	background-repeat: none;
	color: #9e9ea0;
	font-weight: 300;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%  50%;
	border: 10px solid pink !important;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
body,h1{margin:0}img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted} b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button{overflow:visible}button,select{text-transform:none;text-decoration:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}

/* CSS Document */

h1, h2, h3 { margin:0;padding:0;border:0; line-height:0; font-size:1.4rem; }
p {border:0;margin:0;padding:0;}
img {border:0;}
a {text-decoration:none !important;color:inherit !important; cursor: pointer;}
a:visited{text-decoration:none;}
a:active{text-decoration:none;}
a:focus{text-decoration:none;}
a:hover{text-decoration:none; }
span { border:0;margin:0;padding:0;}
p { margin-bottom: 0 !important;}






















/*divs
---------------------------------------------------------------------------------------------------- */
/*RESET FORM */
label {display:block;border:none;background:transparent;font:100% 'helvetica-thin', Helvetica, sans-serif;} 
fieldset {border:none;}  

/*titulos
---------------------------------------------------------------------------------------------------- */
.tit {  font-size:4.8rem; line-height:5rem; line-height:auto; }
.sub-tit {  font-size:3.4rem; line-height:4rem;  }
.sub-tit.legales {  font-size:2.4rem; line-height:2.4rem;  }

.txt-miscelanea { font-size:9rem; line-height:5.4rem; }
.txt-miscelanea-2 { font-size:7rem; line-height:4.2rem; }

.article-tit {font-size:2.1rem; line-height:2.1rem; z-index:999; }

.article-sub-tit {  font-size:1.8rem; line-height:2.2rem; }
.article-txt {  font-size:2rem; line-height:3.4rem; }

.txt {  font-size:2rem; line-height:3rem;  }
.txt.up-percase{  font-size:1.4rem; line-height:2rem; text-transform: uppercase; }
.txt.numero-producto {  font-size:1.6rem; line-height:31px;  }

.txt-tit{ font-size:2.2rem; line-height:2.6rem;   }
.txt-sub-tit{ font-size:1.7rem; line-height:2rem;  }

.txt.legal {  font-size:1.6rem; line-height:3rem; }

.txt-img {  font-size:1.2rem; line-height:1.4rem;  }

.txt.link {  font-size:1.2rem; line-height:1.2rem;  cursor:pointer ; display:block; }

.txt.pie, .txt-tabla {  font-size:1.3rem; line-height:2rem; }

.txt.form {  font-size:2rem; line-height:2rem; }

.txt-btn { font-size:3.5rem; line-height: 4rem; }

.destacado-txt {  font-size:2rem; line-height:3.2rem;  }

.subrayado a{ border-bottom:1px solid #cc9635; padding-bottom:2px;}

.subrayado { border-bottom:0px solid #cc9635; padding-bottom:2px; }
.subrayado:hover { border-bottom:1px solid #cc9635; padding-bottom:2px; color: #cc9635;}

/*images
---------------------------------------------------------------------------------------------------- */

    /*productos*/ 
	
	.terminaciones-colores ul{
		display:block; text-decoration:none;  position:relative; padding:0;
		  }

    .terminaciones-colores ul li{
		display:inline-block;
		border-radius:50% ;
		width: 24px ;
		height: 24px;
		position: relative;
		-webkit-border-radius:50% ;
		-moz-border-radius:50% ;
		-ms-border-radius:50% ;
		-o-border-radius:50% ;
		margin:10px 10px 0px 0px;
}

.terminaciones-colores ul li.bronce{
	background-color: #714e39;
	position: relative;
	
}
.terminaciones-colores ul li.bronce{
	background-color: #714e39;
}
.terminaciones-colores ul li.plata{
	background-color: #dbdbdb;
}

.terminaciones-colores ul li.cobre{
	background-color: #bd7d0e;
}




	.img-productos{
		position: relative;
        height: 330px;
	    background-color: #ffffff;
	}
    

	.img-productos img.plano  {
		height: 100%;
		width: 100%;
		object-fit: contain;
		position: absolute;
		right: 0;
		left:0;
		padding: 4px;
	}


 .img-colecciones {
	position: relative;
    height: 330px;
	background-color: #000000;
}
.img-colecciones.portada {
    height: 280px;
}
.img-colecciones.portada  img{
	height: 280px;
	object-fit: scale-down;
}

.img-colecciones img  {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
}


.img-colecciones:after {
    display: block;
    content: '';
    position: relative; 
    pointer-events: none;
    background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,0.3));
    height: 100%;
    z-index: 1; 
}




.img-texto {
	display: block;
    bottom: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    position: absolute;
	z-index: 2;}
	
	.img-texto.lista ul {
margin-bottom: 0;
	}
/*map
---------------------------------------------------------------------------------------------------- */
.map-responsive{
    overflow:hidden;
    padding-bottom:0;
    position:relative;
    height:200px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:200px;
    width:100%;
    position:absolute;
}

#map {
	height: 100%;
  }
  
/*form
---------------------------------------------------------------------------------------------------- */
button {
	width:100%;
	padding: 1.3rem 3.3rem 1.1rem 3.3rem;
	float:none;
	display:block;
	color: #cc9635;
	cursor: pointer;
	border:1px solid #cc9635 ;
	text-align:center;
	line-height: 2rem !important;
	text-align:center;
	font-size: 1.6rem;
	background-color: transparent;
	font-family: 'Red Hat Display', sans-serif; font-weight:700; 
	transition: 0.3s;
	max-width: 160px;
}
button:hover{  
background-color: #ffffff; color: #cc9635; border: 1px solid #cc9635;}


.boton {
	width:100%;
	padding: 1.1rem 3rem 1.1rem 3rem;
	float:none;
	display:block;
	color: #cc9635;
	cursor: pointer;
	border:1px solid #cc9635;
	text-align:center;
	line-height: 2rem !important;
	text-align:center;
	font-size: 1.4rem;
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	transition: 0.3s;
	max-width: 160px;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}
.boton.xl {
	max-width: 280px;

}


.boton i {  vertical-align: middle;}

.boton.alt{  
	max-width:260px; background-color: transparent; color: #ffffff; border: 1px solid #00356c;}

.boton.alt.alt-subir{  
		background-color: #ffffff; color: #545454; font-family:'Lato-Light',Arial, Helvetica, sans-serif; border: 1px solid #898a93;  }

	
.boton.alt-celeste{  
		max-width:300px; background-color: transparent; color: #cc9635; border: 1px solid #cc9635;}

.boton-radius { 	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}		

.boton.boton-icon {
width:100%; 
}
.boton.boton-icon-i i {
	vertical-align: middle;
 font-size: 18px;
	}

.boton.boton-icon-i {
	color: #ffffff;
	background-color:transparent;
	vertical-align: middle;
	font-size: 10px !important;
	width:33px; height: 33px;
	margin-bottom: 0.8rem;
	padding: 0 !important;
}

.boton:hover.boton-icon-i {
	color: #ffffff;
	background-color: #cc9635;
	vertical-align: middle;
}

.boton:hover {
	background-color: #ffffff;
	color: #cc9635;
	border: 1px solid #cc9635;
}


input[type="text"]  {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
  }
label {
	float:left; color:#3a3f44; font-size:10px;  font-family: 'Lato', sans-serif;font-weight:400; 
}
textarea, select, input[type="text"]  {
  box-shadow: none;
  box-sizing: border-box;
  float:left;
  position:relative;
  width:100%;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom:0.8rem;
  float:left;
  font-family: 'Lato-Light', Helvetica, sans-serif;
  font-size:1.6rem;
  line-height:30px;
  color:#1f1e21;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding-left: 1rem;
}
textarea:focus, input:focus, select:focus{
    outline: none !important; border:none ; border: 1px solid #f2f2f2;
}



textarea { height: 80px;}





  select {


	/* reset */
  
	margin: 0;    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	
  }



  select.arrow-color {
	background-image:
	  linear-gradient(45deg, transparent 50%, #cc9635 50%),
	  linear-gradient(135deg, #cc9635 50%, transparent 50%),
	  linear-gradient(to right, #ffffff, #ffffff);
	background-position:
	  calc(100% - 15px) calc(10px + 2px),
	  calc(100% - 10px) calc(10px + 2px),
	  100% 0;
	background-size:
	  5px 5px,
	  5px 5px,
	  2.5rem 2.5rem;
	background-repeat: no-repeat;
  }


  .checkcontainer {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	padding-right:0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom:1.4rem;
	margin-top:1rem;
	line-height: 20px;
  }
  
  .checkcontainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	
  }

  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  .checkcontainer:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  .checkcontainer input:checked ~ .checkmark {
	background-color: #cc9635;
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .checkcontainer input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkcontainer .checkmark:after {
	   top: 4px;
	  left: 4px;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  background: white;
  }




/* responsive
-------------------------------------------------- */
.width-responsive {
  width: 100%;
  box-sizing: border-box;
  height:auto;
  display:block; }
  
.pullright {
  float: right!important;}
.pullleft {
  float: left!important; }

.zi-1{z-index: 1;};
.zi-2{z-index: 2;};

.left { float:left!important;} 
.right{ float:right;}
.clear { clear:left;}
.clearing {clear:both;}

.full-height { height: 100vh;}
.eighty-percent-height { height: 80vh;}
.middle-height { height: 50vh;}
.quarter-height { height: 25vh;}

.v-height { height: calc(100vh - 3rem)}
.mt-full-height { margin-top: 5rem!important;}
.mb-full-height { margin-bottom: 5rem!important; }

.mb-8 { margin-bottom:8rem!important}

.g-recaptcha  {
	transform: scale(0.8);
	transform-origin: 0 0;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
}


.sombra {   /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/

box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.14);
  transition: all 0.2s ease-in-out;}
.sombra:hover {   box-shadow: 0 20px 30px rgba(0,0,0,0.26), 0 9px 9px rgba(0,0,0,0.22);}


.cursor{cursor:pointer}
.table {  margin: 0 auto;	display:table; height:100%; min-height:100px;}
.block { display:block;}
.table-cell {  display:table-cell; vertical-align:middle; width:100%;}
.overflow-h{overflow:hidden; box-sizing: border-box;}
.overflow-y{overflow-y:scroll; box-sizing: border-box;}
.centrar{margin:0 auto; text-align:center; }
.relative{position:relative}
.absolute{position:absolute;}





.active{display: block;}
.off{display:none;}

.opacidad-2{ opacity: 0.2;}

.bg {	width: 100%; float: left; display: block; background-repeat:no-repeat; background-size:auto;}

.bg.blanco { background: #ffffff; }
.bg.gris { background:#dddddd;}

.bg.violeta-claro {background:#3f4677;}

.margen-prueba {
	margin-bottom: 100px !important;
}


.bg.negro{background:#000000;}

.bg-gris { background: #545454; }
.bg-blanco { background-color:#ffffff;}
.bg-negro{background:#000000;}
.bg-azul{background:#00356c;}



.bg-blanco-op {background:rgba(255,255,255,0.96) !important}

.bg-degrade { background: linear-gradient(45deg, rgba(0,51,118,1) 0%, rgba(49,121,152,1) 100%);}

.bg-degrade-op-blanco { position:relative;background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
	}	
.bg-innovacion {
	position: relative;
}

.bg-innovacion::after {
	position: absolute;
	top: 0;
	content: "";
	background-image: url(../images/bg-innovacion.jpg);
	width: 100%;
	height: 100vh;
	background-size: 100%;
	z-index: -2;
}
.bg-section{
	position: relative;
}
.bg-section::after {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 90vh;
	background-size:cover;
	z-index: -2;
	background-repeat: no-repeat;
	background-position:50% 50%; 
}
.bg-section.section-form::after  {
	background-image: url(../images/griferias/bg-amapolann.jpg);background-size: cover; background-position:50% 71.5%; 
	
}
.bg-section.section-form::before  {
	position: absolute;
	top: 0;
	content: "";
	width: 100%;
	height: 90vh;
	background-image: url(../images/bg-contacto.png);background-size: cover; background-position:50% 50%; 
}
.bg-section.section-empresa::after  {
	background-image: url(../images/griferias/bg-amapolann.jpg);background-size: cover; background-position:50% 20.8%; 
	height: 36vh; 
}

.bg-section.section-empresa::before  {
	position: absolute;top: auto;
	bottom: 0px;
	content: "";
	width: 100%;
	height: 36vh;
	background-repeat: no-repeat;
	opacity: 0.4;
	background-image: url(../images/bg-empresa.png);background-position:50% 50%; background-size: cover; 
}

.bg-section.section-colecciones::after  {
	background-image: url(../images/bg-amapolann-gris-claro.jpg);
}

.bg-section.section-empresa-1  {
	background-image: url(../images/bg-empresas-nosotros.jpg);
	background-position:90% 50%;
	height: 100%;
}

.bg-section.section-empresa-1::after  {
	background-image: url(../images/bg-empresas-nosotros.jpg);
	background-position:90% 50%;
	height: 100%;
}



.bg-section.section-empresa-2::after  {
	background-image: url(../images/bg-empresas-productos.jpg);
	background-position:70% 50%;
	height: 100%;
}

.bg-section.section-terminaciones, .bg-section.section-empresa   {
	height: auto; 
}
.bg-section.section-terminaciones  {
	height: 38vh;
}
.bg-section.section-terminaciones::after  {
	background-image: url(../images/griferias/bg-amapolann.jpg);background-size: cover; background-position:50% 20.8%; 
	height: 38vh; 
}

.bg-section.section-terminaciones::before  {
	position: absolute;top: auto;
	bottom: 0px;
	content: "";
	width:100%;
	height: 24vh;
	background-repeat: no-repeat;
	opacity: 1;
	background-image: url(../images/img-header-terminaciones.png);background-position:50% 50%; background-size: contain; 
}


h5.linea-bajo-titulo::after {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background-color:#cc9635;
	margin-top: 5px;
	width: 30%;
}

.bg-img { position:relative; }

.bg-img.parallax-empresa::after{
	content: "";
	background-image:url(../images/bg-parallax.jpg);
	background-size: cover;
	background-position: 50% 0%;
	width: 100%;
	height:250px;
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	margin:0 auto;
	background-repeat: no-repeat;
	z-index: -1;
}



.bg-banner{ position:relative; height: 90px;  overflow: hidden;}


.bg-banner.sub-tit-section::after{
	content: "";
	background-image:url(../images/bg-banner.jpg);
	background-size: cover;
	background-position: 50% 50%;
	width:contain;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	margin:0 auto;
	background-repeat: no-repeat;
	z-index: -2;

}
.bg-banner.sub-tit-section::before{
	content: "";
	background-image: url(../images/icons/icon-amapolann-letra-logo.svg);
	opacity:1;
	background-size: contain;
	background-position: 50% 50%;
	width:240px;
	height:240px;
	position: absolute;
	top: -100px;
	left: -100px;
	margin:0 auto;
	background-repeat: no-repeat;
	z-index: -1;


}


.parallax {
	background-image:  url(../images/bg-parallax.jpg);
	height: 350px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }



.borde { border:1px solid #898a93;}
.borde-blanco-3px { border:1px solid #ffffff}
.borde-right-negro-1px { border-right: 1px solid #000000}
.borde-bottom-gris { border-bottom:1px solid #e3e5eb;}




.radius { border-radius: 4px; box-sizing:border-box; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }
.radius.inferior { border-radius: 0px 0px 4px 4px; box-sizing:border-box;}
.radius.superior { border-radius: 10px 10px 0px 0px; box-sizing:border-box; -webkit-border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; -ms-border-radius: 10px 10px 0px 0px; -o-border-radius: 10px 10px 0px 0px; }
.radius.inferior-izquierdo { border-radius: 0px 0px 0px 10px; box-sizing:border-box; -webkit-border-radius: 0px 0px 0px 10px; -moz-border-radius: 0px 0px 0px 10px; -ms-border-radius: 0px 0px 0px 10px; -o-border-radius: 0px 0px 0px 10px; }
.radius.circular { border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; }

.linea { width:100%; background-color:#e3e5eb; height:2px;}
.linea-verde { width:100%; background-color:#cc9635; height:1px;}
.linea.transparente { width:100%; background-color:transparent; height:1px;}


.linea-amarilla-miscelanea { position: relative;}

.linea-amarilla-miscelanea::after{
	content: "";
	width: 50px;
	height:1px;
	position: absolute;
	bottom: -20px;
	background: #cc9635;
	margin: 0 auto;
	left:0;
	right: 0;
}

.linea-amarilla-miscelanea.cuadro-section::after{
	content: "";
	width: 50px;
	height:1px;
	position: absolute;
	bottom: -30px;
	background: #cc9635;
	left:0;
	right:unset;
}



.out-line-none { outline: none;
  -webkit-appearance:none;}

.no-copy a {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
}

/* carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg-carousel {position:relative; background-image: url(../images/griferias/bg-amapolann.jpg); width:100%; float:left;
	display:block; background-repeat: no-repeat; background-position:20% 50%; background-size: cover; box-sizing: border-box;
	}

	.carousel-height { height: 50vh;}

	.carousel-indicators {bottom: 20px;}
	.carousel-indicators li {width: 10px; }
	.carousel-indicators li img{border: 1px solid #fff;}

	.slider-txt {
		position: absolute;
		top:20px;
		z-index: 4;
	}
	
	#slider-home .carousel-inner .carousel-item img {
	
		object-fit:contain;
		position: relative;
		bottom:-60px;
		right: 30%;
		height: 44vh; 
		width: 140%;
		z-index: 3;
	}

/* listas
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lista {text-align:left;   }
.lista ul  { display:block; text-decoration:none;  position:relative; padding:0;  }
.lista ul li { display:inline-block; border-radius:0%; box-sizing:border-box; width:auto; height:auto; cursor: pointer; padding:4px 18px 4px 18px;-webkit-border-radius:0%; -moz-border-radius:0%; -ms-border-radius:0%; -o-border-radius:0%; } 


.lista.datos-tecnicos ul  { display:block; text-decoration:none;  position:relative; padding:0;  }
.lista.datos-tecnicos  ul li { display:inline-block;  box-sizing:border-box; width:100%; height:auto; cursor: pointer; padding:10px 0px; } 


.redes { margin:0 auto ; text-align:left ;   }
.redes ul  { display:block; text-decoration:none;  position:relative; padding:0;  }
.redes ul li { display:inline-block;  border-radius:0%; box-sizing:border-box;  width:20px; height:20px; cursor: pointer; margin: 5px} 
.redes.banner ul li {  margin: 5px 24px} 
.redes ul li:first-child { margin-left: 0px} 

.redes.compartir { margin:0 auto; text-align:center;   }
.redes.compartir ul  { display:block; text-decoration:none;  position:relative; padding:0; margin: 0;  }
.redes.compartir ul li { display:inline-block;  border-radius:0%; box-sizing:border-box;  width:24%; height:30px; cursor: pointer; margin: 0px; padding: 0;} 



	

	.img-avatar {
		max-width:100px;
		overflow: hidden;
		box-sizing: border-box;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-ms-border-radius: 100px;
		-o-border-radius: 100px;
		object-fit:contain;
		border:4px solid #fefefe;
	}
	
	.menu-footer { margin:0 auto; text-align:left;   }
	.menu-footer ul  { display:block; text-decoration:none;  position:relative; padding:0;  }
	.menu-footer ul li { display:inline-block;  border-radius:0%; box-sizing:border-box;  width:30px; height:30px; cursor: pointer; margin: 0.5rem 3rem  0 3rem; padding:1px } 
	.menu-footer ul li:first-child { border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ; padding:4px;
	background-color:#cc9635;} 

/* icons 
–––––––––––––––––––––––––––––––––––––––––––––––––– */




.icon {
  display: block;
  background-repeat: no-repeat;
  z-index: 1;
  transform: scale(1);
  transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -o-transition: all.1s ease-in;
 
}


.icon-logo {
	max-width: 240px; height:auto ; }
	
.icon-logo.destacado-img {
		max-width: 140px; height:auto;
	}

		
.icon-nav{ width: 36px; height: 36px; background-size: contain; background-position: 50% 50%; float: left; margin-right:10px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;overflow: hidden; }

.icon-nav img {  object-fit: contain;   width: 100%; box-sizing: border-box; height:100%; background-color:#000000;}

.icon-nav.plata{ background-image: url(../images/terminaciones/plata/imagen-terminaciones.jpg);}	
.icon-nav.platavieja{ background-image: url(../images/terminaciones/plata/imagen-terminaciones.jpg);}		
.icon-nav.bronce{ background-image: url(../images/terminaciones/plata/imagen-terminaciones.jpg);}		

.icon-nav.milnovecientos{ background-image: url(../images/productos/colecciones/1900/icon-nav/imagen-icon-nav.jpg);}	
.icon-nav.luisiana{ background-image: url(../images/productos/colecciones/1900/icon-nav/imagen-icon-nav.jpg);}		
.icon-nav.novo{ background-image: url(../images/productos/colecciones/1900/icon-nav/imagen-icon-nav.jpg);}	

  .icon-lista {
	background-size: contain;
	background-position: 50% 50%;
  }
  
    .icon-lista.fb {
	  background-image: url(../images/icons/redes/icon-fb.svg);
	  width: 100%;height: 100%;
	}
	.icon-lista.fb-negro {
		background-image: url(../images/icons/redes/icon-fb-negro.svg);
		width: 100%;height: 100%;
	  }
	.icon-lista.wp {
	  background-image: url(../images/icons/redes/icon-wp.svg);
	  width: 100%;height: 100%;
	}
	.icon-lista.ig {
	  background-image: url(../images/icons/redes/icon-ig.svg);
	  width: 100%;height: 100%;
	}
	.icon-lista.ig-negro {
		background-image: url(../images/icons/redes/icon-ig-negro.svg);
		width: 100%;height: 100%;
	  }
	.icon-lista.tw {
	  background-image: url(../images/icons/redes/icon-tw.svg);
	  width: 100%;height: 100%;
	}
	.icon-lista.pint {
		background-image: url(../images/icons/redes/icon-pint.svg);
		width: 100%;height: 100%;
	  }
	.icon-lista.pint-negro {
		background-image: url(../images/icons/redes/icon-pint-negro.svg);
		width: 100%;height: 100%;
	}

 
	.icon-redes{
		background-size: contain;
		background-position: 50% 50%;
	  }

	.icon-redes.fb {
		background-image: url(../images/icons/redes/icon-fb-negro.svg);
		width:4rem;height: 4rem;
		margin:0 auto;
	  }
	  .icon-redes.wp {
		background-image: url(../images/icons/redes/icon-wp.svg);
		width: 2rem;height: 2rem;
	  }
	  .icon-redes.ig {
		background-image: url(../images/icons/redes/icon-ig-negro.svg);
		width: 4rem;height: 4rem;
		margin:0 auto;
	  }
	  .icon-redes.tw {
		background-image: url(../images/icons/redes/icon-tw.svg);
		width: 2rem;height: 2rem;
	  }
	  .icon-redes.pint {
		background-image: url(../images/icons/redes/icon-pint-negro.svg);
		width: 4rem;height: 4rem;
		margin:0 auto;
	  }




  .icon-close-modal{
	display: block;
	
	background-color:transparent;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	z-index: 9;
	background-position: 50% 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
	cursor:pointer;
	padding:0px;
	border:0px;
	box-shadow:none;
	
 }




 .icon-compartir {
	background-size: contain;
	background-position:50% 2px;
	width: 100%;height:20px; 
  }
 .icon-compartir.wp {
	background-image: url(../images/icons/icon-whatsapp-compartir.svg);
  }
  .icon-compartir.tw {
	background-image: url(../images/icons/icon-tweeter-compartir.svg);
  }
  .icon-compartir.fb {
	background-image: url(../images/icons/icon-facebook-compartir.svg);
  }
  



  .icon.icon-canilla{
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-canilla.svg);
	width:150px;height: 150px;
  }

.icon.icon-mail{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-mail.svg);
	width:24px;height: 24px;
	float: left;
  }

  .icon.icon-tel{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-tel.svg);
	width:24px;height: 24px;
	float: left;
  }

  .icon.icon-wp{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/redes/icon-wp.svg);
	width:24px;height: 24px;
	float: left;
  }
  .icon.icon-wp-negro{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/redes/icon-wp-negro.svg);
	width:24px;height: 24px;
	margin-right:8px;
	float: left;
  }

  .icon.icon-wp-flotante {
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/redes/icon-wp-color.svg);
	width:40px; height: 40px;
	float: left;
	margin-right: 10px;
  }



  .icon.icon-capsule{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-capsule.svg);
	float: left;
  }
  .icon.icon-capsule{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-microscopio.svg);
	float: left;
  }

  .icon.icon-descarga{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/icon-descarga.svg);
	width:30px;height: 30px;
	float: left;
  }


  .icon.icon-logo-negro{
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(../images/icons/logo-amapolann-completo-negro.svg);
	width:310px;height: 80px;
  }




  /*modal
---------------------------------------------------------------------------------------------------- */
  .colecciones-galeria-modal{
	position: relative;
    height: auto;
    overflow: hidden;
	background-color: #f7f7f7;
} 

#slider-galeria-modal .carousel-inner .carousel-item img {
	
	object-fit:contain;
	position: relative;
	width: 100%;

	max-height: 90%;
    margin: auto;
    right: 0;
    bottom: 0;
}

.modal-dialog.galeria-modal {
	width: 100%;
	height: auto;
	max-width:1000px;
  }
  
  .modal-content.galeria-modal {
	height: auto;
	
	border-radius: 0;
  }

  .modal-dialog.modal-xl {
	width: 100%;
	height: auto;
	max-width:1000px;
  }
  
  .modal-content.modal-xl {
	height: auto;
	
	border-radius: 0;
  }
  
 
  .alto-card-nostros {
	height: 500px;
  }
/*Absolute









---------------------------------------------------------------------------------------------------- */
.flotante { position:absolute; }
.flotante.circulo-top { position:absolute; width:60px; height:60px; background-color:#ffffff; top:-54px; right:10px;  z-index:2; border-radius:50%;}

.flotante.circulo-fav{ position:absolute; width:48px; height:48px; background-color:#ffffff; bottom:-24px; right:4rem;  z-index:2; border-radius:50%;}

.flotante.circulo-fav img{ position:relative;}

.btn-whatsapp { position: absolute; width:calc(100% - 40px); height: 48px; background-color:#000000; bottom:-20px; z-index: 2; line-height: 24px; font-size: 2.6rem; line-height: 40px; color: #ffffff; padding: 4px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; left: 0; right: 0;  margin: 0 auto; font-family: 'Roboto', sans-serif;font-weight:400; box-sizing: border-box;  
 } 

.modal-dialog.modal-xl {
	width: 100% ;
	height: 100vh;
  }
  
  .modal-content.modal-xl {
	height: 100vh;
	
	border-radius: 0;
  }

  .modal-dialog { 
margin:0 auto!important
  }

  .modal-body {
	border: 0 !important;
  }


  .p-bottom { position: fixed !important; bottom:0; left:0 }
  .logo-bottom{ width:140px; display:block; height:auto;   }


/*img
---------------------------------------------------------------------------------------------------- */

.img-section-lateral{
 height: 140px;
}


.cuadro-color{
	height: 180px;
   }

.cuadro-destacado{
	height: 240px;
   }


/*displays
---------------------------------------------------------------------------------------------------- */
.web { display:none; }
.tablet { display:none;}
.mobileyweb { display:block; }
.mobile { display:block; width:100%; float:left;}
.smart { display:none;}
.tabletyweb { display:none;}
.tabletymobile { display:block;}



/* medias
---------------------------------------------------------------------------------------------------- */
@media (min-width:200px){ } 
@media (min-width:240px){ } 
@media (min-width:280px){ } 
@media (min-width:350px){ } 
@media (min-width:450px){ }
@media (min-width:550px){
/*displays
---------------------------------------------------------------------------------------------------- */
.tablet { display:block;}
.tabletyweb { display:block;}
.mobile { display:none;}
.mobileyweb { display:none; }




  

}



@media (min-width:750px){

html { font-size: 62.5%; }

/* carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.carousel-indicators {bottom: 60px;}
.carousel-indicators li {width: 100px; }
.carousel-indicators li img{border: 1px solid #fff;}

/*displays
-------------------------------------------------- */
.web { display:block;}
.tablet { display:none;}
.tabletymobile { display:none;}
.mobileyweb { display:block; }	

/* titulos
---------------------------------------------------------------------------------------------------- */
.sub-tit {  font-size:3rem; line-height:2.8rem; }

.txt { font-size:1.3rem; line-height:2.1rem;  }
.txt-tit{ font-size:1.8rem; line-height:2.4rem;  }
.txt-sub-tit{ font-size:1.8rem; line-height:2.2rem;  }
.txt.legal {  font-size:1.3rem; line-height:2rem; }

.article-tit {font-size:1.8rem; line-height:2.2rem;  z-index:999;   }
.article-sub-tit {  font-size:1.6rem; line-height:2.6rem;  }
.article-txt {  font-size:1.6rem; line-height:2.2rem;  }

.destacado-txt {  font-size:2rem; line-height:3rem;  }

/* bg
---------------------------------------------------------------------------------------------------- */


.bg-degrade-op-blanco { position:relative;background: none;}




.img-secction-mobile {max-height: none;}
.img-section-lateral{
	height:auto;
   }

   .mt-full-height { margin-top: 7rem!important;}
   .mb-full-height { margin-bottom: 16rem!important; }



 .icon.icon-descarga{
	width:54px;height: 54px;
  }

.icon-logo.destacado-img {
		max-width: 240px; height:auto ; }
	

.cuadro-color{
	height: 440px;
   }	
  .cuadro-destacado{
	height: 440px;
   }
/* carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.carrousel-nosotros {
	margin-top: 100px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
	display: inline-block;
	width: 50px !important;
	height: 50px !important;
}

.carousel-control-next.slider-home, .carousel-control-prev.slider-home {
    position: absolute;
    top: unset !important; 
	bottom: 20% !important;
}
.slider-txt {
	position: absolute;
	top:14vh;
	
}
	.carousel-height { height: 70vh;}

	#slider-home .carousel-inner .carousel-item img {
	
		object-fit:contain;
		position: relative;
		right:0;
		height: 70vh; 
		width: 100%;
		bottom:0px;
		
	
	}
	
	.btn-whatsapp { position:absolute; width:220px; right:0; left: auto; height: 46px; background-color:#ffffff; top:16vh; z-index: 4; line-height: 46px; font-size: 1.6rem; color: #000000; padding: 0 14px 0 4px; border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -ms-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px;  } 

/* icons 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	  .icon-redes.fb {
		background-image: url(../images/icons/redes/icon-fb.svg);
		width: 2rem;height: 2rem;
		margin: 0;
	  }
	  .icon-redes.wp {
		background-image: url(../images/icons/redes/icon-wp.svg);
		width: 2rem;height: 2rem;
	  }
	  .icon-redes.ig {
		background-image: url(../images/icons/redes/icon-ig.svg);
		width: 2rem;height: 2rem;
		margin: 0;
	  }
	  .icon-redes.tw {
		background-image: url(../images/icons/redes/icon-tw.svg);
		width: 2rem;height: 2rem;
	  }
	  .icon-redes.pint {
		background-image: url(../images/icons/redes/icon-pint.svg);
		width: 2rem;height: 2rem;
		margin: 0;
	  }

	  .icon.icon-wp-flotante{
		background-size: contain;
		background-position: 50% 50%;
		background-image: url(../images/icons/redes/icon-wp-color.svg);
		width:46px;height:46px;
		float: left;
		margin-right: 0px;
	  }

	  .icon-logo.section {
		max-width: 340px; height:auto ; }
		

	  .lista ul li { padding:4px 18px 4px 0} 
	  
.radius-web { border-radius: 4px; box-sizing:border-box; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; }


}


@media (min-width:1280px){
}

@media (min-width:1440px){ 
/*displays
---------------------------------------------------------------------------------------------------- */
.smart { display:block;}
.container.w-xl { max-width: 1300px !important; }
}

@media (min-width:1920px){ 
	.container.w-xl { max-width: 1728px !important; }
	}




