@charset "utf-8";
/* CSS Document */




/*Cinzel (No tiene Ñ en medium, semi-bold y bold)*/
/*
.fw-regular-d{font-family: 'Cinzel', sans-serif;font-weight:400;}
.fw-medium-d{font-family: 'Cinzel', sans-serif;font-weight:500;}
.fw-semi-bold-d{font-family: 'Cinzel', sans-serif; font-weight:600;}
.fw-bold-d {font-family: 'Cinzel', sans-serif; font-weight:700;}*/


.fw-light-d{font-family: 'Cormorant SC', serif;font-weight:300;}
.fw-regular-d{font-family: 'Cormorant SC', serif;font-weight:400;}
.fw-medium-d{font-family: 'Cormorant SC', serif;font-weight:500;}
.fw-semi-bold-d{font-family: 'Cormorant SC', serif; font-weight:600;}
.fw-bold-d {font-family: 'Cormorant SC', serif; font-weight:700;}


.fw-thin-t {
  font-family: 'Raleway', sans-serif;font-weight:100; 
}
.fw-light-t {
  font-family: 'Raleway', sans-serif;font-weight:300; 
}
.fw-light-italic-t {
  font-family: 'Raleway', sans-serif;font-weight:300; font-style: italic;
}
.fw-regular-t {
  font-family: 'Raleway', sans-serif;font-weight:400; 
}
.fw-regular-italic-t {
  font-family: 'Raleway', sans-serif;font-weight:400; font-style: italic;
}
.fw-bold-t {
  font-family: 'Raleway', sans-serif; font-weight:700; 
}
.fw-bold-italic-t {
  font-family: 'Raleway', sans-serif; font-weight:700; font-style: italic;
}

.fw-black-t {
  font-family: 'Raleway', sans-serif; font-weight:900; 
}

.fw-light-n {
  font-family: 'Roboto', sans-serif;font-weight:300; 
}

.fw-regular-n {
  font-family: 'Roboto', sans-serif;font-weight:400; 
}
.fw-medium-n {
  font-family: 'Roboto', sans-serif; font-weight:500; 
}

.fw-bold-n {
  font-family: 'Roboto', sans-serif; font-weight:700; 
}



.cf-blanco {
  color: #ffffff;
}

.cf-gris {
  color: #6f7382 !important;
}

.cf-gris-oscuro {
  color: #3a3f44;
}

.cf-negro {
  color: #000000;
}


.cf-amarillo {
  color: #cc9635!important;
}

.ta-center {
  text-align: center !important;
}

.ta-left {
  text-align: left !important;
}

.ta-right {
  text-align: right !important;
}

.up-percase {
  text-transform: uppercase;
}

.op-font { opacity: 0.6;}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  /* font-display: block; */
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-icon-terminaciones-fav:before {
  content: "\e905";
}
.icon-icon-descarga:before {
  content: "\e900";
  color: #7fe5ce;
}
.icon-icon-galeria:before {
  content: "\e901";
}
.icon-icon-mail:before {
  content: "\e902";
  color: #fff;
}
.icon-icon-mas:before {
  content: "\e903";
}
.icon-icon-tel:before {
  content: "\e904";
  color: #fff;
}