@charset "utf-8";
/* CSS Document */

/* head
-------------------------------------------------- */

#main-header {
	width: 100%;
	height: 62px;
	background-color: RGBA(255,255,255,0.14);
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: none;
	position:relative;
	/* z-index:16; */
	z-index:60 !important;
	/* border:2px solid red; */
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
}

.logo-iz { float:left; width:144px; display:block; height:auto; padding-top:8px; }


  
  #main-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	position: fixed;
	top:62px;
	width:100%;
	left:0;
	background-color: #ffffff;
	/* border: 1px solid red; */
  }

  #main-header ul li {
   border-bottom: 1px solid #6f7382;
  }

  
  #main-header li a {
	display: block;
	padding: 20px 20px;
	font-size: 1.8rem;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;font-weight:300; 
	color:#000000 !important;
	background: #ffffff;
	/* letter-spacing: .07rem; */
	letter-spacing: .1rem;
	/* border: 1px solid green; */
	clear:left;
	
  }

  

  
  #main-header li a:hover,
  #main-header .menu-btn:hover {
	font-family: 'Red Hat Display', sans-serif;font-weight:300; 

  }
  
  #main-header .logo{
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
  }


  #main-header li.sub-menu > .desple_productos{
	  /* border:2px solid pink; */
	  width: 100%;
  }
  /* #main-header li.sub-menu{
	  border:1px solid orange !important;
  } */

  #main-header li.sub-menu a.boton_interno_con_foto{
	/* display: block; */
    /* width: 100%; */
	/* background-color: red; */
	color:#000000 !important;
	margin: 0;
	padding:5px  10px !important;
    font-size: 1.75rem;
	letter-spacing: 0rem;
	line-height: 1.8rem;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	/* line-height: 66px; */
  }
  #main-header li.sub-menu a.boton_interno_con_foto:first-child {
	margin: 0!;
  }
  #main-header li.sub-menu a.boton_interno_con_foto:hover {
	font-family: 'Raleway', sans-serif;
  }


  
  /* menu */
  
  #main-header .nav-menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	/* border:2px solid green; */
  }



  .parent{
    background:#00f;
    color:#fff;
    font-family:arial;
    list-style:none;
    margin:0;
    padding:0;
}
.parent li{
    line-height:30px;
    padding:0 5px;
    position:relative;
}
/* ul ul{
    background:#090;
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	-moz-column-gap:0;
	-webkit-column-gap:0;
	column-gap:0;
    left:-9999px;
    list-style:none;
    max-height:192px;
    padding:0;
    position:absolute;
    top:30px;
} */
li:hover ul{
    left:0;
}
/* ul ul li{
    background:rgba(255,0,0,.75);
    line-height:30px;
    margin:1px;
    padding:0 2px;
    min-width:100px;
} */


  
  /* menu */
  




#contenedor_fav_buscador{
	display: block;
	width: 70px;
	height: 30px;
	padding-top: 2px;
	position: absolute;
	/* top: 25px; */
	top: 19px;
	/* right: 165px; */
	right: 65px;
	z-index: 60 !important;
}

#icono_fav_header{
	display: block;
	position: relative;
	/* right:105px; */
	/* right:20px; */
	/* top:19px; */
	/* top:28px; */
	width: 26px;
	height: 23px;
	z-index: 60 !important;
	background-image: url("../images/icons/icon-fav-borde-blanco.svg");
	background-size: 23px;
	background-repeat: no-repeat;
	/* border: 1px solid blue; */
}
#icono_fav_header.activo{
	background-image: url("../images/icons/icon-fav-header_relleno.svg");
}
#icono_fav_header > #cantidad_favoritos{
	opacity: 0;
	position: absolute;
	right:-7px;
	top:13px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	font-size: 1.2rem;
	padding-top: 0;
	text-align: center;
	font-weight: 800;
	background-color: #cc9635;
	color: #FFF;
	transition: all .15s ease-in-out;
}
#icono_fav_header > #cantidad_favoritos.activo{
	opacity: 1;
}

#buscador_general{
	/* position: absolute; */
	/* right:0px; */
	/* right:160px; */
	/* top:50%; */
	/* margin-top: -12px; */
	/* top:27px; */
	/* z-index: 20!important; */
	width: 23px;
	height: 23px;
	/* background-color: pink; */
}

#buscador_general .contenedor_input_y_submit{
	background-color: #FFF;
	width: auto;
	padding: 10px 20px 20px 20px;
	border-radius: 0;
	/* margin-top: 27px; */
	margin-top: 17px;
}
#buscador_general .contenedor_input_y_submit input.campo_buscar{
	/* background-color: red; */
	display: block;
	width: 200px;
	border-radius: 0;
	color: #000;
	font-size: 1.4rem;
	padding: 7px 8px;
	margin: 10px 0;
	border: 1px solid rgb(161, 161, 161);
}
#buscador_general .contenedor_input_y_submit input.bt_buscar_general{
	/* background-color: red; */
	display: block;
	width: auto;
	border-radius: 0;
	border: none;
	background-color: transparent;
	border: 1px solid #cc9635;
	color: #cc9635;
	font-weight: 800;
	font-size: 1.3rem;
	padding: 8px 13px;
	margin-top: 7px;
	transition: all .3s ease-in-out;
}
#buscador_general .contenedor_input_y_submit input.bt_buscar_general:hover{
	background-color: #cc9635;
	color: #FFF;
}





  
  /* menu icon */
  

  #iconmenu { float:right; width:30px; margin-right:0px;  margin-top:18px;}


  #main-header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 30px 0px 0px 0px;
	position: relative;
	user-select: none;
  }
  
  #main-header .menu-icon .navicon {
	background: #ffffff;
	display: block;
	height: 1px;
	position: relative;
	transition: 0.2s ease-out;
	width: 24px;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
}
  
  #main-header .menu-icon .navicon:before,
  #main-header .menu-icon .navicon:after {
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  #main-header .menu-icon .navicon:before {
	top: 6px;
  }
  
  #main-header .menu-icon .navicon:after {
	top: -6px;
  }
  
  /* menu btn */
  
  #main-header .menu-btn {
	display: none;
  }
  
  #main-header .menu-btn:checked ~ .nav-menu {
	/* max-height: 400px; */
	max-height: 100vh;
    height: 100vh;
	z-index: 4 !important;
  }
  

  #main-header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  #main-header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  #main-header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  #main-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  #main-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  


#main-header  li.redes-tit-header a  { 
	/* border: 1px solid green; */
	float: left;  
	padding-top: 50px!important;  
	padding-left:20px; 
	padding-right:20px; 
	width: 33.33333333333333%; 
	clear: unset;
}
#main-header  li a:first-child { 
	 margin-left: 0px; 
}

/* ---------------------- */
.dropdown-menu {
	width: 260px;
	top:-10px;
	padding: .5rem 0 1.5rem 0;
}


.dropdown-submenu {
	position: relative ;
  }


  .dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
  }
  
 
  /* flecha */

  li .dropdown-toggle:after {
	transition: all 0.5s;
	/* background-color: red; */
	/* width: 10px; */
	height: 7px;
	border-top:.4rem solid;
	border-right:.5rem solid transparent;
	border-left:.5rem solid transparent;
	border-bottom:0;
	vertical-align: .0rem;
  }
  li.show > .dropdown-toggle:after {
	transform: rotate(180deg);
  }
 
  li li.show > .dropdown-toggle:after {
	transform: rotate(90deg);
  }









  .icon-nav{ 
	/* width: 73px;  */
	/* height: 73px;  */
	width: 60px; 
	height: 60px; 
	background-size: contain; 
	background-position: 50% 50%; 
	float: left; 
	margin-bottom: 5px;
	margin-right:10px; 
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	-ms-border-radius: 50%; 
	-o-border-radius: 50%;
	overflow: hidden; 
}
.icon-nav img {  
	object-fit: contain;   
	width: 100%; 
	box-sizing: border-box; 
	height:100%; 
	background-color:#000000;
}
.icon-nav.plata{ background-image: url(../images/terminaciones/plata/imagen-terminaciones.jpg);}	
.icon-nav.platavieja{ background-image: url(../images/terminaciones/plata/imagen-terminaciones.jpg);}		
.icon-nav.bronce{ background-image: url(../images/terminaciones/plata/imagen-terminaciones.jpg);}		

.icon-nav.milnovecientos{ background-image: url(../images/productos/colecciones/1900/icon-nav/imagen-icon-nav.jpg);}	
.icon-nav.luisiana{ background-image: url(../images/productos/colecciones/1900/icon-nav/imagen-icon-nav.jpg);}		
.icon-nav.novo{ background-image: url(../images/productos/colecciones/1900/icon-nav/imagen-icon-nav.jpg);}






































  @media (max-width: 770px) {



	

	li .dropdown-toggle:after {
		transition: all 0.5s;
		height: 7px;
		border-top:.8rem solid;
		border-right:1.1rem solid transparent;
		border-left:1.1rem solid transparent;
		border-bottom:0;
		vertical-align: .1rem;
	  }

	  

	.dropdown-menu-mobile.show {
		position: relative !important ;
		transform:unset !important;
		-webkit-transform:unset !important;
		-moz-transform:unset !important;
		-ms-transform:unset !important;
		-o-transform:unset !important;
	}


	/*#icono_fav_header{
		right:105px;
		top:19px;
	}
	#icono_fav_header > #cantidad_favoritos{
		padding-top: 2px;
		font-weight: 800 !important;
		font-size: 1.8rem !important;
	}*/

  }

  /* --------------------- */

.redes-tit-header { position: relative;}
.redes-tit-header:after { 
  content: 'REDES';
  position: absolute;
  font-family: 'Raleway', sans-serif;
 font-weight: 300;
  font-size:1.6rem;
  color: #000000;
  top:20px;
  left:20px;
	
}

.redes-tit-header:before{ 
	content: '';
	position: absolute;
	border-left:1px solid #ffffff;
	left: 0;
	height: 80%;
	  
  }


  @media (min-width: 770px) {
	.logo-iz { width:196px; padding-top: 8px ; margin-left: 20px;}
	.logo-iz.footer { width:178px; padding-top: 10px ; margin-left: 0px;}


	/*#buscador_general{
		right:65px;
		top:19px;
		background-color: olive;
	}
	#buscador_general .contenedor_input_y_submit{
		margin-top: 20px;	
	}*/


  }
 


  /*Media query anterior (Jorge) 1300px  (MENU HAMBURGUESA) */
  /* @media (min-width: 1300px) {} */
  @media (min-width: 1400px) {


	#contenedor_fav_buscador{
		top: 25px;
		right: 165px;
	}
	#buscador_general .contenedor_input_y_submit{
		margin-top: 27px;
	}


	/*#buscador_general{
		right:165px;
		top:27px;
		background-color: pink;
	}
	#buscador_general .contenedor_input_y_submit{
		margin-top: 27px;	
	}*/


	.logo-iz { width:196px; padding-top: 8px ; margin-left: 20px;}
	.logo-iz.footer { width:178px; padding-top: 10px ; margin-left: 0px;}

	#main-header {
		width: 100%;
		height: 78px;
		/* border: 1px solid red; */
	 }

	 #main-header ul {
		background-color: unset;
	    overflow:unset;
	  }
	#main-header li {
	  float: left;
	
	}

	#main-header ul li {
		border-bottom: 0px solid #6f7382;
	   }

	#main-header li a {
	  font-size:1.3rem;
	  padding: 20px 2px; 
	  background:none;
	  color:#ffffff !important;
	  /* border:1px solid red; */
	  margin-top: 3px;
	}
	#main-header li a:hover {
		color:#ffffff !important;
		font-family: 'Raleway', sans-serif;font-weight:700; 
	  }
	  
	#main-header .nav-menu {
	  clear: none;
	  position: relative;
	  float: right;
	  max-height: 60px;
	  width:auto;
	  top:10px;
	  /* border:2px solid red; */
	}

	#main-header .nav-menu .ultimo_boton_botonera_ppal {
		/* background-color: red; */
		margin-right: 65px;
	}



	#main-header .menu-icon {
	  display: none;
	}
	/* .dropdownMenuLink{
		position: relative;
	} */


	#main-header li.sub-menu{
		position: relative;
	}

	#main-header li.sub-menu > .desple_productos{
		position: absolute;
		/* border:2px solid green; */
		width: 650px !important;
		border-radius: 0;
		/* top: 70px !important; */
		top: 10px !important;
}


	#main-header li.sub-menu > .desplenuevo_productos{
		/* display: block; */
		/* position: relative; */
		border:2px solid olive;
		/* width: 600px !important; */
		border-radius: 0;
		width: auto !important;
		/* top: 70px !important; */
		top: 10px !important;
		top:20px;
		/* width: 260px; */
		background-color: #FFF;
		white-space:normal;
	}
	#main-header li.sub-menu > .desplenuevo_productos > div{
		width: min-content !important;
	}



	#main-header li.sub-menu a.boton_interno_con_foto{
		font-size: 1.5rem;
		letter-spacing: .05rem;
		width: auto;
		/* border: 2px solid pink; */
	  }

	  .icon-nav{
		width: 73px;
		height: 73px;
	  }

	

	#main-header  li.redes-tit-header a  { 
		/* border: 1px solid red; */
		float: left;  
		padding-top: 25px!important;  
		padding-left:5px; 
		padding-right:5px; 
		width: auto;
	}
	#main-header  li a:first-child { 
		 margin-left: 10px; 
	}

	.redes-tit-header { position: relative;}
	.redes-tit-header:after { 
	  content: 'REDES';
	  position: absolute;
	  font-family: 'Lato', sans-serif;font-weight:300; 
	  font-size:1.3rem;
	  color: #ffffff;
	  top:0px;
	  left:20px;
		
	}

	.redes-tit-header:before{ 
		content: '';
		position: absolute;
		border-left:1px solid #ffffff;
		left: 0;
		height: 80%;
		  
	  }

  }


  /*Para menu (separacion entre botones mas optima)*/
  @media (min-width: 1150px) { #main-header li a { padding: 20px 1px; /*border:1px solid pink;*/ }     }
  @media (min-width: 1190px) { #main-header li a { padding: 20px 4px;  /*border:1px solid red;*/ }     }
  @media (min-width: 1260px) { #main-header li a { padding: 20px 10px; /*border:1px solid olive;*/ }   }




footer{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
    box-shadow: none;
	position:relative;
	display: block;
	z-index:0;
	background-color: #000000;
	float: left;
}


.btn-central-footer{ 
	position:absolute;
	 width:60px; height:60px; background-color:#bb7a17; top:-24px; right:0; left: 0; margin:0 auto; z-index:2; border-radius:50%;
	 border:6px solid #ffffff
	}
	






/*nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	.mostrar-scroll-y{ overflow-y:hidden!important;}
	.header-fixed { position:fixed!important; top:0; background-color:#000000 !important; transition: all 1s ease ; -webkit-transition: all 1s ease ; -moz-transition: all 1s ease ; -ms-transition: all 1s ease ; -o-transition: all 1s ease ; }
	.nav-fondo { 
		display:none; 
		position: fixed; 
		top: 62px; 
		width: 100%; 
		height: 100%; 
		left:0px; 
		background-color: rgba(0,0,0,0.4); 
		z-index:3;
		/* border:1px solid blue */
	}


	.carousel-indicators {bottom: 60px;}
	.carousel-indicators li {width: 100px; }
	.carousel-indicators li img{border: 1px solid #fff;}
	