body {
	margin-top: 65px; /*Es lo que mide el alto del header*/
	margin-bottom: 300px; /*Es la altura del footer, si cambio la altura del footer debo cambiar esto*/
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #FFF;
}




.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*Estas líneas de código están para que funcione el footer siempre abajo*/
html {
	position: relative;
	min-height: 100%;
}



a{
	outline: none !important;
}
a:focus { outline-style: none !important; }
a:active { outline-style: none !important; }




/*  ---------- Saco borde celeste focus bootstrap -------------- */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  /*border-color: rgba(126, 239, 104, 0.8);*/
  box-shadow: 0;
  outline: 0 none;
}
/*  ---------- Saco borde celeste focus bootstrap -------------- */


a { color:#0277bd !important}

h1{
	color: #0277bd;
	font-weight: 700;
	font-size: 26px;
	padding-left: 32px;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 30px;
	margin-left: -3px;
	text-transform: uppercase;
	font-family: 'Lato-Bold';
}

h1.ubicacion{background-image: url('../img/icono_ubicacion_n.svg'); background-size: 34px;}
h1.propiedad{background-image: url('../img/icono_propiedad_n.svg');}
h1.edificio{background-image: url('../img/icono_edificio_n.svg'); background-position: left 93%;}
h1.terreno{background-image: url('../img/icono_terreno_n.svg'); background-position: left 96%;}
h1.entorno{background-image: url('../img/icono_entorno_n.svg');}
h1.comparable{background-image: url('../img/icono_comparable_n.svg');}
h1.puntaje{background-image: url('../img/icono_puntaje_n.svg'); background-position: left 96%;}
h1.valuacion{background-image: url('../img/icono_valuacion_n.svg');}
h1.observaciones{background-image: url('../img/icono_observaciones_n.svg');}
h1.cotizacion{background-image: url('../img/icono_cotizacion_n.svg');}
h1.banco_ciudad{background-image: url('../img/icono_banco_ciudad_n.png'); background-position: left 96%;}
h1.avance{background-image: url('../img/icono_avance_n.svg'); background-position: left 96%;}
h1.fotos{background-image: url('../img/icono_fotos_n.svg');}


h2{
	color: #898a93;
	font-weight: 700;
	font-size: 16px;
	display: block;
	width: 100%;
	line-height: 33px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d81b60;
	text-transform: uppercase;
}
h2 span{
	display: block;
	color: #d81b60;
	font-size: 15px;
	font-weight: 500;
	font-style: italic;
	line-height: 15px;
	margin-top: -5px;
	margin-bottom: 5px;
}

h3{
	color: #7F8080;
	font-weight: 900;
	font-size: 16px;
}

h3.con_linea{
	margin-top: 10px;
	line-height: 25px;
	border-bottom: 1px dotted #A6A9A9;
}

hr{
	border-top: 1px dotted #A1A3A3;
}

p {
	color: #777;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li {
	margin-bottom: 5px;
}


strong{
	font-weight: 700;
}


/*animacion para responsive*/
*{
	-webkit-transition: width 0.15s ease-out;
	-moz-transition: width 0.15s ease-out;
	-o-transition: width 0.15s ease-out;
	-ms-transition: width 0.15s ease-out;
	transition: width 0.15s ease-out;
}







































/*  ---------------------------------------------------------- ESTILOS GENERALES FORMULARIOS -------------------------------------------------- */

/* Saco borde celeste focus bootstrap -------------- */
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  /*border-color: rgba(126, 239, 104, 0.8);*/
  box-shadow: none !important;
  outline: 0 none;
}
/* Saco borde celeste focus bootstrap -------------- */



/*Saco estilos predeterminados bootstrap -------------- */
select,option {
	-webkit-appearance: none;
	-webkit-border-radius: 0px; 
}
/*Saco estilos predeterminados bootstrap -------------- */




select{
	background-image: url('../img/triangulo_select.svg') !important;
	background-repeat: no-repeat;
	background-position: 98%;
	background-size: 20px;
}


.form-group{
    width: 100%;
    margin-bottom: 23px;
}
.form-control{
    box-shadow: none;
    border:1px solid #C3C4C7;
    border-radius: 0;
    height: 32px;
    font-weight: 400;
    background-color: transparent;
    font-size: 14px;
    color:#717171;
    /*font-size: 1.2rem;*/
    padding: 0 5px;
}
.form-control:focus {
	border: 1px solid #0967b1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea.form-control{
    min-height: 110px;
    padding: 5px;
}
.form-group label{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 13px;
    padding: 0;
    font-weight: 600;
    color: #828383;
}


.boton {
	padding: 0 10px;
	float:none;
	display:block;
	color: #ffffff;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	background-color: #2962ff;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	height:40px;
	line-height:40px;
	font-family: 'Raleway-Bold',Arial, Helvetica, sans-serif;
	width:inherit;
	max-width:260px;
	border: 1px solid #2962ff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}




.boton.alt{  
	max-width:260px; background-color: transparent; color: #ffffff; border: 1px solid #ffffff;}


	
.boton.alt-celeste{  
		max-width:300px; background-color: transparent; color: #2962ff; border: 1px solid #2962ff;}

		.ui-autocomplete { height: 300px; overflow-y:auto;  }

/*  ---------------------------------------------------------- ESTILOS GENERALES FORMULARIOS -------------------------------------------------- */






.carrito {
	position: absolute;
}






















/*  ---------------------------------------------------------- HEADER -------------------------------------------------- */
#main-header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 65px;
	background-color: #ffffff; 
	border-bottom:1px solid #4d4d4d;
	/*overflow: hidden;*/
	z-index: 99;
}

.semi-circulo-2 {
     width: 50px; 
     height: 100px; 
     border: 2px solid #555; 
     background: #5cb85c;
     -moz-border-radius: 0 100px 100px 0;
     -webkit-border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
}

#contenedor_logo_circulo{
	float: left;
	position: relative;
	width: 236px;
	height: 64px;
	overflow: hidden;
	margin-left: -15px;
	/*border: 1px solid red;*/
}
#main-logo {
	position: relative;
	z-index: 100;
	width: 236px;
	display: block;
	margin-left: 0px;
	/*float: left;*/
	padding: 10px 20px 10px 20px;
        /*padding-top: 10px;*/
	background-color: #FFF;
}
#main-logo img{
	position: relative;
	width: 100%;
	/*max-width: 200px;*/
}
/*#main-logo:before{
	content: '';
	right: -15px;
	top: -40px;
	position: absolute;
	width: 150px;
	height: 150px;
	background: #FFF;
	-moz-border-radius:  50%;
	-webkit-border-radius:  50%;
	border-radius:  50%;
}*/



/* *------- Botonera ppal --------- */
#main-menu {
	float:right;
	margin-top: 27px;
	margin-left: 30px;
}
#main-menu a{
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 300;
	color: #000000;
	padding: 4px 0 0 22px;
	margin-right: 20px;
	text-transform: uppercase;
	outline: 0px;
	border-radius: 0;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-repeat: no-repeat;
	background-position: left;
	background-size: 18px;
}

#main-menu li a.mis_tasaciones{background-image: url('../img/icono_mis_tasaciones.svg')}
#main-menu li a.edicion_campos{background-image: url('../img/icono_edicion_campos.svg')}
#main-menu li a.salir{background-image: url('../img/icono_salir.svg'); background-size: 20px;}

#main-menu a:hover{
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0 0 22px;
}
#main-menu a:focus{
	background-color: transparent;
}




/* ICONO BOTON HAMBURGUESA */
.menu_hamburguesa {
	position: relative;
	display:  inline-block;
	width: 45px !important;
	height: 35px !important;
	padding: 5px;
	float: right;
	margin-top: 20px;
}
 /*Linea centar:*/
.menu_hamburguesa span {
	margin: 0 auto;
	position: relative;
	top: 10px;
	/*border:1px solid red;*/
}
/*Linea sup e inf:*/
.menu_hamburguesa span:before, .menu_hamburguesa span:after { 
	position: absolute;
	content: '';
}
/*Le doy color y medidas a las tres líneas:*/
.menu_hamburguesa span, .menu_hamburguesa span:before, .menu_hamburguesa span:after {
	width: 24px;
	height: 2px;
	border-radius: 0px;
	background-color: #000;
	display: block;
}
/*Separo la linea superior:*/
.menu_hamburguesa span:before {
	margin-top: -8px;
}
/*Separo la linea Inferior:*/
.menu_hamburguesa span:after {
	margin-top: 8px;
}
/* --- ICONO BOTON HAMBURGUESA --- */


/*-----------------ANIMACION CRUZ ICONO HAMBURGUESA -----------*/
/*Dejo transparente la linea central:*/
.ejemplo_cruz.animo_menu_hamburguesa span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.15s; transition-delay: 0.15s;
}
.ejemplo_cruz span {
	-webkit-transition-duration: 0s; 
	transition-duration: 0s;
	-webkit-transition-delay: 0.15s; 
	transition-delay: 0.15s;
}
.ejemplo_cruz span:before {
	transition-property: margin, transform;
	-webkit-transition-property: margin, -webkit-transform; 

	transition-duration: 0.15s;
	-webkit-transition-duration: 0.15s; 
	transition-delay: 0.15s, 0s;
	-webkit-transition-delay: 0.15s, 0s; 
}
.ejemplo_cruz.animo_menu_hamburguesa span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.15s; transition-delay: 0s, 0.15s;
}
.ejemplo_cruz span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.15s; transition-duration: 0.15s;
	-webkit-transition-delay: 0.15s, 0s; transition-delay: 0.15s, 0s;
}
.ejemplo_cruz.animo_menu_hamburguesa span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.15s; transition-delay: 0s, 0.15s;
}
/*-----------------ANIMACION CRUZ ICONO HAMBURGUESA -----------*/







/*-------- Menu mobile------------ */
#contiene_botonera_desplegable{
	float: left;
	width: 100%;
	height: 100%;
	display: none;
	margin-top: 0px;
	border-top:1px solid #f36523;
	background-color: #0967b1; /*Mismo color que el fondo del header*/
}
ul#mobile-main-menu{
	overflow: scroll;
	height: 100%;
}
ul#mobile-main-menu li{
	margin: 0;
	padding: 0 15px;
}
ul#mobile-main-menu li a{
	font-size: 18px;
	display: block;
	width: 100%;
	border-bottom:1px solid rgba(255,255,255,.3);
	padding: 15px 0 15px 25px;
	color: #FFF;
	text-transform: uppercase;
	text-align: left;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	/*text-transform: uppercase;*/
	background-repeat: no-repeat;
	background-position: left;
	background-size: 18px;
}

ul#mobile-main-menu li a.mis_tasaciones{background-image: url('../img/icono_mis_tasaciones.svg')}
ul#mobile-main-menu li a.edicion_campos{background-image: url('../img/icono_edicion_campos.svg')}
ul#mobile-main-menu li a.salir{background-image: url('../img/icono_salir.svg');background-size: 20px;}

ul#mobile-main-menu a:hover{
	text-decoration: none;
}

ul#mobile-main-menu li a{
	font-weight: 300;
}
/*-------- Menu mobile------------ */


/*  ---------------------------------------------------------- FIN HEADER -------------------------------------------------- */





























/*  CONTENEDOR DESARROLLO -------------------------------------------------- */



#contenedor_desarrollo{
	padding: 0px 15px 0 0;
	margin-top:0;
} 


@media (max-width: 768px){


	#contenedor_desarrollo{
		padding: 10px 5px;
		margin-top:35px;
	} 

}

.contenedor-datos {

	border: 1px solid #0277bd;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px 15px;
	margin-top:15px;
	margin-bottom: 15px;
	background-color:#ffffff;

}




/*  FIN CONTENEDOR DESARROLLO -------------------------------------------------- */


























/*  ---------------------------------------------------------- GENERALES -------------------------------------------------- */
.contenedor100{
	width: 100%;
}
.contenedor100.division_general{
	background-color: none;
}
#contenedor_botonera_izq{

	background-color: #0277bd; 
}
#despleglable_botonera_ppal_izq{
	overflow: hidden;
	display: block;
	border: 1px solid rgb(137, 138, 147);
	display: none;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-ms-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	background:#fff;
	margin-bottom: 15px;
}
a.bt_despliega_botonera_ppal_izq{
	display: block;
	position: relative;
	text-decoration: none;
	width: 100%;
	padding: 7px 0;
	/*font-size: 18px;
	font-weight: 700;
	color: #0D6FC3;*/
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	


	font-weight: 600;
    color: #fff !important;
    font-size: 18px;
    line-height: 20px;
    border-bottom: none;
    background: #0277bd;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	
}
a.bt_despliega_botonera_ppal_izq:before{
	content: '';
	position: absolute;
	right: 15px;
	top: 10px;
	width: 16px;
	height: 16px;
	/*background-color: red;*/
	background-image: url('../img/icono_flecha_abajo-blanco.svg');
	background-repeat: no-repeat;
	background-size: 16px;
	transform: rotate(0deg);
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
a.bt_despliega_botonera_ppal_izq.activo:before{
	transform: rotate(180deg);
}
h2.botonera_ppal_izquierda{

	font-weight: 900;
    color: #fff;
    font-size:16px;
    line-height: 20px;
    border-bottom: none;
    background: #0277bd;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}
p.atencion_botonera{
	display: block;
	font-size: 14px;
	line-height: 17px;
	color: #e94e20;
	font-weight: 400;
	font-style: italic;
	margin: 12px 0;
	padding: 12px 0;
	border-top: 1px solid rgba(233,78,32,.6);
	border-bottom: 1px solid rgba(233,78,32,.6);
}
p.referencia_seccion_completa{
	font-size: 13px;
	line-height: 14px;
	color: #686868;
	font-weight: 400;
	padding-left: 18px;
	position: relative;
}
p.referencia_seccion_incompleta{
	font-size: 13px;
	line-height: 14px;
	color: #686868;
	font-weight: 400;
	padding-left: 18px;
	position: relative;
}
p.referencia_seccion_incompleta:before{
	content: '';
	position: absolute;
	left: 0;
	width: 12px;
	height: 12px;
	background-color: red;
	border-radius: 50%;
}
p.referencia_seccion_completa:before{
	content: '';
	position: absolute;
	left: 0;
	width: 12px;
	height: 12px;
	background-color: #539960;
	border-radius: 50%;
}
ul#botonera_ppal_izq{
	margin-top: 0px;
	padding-left: 5px;
	padding-right:5px;
	padding-bottom: 30px;
}
ul#botonera_ppal_izq li{
	width: 100%;
	border-bottom: 1px solid #C8CBCB;
	/*background-color: red;*/
	margin: 0;
}
ul#botonera_ppal_izq li:last-child{
	border-bottom: none;
}
ul#botonera_ppal_izq li a{
	display: block;
	position: relative;
	width: 100%;
	color: #676767;
	font-weight: inherit;
	font-size: 14px;
	line-height: 20px;
	/*padding: 7px 0 7px 25px;*/
	padding: 12px 0 12px 25px;
	text-decoration: none;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 20px;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

ul#botonera_ppal_izq li a.ubicacion{background-image: url('../img/icono_ubicacion.svg');}
ul#botonera_ppal_izq li a.propiedad{background-image: url('../img/icono_propiedad.svg');}
ul#botonera_ppal_izq li a.edificio{background-image: url('../img/icono_edificio.svg');}
ul#botonera_ppal_izq li a.terreno{background-image: url('../img/icono_terreno.svg');}
ul#botonera_ppal_izq li a.entorno{background-image: url('../img/icono_entorno.svg');}
ul#botonera_ppal_izq li a.comparable{background-image: url('../img/icono_comparable.svg');}
ul#botonera_ppal_izq li a.puntaje{background-image: url('../img/icono_puntaje.svg');}
ul#botonera_ppal_izq li a.valuacion{background-image: url('../img/icono_valuacion.svg');}
ul#botonera_ppal_izq li a.observaciones{background-image: url('../img/icono_observaciones.svg');}
ul#botonera_ppal_izq li a.cotizacion{background-image: url('../img/icono_cotizacion.svg');}
ul#botonera_ppal_izq li a.banco_ciudad{background-image: url('../img/icono_banco_ciudad.png');}
ul#botonera_ppal_izq li a.avance{background-image: url('../img/icono_avance.svg');}
ul#botonera_ppal_izq li a.fotos{background-image: url('../img/icono_fotos.svg');}

ul#botonera_ppal_izq li a.ubicacionon{color:#e94e20; background-image: url('../img/icono_ubicacion_n.svg');}
ul#botonera_ppal_izq li a.propiedadon{color:#e94e20; background-image: url('../img/icono_propiedad_n.svg');}
ul#botonera_ppal_izq li a.edificioon{color:#e94e20; background-image: url('../img/icono_edificio_n.svg');}
ul#botonera_ppal_izq li a.terrenoon{color:#e94e20; background-image: url('../img/icono_terreno_n.svg');}
ul#botonera_ppal_izq li a.entornoon{color:#e94e20; background-image: url('../img/icono_entorno_n.svg');}
ul#botonera_ppal_izq li a.comparableon{color:#e94e20; background-image: url('../img/icono_comparable_n.svg');}
ul#botonera_ppal_izq li a.puntajeon{color:#e94e20; background-image: url('../img/icono_puntaje_n.svg');}
ul#botonera_ppal_izq li a.valuacionon{color:#e94e20; background-image: url('../img/icono_valuacion_n.svg');}
ul#botonera_ppal_izq li a.observacioneson{color:#e94e20; background-image: url('../img/icono_observaciones_n.svg');}
ul#botonera_ppal_izq li a.cotizacionon{color:#e94e20; background-image: url('../img/icono_cotizacion_n.svg');}
ul#botonera_ppal_izq li a.banco_ciudadon{color:#e94e20; background-image: url('../img/icono_banco_ciudad_n.png');}
ul#botonera_ppal_izq li a.avanceon{color:#e94e20; background-image: url('../img/icono_avance_n.svg');}
ul#botonera_ppal_izq li a.fotoson{color:#e94e20; background-image: url('../img/icono_fotos_n.svg');}





ul#botonera_acciones_generales{
	float: left;
	width: 100%;
	margin: 4px 0 20px 0;
	border-bottom: 1px solid #dadada;
	/*border-top: 1px solid #dadada;*/
	padding: 5px 0 7px 0;
	/*background-color: red;*/
}

ul#botonera_acciones_generales li{
	float: left;
	margin-left: 0px;
	margin-right: 35px;
}
ul#botonera_acciones_generales li:last-child{
	margin-right: 0;
}

ul#botonera_acciones_generales li a{
	display: block;
	color: #898a93;
	text-decoration: none;
	/*font-size: 13px;*/
	font-size: 15px;
	font-weight: 700;
	margin-top: 0;
	padding: 5px 0 5px 22px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: 18px;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

ul#botonera_acciones_generales li a.guardar{background-image: url('../img/icono_guardar.svg');}
ul#botonera_acciones_generales li a.realizar{background-image: url('../img/icono_realizar.svg');}
ul#botonera_acciones_generales li a.desconectar{background-image: url('../img/icono_desconectar.svg');}


ul#botonera_acciones_generales li a:hover{
	color: #d81b60 !important;
}

.grupo_datos{
	margin-bottom: 30px;
}

ul.botonera_check li:first-child{
	color: #eb5f19;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
	border-bottom: none;
}
ul.botonera_check li:last-child{
	border-bottom: none;
}
ul.botonera_check li{
	border-bottom: 1px solid #B3B5B5;
	margin: 0;
}
ul.botonera_check li a{
	display: block;
	padding: 8px 0 8px 0px;
	color: #717171;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
ul.botonera_check li a.activo{
	color: #eb5f19;
	padding: 8px 0 8px 20px;
	background-image: url('../img/icono_tilde.svg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px;
	font-weight: 600;

}

.contenedor-tablas-excel {overflow-x:scroll; }
.tablas-plataforma { width:100%}

.bg {	width: 100%; float: left; display: block; background-repeat:no-repeat; background-size:auto;}
.bg-blanco-op {background: linear-gradient(to bottom, rgba(255,255,255,0) 16%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 17%, rgba(255,255,255,1) 100%);}
.bg-gris {position:relative; width:100%; float:left; display:block;background-position:0 0; background-color:#d2d5d9; }


.bg-resultados {position:relative; background-image: url(../images/bg-resultados.jpg); width:100%; float:left; display:block; background-repeat: no-repeat; background-position:0 0;  background-color: #6d6d6d; box-sizing: border-box;  }


	button, html input[type="button"],html input[type="button"] span, input[type="reset"], input[type="submit"]  {     cursor: pointer;
		border: 1px #2962ff solid;
		border-radius: 2px;
		background-color: #fff;
		color: #2962ff;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 1rem;
		margin-top: 1rem;
		font-size:1.4rem !important;
		line-height:2.4rem !important;
		padding: 0 1rem !important;
	
	
	}
	button, html input[type="button"] span  {     cursor: pointer;
		border: none;
	
	}
/*  ---------------------------------------------------------- FIN GENERALES -------------------------------------------------- */































/*  ---------------------------------------------------------- UBICACION -------------------------------------------------- */
.mapa_ubicacion{
	border: 1px solid #A5A6A8;
	margin-bottom: 20px;
	height: 340px;
	margin-top: 5px;
}
/*  ---------------------------------------------------------- FIN UBICACION -------------------------------------------------- */


















/*  ---------------------------------------------------------- PROPIEDAD 2 -------------------------------------------------- */
p.total_cuartos{
	color: #0967b1;
	font-size: 17px;
	font-weight: 700;
	margin-top: 15px;
	line-height: 12px;
}
p.total_cuartos span{
	color: #eb5f19;
}
p.aclaracion_total_cuartos{
	color: #737373;
	font-size: 14px;
	line-height: 7px;
	font-style: italic;
}
/*  ---------------------------------------------------------- PROPIEDAD 2 -------------------------------------------------- */














































/*  ---------------------------------------------------------- TABLA BASE -------------------------------------------------- */
table.tabla_avance{
	margin: 5px 0 50px 0;
	color:#bfbfbf;
	font-size: 14px;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle !important;
}

/*Encabezado -------------*/
table.tabla_avance thead{
	background-color: #8c8c8c;
	border: none !important;
	vertical-align: middle !important;
}
table.tabla_avance thead th{
	color: #FFF;
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
	padding: 15px 10px;
	border: none !important;
	vertical-align: middle !important;
}
table.tabla_avance thead th:first-child{
	text-align: left;
}
/*Encabezado -------------*/


table.tabla_avance td,table.tabla_avance th{
	text-align: center;
	border-bottom:1px solid #ACAFB2;
	border-top: none !important;
	font-weight: 200;
	font-size: 15px;
	line-height: 17px !important;
	color: #676868;
	vertical-align: middle !important;
}
/*Primer columna*/
table.tabla_avance tbody tr th:first-child{
	font-weight: 700;
	font-size: 14px;
	line-height: 15px;
	text-align: left;
}
/*  ---------------------------------------------------------- FIN TABLA BASE -------------------------------------------------- */











































/*  ---------------------------------------------------------- VALUACION -------------------------------------------------- */
#contenedor_form_valuacion{
	background-color: #f3f3f3;
	padding: 10px 20px 20px 20px;
}
a.guardar_recalcular{
	display: block;
	width: 175px;
	color: #eb5f19;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
	padding-left: 25px;
	background-image: url('../img/icono_guardar.svg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 20px;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
a.guardar_recalcular:hover{
	color: #0277bd;
	padding-left: 28px;
}

a.guardar_recalcular.valuacion{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 15px;
}
a.guardar_recalcular.avance{
	float: left;
	margin-top: 17px;
}
/*  ---------------------------------------------------------- VALUACION -------------------------------------------------- */


/*  ---------------------------------------------------------- FOTOS -------------------------------------------------- */
.contenedor_drag_and_drop{
	margin-top: 50px;
}

/*Modificacion de input file --- */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding-left: 25px;
    background-color: #F4F7F7;
    border: 1px solid #D6D7DA;
    padding: 50px 10px;
    background-image: url('../img/icono_fotos_gris2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}
/*bt seleccionar archivo*/
.iborrainputfile {
	font-size:16px;
	color: #ed6f34;
    font-weight: 500 !important;
    background-image: url('../img/icono_seleccionar_archivo.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-left: 25px;
}
#bt_subir_fotos_simple{
	float: left;
	color: #ed6f34;
	font-size: 16px;
	font-weight: 900;
	background-color: transparent;
	border: none;
	padding-left: 30px;
	background-image: url('../img/icono_subir.svg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 27px;
}
/*Modificacion de input file --- */

/*  ---------------------------------------------------------- FIN FOTOS -------------------------------------------------- */




























/*  ---------------------------------------------------------- FOOTER-------------------------------------------------- */
footer {
	padding: 40px 0 30px 0;
	background-color: #5e5e5e;
}

.pie_abajo{
  position: absolute;
  bottom: 0;
  width: 100%; 	
  height: 300px; /*Esta altura tiene que ser igual al margin bottom del body (ver arriba)*/
}
#contenido_footer{
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}
#contenido_footer img{
	max-width: 120px;
	margin: 0 auto;
}
#contenido_footer p{
	font-size: 12px;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #A7AAAC;
	color: #e8e8e8;
}
/*  ---------------------------------------------------------- FIN FOOTER-------------------------------------------------- */






























@media (max-width: 768px){
#contenedor_botonera_izq{
   position: fixed;
    z-index:1;

}

#vres{
    display:none;

}

#vobs{
    display:none;

}

#vpor{
    display:none;

}

#vavana{
    display:none;

}




ul#botonera_acciones_generales{
                       margin:0px 0 20px 0;
}
    
}

/*Small devices (tablets, 768px and up)*/
@media (min-width: 768px){
/*animacion para responsive*/
*{
	-webkit-transition: width 0.15s ease-out;
	-moz-transition: width 0.15s ease-out;
	-o-transition: width 0.15s ease-out;
	-ms-transition: width 0.15s ease-out;
	transition: width 0.15s ease-out;
}	




	.contenedor100.division_general{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#FFFFFF+34,f2f2f2+39 */
		background: #f2f2f2; /* Old browsers */
		background: -moz-linear-gradient(left, #f2f2f2 25%, #FFF 25%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #f2f2f2 25%,#FFF 25%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #f2f2f2 25%,#FFF 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#FFF',GradientType=1 ); /* IE6-9 */
	}
	



	/*---------  Botonera izquierda ----------*/
		#contenedor_botonera_izq{
			padding-top: 15px;
			background-color: transparent !important;
		}
		#despleglable_botonera_ppal_izq{
			display: block; 
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}
		ul#botonera_ppal_izq li a{
			padding: 7px 0 7px 25px;
		}
		ul#botonera_ppal_izq li a:hover{
			padding: 7px 0 7px 30px;
			color:rgb(216, 27, 96);
			text-decoration: none;
		}
	/*---------  Botonera izquierda ----------*/






	
	/*---------  Botonera acciones generales ----------*/
		ul#botonera_acciones_generales{
			border-bottom: none;
			padding: 0 0 7px 0;
		}
		ul#botonera_acciones_generales li{
			float: right;
			margin-left: 30px;
			margin-right: 0px;
		}
		ul#botonera_acciones_generales li a{
			font-size: 13px;
		}
	/*---------  Botonera acciones generales ----------*/




	/*---------  Botonera check ----------*/
		ul.botonera_check li a:hover{
			color: #eb5f19;
			padding: 8px 0 8px 20px;
			text-decoration: none;
		}
		/*---------  Botonera check ----------*/

}




/*Medium devices (desktop, 992px and up)*/
@media (min-width: 992px){
/*animacion para responsive*/
*{
	-webkit-transition: width 0.15s ease-out;
	-moz-transition: width 0.15s ease-out;
	-o-transition: width 0.15s ease-out;
	-ms-transition: width 0.15s ease-out;
	transition: width 0.15s ease-out;
}

	/*  ---------------------------------------------------------- FOTOS -------------------------------------------------- */
	.contenedor_drag_and_drop{
		margin-top: 0px;
	}
	/*  ---------------------------------------------------------- FOTOS -------------------------------------------------- */



}



/*Medium devices (large desktop, 1200px and up)*/
@media (min-width: 1200px){
/*animacion para responsive*/
*{
	-webkit-transition: width 0.15s ease-out;
	-moz-transition: width 0.15s ease-out;
	-o-transition: width 0.15s ease-out;
	-ms-transition: width 0.15s ease-out;
	transition: width 0.15s ease-out;
}

}

