{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
         <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>
<script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

    <script>
    $(document).ready(function(){
       
            $('#eliminaramb').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_amb_id').val(id);
            });
       
         $('#inp').on("click", function() {
             
            $( "#buscador" ).toggle();
         });
         
         $('#eliminar_ter').on("click", function() {
              var data = new FormData();
                data.append('id', $('#eliminar_amb_id').val());
                
                $.ajax({
                    url: '{{url('eliminarambientacion')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_ambientacion").html('Ambientacion eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                          window.location = '{{url('grillaambientaciones')}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
    });   
    </script>
{% endblock %}





{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}

<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}


<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
<div class="contenedor-datos">

						<h1 class="terminaciones">Ambientaciones</h1>



						<div class="grupo_datos">


                                                    <h2>Buscador <a name="inp" id="inp" style="margin-left:10px; display:inline;    height: 35px;    width: 35px;">Desplegar / Ocultar</a>
                                                        </h2>
                                                    
							<div  class="row">





        <div class="col-sm-12 col-md-12">
                
        {% include "AmapolannUserBundle:Account:buscador_grillas.html.twig"%}    

{% if productos is defined and productos!='' %}
<h2 class="fw-regular-t ">
        AMBIENTACIONES
</h2>

<!-- boton agregar  -->
<div class="pull-left ">                                              
<a href="{{genericDomain}}admin/ambientacionabm?id=0" type="submit" class="boton alt-amarillo pull-left " style="margin-bottom:10px;">AGREGAR AMBIENTACION</a>

</div> 
<!-- fin boton agregar -->
    
    
    
<div class="contenedor-tablas-excel">

<table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
<thead  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">           
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">CÓDIGO</th> 
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"><a href="?sort=titulo">T&Iacute;TULO &#11167;</a></th> 
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">PORTADA</th> 
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">GRIFERIA</th>
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">MESADA</th>
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">BACHA/LAVABO</th>
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">REVESTIMIENTO 1</th>
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">REVESTIMIENTO 2</th>
       <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">REVESTIMIENTO 3</th>
       <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ACCESORIOS</th>
       <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ACABADOS</th>
       <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ACCIONES</th>
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"></th>

<tbody>
{% for producto in productos %}
<tr>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 20px;">{{producto.id}}</td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 20px;"><a href="{{ genericDomain }}admin/ambientacionabm?id={{producto.id}}">{{producto.titulo}}</a></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 20px;">{{producto.titulo}}<br /><img src="{{genericDomain}}{{producto.imagen}}" style="width:100px;"></td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.griferia}}</td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 20px;">{{producto.mesada}}</td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.bacha}}</td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.revestimiento1}}</td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.revestimiento2}}</td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.revestimiento3}}</td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.accesorios}}</td>
<td style="text-align: center;
font-size: 10px;
font-weight: 600;
color: gray;
padding: 5px;">{{producto.acabados}}</td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><a href="{{ genericDomain }}admin/ambientacionabm?id={{producto.id}}" class="boton alt-amarillo pull-left " > EDITAR </a></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><div class="pull-left ">
    <a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{producto.id}}"  data-toggle='modal' data-id="{{producto.id}}" data-target='#eliminaramb' class="boton alt-gris pull-left ">ELIMINAR</a>
    </div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>	
{% endif %}
{%if paginas is defined and (paginas / limit) > actual and actual is defined and actual == '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">


<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t ">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>
{%elseif paginas is defined and (paginas / limit) <= actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

</ul>
</div>                
</div>                
{%elseif paginas is defined and (paginas / limit) > actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul>
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t pl-2">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>

{%endif%}
        </div>	


							</div><!-- row columna derecha de mapa -->



						</div>
                        
   </div>                     
<!-- Grupo datos -->
       
       
 </div>
</div>
</div>	  

<div name="eliminaramb" id="eliminaramb" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_amb_id" name="eliminar_amb_id">
        <p id='resultado_eliminar_ambientacion' name='ambientacion' class="atencion_botonera">¿Confirma que desea eliminar esta ambientacion?</p> 
        <br>
        <input type="button" class="boton mt-2" id="eliminar_ter" name="eliminar_ter" value="ELIMINAR!">
  </div>
</div> 
        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style> 


{% endblock %}
