{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
         <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>
<script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
{% endblock %}





{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}

<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}


<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
<div class="contenedor-datos">

						<h1 class="slider">Banner Cotización</h1>
<h2 class="fw-regular-t "></h2>

{% if banners is defined and banners != '' %}
<div class="contenedor-tablas-excel">

<table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
<thead  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">           
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">IMAGEN PC</th> 
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">IMAGEN Móvil</th> 
        <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ACCIONES</th>
<tbody>
{% for banner in banners %}
<tr name="" style="border-bottom: 1px dotted #A6A9A9;">
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 20px;"><a href="{{genericDomain}}{{banner.imagen}}"><img src="{{genericDomain}}{{banner.imagen}}" style="width:100px;"></a></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 20px;"><a href="{{genericDomain}}{{banner.imagen_movil}}"><img src="{{genericDomain}}{{banner.imagen_movil}}" style="width:100px;"></a></td>

<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding:  5px;"><a href="{{ genericDomain }}admin/bannercotizacionabm?id={{banner.id}}" class="boton alt-amarillo pull-left " > EDITAR </a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>	
{% endif %}
        </div>	


</div><!-- row columna derecha de mapa -->
</div>
</div>                     
<!-- Grupo datos -->
       
       
 </div>
</div>
</div>	  


{% endblock %}
