{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">

    </script>
		
{% endblock %}


{% block content %}

<form method="GET" action="{{url('buscador_productos')}}">
<input type="hidden" value={{url}} name="url" id="url" class="form-control required" required>

<div id='buscador' name='buscador' style='display:{{buscador}};' class="row">

<div class="col-sm-12 col-md-3">							    

<div class="form-group">
        <label for="provincia">T&iacute;tulo</label>
        <input value="{{texto}}" class="form-control" type="text" name="texto">
</div>

</div>          
<div class="col-sm-12 col-md-3">							    

        <div class="form-group">
                <label for="provincia">Ordenar por</label>
                <select  class="form-control" name="order">
                <option value="id">Creaci&oacute;n</option>
                <option  value="titulo"  {%if order == 'titulo'%}selected{%endif%}>T&iacute;tulo</option>
                </select>
        </div>
</div>
<div class="col-sm-12 col-md-3">							    

        <div class="form-group">
                <label for="provincia">Tipo Orden</label>
                <select  class="form-control" name="order_tipo">
                <option value="asc">Ascendente</option>
                <option  value="desc"  {%if order_tipo == 'desc'%}selected{%endif%}>Descendente</option>
                </select>
        </div>
</div>                
        <div class="col-sm-12 col-md-3">							    

        <div class="form-group">
                <label for="provincia">Registros</label>
                <select  class="form-control" name="limit">
                        {#
                        <option value="10">10</option>
                        <option  value="50"  {%if limit == '50'%}selected{%endif%}>50</option>
                        <option  value="100"  {%if limit == '100'%}selected{%endif%}>100</option>
                        <option  value="500"  {%if limit == '500'%}selected{%endif%}>500</option>
                        #}
                        <option  value="2000"  {%if limit == '2000'%}selected{%endif%}>Todos</option>
                </select>
        </div>
</div>  

<div class="col-sm-12 col-md-3">                                              
<input type="submit" class="boton alt-amarillo pull-left mb-4" value="Buscar">
</div>   
</div>
</form>


{% endblock %}