<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="{{genericDomain}}front/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>
    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '559ab3479f577b5a9cb0d0d51dbf79f32e8f53f2';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>

</head>

<body>




<div class="bg-section section-terminaciones ">

<!-- Header-->
{% include "AmapolannUserBundle:Account:header_front.html.twig"%}
<!--Fin Header-->
<!-- Productos-->
<div class="container w-xl  d-flex align-self-center ">
<div class="row  mt-md-2">
    <div class="col-12 mb-2 mt-5 ">
        <span class="txt-sub-tit cf-amarillo fw-regular-t pl-2">
            NUESTROS
        </span>
    </div>
    <div class=" col-6  mb-5 ">
        <span class="tit fw-medium-d cf-blanco"> Productos</span>

    </div>
    <div class="btn-whatsapp ">
        <a
            href="https://api.whatsapp.com/send?phone=5491124967000&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor.">
            <div class="no-gutters ">

                <span class="col-12 d-flex justify-content-center">
                    <div class="icon icon-wp-flotante pr-4 "></div>(+549) 11 2496 -7000
                </span>
            </div>
        </a>
    </div>
</div>
</div>
<!--Fin  productos -->
</div>




<!-- Banner Redes -->
<div class="bg bg-blanco sub-tit-section  mobile">
<div class="container w-xl mt-5">
<div class="row  ">
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-4 my-auto">
                <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
            </div>
            <div class="col-8 ">
                <div class="redes banner">
                    <ul>
                        <li>
                            <a href="" target="_blank">
                                <div class="icon icon-lista ig-negro"></div>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <div class="icon icon-lista fb-negro"></div>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank">
                                <div class="icon icon-lista pint-negro"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--Fin  banner redes -->

<div class="bg bg-section section-colecciones-oscuro">
<!-- Titulo -->

<div class="container   w-xl relative">
<div class="row">

    


    <div class="col-12 col-md-12  mt-5 mb-2  ">
        <div class="row no-gutters ">

        <div class=" col-12  mb-2">
        <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="{{genericDomain}}">colecciones</a></li>
        <li class="breadcrumb-item active" aria-current="page">{%if coleccion is defined and coleccion != ""%}{{coleccion.0.titulo}}{%endif%}</li>
        </ol>
        </div>


        <div class=" col-12  mt-3 mb-2">
            <p class=" sub-tit colecciones fw-medium-d cf-blanco text-center  text-md-left">
            {%if coleccion is defined and coleccion != ""%}{{coleccion.0.titulo}}{%endif%} </p>
        </div>

            <div class="col-12  mt-4 mb-5 ">
                <p class="cf-amarillo article-txt text-center  text-md-left fw-light-italic-t  ">
                    {%if coleccion is defined and coleccion != ""%}{{coleccion.0.descripcion}}{%endif%}
            </div>
        </div>
    </div>

{%if terminaciones_coleccion is defined and terminaciones_coleccion|length > 0%}
<div class="pt-4 pb-1 px-0 px-md-4 mt-5 bg-negro lista-terminaciones ml-md-auto mr-md-3">
    <p class="cf-blanco txt legal fw-bold-t up-percase text-center text-md-left ">
        TERMINACIONES DISPONIBLES
    </p>
    <ul class="mt-2">
        {%for term in terminaciones_coleccion%}    
        <li>
                <div class="icon icon-terminaciones-disponibles">
                <img loading="lazy" src="{{genericDomain}}{{term.imagen_portada}}" class="width-responsive"/>
                </div> {{term.titulo}}
                <p class="txt fw-light-n  cf-blanco my-3 d-none d-sm-block">
                                <a> COD: <span class="fw-medium-n">{{term.codigo}}</span></a>
                </p>
        </li>
        {%endfor%}
    </ul>

</div>
{%endif%}
</div>
</div>

<!--Fin titulo-->

    



{#                   
        <!--Coleccion 1900 -->
        <div class="container w-xl px-md-0">
            <div class="lista-colecciones col-12  mb-2 mt-5 px-0">
            <ul class="row no-gutters ">
            
                {%if productos_coleccion is defined and productos_coleccion|length>0%}   
                            {%for producto in productos_coleccion%}

                
                            <li class="col-12 col-md-3 px-md-3 altura-automatica mb-5">
                            <div class="row ">
                            

                                    <div  class="col-12 mb-3  order-2 order-md-1 ">

                                        <div class="img-colecciones btn-hover cursor" >

                                            <a href="{{genericDomain}}producto?id={{producto.id}}">
                                            <div class="flotante circulo-fav cursor alt-fav sombra d-block d-sm-none">
                                                        <!--<img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="Imagen del producto">-->
                                                        <span class="icon-icon-mas "></span>
                                            </div> 
                                            <img loading="lazy" src="{{genericDomain}}{{producto.imagen_portada}} " />
                                                            
                                            </a>     
                                        </div>
                                    

                                        
                                            <p class="sub-tit productos fw-medium-d  cf-blanco mb-1 mt-2 text-center">
                                               <a href="{{genericDomain}}producto?id={{producto.id}}"> {{producto.titulo}} 

                                               <div class="txt cf-amarillo fw-light-n mt-0 ">
                                                    COD: <span class="fw-medium-n">{{producto.codigo}}</span>
                                                </div>

                                                </a>

                                            </p>
                                       
                                            <!--
                                        <p class="cf-blanco txt fw-regular-d  text-center mb-4 ">
                                            {{producto.categoria}}
                                        </p>
                                        -->
                                        

                                    </div>

                            
                
                            </div>
                            </li>
                
                            {%endfor%}
                {%endif%} 
            </ul>
            </div>
        </div> 
        <!--Fin  Colecciones -->

#}

   <!-- Boton Contacto -->
    <div class="container w-xl ">
        <div class="row ">
            <div class=" col-12  mb-5  ">
                <a href="{{ genericDomain }}contactpage"><span class="boton xl left centrar"> CONTACTO AMAPOLANN</span></a>
            </div>

        </div>
    </div>
    <!--Fin  boton contacto -->

    </div>  
        <!--Boton llamar-->    
         <!--<div class="">
             <a href="tel:(+549) 11 2496 -7000"><img loading="lazy" src="path/to/phone/icon.jpg" /></a>
         </div>-->
         <!--Boton llamar-->  
        <!--Footer-->
        {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
        <!--Fin footer-->

        <!--Nuevo galeria-->
        {%if imagenes_galeria is defined and imagenes_galeria|length > 0%}
        <div class="bg bg-section section-colecciones">
            <!-- Titulo -->
                <div class="container   w-xl">
                    <div class="row">
                        <div class=" col-12 centrar mt-5 mb-5">
                            <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Galería</span>
                        </div>
                    </div>
                </div>
            <!--Fin titulo-->


            <!--Galeria -->
            <div class="container w-full full-mobile  ">
                            <div class="lista-colecciones col-12  mb-2 mt-5 ">
                                <ul class="row no-gutters" >
                                    {%for img in imagenes_galeria%}
                                    <li class="col-4 col-md-2 mb-md-5 mb-2 px-md-3 px-1 altura-automatica-galeria " data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%} >
                                        <div class="row no-gutters">
                                        <div class="col-12">
                                            
                                            <div class="img-colecciones btn-hover cursor" data-toggle="modal" data-target="#mCarouselGaleria">
                                                <img class="with-responsive" src="{{genericDomain}}{{img.imagen}}" >
                                                <div class="img-texto">
                                                    <p class="article-txt up-percase fw-bold-d cf-blanco ta-center">
                                                    </p>
                                                </div>
                    
                                            </div>
                                        </div> 
                                        <div class="col-12">
                                        
                                            <p class="txt fw-regular-t cf-negro my-3 d-none d-sm-block">
                                            <a> {{img.nombre_coleccion}} | {{img.nombre_producto}} <br><span class="fw-medium-n  ">{{img.codigo_coleccion}}-{{img.codigo_categoria}}-{{img.codigo}}</span></a>
                                            </p>
                                        
                                        </div>
                                        </div>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
            </div>
            <!-- Modal Slider galeria-->

                            <div class="modal fade " id="mCarouselGaleria" tabindex="-1" role="dialog"
                                aria-labelledby="mCarouselGaleria" aria-hidden="true ">
                                <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
                                    <div class="modal-content galeria-modal">
                                        <div class="row">
                                            <div class="icon-close-modal">
                                                <img loading="lazy" src="images/icons/iconcerrar.svg" class="width-responsive" data-dismiss="modal">
                                            </div>
                                        </div>
                                        <div class="row no-gutters">

                                            <div class="col-12 centrar">

                                                <!-- Modal Slider HTML-->
                                                <div class="colecciones-galeria-modal ">
                                                    <div id="slider-galeria-modal" class="slider-galeria-modal carousel slide" data-ride="carousel"
                                                        data-interval="false">
                                                        <ol class="carousel-indicators">
                                                            {%for foto in imagenes_galeria%}
                                                            <li data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}></li>
                                                            {%endfor%} 
                                                        </ol>
                                                        <div class="carousel-inner">
                                                            {%for foto in imagenes_galeria%}
                                                            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                                                <div class=" col-12 centrar mb-5 ">
                                                                        <p class=" txt fw-light-n cf-blanco ta-center up-percase"> 
                                                                        coleccion :
                                                                        <span class=" fw-bold-n mr-2"> 
                                                                            {{foto.nombre_coleccion}}  
                                                                        </span>
                                                                        <span class=" ml-2 "> 
                                                                        Código :
                                                                        </span>
                                                                        <span class=" fw-bold-n "> 
                                                                            #{{foto.codigo}} - {{foto.codigo_coleccion}} - XXYY   
                                                                        </span>
                                                                        </p>
                                                                </div>
                                                                <img class="with-responsive"
                                                                    src="{{genericDomain}}{{foto.imagen}}" alt="Imagen Slide">
                                                            </div>
                                                            {%endfor%}
                                                        </div>
                                                        <a class="carousel-control-prev" href="#slider-galeria-modal"
                                                            role="button" data-slide="prev">
                                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next" href="#slider-galeria-modal"
                                                            role="button" data-slide="next">
                                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--Fin  Modal Slider HTML-->


                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>

            <!-- Fin modal slider galeria-->
            <!--End Galeria -->

        </div>
        {%endif%}
        <!-- Fin nuevo galeria -->  

    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  tabletyweb">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12  mb-5 mt-5">
                    <p class="ta-center fw-regular-d cf-blanco article-tit ">
                        Griferias con
                        <span class=" fw-bold-d "> Estilo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->

    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- efectos personales -->
    <script src="{{genericDomain}}front/js/scripts.js"></script>


</body>


</html>