{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
   {{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>

            <script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>
<script>    
         $(document).ready(function(){
             
             $('#eliminar_cat').on("click", function() {
             console.log("boton apretado");
             
              var data = new FormData();
                data.append('id', {{id}});
                
                $.ajax({
                    url: '{{url('eliminarcategoria', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                            if(data == "ok"){
                                $("#resultado_col").html('Categoria eliminada correctamente. Se refrescará la página automáticamente.');
                                setTimeout(function(){
                                  window.location = '{{url('grillacategorias')}}';
                                },2500);
                            }
                            else{
                                $("#resultado_col").html('No se pudo concretar la eliminación. Hay productos asociados a esta categoria.');
                                setTimeout(function(){
                                  window.location = window.location.pathname+'?id={{id}}';
                                },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });

            });
            
             
            
        });
</script>  

{% endblock %}





{% block content %}

{{ parent() }}

{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
   <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
<div class="contenedor-datos">
            <h1 class="usuario">Categoria</h1>
            <form id='myform' name='myform' role="form" method="POST" action="{{url('categoriaabm')}}"  enctype="multipart/form-data">

              

		<div class="grupo_datos">

                    <h2>Datos básicos</h2>


                    <div class="row">

                        <input type="hidden" name="id" id="id" value="{{id}}">

                        
                        <div class="col-sm-12 col-md-12">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>T&iacute;tulo de Categoria</label>
                                {%if categoria is defined and categoria.0.titulo is defined %}
                                    <input type="text" value="{{categoria.0.titulo}}" name="titulo" id="titulo" class="form-control required" required>
                                {%else%}
                                     <input type="text" value="" name="titulo" id="titulo" class="form-control required" required>
                                {%endif%}
                                </div>
                        </div>
                        <div class="col-sm-12 col-md-12">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo de Categoria</label>
                                {%if categoria is defined and categoria.0.codigo is defined %}
                                    <input type="text" value="{{categoria.0.codigo}}" name="codigo" id="codigo" class="form-control required" required>
                                {%else%}
                                     <input type="text" value="" name="codigo" id="codigo" class="form-control required" required>
                                {%endif%}
                                </div>
                        </div>
                        
                    </div>
                    

                    
                    
                    {%if id is defined and id>'0' %}
                    <h2>Productos de la categoria - <a href="{{ genericDomain }}admin/productoabm?id=0" class="cotizacion">+ Nuevo producto</a> </h2>    
                       
                    <div class="row">
                       {%if productos_categoria is defined and productos_categoria|length>0 %}

                        <div class="col-sm-12 col-md-10">
                         <div class="contenedor-tablas-excel">

                            <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                            <tr  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">    
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">NOMBRE PRODUCTO</th>
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">IMAGEN PORTADA</th>
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ACCIONES</th>
                            </tr>


                        {% for prod in productos_categoria %}
                        <tr style="border-bottom: 1px dotted #A6A9A9;">                        

                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><a href="{{ genericDomain }}admin/productoabm?id={{prod.id}}"</a>{{prod.titulo}}</td>                                            
                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><img src="{{genericDomain}}{{prod.imagen_portada}}" style="width:100px;"/></td>                                            
                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><div class="pull-left ">                                              
                        <a href="{{ genericDomain }}admin/productoabm?id={{prod.id}}" class="boton alt-amarillo pull-left ">EDITAR</a> 
                        </div> </td>                                            
                                                                   
                        {%endfor%}


                            </table>
                        </div>	
                        </div>
                        {%endif%} 
                </div>   
                 
                {%endif%}   
                   
            </div>             
                   
            <!-- Guardar Eliminar -->
                <ul class="botonera-guardar-editar-eliminar">
                              <li><input type="submit" id='siguiente' name='siguiente' class="boton alt-amarillo pull-left" value="Guardar"></li>
                            {%if id is defined and id!='0' %}
                                <li>
                                <a  href="#" data-toggle='modal' data-target='#myModalEliminar'   class="boton alt-gris pull-left mt-5p">Eliminar</a>
                                </li>
                            {%endif%}

                </ul>
          <!-- Fin Guardar Eliminar -->    
                
                
            </form>

        
    </div><!-- row columna derecha de mapa -->


    

</div><!-- Grupo datos -->
</div>
</div>
 
<div id="myModalEliminar" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin: auto; margin-top: 5%; padding: 10px;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p class="atencion_botonera" id="resultado_col" name="resultado_col" style="text-align: center">¿Confirma que desea eliminar la categoria?</p> 
    <br>
    <input type="button" style=" background-color: rgba(2,94,175,1); color: white;  margin-right: auto;" id="eliminar_cat" name="eliminar_cat" value="ELIMINAR">
  </div>

</div>  
        
<div name="eliminarprod" id="eliminarprod" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_prod_id" name="eliminar_prod_id">
        <p id='resultado_eliminar_prod' name='resultado_eliminar_prod' class="atencion_botonera">¿Confirma que desea eliminar este Producto?</p> 
        <br>
        <input type="button" style="    background-color: rgba(2,94,175,1); color: white;" id="eliminar_prod" name="eliminar_prod" value="ELIMINAR!">
  </div>
</div> 
        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style>                                          
                                                                             
                                                                                       


	
    {% endblock%}