{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
         <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>
<script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

    <script>
    $(document).ready(function(){
       
         $('#eliminarcat').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_cat_id').val(id);
            });
       
         
         $('#inp').on("click", function() {
             
            $( "#buscador" ).toggle();
         });
         
         $('#eliminar_cat').on("click", function() {
             
              var data = new FormData();
                data.append('id', $('#eliminar_cat_id').val());
                
                $.ajax({
                    url: '{{url('eliminarcategoria')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          if(data == "ok"){
                                $("#resultado_eliminar_cat").html('Colección eliminada correctamente. Se refrescará la página automáticamente.');
                                setTimeout(function(){
                                  window.location = '{{url('grillacategorias')}}';
                                },2500);
                            }
                            else{
                                $("#resultado_eliminar_cat").html('No se pudo concretar la eliminación. Hay productos asociados a esta categoria.');
                                setTimeout(function(){
                                  window.location = '{{url('grillacategorias')}}';
                                },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
    });   
    </script>
{% endblock %}





{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}

<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}


<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
<div class="contenedor-datos">

						<h1 class="colecciones">Categorias</h1>



						<div class="grupo_datos">


                                                    <h2 class="fw-regular-t">Buscador <a name="inp" id="inp" class="txt-buscador">Desplegar / Ocultar</a>
                                                        </h2>
                                                    
							<div  class="row">





        <div class="col-sm-12 col-md-12">
                
        {% include "AmapolannUserBundle:Account:buscador_grillas.html.twig"%}    
        {% if productos is defined and productos!='' %}

        <h2 class="fw-regular-t ">
        TODAS LAS CATEGORIAS
        </h2>

        <!-- boton agregar  -->
        <div class="pull-left ">                                              
        <a href="{{genericDomain}}admin/categoriaabm?id=0" type="submit" class="boton alt-amarillo pull-left " style="margin-bottom:10px;">AGREGAR CATEGORIA</a>
        
        </div> 
        <!-- fin boton agregar -->


<div class="contenedor-tablas-excel">

<table  id="t01" name="t01" class="t01">
<thead   class="con_linea">     
        <th >C&Oacute;DIGO</th> 
        <th style="text-align: left;"><a href="?sort=titulo">T&Iacute;TULO &#11167;</a></th> 
        <th >ACCIONES</th>

<tbody>
{% for producto in productos %}
<tr name="">
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;">{{producto.codigo}}</td>
<td style="text-align: left;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><a href="{{ genericDomain }}admin/categoriaabm?id={{producto.id}}">{{producto.titulo}} </a></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><a href="{{ genericDomain }}admin/categoriaabm?id={{producto.id}}" class="boton alt-amarillo pull-left " > EDITAR </a></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><div class="pull-left ">
    <a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{producto.id}}"  data-toggle='modal' data-id="{{producto.id}}" data-target='#eliminarcat' class="boton alt-gris pull-left ">ELIMINAR</a>
    </div>
</td>


</tr>
{% endfor %}
</tbody>
</table>
</div>	
{% endif %}
{%if paginas is defined and (paginas / limit) > actual and actual is defined and actual == '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">


<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t ">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>
{%elseif paginas is defined and (paginas / limit) <= actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

</ul>
</div>                
</div>                
{%elseif paginas is defined and (paginas / limit) > actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul>
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t pl-2">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>

{%endif%}
        </div>	


</div><!-- row columna derecha de mapa -->
</div>
</div>                     
<!-- Grupo datos -->
       
       
 </div>
</div>
</div>	  
 
<div name="eliminarcat" id="eliminarcat" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_cat_id" name="eliminar_cat_id">
        <p id='resultado_eliminar_cat' name='resultado_eliminar_cat' class="atencion_botonera">¿Confirma que desea eliminar esta categoria?</p> 
        <br>
        <input type="button" style="    background-color: rgba(2,94,175,1); color: white;" id="eliminar_cat" name="eliminar_cat" value="ELIMINAR!">
  </div>
</div> 
        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style> 



{% endblock %}
