{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
   {{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>

            <script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>
<script>    
         $(document).ready(function(){
             
             $('#eliminarprod').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_prod_id').val(id);
            });
             
        
            $('#eliminarpun').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id');
                
                console.log(id);
            
                $('#eliminar_pun_id').val(id);
            });
            
            $('#eliminarleva').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id');
                
                console.log(id);
            
                $('#eliminar_leva_id').val(id);
            });
             
             
             
             $('#eliminar_col').on("click", function() {
             console.log("boton apretado");
             
              var data = new FormData();
                data.append('id', {{id}});
                
                $.ajax({
                    url: '{{url('eliminarcoleccion', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                            if(data == "ok"){
                                $("#resultado_col").html('Colección eliminada correctamente. Se refrescará la página automáticamente.');
                                setTimeout(function(){
                                  window.location = '{{url('grillacolecciones')}}';
                                },2500);
                            }
                            else{
                                $("#resultado_col").html('No se pudo concretar la eliminación. Hay productos asociados a esta colección.');
                                setTimeout(function(){
                                  window.location = window.location.pathname+'?id={{id}}';
                                },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });

            });
            
            $('#eliminar_prod').on("click", function() {
             
              var data = new FormData();
                data.append('id', $('#eliminar_prod_id').val());
                
                $.ajax({
                    url: '{{url('eliminarprod', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_prod").html('Producto eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                           window.location = window.location.pathname+'?id={{id}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            }); 
             
             
            $('#eliminar_pun').on("click", function() {
             
              var data = new FormData();
                data.append('id_terminacion', $('#eliminar_pun_id').val());
                data.append('id_coleccion', {{id}});
                
                $.ajax({
                    url: '{{url('eliminar_ter_col')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_pun").html('Terminacion eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                           window.location = window.location.pathname+'?id={{id}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
            
            $('#eliminar_leva').on("click", function() {
             
              var data = new FormData();
                data.append('id_leva', $('#eliminar_leva_id').val());
                data.append('id_coleccion', {{id}});
                
                $.ajax({
                    url: '{{url('eliminar_leva_col')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_leva").html('Leva eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                           window.location = window.location.pathname+'?id={{id}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
             
             
            $('#guardar_ter').on("click", function() {           
              var data = new FormData();
                data.append('id', {{id}});
                data.append('id_ter', $('#id_terminacion').val());
                $.ajax({
                    url: '{{url('guardar_terminacion_coleccion')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          if (data == "ok"){
                             $("#resultado_ter_col").html('Terminación guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_ter_col").html(data);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });

                });
            
            $('#guardar_leva').on("click", function() {           
              var data = new FormData();
                data.append('id', {{id}});
                data.append('id_leva', $('#id_leva').val());
                $.ajax({
                    url: '{{url('guardar_leva_coleccion')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          if (data == "ok"){
                             $("#resultado_leva_col").html('Leva guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_leva_col").html(data);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });

                });
             
             
             
             $('#insertar_portada').submit(insertarFotoPortada)
             
             function insertarFotoPortada(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_portada")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('portadacoleccion')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_ter").html('Imagen guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_ter").html(data);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
             
             
             $('#insertar_fotomenu').submit(insertarFotoMenu)
             
             function insertarFotoMenu(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_fotomenu")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('portadamenu')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_menu").html('Imagen guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_menu").html(data);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
             
             
                    $( "input[name^='vis']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificarvisibilidad')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        $( "input[name^='ord']" ).change(function(){
            var id = ($(this).data('id'));
            var vis = ($(this).val());
            
            $.ajax({
                    url: '{{url('modificarorden')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
     
             
            
        });
</script>  

{% endblock %}





{% block content %}

{{ parent() }}

{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
   <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
    <form id='myform' name='myform' role="form" method="POST" action="{{url('coleccionabm')}}"  enctype="multipart/form-data">
<div class="contenedor-datos">
            <h1 class="colecciones">Colección</h1>
           

               

		<div class="grupo_datos">

                    <h2>Datos básicos</h2>


                    <div class="row">

                        <input type="hidden" name="id" id="id" value="{{id}}">

                        
                        <div class="col-sm-12 col-md-6">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>T&iacute;tulo de Colecci&oacute;n</label>
                                {%if propiedad is defined and propiedad.0.titulo is defined %}
                                    <input type="text" value="{{propiedad.0.titulo}}" name="titulo" id="titulo" class="form-control required" required>
                                {%else%}
                                     <input type="text" value="" name="titulo" id="titulo" class="form-control required" required>
                                {%endif%}
                                </div>
                        </div>
                    </div>
                    <div class="row">            
                        <div class="col-sm-12 col-md-6">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo de Colecci&oacute;n</label>
                                {%if propiedad is defined and propiedad.0.codigo is defined %}
                                    <input type="text" value="{{propiedad.0.codigo}}" name="codigo" id="codigo" class="form-control required" required>
                                {%else%}
                                     <input type="text" value="" name="codigo" id="codigo" class="form-control required" required>
                                {%endif%}
                                </div>
                        </div>

                        
                        
                    </div>
                                
                    <div class="row">
                        <div class="col-sm-12 col-md-3">	
                                <div class="form-group">
                                    <label for="calle"><span style="color:#eb433e;">* </span>Activo (Visible en la web)</label>
                                        <select name="activo" id="activo" class="form-control required" required>
                                            {%if propiedad is defined and propiedad.0.activo is defined %}
                                                <option value="1" {%if propiedad.0.activo == '1'%}selected{%endif%}>SI</option>
                                                <option value="0" {%if propiedad.0.activo == '0'%}selected{%endif%}>NO</option>
                                            {%else%}
                                                <option value="1" selected>SI</option>
                                                <option value="0" >NO</option>
                                            {%endif%}    
                                        </select>
                                </div>
                        </div>	     
                        
                        <div class="col-sm-12 col-md-3">	
                                <div class="form-group">
                                    <label for="calle"><span style="color:#eb433e;">* </span>Orden</label>
                                        {%if propiedad is defined and propiedad.0.orden is defined %}
                                            <input type="text" value="{{propiedad.0.orden}}" name="orden" id="orden" class="form-control required" required>
                                        {%else%}
                                             <input type="text" value="1000" name="orden" id="orden" class="form-control required" required>
                                        {%endif%}
                                </div>
                        </div>
                                
                        {%if id is defined and id!="0"%}  
                            <div class="col-sm-12 col-md-6" style="margin-top:-213px;">
                                <h2>Terminaciones - <a style='margin-left: 7px; margin-top:-20px;' data-id_wa="0"  data-toggle='modal' data-target='#myModalNue'> + Nueva terminación</a> </h2>    

                                {%if terminaciones_x_coleccion is defined and terminaciones_x_coleccion|length>0 %}

                                <div class="contenedor-tablas-excel">
                                    <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                                            <tr  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">    
                                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">TERMINACION ASIGNADA</th>
                                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"></th>
                                            </tr>
                                            {% for terminacion in terminaciones_x_coleccion %}
                                            <tr style="border-bottom: 1px dotted #A6A9A9;">
                                                <td id="{{terminacion.id}}_tipo"  name="{{terminacion.id}}_tipo" style="text-align: center;
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: gray;
                                                margin-right: 8px;
                                                padding: 5px;"><a href="{{ genericDomain }}admin/terminacionabm?id={{terminacion.id_terminacion}}"</a>{{terminacion.titulo}}</td>                                            
                                               <td style="text-align: center;
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: gray;
                                                margin-right: 8px;
                                                padding: 5px;"><a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{terminacion.id}}"  data-toggle='modal' data-id="{{terminacion.id_terminacion}}" data-target='#eliminarpun'>Eiminar</a></td> 
                                            </tr>
                                            {%endfor%}
                                    </table>
                                </div>
                                {%endif%}
                            </div>
                        {%endif%}
                                
                    </div>

                    <div class='row'>
                            <div class="col-sm-12 col-md-6">	
                                    <div class="form-group">
                                        <label for="calle"><span style="color:#eb433e;">* </span>Descripción</label>
                                        {%if propiedad is defined and propiedad.0.descripcion is defined %}
                                            <textarea style="min-height: 200px;" name="detalles" id="detalles" class="form-control required" required>{{propiedad.0.descripcion|raw|replace({'<br>':'\r\n'})}}</textarea>
                                        {%else%}
                                            <textarea style="min-height: 200px;" name="detalles" id="detalles" class="form-control required" required></textarea>
                                        {%endif%}
                                    </div>
                            </div>    
                            
                            {%if id is defined and id!="0"%}  
                            <div class="col-sm-12 col-md-6" style="margin-top:-15px;">
                                <h2>Levas - <a style='margin-left: 7px; margin-top:-20px;' data-id_wa="0"  data-toggle='modal' data-target='#myModalNueLeva'> + Nueva leva</a> </h2>    

                                {%if levas_x_coleccion is defined and levas_x_coleccion|length>0 %}

                                <div class="contenedor-tablas-excel">
                                    <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                                            <tr  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">    
                                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">LEVA ASIGNADA</th>
                                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"></th>
                                            </tr>
                                            {% for leva in levas_x_coleccion %}
                                            <tr style="border-bottom: 1px dotted #A6A9A9;">
                                                <td id="{{leva.id}}_tipo"  name="{{leva.id}}_tipo" style="text-align: center;
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: gray;
                                                margin-right: 8px;
                                                padding: 5px;"><a href="{{ genericDomain }}admin/levaabm?id={{leva.id_leva}}"</a>{{leva.titulo}}</td>                                            
                                               <td style="text-align: center;
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: gray;
                                                margin-right: 8px;
                                                padding: 5px;"><a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{leva.id}}"  data-toggle='modal' data-id="{{leva.id_leva}}" data-target='#eliminarleva'>Eiminar</a></td> 
                                            </tr>
                                            {%endfor%}
                                    </table>
                                </div>
                                {%else%}
                                <p>Esta colección no posee Levas.</p>    
                                {%endif%}
                                
                            </div>
                            {%endif%}
                                    
                                    
                    </div><!-- row -->
                    
                    {%if id is defined and id>'0' %}
                    <h2>Productos de la colección - <a href="{{ genericDomain }}admin/productoabm?id=0" class="cotizacion">+ Nuevo producto</a> </h2>    
                       
                    <div class="row">
                       {%if productos_coleccion is defined and productos_coleccion|length>0 %}

                        <div class="col-sm-12 col-md-10">
                         <div class="contenedor-tablas-excel">

                            <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                            <tr  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">    
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">NOMBRE PRODUCTO</th>
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">C&Oacute;DIGO</th>
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">IMAGEN PORTADA</th>
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">VISIBLE </th>
                                <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ORDEN </th>
                                <th colspan="2"  style="padding-right: 63px; padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px; ">ACCIONES </th>
                            </tr>


                        {% for prod in productos_coleccion %}
                        <tr style="border-bottom: 1px dotted #A6A9A9;">                        

                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><a href="{{ genericDomain }}admin/productoabm?id={{prod.id}}"</a>{{prod.titulo}}</td>                                            
                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;">{{propiedad.0.codigo}}-{{prod.codigo}}</td>                                            
                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><img src="{{genericDomain}}{{prod.imagen_portada}}" style="width:100px;"/></td>                                            
                        <td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;">{%if prod.activo =='1'%}<input value="{{prod.id}}" type="checkbox" name="vis_{{prod.id}}" id="vis_{{prod.id}}" checked>{%else%}<input value="{{prod.id}}" type="checkbox" name="vis_{{prod.id}}" id="vis_{{prod.id}}">{%endif%}</td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><input style="width: 50px;" value="{{prod.orden}}" data-id="{{prod.id}}" type="number" name="ord_{{prod.id}}" id="ord_{{prod.id}}"></td>

                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><div class="pull-left ">             
                        <a href="{{ genericDomain }}admin/productoabm?id={{prod.id}}" class="boton alt-amarillo pull-left ">EDITAR</a> 
                        </div> </td>                                            
                        <td id="{{prod.id}}_tipo"  name="{{prod.id}}_tipo" style="text-align: center;
                        font-size: 12px;
                        font-weight: 600;
                        color: gray;
                        margin-right: 8px;
                        padding: 5px;"><div class="pull-left ">                                              
                        <a  href="#" data-id_waed="{{prod.id}}"  data-toggle='modal' data-id="{{prod.id}}" data-target='#eliminarprod' class="boton alt-gris pull-left ">ELIMINAR</a> 
                        </div> </td>                                            
                        {%endfor%}


                            </table>
                        </div>	
                        </div>
                        {%endif%} 
                </div>   
                {%if propiedad is defined and propiedad.0.imagen_menu != null %}
                        <h2>Imagen Menú</h2>
                        <div class="row">
                             {% if propiedad.0.imagen_menu is defined%}
                                <div style="margin-top: 10px;" class="col-sm-12 col-md-3">
                                            <a href="{{genericDomain}}{{propiedad.0.imagen_menu}}" target="_blank">
                                                <img src="{{genericDomain}}{{propiedad.0.imagen_menu}}" style="width: 100%; height: auto; "/>
                                            </a>
                                         
                                           <div class="txt cf-gris fw-light-n mt-2 "> (300px x 300px)</div>
                                        
                                            <!-- Guardar Eliminar -->
                                            
                                            <ul class="botonera-guardar-editar-eliminar">
                                                        {%if id is defined and id!='0' %}
                                                            <li><a href="#" data-toggle='modal' data-target='#myModalImagMenu' class="boton alt-amarillo pull-left">Cambiar </a></li>
                                                        {%endif%} 
                                            </ul>
                                    <!-- Fin Guardar Eliminar -->
                                </div>
                            {%endif%}
                        </div>
                        {%else%} 
                            <h2>Imagen Menú</h2>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 mt-2">
                                        <img src="{{genericDomain}}front/images/img-default.jpg"
                                        class="width-responsive" alt="Amapolann" title="Amapolann">
                                        <div class="txt cf-gris fw-light-n mt-2 "> (300px x 300px)</div>
                                            <!-- Guardar Eliminar -->
                                                <ul class="botonera-guardar-editar-eliminar">
                                                                <li><a href="#" data-toggle='modal' data-target='#myModalImagMenu' class="boton alt-amarillo pull-left">Cambiar</a></li>
                                                </ul>
                                            <!-- Fin Guardar Eliminar -->
                                    </div>
                                </div>
                    {%endif%}   

                     {%if propiedad is defined and propiedad.0.imagen_portada != null %}
                       <h2>Imagen de portada</h2>
                        
                        {% if propiedad.0.imagen_portada is defined%}
                            <div class="row">
                                <div style="margin-top: 10px;" class="col-sm-12 col-md-3">
                                            <a href="{{genericDomain}}{{propiedad.0.imagen_portada}}" target="_blank">
                                                <img src="{{genericDomain}}{{propiedad.0.imagen_portada}}" style="width: 100%; height: auto; "/>
                                            </a>
                                         
                                           <div class="txt cf-gris fw-light-n mt-2 "> Formato 4:3 o (540px x 410px)</div>
                                        
                                            <!-- Guardar Eliminar -->
                                            
                                            <ul class="botonera-guardar-editar-eliminar">
                                                        {%if id is defined and id!='0' %}
                                                            <li><a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Cambiar </a></li>
                                                        {%endif%} 
                                            </ul>
                                    <!-- Fin Guardar Eliminar -->
                                </div>
                            </div>
                        {%endif%}
                        
                        {%else%} 
                            <h2>Imágen de portada</h2>
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 mt-2">
                                        <img src="{{genericDomain}}front/images/img-default.jpg"
                                        class="width-responsive" alt="Amapolann" title="Amapolann">
                                        <div class="txt cf-gris fw-light-n mt-2 "> Formato 4:3 o (540px x 410px)</div>
                                            <!-- Guardar Eliminar -->
                                                <ul class="botonera-guardar-editar-eliminar">
                                                                <li><a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Cambiar portada</a></li>
                                                </ul>
                                            <!-- Fin Guardar Eliminar -->
                                    </div>
                                </div>
                      {%endif%} 

                {%endif%}   


        </div>  
    </div><!-- row columna derecha de mapa -->
                    <ul class="botonera-guardar-editar-eliminar">
                        <li>
                            <input type="submit" id='siguiente' name='siguiente' class="boton alt-amarillo pull-left" value="Guardar">
                        </li>
                        {%if id is defined and id!='0' %}
                         <li>
                            <input type="submit" id='siguiente' name='siguiente' class="boton alt-gris pull-left" data-toggle='modal' data-target='#myModalEliminar' value="Eliminar">
                        </li>
                        {%endif%} 
                  </ul>
</div><!-- Grupo datos -->
                  
</div>
                 
</form>
</div>
<div id="myModalImagenes" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_ter' name='resultado_ter' class="atencion_botonera"></p> 
    <form action="" id="insertar_portada" name="insertar_portada" enctype="multipart-form/data">
        <p>Imágen de Portada</p>
        <input type="hidden" id="id_coleccion" name="id_coleccion" value="{{id}}" class="form-control">
        <label for="calle">Seleccione la nueva imágen formato 4:3 o (540px x 410px)</label>
        <input type="file" id="imagen_por" name="imagen_por" class="form-control">
        <input type="submit" style=" background-color: rgba(2,94,175,1); color: white;" id="establecer_port" name="establecer_port" value="ESTABLECER!">
    </form>
  </div>

</div>

<div id="myModalImagMenu" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_menu' name='resultado_menu' class="atencion_botonera"></p> 
    <form action="" id="insertar_fotomenu" name="insertar_fotomenu" enctype="multipart-form/data">
        <p>Imágen para Menú</p>
        <input type="hidden" id="id_coleccion" name="id_coleccion" value="{{id}}" class="form-control">
        <label for="calle">Seleccione la nueva imágen (300px x 300px)</label>
        <input type="file" id="imagen_por" name="imagen_por" class="form-control">
        <input type="submit" class="boton mt-4" id="establecer_fotomenu" name="establecer_fotomenu" value="ESTABLECER!">
    </form>
  </div>

</div>
 
<div id="myModalEliminar" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin: auto; margin-top: 5%; padding: 10px;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p class="atencion_botonera" id="resultado_col" name="resultado_col" style="text-align: center">¿Confirma que desea eliminar la colección?</p> 
    <br>
    <input type="button" class="boton mt-4"  id="eliminar_col" name="eliminar_col" value="ELIMINAR">
  </div>

</div>  
        
<div name="eliminarprod" id="eliminarprod" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_prod_id" name="eliminar_prod_id">
        <p id='resultado_eliminar_prod' name='resultado_eliminar_prod' class="atencion_botonera">¿Confirma que desea eliminar este Producto?</p> 
        <br>
        <input type="button" class="boton mt-4" id="eliminar_prod" name="eliminar_prod" value="ELIMINAR!">
  </div>
</div>
        
<div name="eliminarpun" id="eliminarpun" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_pun_id" name="eliminar_pun_id">
        <p id='resultado_eliminar_pun' name='resultado_eliminar_pun' class="atencion_botonera">¿Confirma que desea eliminar esta terminación?</p> 
        <br>
        <input type="button" style="    background-color: rgba(2,94,175,1); color: white;" id="eliminar_pun" name="eliminar_pun" value="ELIMINAR!">
  </div>
</div>     

<div name="eliminarleva" id="eliminarleva" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_leva_id" name="eliminar_leva_id">
        <p id='resultado_eliminar_leva' name='resultado_eliminar_leva' class="atencion_botonera">¿Confirma que desea eliminar esta leva?</p> 
        <br>
        <input type="button" style=" background-color: rgba(2,94,175,1); color: white;" id="eliminar_leva" name="eliminar_leva" value="ELIMINAR!">
  </div>
</div>     
        
  
<div style='z-index: 99999;' id="myModalNue" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin-top: 5%;">
    <span class="close"  data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_ter_col' name='resultado_ter_col' class="atencion_botonera"></p> 
    <p>Seleccione la nueva terminación</p>
        <select name="id_terminacion" id="id_terminacion" class="form-control required" required>
        {% for terminacion in terminaciones %}
                <option value="{{terminacion.id}}">{{terminacion.titulo}}</option>
        {% endfor %}
        </select>    
     <br>
     <br>
     <input  id="guardar_ter" name="guardar_ter" style="    background-color: rgba(2,94,175,1); color: white;" type="button" value="Guardar">
     
  </div>
</div>

<div style='z-index: 99999;' id="myModalNueLeva" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin-top: 5%;">
    <span class="close"  data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_leva_col' name='resultado_leva_col' class="atencion_botonera"></p> 
    <p>Seleccione la nueva Leva</p>
        <select name="id_leva" id="id_leva" class="form-control required" required>
        {% for leva in levas %}
                <option value="{{leva.id}}">{{leva.titulo}}</option>
        {% endfor %}
        </select>    
     <br>
     <br>
     <input  id="guardar_leva" name="guardar_leva" style="    background-color: rgba(2,94,175,1); color: white;" type="button" value="Guardar">
     
  </div>
</div>
        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style>                                          
                                                                             
                                                                                       


	
    {% endblock%}