<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="{{genericDomain}}front/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>

<script src="https://www.google.com/recaptcha/api.js"></script>



<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>

    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
  <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />


    

<script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>

<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->
   

</head>

<body>
    <div class="bg-section section-form">
        <!-- Header-->
        {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
        <!--Fin Header-->

        <div class="container w-xl  ">
            <div class="row  mt-md-2">
                <div class=" col-12 mt-5 mb-5 ta-center">
                    <span class="tit fw-medium-d cf-blanco"> Escribinos </span>
                </div>
                <div class="col-12 mb-4 ta-center">
                    <span class="txt-sub-tit cf-amarillo fw-regular-t pl-2 up-percase">
                        Formulario de contacto
                    </span>
                </div>
                <!-- Formulario -->
                <div class=" col-12  col-md-4  centrar bg-blanco  radius-web mb-5 sombra">
                    <div class="row no-gutters ">

                        <div class=" col-12 mt-2  px-4">
                            <form method="POST" action="{{url('contactoabm')}}"  enctype="" name="formDeContacto" id="formDeContacto" onsubmit="miFuncion(event)">
                          

                                <div class="row">

                                    <div class=" col-12  mt-5 mb-4">
                                        <label><span style="color:#eb433e;">* </span>Nombre</label>
                                        <input name="nombre" id="nombre" size="35" type="text" required />
                                    </div>


                                    <div class="col-12  mb-4">
                                        <label><span style="color:#eb433e;">* </span>Email</label>
                                        <input name="mail" id="mail"  type="email" required />
                                    </div>

                                    <div class=" col-12   mb-4">
                                        <label><span style="color:#eb433e;">* </span>Teléfono</label>
                                        <input name="telefono" id="telefono" type="text" minlength="6" required />
                                    </div>



                                    <div class=" col-12  mb-4">
                                        <label><span style="color:#eb433e;">* </span>Localidad</label>
                                        <input name="localidad" id="localidad" type="text" minlength="3" required />
                                    </div>

                                    <div class=" col-12  mb-4 ">
                                        <label><span style="color:#eb433e;">* </span>Dejanos tu consulta</label>
                                        <textarea name="descripcion" rows="4" id="descripcion" type="text" required></textarea>
                                    </div>

                                    <div style="margin-left:20%;" class="  col-12 mb-4 ">
                                    
                                </div>
                                </div>
                                    {# 

                                    <div class=" centrar ">
                                        <label class="checkcontainer ">He leído y acepto
                                            los
                                            <span class="fw-bold-t subrayado cf-amarillo" data-toggle="collapse"
                                                data-target="#terminosycondiciones"> Términos y
                                                condiciones</span>
                                            <input type="checkbox" name="radio" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 ta-left txt legal mt-2 mb-2 collapsable-content ta-left collapse hide px-4  radius"
                                        id="terminosycondiciones">

                                        <p>{{terminos}}</p>
                                    </div>
                                    #}

                                     <!-- Invisible honeypot-->
                                    <div class=" col-12 mb-2 off">
                                        <input name="honey" id="honey" size="35" type="text"/>
                                    </div>
                                    <!--Fin  Invisible honeypot-->
                                    <div style="margin-left:20%;" class="  col-12 mb-4 ">
                                            <div class="g-recaptcha" data-sitekey="6LfLw9kaAAAAAKqTYLyKhA51MdiVCxjyOo6PsRbB"></div>
                                    </div>
                                    <div class=" col-12 mt-1 mb-5 mt-2">
                                        <button 
                                        class=" centrar" type="submit" value="Enviar" name="btsubmit"
                                        id="btsubmit" >ENVIAR
                                        </button>
                                    </div>


                                </div>
                            </form>
                        </div>


                    </div>
                </div>
                <!--Formulario-->
               
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    <!--fin reCAPTCHA V2  -->     
<script>
        function miFuncion(evt) {
            var response = grecaptcha.getResponse();

            if(response.length == 0){
            $('#msgCaptcha').modal('show');
            evt.preventDefault();
            return false;
        } 
  }
</script>
				
<div class="modal fade" id="msgCaptcha" tabindex="-1" role="dialog" aria-labelledby="msgConfirmacion"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="icon-close-modal"><img loading="lazy" src="{{genericDomain}}images/icons/iconcerrar.svg" class="width-responsive"
                    data-dismiss="modal"></div>
            <div class="col-12 fw-bold-d cf-negro my-4 ">
                <span class=" sub-tit"> Verificación.</span> <br>
                <span class="txt fw-regular-d cf-celeste">No validaste el captcha.</span>

            </div>
        </div>
    </div>
</div>   
               <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">

                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4 "></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>
                

                {# <div class="btn-whatsapp llamar">
                    <a href="tel:+54 9 11 77172020">
                        <div class="no-gutters">
                            <span class="col-12 d-flex justify-content-center">
                                <div class="icon icon-llamar-flotante pr-4 "></div>
                                0810 444-8080
                            </span>
                        </div>
                    </a> 
                </div> #}



            </div>
        </div>

    </div>
    <!-- Banner -->

    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  mobile">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12  mb-5 mt-5   ">

                    <p class="ta-center fw-regular-d cf-blanco article-tit mt-5 ">
                        Griferías con
                        <span class=" fw-bold-d "> Estilo</span>

                    </p>

                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->

    <!-- Banner Redes -->
    <div class="bg bg-blanco sub-tit-section  mobile">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12 mt-4 mb-0">
                    <div class="row">
                        <div class="col-4 my-auto">
                            <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                        </div>
                        <div class="col-8 ">
                            <div class="redes banner">
                                <ul class="d-flex justify-content-between">
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Fin  banner redes -->   

    <!-- Maps-->
    <div class="bg bg-blanco">
        <div class="container w-xl">
            <div class="row mt-5 pt-3 mb-5 pb-5">

                <div class="col-12 col-lg-3 mb-5 pb-3">
                    <p class="txt-tit fw-bold-d cf-amarillo">Horarios de atención:<br />
                    <span class="fw-regular-d">Lunes a Sábados de 9:00 a 19:00hs.</span></p>
                </div>



                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-12 ta-center mb-5" style="border:1px solid red-">
                            <p class="txt-sub-tit cf-negro fw-regular-t  up-percase ">
                                <span class="fw-bold-t "> Av. Cabildo 4769 piso 4 “A”, CABA  (cp 1429)</span> - Buenos Aires - Argentina
                            </p>
                        </div>

                        <div class="col-12">

                            <div class="map-responsive" data-toggle="modal" data-target="#modalMaps">

                                <a href="#" data-toggle="modal" data-target="#modalMaps" style="display:block; width:100%; height:100px;">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKtXiF8kf_xPrWrJmrUgYnXrzKFDaf52c&q=Av. Cabildo 4769+Buenos Aires,Argentina" width="100%" height="340px"
                                    style="border:none;"></iframe>
                                </a>
                                
                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="modalMaps" tabindex="-1" aria-labelledby="modalMapsLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                            <div class="modal-header">

                                <p class="txt-sub-tit cf-negro fw-regular-t  up-percase ">
                                    <span class="fw-bold-t "> Av. Cabildo 4769 piso 4 “A”, CABA  (cp 1429)</span> - Buenos Aires - Argentina
                                </p>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKtXiF8kf_xPrWrJmrUgYnXrzKFDaf52c&q=Av. Cabildo 4769+Buenos Aires,Argentina" width="100%" height="340px"
                                    style="border:none;"></iframe>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                            </div>
                        </div>
                        </div>



                    </div>
                </div>


                <div class="col-12 col-lg-3 pl-5 pr-5">
                    <ul class="acciones_botones_maps">
                        <li><a href="https://www.google.com/maps/place/Av.+Cabildo+4679,+C1429ABE+CABA,+Argentina/@-34.54156,-58.473417,15z/data=!4m2!3m1!1s0x95bcb6a2dbd5b5dd:0xd187fb26d0390728?hl=es-419&gl=US" target="_blank">Abrir en Google Maps</a></li>
                        <li><a href="#" class="despliega_compartir">Compartir</a>                        
                            <li>
                                        <a href="#" class="despliega_compartir"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"> Compartir</a>
                                        <ul class="botones_compartir" style="display: block;">                                               
                                            <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20https://www.amapolann.com/producto?id=15718" class="whatsapp" target="_blank">whatsapp</a></li>
                                                                                        <li>
                                                <a href="http://www.facebook.com/sharer.php?u=https://www.amapolann.com/producto?id=15718&amp;t=NorfiPC" target="_blank" class="facebook ">Facebook</a>
                                            </li>
                                            <li><a href="mailto:?subject=Recomendación de Amapolan!&amp;body=Mirá este producto ingresando en https://www.amapolann.com/producto?id=15718" class="mail" target="_blank">Mail</a></li>
                                        </ul>
                                    </li>
                            </ul>
                        </li>
                        <li><a href="tel:+54 9 11 77172020">Llamar</a></li>
                    </ul>

                    

                </div>




                
            </div>
        </div>
    </div>
    <!--Fin maps -->

    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->
    
<!--Nuevo colecciones-->
   <!-- Titulo -->
    <div class="bg bg-section section-colecciones">
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                    <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Colecciones </span>
                </div>
            </div>
        </div>
   
    <!--Fin titulo-->


    <!--Colecciones -->
    <div class="container w-xl ">
                      <div class="lista-colecciones col-12  mb-2 mt-5 ">
                         <ul class="row no-gutters" >
                         {%if colecciones is defined and colecciones != ""%}
                            {%for coleccion in colecciones%}
                             <li class="col-12 col-md-8 col-lg-4 mb-5 px-md-3">
                                 <div class="row no-gutters">
                                 <div class="col-12">
                                    <a href="{{ genericDomain }}coleccion?id={{coleccion.id}}">
                                        <div class="flotante circulo-fav cursor p-2 sombra ">
                                            <img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="{{coleccion.titulo}}">
                                        </div>
                                    
                                    <div class="img-colecciones">
                                        <img loading="lazy" src="{{genericDomain}}{{coleccion.imagen_portada}}" />
            
                                    </div>
                                    </a>
                                  </div> 
                                  <div class="col-12">
                                  <p class="article-tit fw-medium-d cf-negro my-3">
                                    {{coleccion.titulo}}
                                  </p>
                                  </div>
                                </div>
                             </li>
                             {%endfor%}
                        {%endif%}
                         </ul>
                       </div>
    </div>


    <!-- Colecciones -->
    <!-- Icon Texto -->
    <div class="container w-xl ">
        <div class="row ">
            <div class="col-12 col-md-10 centrar mb-5 mt-2  ">
                <div class="row no-gutters  p-4">
                    <div class="col-12 col-md-3  mt-2 mb-4 pr-md-4 ">
                        <img loading="lazy" src="{{genericDomain}}front/images/icons/logo-amapolann-completo-negro.svg" class="width-responsive" />
                    </div>
                    <div class="col-12 col-md-9  mt-4 mb-4 pl-md-4">
                        <p class="cf-negro txt  text-left ">
                            {%if descrip_coleccion is defined and descrip_coleccion != ""%}
                                {{descrip_coleccion}}
                            {%else%}
                                Lorem ipsum dolor sit amet,Lorem <span class="fw-bold-t">ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor</span> incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur.
                            {%endif%}
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-12  mb-5  ">
                <a href="{{ genericDomain }}listado"><span class="boton xl left centrar"> VER TODAS LAS COLECCIONES</span></a>
            </div>

        </div>
    </div>
    <!--Fin  Icon Texto -->
 </div>
<!-- Fin nuevo Colecciones -->


    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  tabletyweb">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12  mb-5 mt-5   ">

                    <p class="ta-center fw-regular-d cf-blanco article-tit ">
                        Griferias con
                        <span class=" fw-bold-d "> Estilo</span>

                    </p>

                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->

    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->


<div class="modal fade" id="msgCaptcha" tabindex="-1" role="dialog" aria-labelledby="msgConfirmacion"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="icon-close-modal"><img src="{{genericDomain}}images/icons/iconcerrar.svg" class="width-responsive"
                    data-dismiss="modal"></div>
            <div class="col-12 fw-bold-d cf-negro my-4 ">
                <span class=" sub-tit"> Verificación.</span> <br>
                <span class="txt fw-regular-d cf-celeste">No validaste el captcha.</span>

            </div>
        </div>
    </div>
</div>        



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- efectos personales -->
    <script src="{{genericDomain}}front/js/scripts.js"></script>


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


 
<script type="text/javascript">
    $(document).ready(function(){  
        {%if enviado is defined and enviado==1%}
                $('#msgConfi').modal('show');
        {%endif%}
        });
</script>



<script>
        $("a.despliega_compartir").on("click", function(e){
            e.preventDefault();
            $(this).next("ul").toggle();
        }) 
    </script>

</body>


</html>

<!-- mensaje de validacion de captcha -->
<div class="modal fade" id="msgConfi" tabindex="-1" role="dialog" aria-labelledby="msgConfirmacion"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="icon-close-modal"><img loading="lazy" src="{{genericDomain}}images/icons/iconcerrar.svg" class="width-responsive"
                    data-dismiss="modal"></div>
            <div class="col-12 fw-bold-d cf-negro my-4 ">
                <span class=" sub-tit" > Enviado correctamente.</span> <br><br>
                <span class="txt fw-regular-d cf-celeste">Un representante de Amapolann se contactará con usted a la brevedad. Muchas gracias.</span>

            </div>
        </div>
    </div>
</div>
