<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>


    <!-- Google Tag Manager --> <!-- Junio 2023 -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7SPDXG');</script>
    <!-- End Google Tag Manager -->



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MM8M5WF4L2');
    </script>


    <!-- Global site tag (gtag.js) - Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-353745492"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-353745492');
    </script>


    <meta charset="utf-8">

    <title>Grifería argentina</title>

    <meta name="description" content="Puede encontrar grifería Amapolann dentro de las mejores marcas de grifería argentina en los siguientes casas de grifería y decoración">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    {# <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet"> #}



    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />

<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->
   
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>





</head>

<body>


    <!-- Google Tag Manager (noscript) -->  <!-- Junio 2023 -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7SPDXG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->  


<div class="bg-section section-terminaciones ">

<!-- Header-->
{% include "AmapolannUserBundle:Account:header_front.html.twig"%}
<!--Fin Header-->


<!-- Terminaciones-->
<div class="container w-xl  d-flex align-self-center ">
    <div class="row  mt-md-2">
        <div class=" col-6  mt-5 mb-5 ">
            <span class="tit fw-medium-d cf-blanco"> Distribuidores </span>
        </div>
        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">

                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4 "></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>


        {# <div class="btn-whatsapp llamar">
            <a href="tel:+54 9 11 77172020">
                <div class="no-gutters">
                    
                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-llamar-flotante pr-4 "></div>
                        0810 444-8080
                    </span>
                </div>
            </a> 
        </div> #}


    </div>
</div>
<!--Fin  terminaciones -->
</div>

<!-- Titulo -->
{%if distribuidores is defined and distribuidores !=""%}
<div class="bg bg-negro">
    <div class="container   w-xl">
    <div class="row">
             <div class="separacion_arreglo_jorge d-block d-sm-none"></div>

        <div class=" col-12 centrar mt-5 mb-5 linea-amarilla-miscelanea ">
        <span class=" sub-tit fw-medium-d cf-blanco ta-center "> Puedes encontrar la grifería AMAPOLANN en:
        </span>
        </div>
    </div>
    </div>
</div>
{%endif%}
<!-- Terminaciones Piedras-->







<div class="bg bg-negro pb-5">

    <div class="container w-xl">
        <div class="col-12  mb-2 mt-5 ">

        {%if distribuidores is defined and distribuidores !=""%}


            <div class="container txt-distribuidores">

                <div class="row mb-4 mt-5 pt-5 no-gutters">
                
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <span class="fw-regular-n cf-amarillo up-percase titulos_header_ditribuidores">Provincia</span>
                    </div>
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <span class="fw-regular-n cf-amarillo up-percase titulos_header_ditribuidores">Localidad</span>
                    </div>
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <span class="fw-regular-n cf-amarillo up-percase titulos_header_ditribuidores">Distribuidor</span>
                    </div>
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <span class="fw-regular-n cf-amarillo up-percase titulos_header_ditribuidores">Teléfono</span>
                    </div>
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <span class="fw-regular-n cf-amarillo up-percase titulos_header_ditribuidores">Dirección</span>
                    </div>
                    <div class="col-12 col-md-2 d-none d-md-block">
                        <span class="fw-regular-n cf-amarillo up-percase titulos_header_ditribuidores"></span>
                    </div>
                
                </div>




                {%for distribuidores in distribuidores%}
                

                <div class="row no-gutters pb-5-mobile">
                
                    <div class="col-12 col-md-2 w-light-n d-flex align-items-center py-3 py-md-0 cf-blanco order-1" style="border-bottom:1px solid rgba(255,255,255,.3)">
                        <p class="d-block d-md-none"><span class="fw-regular-n cf-amarillo up-percase">PROVINCIA:&nbsp;</span></p>
                        {{distribuidores.provincia}}
                    </div>

                    <div class="col-12 col-md-2 w-light-n d-flex align-items-center py-3 py-md-0 cf-blanco order-2" style="border-bottom:1px solid rgba(255,255,255,.3)">
                        <p class="d-block d-md-none"><span class="fw-regular-n cf-amarillo up-percase">LOCALIDAD:&nbsp;</span></p>
                        {{distribuidores.localidad}}
                    </div>
                    <div class="col-12 col-md-2 w-light-n d-flex align-items-center py-3 py-md-0 cf-blanco order-3" style="border-bottom:1px solid rgba(255,255,255,.3)">
                        <p class="d-block d-md-none"><span class="fw-regular-n cf-amarillo up-percase">DISTRIBUIDOR:&nbsp;</span></p>
                        {{distribuidores.nombre}}
                    </div>
                    <div class="col-12 col-md-2 w-light-n d-flex align-items-center py-3 py-md-0 cf-blanco order-4" style="border-bottom:1px solid rgba(255,255,255,.3)">
                        <p class="d-block d-md-none"><span class="fw-regular-n cf-amarillo up-percase">TELEFONO:&nbsp;</span></p>
                        {{distribuidores.tel1}} {% if distribuidores.tel2|trim is not empty %} /&nbsp; {{distribuidores.tel2}} {% endif %}
                    </div>
                    <div class="col-12 col-md-2 w-light-n d-flex align-items-center py-3 py-md-0 cf-blanco order-5  mb-5 mb-md-0" style="border-bottom:1px solid rgba(255,255,255,.3)">
                        <p class="d-block d-md-none"><span class="fw-regular-n cf-amarillo up-percase">DIRECCIÓN:&nbsp;</span></p>
                        {# <a href="https://www.google.com/maps/search/?api=1&query={{distribuidores.direccion}}&zoom=20" target="_blank" class="ver_mapa_distribuidor">{{distribuidores.direccion}}</a> #}
                        <a href="{{distribuidores.urlubicacion}}" target="_blank" class="ver_mapa_distribuidor">{{distribuidores.direccion}}</a>
                    </div>
                    
                    <div class="col-12 col-md-1 w-light-n d-flex align-items-center pt-3 pb-3 order-0 cf-blanco order-md-6" style="border-bottom:1px solid rgba(255,255,255,.3)" data-toggle="modal" data-target="#mCadaDistribuidor_{{distribuidores.id}}">
                        <a href="#" class="img_reducida"><img loading="lazy" src="{{ genericDomain }}{{distribuidores.imagen}}" class="img-fluid" /></a>
                    </div>
                
                </div>
                {%endfor%}












                <!-- Modal CADA DISTRIBUIDOR -->
                {%for distribuidores in distribuidores%}
                
                    <div class="modal fade " id="mCadaDistribuidor_{{distribuidores.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="mCadaDistribuidor_{{distribuidores.id}}" aria-hidden="true ">
                         
                        <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
                            
                            <div class="modal-content galeria-modal">
                           
                                <div class="row">
                                    <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg"
                                            class="width-responsive" data-dismiss="modal">
                                    </div>
                                </div>
                                <div class="row no-gutters pb-5-mobile">
                                
                                    <div class="col-12 centrar">
                                        
                                        <div class="row">
                                            <div class="col-12 col-md-8">
                                                <img loading="lazy" src="{{ genericDomain }}{{distribuidores.imagen}}" class="img-fluid" />
                                            </div>
                                            <div class="col-12 col-md-4 d-flex align-items-start mt-2 mt-md-n3">

                                                <div class="row no-gutters pb-5-mobile">


                                                    <div class="col-12 w-light-n d-flex align-items-center py-3 cf-blanco" style="border-bottom:1px solid rgba(255,255,255,.3)">
                                                        <p><span class="sub-tit fw-medium-d cf-blanco"> {{distribuidores.nombre}}</span></p>
                                                    </div>

                                                    <div class="col-12 w-light-n d-flex align-items-center py-3 cf-blanco" style="border-bottom:1px solid rgba(255,255,255,.3)">
                                                        <p><span class="fw-regular-n cf-amarillo up-percase">PROVINCIA:&nbsp;</span></p> 
                                                        {{distribuidores.provincia}}
                                                    </div>

                                                    <div class="col-12 w-light-n d-flex align-items-center py-3 cf-blanco" style="border-bottom:1px solid rgba(255,255,255,.3)">
                                                        <p><span class="fw-regular-n cf-amarillo up-percase">LOCALIDAD:&nbsp;</span></p>
                                                        {{distribuidores.localidad}}
                                                    </div>
                                                    <!-- <div class="col-12 w-light-n d-flex align-items-center py-3 cf-blanco" style="border-bottom:1px solid rgba(255,255,255,.3)">
                                                        <p><span class="fw-regular-n cf-amarillo up-percase">DISTRIBUIDOR: </span></p>
                                                        {{distribuidores.nombre}}
                                                    </div> -->
                                                    <div class="col-12 w-light-n d-flex align-items-center py-3 cf-blanco" style="border-bottom:1px solid rgba(255,255,255,.3)">
                                                        <p><span class="fw-regular-n cf-amarillo up-percase">TELEFONO:&nbsp;</span></p>
                                                        {{distribuidores.tel1}} {% if distribuidores.tel2|trim is not empty %} /&nbsp; {{distribuidores.tel2}} {% endif %}
                                                    </div>
                                                    <div class="col-12 w-light-n d-flex align-items-center py-3 cf-blanco mb-5 mb-md-0" style="border-bottom:1px solid rgba(255,255,255,.3)">
                                                        <p><span class="fw-regular-n cf-amarillo up-percase">DIRECCIÓN:&nbsp;</span></p>
                                                         {# <a href="https://www.google.com/maps/search/?api=1&query={{distribuidores.direccion}}&zoom=20" target="_blank" class="ver_mapa_distribuidor">{{distribuidores.direccion}}</a> #}
                                                         <a href="{{distribuidores.urlubicacion}}" target="_blank" class="ver_mapa_distribuidor">{{distribuidores.direccion}}</a>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                             
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                   
                    <!-- Fin Modal CADA DISTRIBUIDOR -->
















            <!-- alfon -->
            <!-- 
                <div class="row">
                    <div class="col"> LOCALIDAD</div>
                    <div class="col"> DISTRIBUIDOR</div>
                    <div class="col"> DIRECCION</div>
                    <div class="col"> TELEFONO</div>
                </div>


                <br>
                {%for distribuidores in distribuidores%}
                <div class="row">
                    <div class="col">
                        <span class="fw-medium-n text-center">{{distribuidores.provincia}}</span>
                    </div>
                    <div class="col">
                        <span class=" fw-medium-n text-center">{{distribuidores.localidad}}</span>
                    </div>
                    <div class="col">
                        <span class=" fw-medium-n text-center">{{distribuidores.nombre}}</span>
                    </div>
                    <div class="col">
                        <span class="fw-medium-n text-center">{{distribuidores.direccion}}</span>
                    </div>
                    <div class="col">
                        <span class=" fw-medium-n text-center">{{distribuidores.tel1}}  {{distribuidores.tel1}}</span>
                    </div>
                    <div class="col">
                        <img loading="lazy" src="{{ genericDomain }}{{distribuidores.imagen}}"class="width-responsive fw-medium-n text-center" />
                    </div>
                    
                    <div class="col">  
               
                        
                        <!--
                            <div class="">
                                <div class="">
                                <div class=" ">
                                </div>
                                <div class="">
                                <div class="map-responsive">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKtXiF8kf_xPrWrJmrUgYnXrzKFDaf52c&q="{{distribuidores.direccion}}"+"{{distribuidores.provincia}}",Argentina" width="135px" height="80px"
                                        style="border:none;">
                                    </iframe>
                                </div>
                                </div>
                                </div>
                            </div>
                        Fin maps 
                        </div>
                        -->
                <!--

                    </div>
                </div> 
                {%endfor%}
                -->


            {%endif%} 
            </div>




        </div>

    </div>

</div>


































<!--Fin  terminaciones piedras-->
    
<!-- Banner Redes -->
<div class="bg bg-blanco sub-tit-section  mobile">
<div class="container w-xl mt-0">
<div class="row  ">
    <div class="col-12 mt-4 mb-4">
        <div class="row">
            <div class="col-4 my-auto">
                <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
            </div>
            <div class="col-8 ">
                <div class="redes banner">
                    <ul class="d-flex justify-content-between">
                        <li>
                            <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                <div class="icon icon-lista ig-color"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                <div class="icon icon-lista fb-color"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                <div class="icon icon-lista pint-color"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!--Fin  banner redes -->

<!-- Banner -->
<!-- Sub Titulo-->
<div class="bg bg-banner sub-tit-section  tabletyweb">
<div class="container w-xl ">
<div class="row  ">
<div class="col-12  mb-5 mt-5">
<p class="ta-center fw-regular-d cf-blanco article-tit ">
    Griferias con <span class=" fw-bold-d "> Estilo</span>
</p>    
</div>
</div>
</div>
</div>
<!--Fin Sub Titulo-->
<!--Fin  banner -->


<!--Footer-->
{% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
<!--Fin footer-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>
</body>
</html>