<!DOCTYPE HTML>
<html lang="es" dir="ltr">
<head>
<meta charset="utf-8">

<title>Amapolann - Griferías con estilo</title>

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="all" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="theme-color" content="#000000">

<meta name="og:title" content="Amapolann"/>
<meta name="og:type" content="website"/>
<meta name="og:site_name" content="Amapolann-Griferías con estilo"/>

<meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q77NFJZ2L5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-Q77NFJZ2L5');
    </script>


<link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Propios -->
<link rel="stylesheet" href="{{genericDomain}}front/css/header.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}"  type="text/css" />


<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

          <script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>

</head>

<body>




<div class="bg-section section-empresa">

    <!-- Header-->
    {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
    <!--Fin Header-->

    <div class="container w-xl  ">
     <div class="row  ">
        <div class=" col-12 mt-5 mb-5">
            <div class="icon icon-logo section centrar "><img loading="lazy" src="{{genericDomain}}front/images/icons/logo-amapolann-completo-blanco.png" class="width-responsive"/></div>
        </div>


        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">

                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4 "></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>


        {# <div class="btn-whatsapp llamar">
            <a href="tel:+54 9 11 77172020">
                <div class="no-gutters">
                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-llamar-flotante pr-4 "></div>
                        0810 444-8080
                    </span>
                </div>
            </a> 
        </div> #}


     </div>
    </div>

</div>

<!-- Banner -->
<!--Fin  banner -->

<!-- Banner Redes -->
<div class="bg bg-blanco sub-tit-section  mobile  pt-5">
    <div class="container w-xl ">

        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <div class="row">
                    <div class="col-4 my-auto">
                        <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                    </div>
                    <div class="col-8">
                        <div class="redes banner">
                                <ul class="d-flex justify-content-between">
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin  banner redes -->



<!-- Nosotros-->
<div class="bg bg-section section-empresa-1 overflow-h">
    <div class="container w-xl ">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 mb-5
              mt-5 bg-blanco p-5 ">

                <p class="sub-tit fw-medium-d  cf-negro mb-5">
                    Nosotros
                </p>
                <p class="cf-gris txt  text-left ">
                    {%if descrip_empresa is defined and descrip_empresa != ""%}
                        {{descrip_empresa}}
                    {%else%}
                        <span class="fw-bold-t">Lorem ipsum dolor sit amet</span> , consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    {%endif%}
                               
                </p>
                <a href="{{genericDomain}}contacto"><span class="boton left mb-5 mt-5"> CONTACTO</span></a>
            </div>
            <div class="col-12 col-md-6   d-flex align-items-end  mt-5 ">

                <p class="txt-miscelanea fw-medium-d  cf-blanco  centrar p-0 ">
                    CALIDAD
                </p>
           
            </div>
        </div>
    </div>
</div>
<!--Fin nosotros-->
<!-- Banner -->
<div class="bg mb-3 mt-3">
    <div class=" parallax d-flex align-items-center">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12 ">
                    <div class="icon icon-canilla centrar "></div>
                    <p class="ta-center fw-regular-d cf-blanco article-tit  mt-5"> 
                        <span class=" fw-medium-d "> Terminaciones Premium</span>  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin  banner -->
<!-- Productos-->
<div class="bg bg-section section-empresa-2 overflow-h mb-5">
    <div class="container w-xl ">
        <div class="row no-gutters d-flex  ">

            <div class="col-12 col-md-6   align-self-end mt-5 order-md-1 order-2">

                <p class="txt-miscelanea-2 fw-medium-d  cf-blanco  centrar p-0 ">
                    CONFIANZA
                </p>
           
            </div>
            <div class="col-12 col-md-6  mb-8 mt-5 bg-blanco p-5 order-1 order-md-2">
                <a href="{{genericDomain}}listado">
                    <div class="flotante circulo-fav cursor p-2 sombra ">
                    <img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="1900">
                  </div>
                </a>
                <p class="sub-tit fw-medium-d  cf-negro mb-5">
                    Nuestros Productos
                </p>
                <p class="cf-gris txt  text-left linea-amarilla-miscelanea cuadro-section mb-5">
                    {%if descrip_producto is defined and descrip_producto != ""%}
                        {{descrip_producto}}
                    {%else%}
                        <span class="fw-bold-t">Lorem ipsum dolor sit amet</span> , consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    {%endif%}
                </p>
                
            </div>
        </div>
    </div>
</div>
<!--Fin productos-->
<!--Nuevo colecciones-->
   <!-- Titulo -->
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                    <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Colecciones </span>
                </div>
            </div>
        </div>
   
    <!--Fin titulo-->


    <!--Colecciones -->
    <div class="container w-xl ">
        <div class="lista-colecciones col-12  mb-2 mt-5 ">
            <ul class="row no-gutters" >
            {%if colecciones is defined and colecciones != ""%}
            {%for coleccion in colecciones%}
                <li class="col-12 col-md-8 col-lg-4 mb-5 px-md-3">
                    <div class="row no-gutters">
                    <div class="col-12">
                    <a href="{{ genericDomain }}coleccion?id={{coleccion.id}}">
                        <div class="flotante circulo-fav cursor p-2 sombra ">
                            <img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="{{coleccion.titulo}}">
                        </div>
                    
                    <div class="img-colecciones">
                        <img loading="lazy" src="{{genericDomain}}{{coleccion.imagen_portada}}" />

                    </div>
                    </a>
                    </div> 
                    <div class="col-12">
                    <p class="article-tit fw-medium-d cf-negro my-3">
                    {{coleccion.titulo}}
                    </p>
                    </div>
                </div>
                </li>
                {%endfor%}
        {%endif%}
            </ul>
        </div>
    </div>


    <!-- Colecciones -->
    <!-- Icon Texto -->
    <div class="container w-xl ">
        <div class="row ">
            <div class="col-12 col-md-10 centrar mb-5 mt-2  ">
                <div class="row no-gutters  p-4">
                    <div class="col-12 col-md-3  mt-2 mb-4 pr-md-4 ">
                        <img loading="lazy" src="{{genericDomain}}front/images/icons/logo-amapolann-completo-negro.png" class="width-responsive" />
                    </div>
                    <div class="col-12 col-md-9  mt-4 mb-4 pl-md-4">
                        <p class="cf-negro txt  text-left ">
                            {%if descrip_coleccion is defined and descrip_coleccion != ""%}
                                {{descrip_coleccion}}
                            {%else%}
                                Lorem ipsum dolor sit amet,Lorem <span class="fw-bold-t">ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor</span> incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur.
                            {%endif%}
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-12  mb-5  ">
                <a href="{{ genericDomain }}listado"><span class="boton xl left centrar"> VER TODAS LAS COLECCIONES</span></a>
            </div>

        </div>
    </div>
    <!--Fin  Icon Texto -->
 
<!-- Fin nuevo Colecciones -->


<!-- Banner -->
<!-- Sub Titulo-->
<div class="bg bg-banner sub-tit-section  tabletyweb">
    <div class="container w-xl ">
        <div class="row  ">
            <div class="col-12  mb-5 mt-5">
                <p class="ta-center fw-regular-d cf-blanco article-tit "> 
                     Griferias con 
                    <span class=" fw-bold-d "> Estilo</span>  
                </p>
            </div>
        </div>
    </div>
</div>
<!--Fin Sub Titulo-->
<!--Fin  banner -->

<!--Footer-->
{% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
<!--Fin footer-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

 
<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>


</body>


</html>