<!DOCTYPE HTML>
<html lang="es" dir="ltr">
<head>


    <!-- Google Tag Manager --> <!-- Junio 2023 -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7SPDXG');</script>
    <!-- End Google Tag Manager -->



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MM8M5WF4L2');
    </script>


    <!-- Global site tag (gtag.js) - Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-353745492"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-353745492');
    </script>



<meta charset="utf-8">

<title>Amapolann - Griferías con estilo</title>

<meta name="description" content="Descubre el mundo Amapolann. Grifería moderna y vintage para baños y cocinas que le dará un toque elegante y sofisticado a tus ambientes.">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="all" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="theme-color" content="#000000">

<meta name="og:title" content="Amapolann"/>
<meta name="og:type" content="website"/>
<meta name="og:site_name" content="Amapolann-Griferías con estilo"/>

<meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />











<link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Propios -->
<link rel="stylesheet" href="{{genericDomain}}front/css/header.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}"  type="text/css" />


<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

          <script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>

</head>

<body>



    <!-- Google Tag Manager (noscript) -->  <!-- Junio 2023 -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7SPDXG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->  




<div class="bg-section section-empresa">

    <!-- Header-->
    {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
    <!--Fin Header-->

    <div class="container w-xl  ">
     <div class="row  ">
        <div class=" col-12 mt-5 mb-5 pb-5 pt-5">
            <div class="icon icon-logo section centrar "><img loading="lazy" src="{{genericDomain}}front/images/icons/logo-amapolann-completo-blanco.png" class="width-responsive"/></div>
        </div>


        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">
                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4"></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>


        {# <div class="btn-whatsapp llamar">
            <a href="tel:+54 9 11 77172020">
                <div class="no-gutters">
                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-llamar-flotante pr-4 "></div>
                        0810 444-8080
                    </span>
                </div>
            </a> 
        </div> #}


     </div>
    </div>

</div>

<!-- Banner -->
<!--Fin  banner -->

<!-- Banner Redes -->
<div class="bg bg-blanco sub-tit-section  mobile  pt-5">
    <div class="container w-xl ">

        <div class="row">
            <div class="col-12 mt-4 mb-2">
                <div class="row">
                    <div class="col-4 my-auto">
                        <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                    </div>
                    <div class="col-8">
                        <div class="redes banner">
                                <ul class="d-flex justify-content-between">
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin  banner redes -->



<!-- Nosotros-->
<div class="">
{# <div class="bg bg-section section-empresa-1 overflow-h"> #}

    <div class="container col-lg-10">
        <div class="row no-gutters">


            <div class="col-12 col-md-6 mb-0 mb-lg-5 mt-5 bg-blanco p-5">

                <p class="sub-tit fw-medium-d  cf-negro mb-5">Nosotros</p>
                <p class="cf-gris txt_nosotros_empresa text-left">
                    {%if descrip_empresa is defined and descrip_empresa != ""%}
                        {{descrip_empresa|nl2br}}
                    {%else%}
                        <span class="fw-bold-t">Lorem ipsum dolor sit amet</span> , consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    {%endif%}           
                </p>
                <a href="{{genericDomain}}contactpage"><span class="boton sobre_blanco left mb-5 mt-5 d-none d-md-block"> CONTACTO</span></a>
                <a href="tel:+5491177172020"><span class="boton left mb-5 mt-5 d-block d-md-none"> LLAMAR</span></a>
            </div>

            <div class="col-12 col-md-6 mt-0 mt-lg-5 pb-5 pl-0">

                <div id="carouselExampleCaptions" class="carousel slide degradado-img" data-ride="carousel">
                    <ol class="carousel-indicators">
                    {% for item in carrousel %}
                        {% if loop.index -1 == 0 %}
                            <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index -1 }}" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleCaptions" data-slide-to="{{ loop.index -1 }}"></li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                    
                    <div class="carousel-inner">
                        {% for item in carrousel %}
                            {% if loop.index -1 == 0 %}
                                <div class="carousel-item active">
                                    <img src="{{ item.imagen }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block mb-5 caption-empresa">
                                        <h5 class="cf-blanco article-txt legal  fw-bold-t   up-percase text-center">{{ item.titulo }}</h5>
                                        <p>{{ item.subtitulo }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <img src="{{ item.imagen }}" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block mb-5">
                                        <h5>{{ item.titulo }}</h5>
                                        <p>{{ item.subtitulo }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    <!-- <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="front/images/griferia-cocina-home-chica.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block mb-5 caption-empresa">
                            <h5 class="cf-blanco article-txt legal  fw-bold-t   up-percase text-center">First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                     </div>

                    <div class="carousel-item">
                        <img src="front/images/griferia-cocina-home-chica2.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block mb-5 caption-empresa">
                            <h5 class="cf-blanco article-txt legal  fw-bold-t   up-percase text-center">Third slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                        </div>
                        <div class="carousel-item">
                            <img src="front/images/griferia-cocina-home-chica3.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block mb-5 caption-empresa">
                            <h5 class="cf-blanco article-txt legal  fw-bold-t   up-percase text-center">Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                        </div>
                    </div> -->
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                {# <p class="txt-miscelanea fw-medium-d  cf-blanco  centrar p-0 ">
                    CALIDAD
                </p> #}
            </div>
        </div>
    </div>
</div>




<!--Fin nosotros-->
<!-- Banner -->
<div class="bg mb-3 mt-3">
    <div class=" parallax d-flex align-items-center">
        
        <div class="container w-xl h-xl border-0">
                        <div class="modal-dialog container-banner-empresa" role="document">
                            <div class="d-flex justify-content-center">
                                <span class="txt-sub-tit-empresa cf-amarillo fw-regular-t pl-2">{{ griferias_premium[0].subtitulo }}</span>
                            </div>
                            <div class="modal-content bg-transparent border-0">
                                    <div class="modal-empresa d-flex justify-content-center border-0">
                                        <h5 class="tit-empresa fw-medium-d text-light linea-bajo-titulo">{{ griferias_premium[0].titulo_editable }}</h5>
                                    </div>
                            <div class="d-flex justify-content-center txt txt-modal-empresa">
                                    <p class="text-center text-light mt-3">{{ griferias_premium[0].texto|nl2br }}</p>
                            </div>
                                <div class="d-flex justify-content-center mt-3">
                                    <a href="{{ griferias_premium[0].link }}"><button type="button" class="boton">{{ griferias_premium[0].boton }}</button></a>
                                </div>
                            </div>
                        </div>



            {# <div class="row  ">
                <div class="col-12 "> #}

                    
                    {# <div class="icon icon-canilla centrar "></div>
                    <p class="ta-center fw-regular-d cf-blanco article-tit  mt-5"> 
                        <span class=" fw-medium-d "> Terminaciones Premium</span>  
                    </p> #}
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin  banner -->
<!-- Productos-->


<!-- 
<div class="bg bg-section section-empresa-2 overflow-h mb-5">
    <div class="container w-xl ">
        <div class="row no-gutters d-flex  ">

            <div class="col-12 col-md-6   align-self-end mt-5 order-md-1 order-2">

                <p class="txt-miscelanea-2 fw-medium-d  cf-blanco  centrar p-0 ">
                    CONFIANZA
                </p>
           
            </div>
            <div class="col-12 col-md-6  mb-8 mt-5 bg-blanco p-5 order-1 order-md-2">
                <a href="{{genericDomain}}listado">
                    <div class="flotante circulo-fav cursor p-2 sombra ">
                    <img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="1900">
                  </div>
                </a>
                <p class="sub-tit fw-medium-d  cf-negro mb-5">
                    Nuestros Productos
                </p>
                <p class="cf-gris txt  text-left linea-amarilla-miscelanea cuadro-section mb-5">
                    {%if descrip_producto is defined and descrip_producto != ""%}
                        {{descrip_producto}}
                    {%else%}
                        <span class="fw-bold-t">Lorem ipsum dolor sit amet</span> , consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    {%endif%}
                </p>
                
            </div>
        </div>
    </div>
</div>
 -->

<!--Fin productos-->
<!--Nuevo colecciones-->
   <!-- Titulo -->
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                    <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Galería </span>
                </div>
            </div>
        </div>
   
    <!--Fin titulo-->




    {%if galeria_productos is defined and galeria_productos|length > 0%}
    <!--Galeria -->
    <div class="container w-full full-mobile  ">
        <div class="lista-colecciones col-12  mb-2 mt-5 ">
            <ul class="row no-gutters" >
                {%for producto in galeria_productos%}
                
                
                <li class="col-4 col-md-3 mb-md-4 mb-2 px-md-3 px-1 altura-automatica-galeria"
                data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                    <div class="row no-gutters">
                    <div class="col-12">
                    
                    <div class="img-colecciones btn-hover cursor" data-toggle="modal"
                        data-target="#mCarouselGaleria">

                        <img loading="lazy" class="with-responsive" src="{{genericDomain}}{{producto.imagen_portada}}">

                        
                        
                        <div class="img-texto">
                            <p class="article-txt up-percase fw-bold-d cf-blanco ta-center">
                                
                            </p>
                        </div>

                    </div>
                    </div> 
                    <div class="col-12">
                    
                    <p class="txt fw-regular-t cf-negro my-3 d-none d-sm-block">
                        <a href="{{genericDomain}}coleccion?id={{producto.id_categoria}}"> {{producto.coleccion}} | {{producto.titulo}} <br><span class="fw-medium-n  ">{{producto.codigo}}</span></a>
                    </p>
                    
                    </div>
                </div>
                </li>
                {%endfor%}
                
            </ul>
        </div>
    </div>
    {%endif%}


    



{%if galeria_productos is defined and galeria_productos|length > 0%}
    
  <!-- Modal Slider galeria-->

    <div class="modal fade" id="mCarouselGaleria" tabindex="-1" role="dialog"
        aria-labelledby="mCarouselGaleria" aria-hidden="true ">
        <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
            <div class="modal-content galeria-modal">
                <div class="row">
                    <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg" class="width-responsive" data-dismiss="modal"></div>
                </div>
                <div class="row no-gutters">

                    <div class="col-12 centrar">

                        <!-- Modal Slider HTML-->
                        <div class="colecciones-galeria-modal ">
                            <div id="slider-galeria-modal" class="slider-galeria-modal carousel slide" data-ride="carousel" data-interval="false">

                                
                                
                                <ol class="carousel-indicators">
                                    {%for foto in galeria_productos%}

                                    <li data-target="#slider-galeria-modal" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %} class="active"{%endif%}>

                                        <img loading="lazy" class="d-md-block w-100 img-fluid" src="{{genericDomain}}{{foto.imagen_portada}}"  alt="{{foto.titulo}}">
                                    
                                    </li>
                                    {%endfor%}
                                </ol> 
                                
                                <div class="carousel-inner">
                                    {%for foto in galeria_productos%}
                                    <div class="flex-column align-items-center carousel-item {% if loop.index == 1 %} active {% endif %}">
                                        
                                        <div class="col-12 centrar mb-5">
                                            <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-around"> 

                                                <span>
                                                colección: <span class="fw-bold-n"> 
                                                    {{foto.coleccion}} </span>
                                                
                                                </span>

                                                <span class="fw-bold-n cf-amarillo">{{foto.titulo}}</span>


                                                <span>Código:
                                                    <span class="fw-bold-n"> 
                                                        {{foto.codigo}} - {{foto.codigo_coleccion}} - XXYY   
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
                                        
                                        <img loading="lazy" class="with-responsive img_ppal_carousel d-flex align-items-center" src="{{genericDomain}}{{foto.imagen_portada}}" alt="Slide Galeria">


                                        <ul class="botones_acciones_img_carousel_galeria">
                                            <li><a href="contactpage"><img src="front/images/icons/icon-mail-amarillo.svg" class="iconos_botones_acciones"/> Contactános</a></li>
                                            <li><a href="tel:+54 9 11 77172020"><img src="front/images/icons/icon-tel_amarillo.svg" class="iconos_botones_acciones"/> Llamar</a></li>
                                            <li>
                                                <a href="#" class="despliega_compartir"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"/> Compartir</a>
                                                <ul class="botones_compartir">                                               
                                                    <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20{{genericDomain}}producto?id={{foto.id}}" class="whatsapp" target="_blank">whatsapp</a></li>
                                                    {# <li><a href="" class="fb-share-button" data-href="https://www.amapolann.com/producto?id=15644" data-layout="button_count">Facebook</a></li> #}
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u={{genericDomain}}producto?id={{foto.id}}&t=NorfiPC" target="_blank" class="facebook ">Facebook</a>
                                                    </li>
                                                    <li><a href="mailto:?subject=Recomendación de Amapolan!&amp;body=Mirá este producto ingresando en {{genericDomain}}producto?id={{foto.id}}" class="mail" target="_blank">Mail</a></li>
                                                </ul>
                                            </li>
                                            {# <li><a href="#">Agregar al listado</a></li> #}
                                            
                                            <li><a href="#" id="agregar-favoritos" data-cole="{{foto.coleccion}}" data-nombre="{{foto.titulo}}" data-idProd="{{foto.id}}" data-codigo="{{foto.codigo}} - {{foto.codigo_coleccion}} - XXYY" data-imagenProd="{{genericDomain}}{{foto.imagen_portada}}" data-urlProd="{{genericDomain}}producto?id={{foto.id}}" class="bt_agregar_favoritos"><img src="front/images/icons/icon-fav-amarillo.svg" class="iconos_botones_acciones"/> Agregar a favoritos</a></li>
                                        </ul>      


                                    </div>    
                                    {%endfor%}
                                </div>
                                
                                <a class="carousel-control-prev" href="#slider-galeria-modal"
                                    role="button" data-slide="prev"  aria-hidden="true">
                                    <span class="carousel-control-prev-icon" ></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#slider-galeria-modal"
                                    role="button" data-slide="next" >
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <!--Fin  Modal Slider HTML-->


                    </div>



                </div>
            </div>
        </div>
    </div>

 <!-- Fin modal slider galeria-->
 {%endif%}










    <!--Colecciones -->
    <!-- <div class="container w-xl ">
        <div class="lista-colecciones col-12  mb-2 mt-5 ">
            <ul class="row no-gutters" >
            {%if colecciones is defined and colecciones != ""%}
            {%for coleccion in colecciones%}
                <li class="col-12 col-md-8 col-lg-4 mb-5 px-md-3">
                    <div class="row no-gutters">
                    <div class="col-12">
                    <a href="{{ genericDomain }}coleccion?id={{coleccion.id}}">
                        <div class="flotante circulo-fav cursor p-2 sombra">
                            <img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="{{coleccion.titulo}}">
                        </div>
                    
                    <div class="img-colecciones">
                        <img loading="lazy" src="{{genericDomain}}{{coleccion.imagen_portada}}" />

                    </div>
                    </a>
                    </div> 
                    <div class="col-12">
                    <p class="article-tit fw-medium-d cf-negro my-3">
                    {{coleccion.titulo}}
                    </p>
                    </div>
                </div>
                </li>
                {%endfor%}
        {%endif%}
            </ul>
        </div>
    </div> -->


    <div class=" col-12 mt-5 mb-5 pb-5">
        <a href="{{ genericDomain }}listado"><span class="boton sobre_blanco xl left centrar"> VER TODAS LAS COLECCIONES</span></a>
    </div>


    <!-- Colecciones -->
    <!-- Icon Texto -->
    <!-- <div class="container w-xl ">
        <div class="row ">
            <div class="col-12 col-md-10 centrar mb-5 mt-2  ">
                <div class="row no-gutters  p-4">
                    <div class="col-12 col-md-3  mt-2 mb-4 pr-md-4 ">
                        <img loading="lazy" src="{{genericDomain}}front/images/icons/logo-amapolann-completo-negro.png" class="width-responsive" />
                    </div>
                    <div class="col-12 col-md-9  mt-4 mb-4 pl-md-4">
                        <p class="cf-negro txt  text-left ">
                            {%if descrip_coleccion is defined and descrip_coleccion != ""%}
                                {{descrip_coleccion}}
                            {%else%}
                                Lorem ipsum dolor sit amet,Lorem <span class="fw-bold-t">ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor</span> incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur.
                            {%endif%}
                        </p>
                    </div>
                </div>
            </div>
            <div class=" col-12  mb-5  ">
                <a href="{{ genericDomain }}listado"><span class="boton xl left centrar"> VER TODAS LAS COLECCIONES</span></a>
            </div>

        </div>
    </div> -->
    <!--Fin  Icon Texto -->
 
<!-- Fin nuevo Colecciones -->


<!-- Banner -->
<!-- Sub Titulo-->
<div class="bg bg-banner sub-tit-section  tabletyweb">
    <div class="container w-xl ">
        <div class="row  ">
            <div class="col-12  mb-5 mt-5">
                <p class="ta-center fw-regular-d cf-blanco article-tit "> 
                     Griferias con 
                    <span class=" fw-bold-d "> Estilo</span>  
                </p>
            </div>
        </div>
    </div>
</div>
<!--Fin Sub Titulo-->
<!--Fin  banner -->

<!--Footer-->
{% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
<!--Fin footer-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

 
<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>


<script>
        function copiar_link() {
            var aux = document.createElement("input");
            //aux.setAttribute("value", window.location.href.split("?")[0].split("#")[0]);
            aux.setAttribute("value", window.location.href);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);

            var aviso = document.getElementById("aviso_url_copiada");
      
            setTimeout(function(){
                aviso.classList.add("visible");
                setTimeout(function(){
                    aviso.classList.remove("visible");
                }, 1500);
            }, 1);
        }
    </script>
    
    
    
    <script>
        $("a.despliega_compartir").on("click", function(e){
            e.preventDefault();
            $(this).next("ul").toggle();
        }) 
    </script>


</body>


</html>