<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MM8M5WF4L2');
    </script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    {# <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet"> #}



    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />



<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->
   



    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <script type="text/javascript">
        if (document.layers) {
            //Capture the MouseDown event.
            document.captureEvents(Event.MOUSEDOWN);
        
            //Disable the OnMouseDown event handler.
            document.onmousedown = function () {
                return false;
            };
        }
        else {
            //Disable the OnMouseUp event handler.
            document.onmouseup = function (e) {
                if (e != null && e.type == "mouseup") {
                    //Check the Mouse Button which is clicked.
                    if (e.which == 2 || e.which == 3) {
                        //If the Button is middle or right then disable.
                        return false;
                    }
                }
            };
        }
        
        //Disable the Context Menu event.
        document.oncontextmenu = function () {
            return false;
        };

    </script>

</head>

<body>


<div class="bg-section section-terminaciones ">

<!-- Header-->
{% include "AmapolannUserBundle:Account:header_front.html.twig"%}
<!--Fin Header-->


<!-- Terminaciones-->
<div class="container w-xl  d-flex align-self-center ">
    <div class="row  mt-md-2">
        <div class=" col-6  mt-5 mb-5 ">
            <span class="tit fw-medium-d cf-blanco"> Favoritos </span>
        </div>
        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">

                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4 "></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>


        {# <div class="btn-whatsapp llamar">
            <a href="tel:+54 9 11 77172020">
                <div class="no-gutters">
                    
                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-llamar-flotante pr-4 "></div>
                        0810 444-8080
                    </span>
                </div>
            </a> 
        </div> #}


    </div>
</div>
<!--Fin  terminaciones -->
</div>

<!-- Titulo -->
{%if distribuidores is defined and distribuidores !=""%}
<div class="bg bg-negro">
    <div class="container   w-xl">
    <div class="row">
             <div class="separacion_arreglo_jorge d-block d-sm-none"></div>

        <div class=" col-12 centrar mt-5 mb-5 linea-amarilla-miscelanea ">
        <span class=" sub-tit fw-medium-d cf-blanco ta-center "> Productos a consultar:
        </span>
        </div>
    </div>
    </div>
</div>
{%endif%}
<!-- Terminaciones Piedras-->







    <div class="bg bg-negro pb-5">

        <div class="container w-xl">
            
            

            <div id="inserto_encabezado"></div>

            <div id="inserto_data"></div>

            <div id="inserto_formulario"></div>


        <!--Formulario-->
        </div>
    </div>




                                            
</div>

</div>

</div>


<!--Fin  terminaciones piedras-->
    
<!-- Banner Redes -->
<div class="bg bg-blanco sub-tit-section mobile">
<div class="container w-xl mb-3">
<div class="row  ">
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-4 my-auto">
                <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
            </div>
            <div class="col-8 ">
                <div class="redes banner">
                    <ul class="d-flex justify-content-between">
                        <li>
                            <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                <div class="icon icon-lista ig-color"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                <div class="icon icon-lista fb-color"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                <div class="icon icon-lista pint-color"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div> 
</div>
<!--Fin  banner redes -->

<!-- Banner -->
<!-- Sub Titulo-->
<div class="bg bg-banner sub-tit-section  tabletyweb">
<div class="container w-xl ">
<div class="row  ">
<div class="col-12  mb-5 mt-5">
<p class="ta-center fw-regular-d cf-blanco article-tit ">
    Griferias con <span class=" fw-bold-d "> Estilo</span>
</p>    
</div>
</div>
</div>
</div>
<!--Fin Sub Titulo-->
<!--Fin  banner -->


<!--Footer-->
{% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
<!--Fin footer-->

<!-- jQuery first, then Popper.js, then Bootst1rap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>






<script>


const PintarDB = () => {

    var listaActividadesUI = '';
    var listaIds = '';

    arrayFav = JSON.parse(localStorage.getItem('favoritos'));
    console.log(arrayFav);


    if( arrayFav == null || arrayFav.length == 0)
    {
        //arrayFav.length == 0 ;
        //alert("cero");
        let html = ` <div class="container w-xl mt-5 pt-5 mb-5 pb-5">
                        <div class="row justify-content-center mt-5 pt-5 mb-5 pb-5">
                            <div class="col-12">
                                <p class="sub-tit productos fw-medium-d cf-blanco text-center">
                                    Aún no tenes productos agregados en favoritos. </p>
                                <p class="txt cf-amarillo fw-light-n mt-2 text-center">
                                    Seguro vas a encontrar <span class="fw-medium-n">muchos para agregar viendo nuestras colecciones!</span>
                                </p>
                            </div>
                            <div class="col-12 mt-5 pt-5">
                                <a href="{{ genericDomain }}listado"><span class="boton xl left centrar"> VER TODAS LAS COLECCIONES</span></a>
                            </div>
                        </div>
                    </div>`;

            document.getElementById("inserto_encabezado").innerHTML = "";
            document.getElementById("inserto_data").innerHTML = html;
            document.getElementById("inserto_formulario").innerHTML = "";
    }
    else
    {   

        
        //Limpio todos los DIVS porque cuando elimino un prod desdde favoritos, al final vuelvo a llamar a pintarDB() para que chequee si llegó a cero, si llegó a cero muestro el cartel que no hay favoritos
        document.getElementById("inserto_encabezado").innerHTML = "";
        document.getElementById("inserto_data").innerHTML = "";
        document.getElementById("inserto_formulario").innerHTML = "";


        for(let i  = 0; i<arrayFav.length; i++)
        {


            /* document.getElementById("p"+i).innerHTML = arrayFav[i].nombre;
                document.getElementById("verPro"+i).innerHTML += "<a href='"+arrayFav[i].url+"'>ir al producto</a>" ;
                document.getElementById("codigoP"+i).innerHTML = arrayFav[i].idProd;
                document.getElementById("usuarioP"+i).innerHTML = i+1;
                document.getElementById("coleccionP"+i).innerHTML = arrayFav[i].coleccion;
                listaIds += "Cod:" +arrayFav[i].id+" Producto: "+arrayFav[i].nombre+" Coleccion:"+arrayFav[i].coleccion+"\n";
            */

                listaIds += "Cod:" +arrayFav[i].codigo+" // Producto: "+arrayFav[i].nombre+" // Coleccion:"+arrayFav[i].coleccion+"\n";

                let html = `<div class="row no-gutters mb-2 py-4" id="fila_producto_${arrayFav[i].idProd}" style="border-bottom:1px solid rgba(255,255,255,.3);">      

                                <div class="col-12 col-md-1 w-light-n d-flex align-items-center justify-content-center">
                                    <img loading="lazy" src="${arrayFav[i].imagenProd}" class="img-fluid" width="150" />
                                </div>

                                <div class="col-12 col-md-3 w-light-n d-flex align-items-center justify-content-center justify-content-md-start py-2 py-md-0 px-0 px-md-4">
                                    ${arrayFav[i].nombre}
                                </div>
                                <div class="col-12 col-md-2 w-light-n d-flex align-items-center justify-content-center justify-content-md-start py-2 py-md-0">
                                    <a href="${arrayFav[i].urlProd}" target="_blank">Ver producto</a>  
                                </div>
                            
                                <div class="col-12 col-md-2 w-light-n d-flex align-items-center justify-content-center justify-content-md-start py-2 py-md-0">
                                    ${arrayFav[i].codigo}
                                </div>
                            
                                <div class="col-12 col-md-2 w-light-n d-flex align-items-center justify-content-center justify-content-md-start py-2 py-md-0"">
                                    ${arrayFav[i].coleccion}
                                </div>
                                
                                <div class="col-12 col-md-2 w-light-n d-flex align-items-center py-2 py-md-0 justify-content-end">
                                    <a href="#" data-idProd="${arrayFav[i].idProd}" class="bt_agregar_favoritos solo_eliminar_desde_favoritos"><img src="front/images/icons/icon-eliminar-amarillo.svg" class="iconos_botones_acciones"/>Eliminar</a>
                                </div>
                            </div>`;

                document.getElementById("inserto_data").innerHTML += html;
                
        }//for


        let primera_parte_html = `<div class="row mb-4 mt-5 pt-5 no-gutters">
                                    
                                    <div class="col-12 col-md-1 d-none d-md-block">
                                        <span class="fw-bold-n cf-amarillo up-percase"></span>
                                    </div>

                                    <div class="col-12 col-md-3 d-none d-md-block px-4">
                                        <span class="fw-bold-n cf-amarillo up-percase">PRODUCTO</span>
                                    </div>
                                    <div class="col-12 col-md-2 d-none d-md-block">
                                        <span class="fw-bold-n cf-amarillo up-percase">DETALLE</span>
                                    </div>

                                    <div class="col-12 col-md-2 d-none d-md-block">
                                        <span class="fw-bold-n cf-amarillo up-percase">CODIGO</span>
                                    </div>
                                    
                                    <div class="col-12 col-md-2 d-none d-md-block">
                                        <span class="fw-bold-n cf-amarillo up-percase">COLECCION</span>
                                    </div>
                
                                </div>`;

        document.getElementById("inserto_encabezado").innerHTML = primera_parte_html;

        let formualrio_html = `<div class="col-12 text-center mt-5 pt-2"> <p class="article-tit">Completá el formulario y te enviaremos<br /> la cotización de estos productos</p> </div>

                                <div class="col-12 col-md-4 centrar bg-blanco radius-web mb-5 mt-5 pt-5 sombra">
                                    <div class="row no-gutters">

                                        <div class=" col-12 mt-2 px-4">
                                            <form method="POST" action="{{url('contactoFavabm')}}"  enctype="" name="formDeContacto" id="formDeContacto" onsubmit="miFuncion(event)">

                                                <div class="row">
                                                    <div class=" col-12  mt-5 mb-4">
                                                        <label><span style="color:#eb433e;">* </span>Nombre</label>
                                                        <input name="nombre" id="nombre" size="35" type="text" required />
                                                    </div>

                                                    <div class="col-12  mb-4">
                                                        <label><span style="color:#eb433e;">* </span>Email</label>
                                                        <input name="mail" id="mail"  type="email" required />
                                                    </div>

                                                    <div class=" col-12   mb-4">
                                                        <label><span style="color:#eb433e;">* </span>Teléfono</label>
                                                        <input name="telefono" id="telefono" type="text" minlength="4" required />
                                                    </div>

                                                    <div class=" col-12  mb-4">
                                                        <label><span style="color:#eb433e;">* </span>Localidad</label>
                                                        <input name="localidad" id="localidad" type="text" minlength="3" required />
                                                    </div>

                                                    <div class=" col-12  mb-4">
                                                        <textarea name="descripcion" id="descripcion" type="text"  style="display:none;"  rows="4">
                                                        </textarea>
                                                    </div>

                                                    <div style="margin-left:20%;" class=" col-12 mb-4 ">
                                                    
                                                    </div>

                                                    {# 

                                                        <div class=" centrar ">
                                                            <label class="checkcontainer ">He leído y acepto
                                                                los
                                                                <span class="fw-bold-t subrayado cf-amarillo" data-toggle="collapse"
                                                                    data-target="#terminosycondiciones"> Términos y
                                                                    condiciones</span>
                                                                <input type="checkbox" name="radio" >
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>

                                                        <div class="col-12 ta-left txt legal mt-2 mb-2 collapsable-content ta-left collapse hide px-4  radius"
                                                            id="terminosycondiciones">

                                                            <p>{{terminos}}</p>
                                                        </div>
                                                    #}

                                                    <div class=" col-12 mt-1 mb-5 mt-2">
                                                        <button class=" centrar" type="submit" value="Enviar" name="btsubmit"
                                                        id="btsubmit" >Solicitar cotización
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>`;

                document.getElementById("inserto_formulario").innerHTML = formualrio_html;


                //console.log(listaIds); return false;

                //asigno valores ids al input hidden para pasarlo con el form
                document.getElementById('descripcion').value = listaIds;

                //Esto es para que funcione la funcion que agrega los favoritos (ver funcion en scripts.js)
                activa_metodos_elimnar_favoritos();

    }//else


}//PintarDB



document.addEventListener('DOMContentLoaded', PintarDB);

</script>

{# <script src="{{genericDomain}}front/js/scripts.js"></script> #}



<script>
















function activa_metodos_elimnar_favoritos(){

    const botones_eliminar_producto = document.querySelectorAll('.solo_eliminar_desde_favoritos');

	botones_eliminar_producto.forEach(el => el.addEventListener('click', e => {

		e.preventDefault();

        var idProd = e.target.getAttribute('data-idProd');

        var favoritos = localStorage.getItem("favoritos") || "[]";
        favoritos = JSON.parse(favoritos);

        // buscamos el producto en la lista de favoritos
        var posLista = favoritos.findIndex(function(e) { return e.idProd == idProd });
        //Lo eliminamos del localstorage
        favoritos.splice(posLista, 1);

        // guardamos la lista actualizada de favoritos 
		localStorage.setItem("favoritos", JSON.stringify(favoritos));

        //Elimino la fila HTML del listado
        let fila_a_eliminar = document.querySelector(`#fila_producto_${idProd}`);
		fila_a_eliminar.style.display="none";

        PintarDB(); //Esta funcion está en favoritosfront

        conteoFavoritos();

    }));

    

}




   
	


    conteoFavoritos();

    function conteoFavoritos(){

         // LEVANTO favoritos contar cuantos hay y asignarselos al corazon
        var favoritos = localStorage.getItem("favoritos") || "[]";
	    favoritos = JSON.parse(favoritos);


        const avisoFav = document.querySelector("#cantidad_favoritos");
        const corazon = document.querySelector("#icono_fav_header");

        if(favoritos.length > 0)
        {
            corazon.classList.add("activo");
            avisoFav.classList.add("activo");
            avisoFav.innerHTML = favoritos.length;
        }
        else
        {
            corazon.classList.remove("activo");
            avisoFav.classList.remove("activo");
            avisoFav.innerHTML = 0;
        }
    }


        
</script>
















</body>

</html>
