{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">

    </script>
		
{% endblock %}





{% block content %}

    <footer class="pt-5">

        <div class="container w-xl pt-2">
            <div class="row no-gutters mt-1 m-md-5">


                <div class="col-lg-5 col-12 my-4 pr-md-2">
                    <div class="row no-gutters">
                        <div class="col-12 mt-2">
                            <p class="txt fw-light-t cf-blanco"> 
                                <span class="article-txt fw-bold-t">SHOWROOM</span>
                                <br>
                                    <span class="fw-bold-t"><a class="link_googlmaps" href="https://goo.gl/maps/XxjXo381RbdyL4pb7" target="_blank"> Av. Cabildo 4769 4°A - CP 1429 - Buenos Aires -
                                    Argentina </a>
                                    </span>
                                <br>
                                        
                                <a href="mailto:info@amapolann.com">
                                    <span class="txt legal fw-light-t"> &#xae; Amapolann -
                                        Marca registrada
                                        info@amapolann.com</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 col-12 my-4 px-md-2 pl-0">
                    <div class="row">
                        <div class="col-12 mb-1 mb-md-4">
                            <p class=" cf-blanco">
                                <span class="article-txt fw-bold-t  mb-1 mb-md-5">Línea de atención al cliente</span>
                            </p>
                            <p class="txt-mapa text-light">
                                <span class="txt-horario">Lunes a Sábados de 9:00 a 19:00hs.</span>
                            </p>
                            <!--<p class="txt-tit fw-bold-n cf-blanco"><br>
                            <span class="fw-regular-n">Lunes a Sábados de 9:00 a 19:00hs.</span></p>-->
                        </div>

                        <div class="col-12 mt-1">
                            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor" target="_blank">
                                <div class="icon icon-wp mr-4"></div>
                            
                            <p class=" cf-blanco mt-1">
                                <span class="txt-tit fw-medium-n"> (+54 9) 11 7717-2020</span>
                            </p></a>

                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-6 my-4 px-md-2 d-none d-md-block">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <span class="article-txt fw-bold-t mb-3 cf-blanco">Redes</span>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="redes">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista footer ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista footer fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista footer pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 mt-5  d-block d-md-none">
                    <div class="row">
                        <div class="col-4 nuevos_botones_footer_reducido_bg_color_whatsapp">
                             <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank" class="nuevos_botones_footer_reducido whatsapp">
                            WHATSAPP
                            </a>
                        </div>
                        <div class="col-4 nuevos_botones_footer_reducido_bg_color_llamar">
                            <a href="tel:+54 9 11 77172020" target="_blank" class="nuevos_botones_footer_reducido tel">
                            LLAMAR
                            </a>
                        </div>
                        
                        <div class="col-4 nuevos_botones_footer_reducido_bg_color_consulta">
                            <a href="{{genericDomain}}contactpage" class="nuevos_botones_footer_reducido consulta"> CONSULTA </a>
                        </div>
                    </div>
                </div>
                
                
               
            </div>
        </div>
    </footer>
    
        

<a id="ir_arriba"></a>


{% endblock %}