{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">

    </script>
		
{% endblock %}





{% block content %}

    <footer>

        <div class="container w-xl">
            <div class="row no-gutters">
                <div class="col-12 mt-4 mb-4 d-flex justify-content-center justify-content-md-start">
                    <div class="logo-iz footer cursor">
                        <a href="{{genericDomain}}">
                            <img src="{{genericDomain}}front/images/icons/logo-amapolann-completo-blanco.png" class="width-responsive" alt="Amapolann" title="Amapolann">
                        </a>
                    </div>
                </div>



                <div class="col-lg-6 col-12 my-4 pr-md-2 pt-1">
                    <div class="row no-gutters">
                        <div class="lista mb-4">
                            <ul class="txt legal up-percase cf-blanco fw-semi-bold-t text-center text-md-left">
                                <li>
                                    <a href="{{genericDomain}}">INICIO</a>
                                </li>
                                <li>
                                    <a href="{{genericDomain}}empresa">EMPRESA</a>
                                </li>
                                <li>
                                    <a href="{{genericDomain}}listado">productos</a>
                                </li>
                                <li>
                                    <a href="{{genericDomain}}ambientaciones">Ambientaciones</a>
                                </li>
                                <li>
                                    <a href="{{genericDomain}}distribuidores">Distribuidores</a>
                                </li>
                                {# <li>
                                    <a href="{{genericDomain}}combinaciones">Combinaciones</a>
                                </li> #}
                                <li>
                                    <a href="{{genericDomain}}favoritos">Favoritos</a>
                                </li>
                                <li>
                                    <a href="{{genericDomain}}terminaciones">Terminaciones</a>
                                </li>
                                <li>
                                    <a href="{{genericDomain}}contacto">contacto</a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-12 mt-2">
                            <p class="txt fw-light-t cf-blanco">
                                <span class="article-txt fw-bold-t">SHOWROOM</span>
                                <br><span class="txt legal fw-light-t">Av. Cabildo 4769 4°A -cp 1429 - Buenos Aires -
                                    Argentina</span><br>
                                <a href="mailto:info@amapolann.com">
                                    <span class="txt legal fw-light-t"> &#xae; Amapolann -
                                        Marca registrada
                                        info@amapolann.com</span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12 my-4  px-md-2">
                    <div class="row">
                        <div class="col-12 mb-4 ">
                            <p class=" cf-blanco">
                                <span class="article-txt fw-bold-t  mb-3">Línea de atención al cliente</span>
                            </p>

                        </div>

                        {# <div class="col-12 mt-2">
                            <a href="tel:(+549) 11 2496 -7000" >
                                <div class="icon icon-tel mr-4"></div>
                            
                            <p class=" cf-blanco mt-2">
                                <span class="txt-tit fw-medium-n"> 0810 444-8080</span></a>
                            </p>
                            </a>

                        </div> #}

                        <div class="col-12 mt-4">
                            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor" target="_blank">
                                <div class="icon icon-wp mr-4"></div>
                            
                            <p class=" cf-blanco">
                                <span class="txt-tit fw-medium-n"> (+54 9) 11 7717-2020</span>
                            </p></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-6 my-4 px-md-2">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <span class="article-txt fw-bold-t mb-3 cf-blanco">Redes</span>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="redes">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista footer ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista footer fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista footer pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                
                
                
                {# <div class="col-lg-2 col-md-6 col-12 my-4  pl-md-2">
                    <div class="row">
                        <div class="col-12 mb-4 ">
                            <p class=" cf-blanco">
                                <span class="article-txt fw-bold-t">Newsletter</span>
                            </p>

                        </div>

                        <div class="col-12 mt-2">
                            <div class="icon icon-mail mr-4 mt-2"></div>
                            
                            
                            <form method="POST" action="" onsubmit="" enctype="">

                                <div class="row no-gutters">
                                    <div class=" col-10 pr-2  ">
                                        <input name="mail" id="mail" size="35" type="text" required />
                                    </div>
                                    <div class=" col-2  pl-2 pr-0  ">
                                        <button class="boton boton-icon-i " type="submit" value="Enviar" name="btsubmit"
                                            id="btsubmit"><i class="material-icons cf-blanco  cf-blanco ">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            
                            
                        </div>

                        <div class="col-12 mt-2">
                            <p class="txt legal fw-light-t cf-blanco">
                                <span class="fw-bold-t">Dejanos tu correo </span> para informarte de nuestras novedades
                            </p>
                        </div>

                    </div>
                </div> #}




                <div class="col-12 mb-4 mt-4">
                    <p class=" cf-blanco ta-center">
                        <span class="txt legal fw-light-t"> &#xae; Amapolann - Marca registrada
                        <a href="mailto:info@Amapolann.com.co">info@amapolann.com.ar</a></span>
                    </p>

                </div>
            </div>
        </div>
    </footer>
    
        

<a id="ir_arriba"></a>


{% endblock %}