{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">

    </script>
		
{% endblock %}





{% block content %}

<footer>

<div class="container w-xl">
    <div class="row no-gutters">
        
        
        <div class="col-12 mt-4 mb-4 d-flex justify-content-center justify-content-md-start">
            <div class="logo-iz footer cursor">
                <a href="https://www.amapolann.com/">
                    <img src="https://www.amapolann.com/front/images/icons/logo-amapolann-blanco.png" class="width-responsive" alt="Amapolann" title="Amapolann">
                </a>
            </div>
        </div>



        <div class="col-lg-5 col-12 my-4 pr-md-2 pt-1">
            <div class="row no-gutters">

                <div class="col-12 mt-2">
                    <p class="txt fw-light-t cf-blanco">
                        <span class="article-txt fw-bold-t">SHOWROOM</span>
                        <br><span class="txt legal fw-light-n"><a class="link_googlmaps" href="https://goo.gl/maps/XxjXo381RbdyL4pb7" target="_blank">Av. Cabildo 4769 4°A - CP 1429 - Buenos Aires -
                            Argentina </a></span><br>
                        <span class="txt legal fw-light-t"> ® Amapolann - Marca registrada<br>
                        <a href="mailto:info@amapolann.com" class="mail_footer"> info@amapolann.com</a></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-12 my-4  px-md-2">
            <div class="row">
                
                <div class="col-12 mb-3 ml-2">
                    <p class="cf-blanco">
                        <span class="article-txt fw-bold-t mb-3">Línea de atención al cliente</span><br />
                        <span class="txt-horario">Lunes a Sábados de 9:00 a 19:00hs.</span>
                    </p>
                </div>

                
                <div class="col-12 mt-0">
                    <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor" target="_blank">
                        <div class="icon icon-wp-color mr-4"></div>
                    <p class="cf-blanco"><span class="txt-tit fw-medium-n">(+54 9) 11 7717-2020</span></p></a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-12 my-4 px-md-2d-flex justify-content-start">
            <div class="row">
                <div class="col-12 mb-2">
                    <span class="article-txt fw-bold-t mb-3 cf-blanco">Redes</span>
                </div>
                <div class="col-12 mb-4">
                    <div class="redes">
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                    <div class="icon icon-lista footer ig-color"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                    <div class="icon icon-lista footer fb-color"></div>
                                </a>
                            </li>
                            <li>
                                <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                    <div class="icon icon-lista footer pint-color"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        
        
        



        <div class="col-12 mb-5 pb-3 mt-4">

            <div class="row">

                <div class="col-lg-5 col-12"></div>

                <div class="col-lg-5 col-12  d-flex justify-content-center justify-content-lg-start">
                    <p class="cf-blanco ta-center pl-2">
                        <span class="txt legal fw-light-t"> ® Amapolann - Marca registrada<br>
                        <a href="mailto:info@Amapolann.com.ar">info@amapolann.com.ar</a></span>
                    </p>
                </div>

                <div class="col-lg-2 col-12"></div>

            </div>

        </div>
    </div>
</div>
</footer>
    
        

<a id="ir_arriba"></a>


{% endblock %}