<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>

</head>

<body>


<div class="bg-section section-terminaciones ">

<!-- Header-->
{% include "AmapolannUserBundle:Account:header_front.html.twig"%}
<!--Fin Header-->


<!-- Terminaciones-->
<div class="container w-xl  d-flex align-self-center ">
    <div class="row  mt-md-2">
        <div class=" col-6  mt-5 mb-5 ">
            <span class="tit fw-medium-d cf-blanco  "> Galeria General </span>
        </div>
        <div class="btn-whatsapp ">
            <a href="https://api.whatsapp.com/send?phone=5491124967000&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor.">
            <div class="no-gutters ">
                <span class="col-12 d-flex justify-content-center">
                    <div class="icon icon-wp-flotante pr-4 "></div>(+549) 11 2496 -7000
                </span>
            </div>
            </a>
        </div>
    </div>
</div>
<!--Fin  terminaciones -->
</div>

<!-- Titulo -->
{%if galeriagrales is defined and galeriagrales !=""%}
<div class="bg bg-negro">
    <div class="container   w-xl">
    <div class="row">
        <div class=" col-12 centrar mt-5 mb-5 linea-amarilla-miscelanea ">
        <span class=" sub-tit fw-medium-d cf-blanco ta-center "> galeriagrales
        </span>
        </div>
    </div>
    </div>
</div>
{%endif%}
<!--Fin titulo-->

<!-- Titulo - titulo que no cumple funcion en esta seccion
<div class="bg bg-negro ">
    <div class="container   w-xl">
        <div class="row">
            <div class=" col-12 centrar mt-5 mb-5">
                <span class=" sub-tit fw-medium-d cf-blanco ta-center linea-amarilla-miscelanea"> galeriagrales </span>
            </div>
        </div>
</div>
</div>
--> 

<!--Fin titulo-->




<!-- Titulo  
<div class="bg bg-negro ">
    <div class="container   w-xl">
    <div class="row">
    <div class=" col-12 centrar mt-5 mb-5">
        <span class=" sub-tit fw-medium-d cf-blanco ta-center linea-amarilla-miscelanea"> Opciones de Piedras </span>
    </div>
    </div>
    </div>
</div>
-->
    <!--Fin titulo-->

<!-- Terminaciones Piedras-->
<div class="bg bg-negro">

<div class="container w-xl ">
<div class="lista-terminaciones col-12  mb-2 mt-5 ">
<ul class="row no-gutters" >
    {%if galeriagrales is defined and galeriagrales !=""%}
    {%for galeriagral in galeriagrales%}
        <li class="col-12 col-md-2 mb-5 px-md-3">
        <div class="row no-gutters">
        <div id="{{galeriagral.titulo}}" class="col-12  centrar mb-5 mt-2  h-100">
            <div class="row no-gutters  p-4 d-flex align-items-center">
                
                <div class="col-12 ">
                    <img src="{{ genericDomain }}{{galeriagral.imagen}}"
                        class="width-responsive rounded float-right" />
                </div>
                <div class="col-12  mt-4 ">
                    <div class="col-12 text-center  ">
                        <span class=" article-tit fw-medium-d cf-blanco ">{{galeriagral.titulo}}</span>
                    </div>

                    <p class="txt fw-light-n  cf-blanco my-3 d-none d-sm-block">
                    <a><span class="fw-medium-n  ">{{galeriagral.explicacion}}</span></a>
                    </p>

                    <p class="txt fw-light-n  cf-blanco my-3 d-none d-sm-block">
                    <a> Linea de autor: <span class="fw-medium-n  ">{{galeriagral.autor}}</span></a>
                     </p>


       
                </div>
                </div>
        </div>
        </div>
        </li>
    {%endfor%}
    {%endif%} 
</ul>
</div>
</div>

</div>
<!--Fin  terminaciones piedras-->
    


<!-- Banner Redes -->
<div class="bg bg-blanco sub-tit-section  mobile">
<div class="container w-xl mt-5">
<div class="row  ">
<div class="col-12 mt-4">
<div class="row">
<div class="col-4 my-auto">
<span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
</div>
<div class="col-8 ">
<div class="redes banner">
<ul>
<li>
<a href="" target="_blank">
    <div class="icon icon-lista ig-negro"></div>
</a>
</li>
<li>
    <a href="" target="_blank">
        <div class="icon icon-lista fb-negro"></div>
    </a>
</li>
<li>
<a href="" target="_blank">
    <div class="icon icon-lista pint-negro"></div>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--Fin  banner redes -->

<!-- Banner -->
<!-- Sub Titulo-->
<div class="bg bg-banner sub-tit-section  tabletyweb">
<div class="container w-xl ">
<div class="row  ">
<div class="col-12  mb-5 mt-5">
<p class="ta-center fw-regular-d cf-blanco article-tit ">
    Griferias con <span class=" fw-bold-d "> Estilo</span>
</p>    
</div>
</div>
</div>
</div>
<!--Fin Sub Titulo-->
<!--Fin  banner -->


<!--Footer-->
{% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
<!--Fin footer-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>
</body>
</html>