{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>
<script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

 <script>
    $(document).ready(function(){
        
         $('#eliminarprod').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_prod_id').val(id);
            });
       
         $('#inp').on("click", function() {
             
            $( "#buscador" ).toggle();
         });
         
         
         $('#eliminar_prod').on("click", function() {
             
              var data = new FormData();
                data.append('id', $('#eliminar_prod_id').val());
                
                $.ajax({
                    url: '{{url('eliminarprod')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_prod").html('Producto eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                          window.location = '{{url('grillaproductos')}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
            
        $('#modificar').on("click", function() {
            var selected = [];
            $('input:checked').each(function() {
                if($(this).attr('name')!="all"){
                    selected.push($(this).attr('name'));    
                }
                
            });
            
             var data = new FormData();
                data.append('ids', selected);
                data.append('activo', $('#activom').val());
                data.append('mostrar', $('#mostrarm').val());
                
                $.ajax({
                    url: '{{url('modificarmultiples')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                           console.log(data); 
                           $("#resultado_mod").html('Datos guardados correctamente. Se refrescará la página automáticamente.');
                           setTimeout(function(){
                           window.location.href = window.location.href;
                           },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        
        $("#all").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        
          $( "input[name^='vis']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificarvisibilidad')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        $( "input[name^='ord']" ).change(function(){
            var id = ($(this).data('id'));
            var vis = ($(this).val());
            
            $.ajax({
                    url: '{{url('modificarorden')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
          
        $( "input[name^='gal']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificargaleria')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
      
        
    });   
    </script>

<script>
$(document).ready(function(){

    $('#eliminaramb').on('show.bs.modal', function (e) {
        console.log("show"); 
        var id = $(e.relatedTarget).attr('data-id_waed');

        console.log(id);
    
        $('#eliminar_amb_id').val(id);
    });

  $('#inp').on("click", function() {
      
    $( "#buscador" ).toggle();
  });
  
  $('#eliminar_ter').on("click", function() {
      var data = new FormData();
        data.append('id', $('#eliminar_amb_id').val());
        
        $.ajax({
            url: '{{url('eliminarambientacion')}}',
            data: data,
            processData: false,
            cache: false,
            contentType: false,
            type: 'POST',
            success: function ( data ) {
                try
                {
                  console.log(data);
                  $("#resultado_eliminar_ambientacion").html('Ambientacion eliminada correctamente. Se refrescará la página automáticamente.');
                  setTimeout(function(){
                  window.location = '{{url('grillaambientaciones')}}';
                  },2500);
                }
                catch (e)
                {
                }
            }
        });
    });
});   
</script>

<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>



{% endblock %}



{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}

<div class="bg bg-gris">
<div class="bg bg-blanco-op ">

{% render "AmapolannUserBundle:Account:progreso"%}

<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
<div class="contenedor-datos">

<h1 class="terminaciones">GALERIA GENERAL</h1>
<div class="grupo_datos">

<div  class="row">

<div class="col-sm-12 col-md-12">

{% if productos is defined and productos!='' %}

{% endif %}

<h3>Modificar orden de Galeria </h3> 

<div class="container">
<div class="list-group" id="tareas">

{% set contaOrden = 0 %}
{% set i = 0 %}

{% for producto in productos2 %}
{% set i = i  + 1 %}
<h1> {{ i }} </h1>
{% set contaOrden = contaOrden + 1 %}


<form method="POST">


<div class="list-group-item" id="{{ producto.id }}">
 
 <input style="width: 50px;" value="{{producto.orden}}" data-id="{{producto.id}}" type="number" name="ord_{{producto.id}}" id="ord_{{producto.id}}">

<a href="{{ genericDomain }}admin/productoabm?id={{producto.id}}">{{producto.titulo}}</a>

<h5> Codigo: {{producto.codigo}} - {{producto.titulo}}</h5>

<img src="{{genericDomain}}{{producto.imagen_portada}}" style="width:110px;height:80px;">  

</div>

</form>


{% endfor %}

</div>
</div>


<script>
const tareas = document.getElementById('tareas');
Sortable.create(tareas);



</script>





</div>	


{%if paginas is defined and (paginas / limit) > actual and actual is defined and actual == '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">

<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t ">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>
{%elseif paginas is defined and (paginas / limit) <= actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

</ul>
</div>                
</div>                
{%elseif paginas is defined and (paginas / limit) > actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul>
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t pl-2">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>    



</div>

{%endif%}

    </div>	


          </div><!-- row columna derecha de mapa -->


        </div>
                    
   </div>                     
<!-- Grupo datos -->
       
       
 </div>
</div>



</div>


<script> 

//$(document).ready(function(){

//$('#btnActualizar').on("click", function() {


    $('#btnActualizar').click(function(){
    const productos = document.querySelectorAll('.list-group-item'); //traigo objeto 
                //[0].dataset.identificador
            let arr1 = "";
            var i=0;
            for (let producto of productos) {
                    //arrayOrden = producto.id.innerText;
              i++;
              //a = console.log(producto.id);
              arr1[0]=producto.id;
              arr1[1]=i;
              }

      //envio array al metodo controller
      $.ajax({
                url: '{{url('cambiarorden')}}',
                processData: false,
                cache: false,
                contentType: false,
                type: 'POST',
                data: {'array': JSON.stringify(arr1)},//capturo array     
                success: function(data){
              }
});



       
  });

  /*
// devuelve id de los divs!
const productos2 = document.querySelectorAll('.list-group-item'); //traigo objeto 
    //[0].dataset.identificador
let arr2 = "";
var i=0;
    for (let producto of productos2) {
        //arrayOrden = producto.id.innerText;
        i++;
        //a = console.log(producto.id);
        console.log (arr2[0]=producto.id);
        console.log (arr2[1]=i);
        }

//envio array al metodo controller
$.ajax({
          url: '{{url('cambiarorden')}}',
          processData: false,
          cache: false,
          contentType: false,
          type: 'POST',
          data: {'array': JSON.stringify(arr2)},//capturo array     
          success: function(data){
        }
});

*/
</script>






  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style> 


{% endblock %}
