{%for img in imagenes_galeria%}
<div class="col-6 col-md-3 col-lg-2">

    <div class="row no-gutters">
        <div class="col-12" data-target="#slider-galeria-modal" data-slide-to="{{ dataSlide }}" {% if loop.index==1
            %}class="active" {%endif%}>

            <div class="img-colecciones btn-hover cursor" data-toggle="modal" data-target="#mCarouselGaleria">
                <img loading="lazy" class="with-responsive" src="{{genericDomain}}{{img.imagen}}">
                <div class="img-texto">
                    <p class="article-txt up-percase fw-bold-d cf-blanco ta-center">
                    </p>
                </div>

            </div>
        </div>
        <div class="col-12 text-center mb-5">

            <p class="txt fw-regular-t cf-negro my-3 d-none d-sm-block">
                <a>{{img.nombre_coleccion}} | &nbsp;{{img.nombre_producto}} <br><span class="fw-regular-n">Código: {{img.codigo_coleccion}} <!--/ {{img.codigo_categoria}}--> / &nbsp;{{img.codigo}}</span></a>
            </p>

        </div>
    </div>
</div>
{% set dataSlide = dataSlide + 1 %}
{%endfor%}