<!DOCTYPE HTML>
<html lang="es" dir="ltr">
<head>
<meta charset="utf-8">

<title>Amapolann</title>

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="all" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="theme-color" content="#08245a">

<meta name="og:title" content="Amapolann"/>
<meta name="og:type" content="website"/>
<meta name="og:site_name" content="Amapolann"/>
<meta property="og:image" content="{{genericDomain}}front/images/favicon.svg"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>

<link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Red+Hat+Display:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Propios -->
<link rel="stylesheet" href="{{genericDomain}}front/css/header.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}"  type="text/css" />




</head>

<body>






<!-- Header-->
<header id="main-header">
    
    <div class="container-fluid">


            <div class="col-12 ">

                <div class="logo-iz  cursor"><a href="index.html"><img src="{{genericDomain}}front/images/icons/logo-amapolann-blanco.svg"
                            class="width-responsive" alt="Amapolann" title="Amapolann"></a>
                </div>

                <!--Nav fondo-->
                <div class="nav-fondo"></div>
                <!--Fin nav fondo-->

                <input class="menu-btn" type="checkbox" id="menu-btn" />
                <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="nav-menu">
                    <li><a href="../web/">INICIO</a></li>
                    <li><a href="empresa.html">EMPRESA</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="terminaciones.html">TERMINACIONES</a></li>
                    <li><a href="ambientaciones.html">AMBIENTACIONES</a></li>
                    <li><a href="{{ genericDomain }}contactpage">CONTACTO</a></li>
                    <li class="redes-tit-header">
                        <a><div class="icon icon-redes ig"></div></a>
                        <a><div class="icon icon-redes fb"></div></a>
                        <a><div class="icon icon-redes pint"></div></a>
                        
                    </li>
                    
                </ul>

            </div>


    </div>

</header>
<!--Fin Header-->




<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

 
<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>

</body>


</html>