{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">

</script>

{% endblock %}

{% block content %}


    <header id="main-header">
    
        
        <div class="container-fluid px-0">

                
        <div class="col-12">

        <div class="logo-iz cursor"><a href="{{ genericDomain }}"><img src="{{genericDomain}}front/images/icons/logo-amapolann-blanco.svg" class="width-responsive" alt="Amapolann" title="Amapolann"></a>
        </div>

        <!--Nav fondo-->
        <div class="nav-fondo" ></div>
        <!--Fin nav fondo-->


        <div id="contenedor_fav_buscador" class="d-flex justify-content-between">    
        
        
            <a href="{{ genericDomain }}favoritos" id="icono_fav_header">
                {# <img src="{{genericDomain}}front/images/icons/icon-lupa.svg" class="width-responsive" alt="Amapolann" title="Favoritos"> #}
            <div id="cantidad_favoritos">0</div>  </a>

            <div id="buscador_general">

                <div class="btn-group">

                    <a href="#" data-toggle="dropdown" aria-expanded="false"><img src="{{genericDomain}}front/images/icons/icon-lupa.svg" class="width-responsive" alt="Amapolann" title="Buscar"></a>

                    <div class="dropdown-menu dropdown-menu-right contenedor_input_y_submit">
                        <form method="POST" action="{{url('resultadosbusqueda')}}">
                            <input type="text" class="campo_buscar" value="" placeholder="¿Qué te gustaría encontrar?" name= "buscar" id="buscar">   
                            <input type="submit"  class="bt_buscar_general float-right" value="BUSCAR">   
                        </form>
                    </div>
                </div>
                
            </div>
        
        </div>



        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        
        <ul class="nav-menu">
            {# <li><a href="{{ genericDomain }}">INICIO</a></li> #}
            <li><a href="{{ genericDomain }}empresa">EMPRESA</a></li>
            
            <li class="dropdown sub-menu">
                <a href="#" class="dropdown-toggle" href="#" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PRODUCTOS
                </a>

                <div class="dropdown-menu cf-gris-oscuro dropdown-menu-mobile desple_productos w-100"
                    aria-labelledby="dropdownMenuLink" style="border:2px solid green-">


                        <div class="row no-gutters">
                        
                        {%if colecciones is defined and colecciones != ""%}
                            {%for cole in colecciones%}
                                <div class="col-6 col-sm-4 border-1">
                                    <a class="dropdown-item cf-gris-oscuro boton_interno_con_foto d-flex align-items-center" href="{{ genericDomain }}coleccion?id={{cole.id}}">
                                        <div class="icon icon-nav">
                                            <img src="{{ genericDomain }}{{cole.imagen_menu}}" />
                                        </div>
                                        <span class="nombre_colecciones_boton" data-idColeccion="coleccion_{{cole.id}}">{{cole.titulo}}</span>
                                    </a>
                                </div>
                            {%endfor%}
                        {%endif%}
                        
                        </div>


                        <script>
                            var nombresColecciones = document.querySelectorAll(".nombre_colecciones_boton");
    
                            nombresColecciones.forEach(
                                function(currentValue, currentIndex, listObj) {
                                    txt = currentValue.innerText;
                                    texto = txt.replace(/\s/g, "\n");
                                    
                                    let idColeccion = currentValue.dataset.idcoleccion;
                                    console.log(currentValue.dataset.idcoleccion);

                                    currentValue.innerText = texto;
                                    
                                }
                            );
                        </script>
                    

                </div> 



                <!-- <div class="dropdown-menu cf-gris-oscuro dropdown-menu-mobile desplenuevo_productos w-100"
                    aria-labelledby="dropdownMenuLink" style="border:2px solid green-">        


                         <div class="row no-gutters">


                            {%if colecciones is defined and colecciones != ""%}
                                {%for cole in colecciones%}
                                    <div class="col-12 col-sm-6 bg-primary mb-2">
                                        Lorem  uihfhweerfihrfhrfreuifhuirhfrhfiiufhfhrehfhrehfhrifirhefreferfrfrefrrf00000fferjfeiw
                                    </div>
                                {%endfor%}
                            {%endif%}


                             <div class="col-12 col-sm-6 bg-primary mb-2">Lorem  uihfhweerfihrfhrfreuifhuirhfrhfiiufhfhrehfhrehfhrifirhefreferfrfrefrrf00000fferjfeiw</div>  
                            <div class="col-12 col-sm-6 bg-secondary mb-2">uihfhweerfihrfhrfreuifhuirhfrhfiiufhfhrehfhrehfhrifirhefreferfrfrefrrf00000fferjfeiw Lorem</div>  
                            <div class="col-12 col-sm-6 bg-primary mb-2">Lorem</div>  
                            <div class="col-12 col-sm-6 bg-secondary mb-2">Lorem</div>  
                            <div class="col-12 col-sm-6 bg-primary mb-2">Lorem</div>  
                            <div class="col-12 col-sm-6 bg-secondary mb-2">Lorem</div>  
                            <div class="col-12 col-sm-6 bg-primary mb-2">Lorem</div>  
                            <div class="col-12 col-sm-6 bg-secondary mb-2">Lorem</div>   
                        </div> 

                </div>-->





            </li>

            <li>
                <a href="{{ genericDomain }}terminaciones" >TERMINACIONES</a>


                <!-- <a class="dropdown-toggle " href="#" role="button"
                    id="dropdownMenuLinkTerminaciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TERMINACIONES</a>

                <div class="dropdown-menu cf-gris-oscuro dropdown-menu-mobile"
                    aria-labelledby="dropdownMenuLinkTerminaciones">
                        
                    {%if terminaciones is defined and terminaciones != ""%}
                        {%for term in terminaciones%}
                            <a class="dropdown-item cf-gris-oscuro" href="#">
                                <div class="icon icon-nav">
                                    <img src="{{ genericDomain }}{{term.imagen_portada}}" />
                                </div>
                                <div class="cf-gris-oscuro" > {{term.descripcion}} </div>
                            </a>
                        {%endfor%}
                    {%endif%}
                </div> -->
                
            </li>

            <li><a href="{{ genericDomain }}ambientaciones">AMBIENTACIONES</a></li> 

            <li><a href="{{ genericDomain }}distribuidores">DISTRIBUIDORES</a></li> 
            {# <li><a href="{{ genericDomain }}combinaciones">COMBINACIONES</a></li>  #}
            {# <li><a href="{{ genericDomain }}favoritos">FAVORITOS</a></li>  #}

            <li><a href="{{ genericDomain }}front/pdf/garantias.pdf" target="_blank">GARANTIAS</a></li>

            <li class="ultimo_boton_botonera_ppal"><a href="{{ genericDomain }}contactpage">CONTACTO</a></li>
            {# <li class="pr-5">a</li> #}
            
            <li class="redes-tit-header ml-5">
                <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                    <div class="icon icon-redes ig-color"></div>
                </a>
                <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                    <div class="icon icon-redes fb-color"></div>
                </a>
                <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                    <div class="icon icon-redes pint-color"></div>
                </a>

            </li>

        </ul>

    </div>


</div>
</header>
        
                


{% endblock %}