{% block css %}
{% endblock %}

{% block js %}

	
{% endblock %}





{% block content %}



    
<header id="main-header">
	
	<div class="container-fluid">			
		

		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-md-12">
                            <!-- tenes un boton mas por eso no entra le podes dar ctrl+f5 a chrome para que actualice?-->

				<div id="contenedor_logo">
					<a href="../admin/login" title="" id="main-logo"><img src="{{ genericDomain }}img/logo-amapolann-completo-blanco.svg" alt="Amapolann" class="width-responsive"></a>
				</div>

				<ul id="main-menu" class="nav nav-pills"> <!-- Para ocultarlo: hidden-xs -->
                                    {%if usuario is defined and usuario!='' %}
					<li><a href="../admin/logout" class="salir">SALIR</a></li>
                                    {%endif %}    
                        
                        
				</ul>

			</div>


			{# <div class="col-xs-2 col-sm-2 col-lg-2 pull-right">				
				<a href="#" class="menu_hamburguesa ejemplo_cruz visible-xs"><span></span></a>
			</div> #}

		</div><!-- row -->

	</div><!-- container -->

        




	
	{# <div class="visible-xs">
		<div style="margin-top: 50px;" id="contiene_botonera_desplegable">

			<ul id="mobile-main-menu">				
				{%if usuario is defined and usuario!='' %}
					<li><a href="../admin/logout" class="salir">SALIR</a></li>
                                    {%endif %}    
			</ul>
		</div>
	</div> #}


</header><!-- /header -->



	
    
{% endblock %}