{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}

{% endblock %}





{% block content %}

{{ parent() }}

           

<div style="border:1px solid blue-" class="container">


<!-- ///////////////////////////////////////////////
******* COLUMNA DERECHA DESARROLLO ****************
///////////////////////////////////////////////////-->


    <!--<ul id="botonera_acciones_generales">
            <li><a href="{{url('producto', {'id': id})}}" class="desconectar">Volver a la Ficha</a></li>
    </ul>-->
                        

                        
    <div class="grupo_datos">
        <h1 class="productos">Imágenes</h1>
        <h2>{%if fotos is defined and fotos|length == 0 %}Aún no se cargaron fotos. {%endif%}Seleccione las imágenes a cargar (550px x 450px)</h2>

            <!-- FIN INPUT FILE -->


            <div class="col-sm-12" style="border:1px solid pink-">	 
                <!-- DRAG AND DROP (hay archivos asociados en el header) -->
                    <div id="dropzone" name="dropzone" class="contenedor_drag_and_drop col-sm-12  borde-gris ">

                        <div  class="col-sm-12 mb-4 ta-center" id="sequentialupload">
                            <p class="fw-bold-d cf-gris-oscuro mt-4">Arrastrar imágenes aquí</p><p style="fw-bold-d cf-gris-oscuro;">o</p>
                            <label  for="fileupload" class="boton alt-amarillo">Seleccionar Imágenes</label>
                            <input id="fileupload" type="file" style="visibility:hidden;"  name="files[]" data-url="./imagenesproductos?id={{id}}" multiple>
                        <div  name="progress" id="progress" class="progress mb-2">
                            <div name="progressb" id="progressb" class="progress-bar progress-bar-success"></div>
                        </div>
                        <div style="display:none;font-size: 14px;color:black;width: 100%; background-color: white;  "  name="progressbt" id="progressbt" class="progress-bar progress-bar-success"> Actualizando listado de imágenes...</div>


                        <script src="{{ genericDomain }}js/images/vendor/jquery.ui.widget.js"></script>
                        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
                        <script src="{{ genericDomain }}js/images/load-image.all.min.js"></script>
                        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
                        <script src="{{ genericDomain }}js/images/canvas-to-blob.min.js"></script>
                        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
                        <script src="{{ genericDomain }}js/images/jquery.iframe-transport.js"></script>
                        <!-- The basic File Upload plugin -->
                        <script src="{{ genericDomain }}js/images/jquery.fileupload.js"></script>
                        <!-- The File Upload processing plugin -->
                        <script src="{{ genericDomain }}js/images/jquery.fileupload-process.js"></script>
                        <!-- The File Upload image preview & resize plugin -->
                        <script src="{{ genericDomain }}js/images/jquery.fileupload-image.js"></script>

                        <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
                        <script>
                            $(function () {
                                        
                                var showLoadingEnabled = false;
                                $( this ).ajaxStop(function() {
                                                setTimeout(
                                            function() 
                                            {
                                                if (showLoadingEnabled){
                                                console.log("termina");
                                                window.location.href=window.location.href;
                                            }
                                            }, 1000);
                            });
                                    
                                $('#fileupload').fileupload({
                                    url: './imagenesproductos?id={{id}}',
                                    dataType: 'json',
                                    dropZone: $('#dropzone'),
                                    disableImageResize: true,
                                    imageCrop: false,               
                                    progressall: function (e, data) {
                                        console.log(data);
                                        var progress = parseInt(data.loaded / data.total * 100, 10);
                                        $('#progressb').css(
                                            'width',
                                            progress + '%'
                                        );
                                        console.log(progress);
                                        if (progress=='100'){
                                            showLoadingEnabled = true;
                                            $('#progressbt').show();
                                            
                                            
                                        }
                                    }
                                });

                                $("#all").click(function(){
                                        $('input:checkbox').not(this).prop('checked', this.checked);
                                    });
                                    
                                    $( "input[name^='vis']" ).click(function(){
                                        var id = ($(this).val());
                                        var vis = 0;
                                        if ($(this).is(':checked')) {
                                            vis = 1;
                                        }
                                        $.ajax({
                                                url: '{{url('modificarvisibilidadImgad')}}?id='+id+'&vis='+vis,
                                                processData: false,
                                                cache: false,
                                                contentType: false,
                                                type: 'GET',
                                                success: function ( data ) {
                                                    try
                                                    {
                                                    
                                                    }
                                                    catch (e)
                                                    {
                                                    }
                                                }
                                            });
                                    });


                            });
                        </script>
                    </div>
            </div>
            <!-- FIN DRAG AND DROP -->

    </div><!-- Grupo datos -->




<div class="grupo_datos">
    {%if fotos is defined and fotos|length > 0 %}
    <h2>Imágenes cargadas </h2>
        <p style="display:none;text-align: center;font-size: 20px; line-height: 39px;" id="atencionact" name="atencionact" class="atencion_botonera">Atención! Aprete <a href="{{ url('imagenesproductos', {'id': id})}}">AQUÍ</a> si cargó fotos recientes que no ve en este listado. </p>                                                                                                            
    <form id='myform' name='myform' role="form" method="GET" action=""  enctype="multipart/form-data">


    <div class="row">
        <div id="imagenescargadas">
                                            
            {%for foto in fotos%}  


                    <div style="text-align: center; border:1px solid green-" class="col-sm-12 col-md-3 col-lg-3">	
                        <img STYLE="min-height: 125px; max-height: 125px; max-width: 191px;" src="{{genericDomain}}{{foto.imagen}}" />
                            <br />
                        <a class="boton alt-gris mt-2 mb-3" href="{{ url('eliminarfoto', {'id': foto.id,'id_producto': id})}}">ELIMINAR</a>

                            
                        <!--<a style="color: darkorange;font-size:16px;width: 300px;    font-weight: bold;" href="{{ url('girarfoto', {'id': foto.id})}}">GIRAR IZQUIERDA</a>
                        <br>
                        <a style="color: darkorange;font-size:16px;width: 300px;    font-weight: bold;" href="{{ url('girarfoto', {'id': foto.id,'tipo': 'd'})}}">GIRAR DERECHA</a>-->

                        <label>Mostrar imágen en Galeria: </label>
                    
                        {%if foto.mostrar_galeria =='1'%}
                        <input value="{{foto.id}}" type="checkbox" name="vis_{{foto.id}}" id="vis_{{foto.id}}" checked>{%else%}<input value="{{foto.id}}" type="checkbox" name="vis_{{foto.id}}" id="vis_{{foto.id}}">
                        {%endif%}

                    </div>

            {%endfor%}
                            
        </div>
    </div>
    
    {# <input type="submit" value="GUARDAR ORDEN" class="mt-4 mb-4"> #}
    </form>
            
            {%endif%}

    </div><!-- Grupo datos -->



    <!-- ///////////////////////////////////////////////
    ******* COLUMNA DERECHA DESARROLLO ****************
    ///////////////////////////////////////////////////-->
                                        
                
</div>








<!-- ARCHIVOS para DRAG AND DROP-->
<link href="{{ genericDomain }}css/upload_files/uploadfile.css" rel="stylesheet">
<!-- <script src="js/upload_files/jquery.min.js"></script> -->
<script src="{{ genericDomain }}js/upload_files/jquery.uploadfile.js{{styles_var}}"></script>



 <script>

var l = document.getElementById('visible').value;

}</script>


	<!-- ARCHIVOS para DRAG AND DROP-->

{% endblock %}