{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
   {{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>

            <script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>
<script>    
         $(document).ready(function(){
             
            $('#eliminar_col').on("click", function() {
             console.log("boton apretado");
             
              var data = new FormData();
                data.append('id', {{id}});
                
                $.ajax({
                    url: '{{url('eliminarpresentacion', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                            if(data == "ok"){
                                $("#resultado_col").html('Presentación eliminada correctamente. Se refrescará la página automáticamente.');
                                setTimeout(function(){
                                  window.location = '{{url('grillacarrousel')}}';
                                },2500);
                            }
                            else{
                                $("#resultado_col").html('No se pudo concretar la eliminación.');
                                setTimeout(function(){
                                  window.location = window.location.pathname+'?id={{id}}';
                                },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });

            });
        
        
             $('#insertar_portada').submit(insertarFotoPortada)
             
             function insertarFotoPortada(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_portada")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('portadapresentacion')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_ter").html('Imagen guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_ter").html(form);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
             
            
        });
</script>  

{% endblock %}





{% block content %}

{{ parent() }}

{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

<form id='myform' name='myform' role="form" method="POST" action="{{url('carrouselabm')}}"  enctype="multipart/form-data">
                    
<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
<div class="contenedor-datos">
            <h1 class="slider">Imagen</h1>
            


		<div class="grupo_datos">

                    <h2>Datos básicos</h2>


                    <div class="row">

                        <input type="hidden" name="id" id="id" value="{{id}}">

                        
                        <div class="col-sm-12 col-md-12">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>Titulo de Presentación</label>
                                {%if propiedad is defined and propiedad.0.titulo is defined %}
                                    <input type="text" value="{{propiedad.0.titulo}}" name="titulo" id="titulo" class="form-control required" required>
                                {%else%}
                                     <input type="text" value="" name="titulo" id="titulo" class="form-control required" required>
                                {%endif%}
                                </div>
                        </div>
                        
                    </div>
                    

                    <div class='row'>
                            <div class="col-sm-6 col-md-6">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>Subtitulo de Presentación</label>
                                {%if propiedad is defined and propiedad.0.subtitulo is defined %}
                                    <input type="text" value="{{propiedad.0.subtitulo}}" name="subtitulo" id="subtitulo" class="form-control required" required>
                                {%else%}
                                     <input type="text" value="" name="subtitulo" id="subtitulo" class="form-control required" required>
                                {%endif%}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">	
                                <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;"></span>Orden de Presentación</label>
                                {%if propiedad is defined and propiedad.0.orden is defined %}
                                    <input type="number" value="{{propiedad.0.orden}}" name="orden" id="orden" class="form-control required">
                                {%else%}
                                     <input type="number" value="" name="orden" id="orden" class="form-control required">
                                {%endif%}
                                </div>
                            </div>    
                                
                    </div><!-- row -->
                    
                    {%if id is defined and id>'0' %}   
                    {%if propiedad is defined and propiedad.0.imagen != null %}
                    <h2>Imagen</h2>
                        <div class="row">
                             {% if propiedad.0.imagen is defined%}
                                <div style="margin-top: 10px;" class="col-sm-12 col-md-3">
                                            <a href="{{genericDomain}}{{propiedad.0.imagen}}" target="_blank">
                                                <img src="{{genericDomain}}{{propiedad.0.imagen}}" style="width: auto; height: 180px;"/>
                                            </a> 
                                            <div class="txt cf-gris fw-light-n mt-2 ">  (1920px x 700px)</div>
                                            <!-- Guardar Eliminar -->
                                            <ul class="botonera-guardar-editar-eliminar">
                                                            <li><a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Cambiar Imagen</a></li>

                                            </ul>
                                            <!-- Fin Guardar Eliminar -->
                                </div>
                               
                            {%endif%}
                        </div>
                    {%else%} 
                        <h2>Imagen</h2>
                         <div class="row">
                            <div class="col-sm-12 col-md-3 mt-2">
                                  <img src="{{genericDomain}}front/images/img-default.jpg"
                                  class="width-responsive" alt="Amapolann" title="Amapolann"> 
                                  <div class="txt cf-gris fw-light-n mt-2 ">  (1920px x 700px)</div>
                                  <!-- Guardar Eliminar -->
                                          <ul class="botonera-guardar-editar-eliminar">
                                                          <li><a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Cambiar Imagen</a></li>

                                          </ul>
                                  <!-- Fin Guardar Eliminar -->
                            </div> 
                         </div>
                    {%endif%} 
                    
                    {%endif%}   
        
           

        
        </div>  
    </div><!-- row columna derecha de mapa --> 
        <ul id="botonera_acciones_generales">
            <li><input type="submit" id='siguiente' name='siguiente' class="boton alt-amarillo pull-left" value="Guardar"></li>
        </ul>   
</div><!-- Grupo datos -->

   </form>

</div>
       

</div>
<div id="myModalImagenes" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_ter' name='resultado_ter' class="atencion_botonera"></p> 
    <form action="" id="insertar_portada" name="insertar_portada" enctype="multipart-form/data">
        <p>Imágen de Portada</p>
        <input type="hidden" id="id_presentacion" name="id_presentacion" value="{{id}}" class="form-control">
        <label for="calle">Seleccione la nueva imágen ( 1920px x 700px)</label>
        <input type="file" id="imagen_por" name="imagen_por" class="form-control">
        <input type="submit" style=" background-color: rgba(2,94,175,1); color: white;" id="establecer_port" name="establecer_port" value="ESTABLECER!">
    </form>
  </div>

</div>
        
<div id="myModalEliminar" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin: auto; margin-top: 5%; padding: 10px;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p class="atencion_botonera" id="resultado_col" name="resultado_col" style="text-align: center">¿Confirma que desea eliminar la presentación?</p> 
    <br>
    <input type="button" style=" background-color: rgba(2,94,175,1); color: white;  margin-right: auto;" id="eliminar_col" name="eliminar_col" value="ELIMINAR">
  </div>

</div>        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style>                                          
                                                                             
                                                                                       


	
    {% endblock%}