

{% extends 'AmapolannUserBundle::layout.html.twig' %}


{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"  ></script>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<!--<link rel="stylesheet" href="css/normalize.css">-->
<link rel="stylesheet" href="{{genericDomain}}css/headerh.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}css/fontsh.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}css/stylesh.css"  type="text/css" />

<!--<link rel="stylesheet" href="css/bootstrap-grid.css"  type="text/css" />-->
<link rel="stylesheet" href="{{genericDomain}}css/bootstraph.css"  type="text/css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
body,h1{margin:0}img,legend{border:0}legend,td,th{padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}/ b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button{overflow:visible}button,select{text-transform:none;text-decoration:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}
/* CSS Document */

</style>

{% endblock %}

{% block js %}
{{ parent() }}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"  ></script>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
 
{% endblock %}

{% block content %}


        
<div class="bg bg-amp-height full-height">
    <div class="container h-100 ">
        <div class="row no-gutters h-100">


            <div class=" col-md-5 col-12   mt-2  centrar  align-self-center bg-blanco ">

                <div class=" col-12 col-md-8 centrar  p-4">
                    <a><img src="{{genericDomain}}/img/logo-amapolann-completo-negro.svg" class="width-responsive" /></a>
                </div>
               
                <div class="col-12" id="loginbox">
                
                    <div id="loginbox-header">
                        <div class="c">
                            <p class="loginbox-text fw-bold-t article-txt up-percase ">Ingrese usuario y contraseña</p>
                            {%if error is defined and error=='1'  %}
                            <p class="loginbox-texterror"><strong>Usuario o contraseña incorrectos</strong></p>
                            {% elseif error is defined and error=='2' %}
                            <p class="loginbox-texterror"><strong>Ingrese un email o usuario válido</strong></p>
                            {% elseif error is defined and error=='3' %}
                            <p class="loginbox-texterror"><strong>Enviamos un mail a tu casilla con tu contraseña</strong></p>
                            {%endif%}
                        </div>
                    </div>
                
                    <div id="loginbox-content">

                      <form method="POST" action="{{ url('log')}}" id="formcon" name="formcon" onsubmit="miFuncion(event)">
                            <div class="row">
                            <div class="col-12 mb-2">
                                <input name="usuario" placeholder="Usuario o Email" type="text">
                            </div>
                            <div class="col-12 mb-2">
                                <input id="inputPwd" name="pwd" placeholder="Contraseña" type="password">
                            </div>
                            <div class="col-12 mb-5 d-flex justify-content-end">
                                 <a data-toggle="modal" class="text-start" data-target="#modalRecuperarContrasenia"><u>Recuperar contraseña</u></a>
                            </div>



                            <!-- Invisible honeypot-->
                            <div class=" col-12 mb-2 off">
                                <input name="honey" id="honey" size="35" type="text"/>
                            </div>
                            <!--Fin  Invisible honeypot-->
                            <div style="margin-left:20%;" class="  col-12 mb-4 ">
                                    <div class="g-recaptcha" data-sitekey="6LfBMYAoAAAAAN1j-mbkB6ltOcT9yu4naml9s4qo"></div>
                            </div>
                            <div class="col-12 ">
                                <button class="boton alt-amarillo " id="btnLogin" type="submit" value="Ingresar">Ingresar</button>
                            </div>
                            
                            <div class="col-12 mb-4 mt-4" id="loginboxOuter">
                            
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div id="loginbox-darklayer" class="hidden"></div>
        
            </div>



        </div>
    </div>
</div>

                
<!-- reCAPTCHA V2  -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!--fin reCAPTCHA V2  -->     
<script>
  function miFuncion(evt) {
    var response = grecaptcha.getResponse();

    if(response.length == 0){
       $('#msgCaptcha').modal('show');
       evt.preventDefault();
       return false;
    } 
  }
</script>

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
 integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">

</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>


      
        
        
<div class="modal fade" id="msgCaptcha" tabindex="-1" role="dialog" aria-labelledby="msgConfirmacion"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="icon-close-modal"><img src="{{genericDomain}}images/icons/iconcerrar.svg" class="width-responsive"
                    data-dismiss="modal"></div>
            <div class="col-12 fw-bold-d cf-negro my-4 ">
                <span class=" sub-tit"> Verificación.</span> <br>
                <span class="txt fw-regular-d cf-celeste">No validaste el captcha.</span>

            </div>
        </div>
    </div>
</div>        


<!-- Modal -->
<div class="modal bg-transparent fade" id="modalRecuperarContrasenia" tabindex="-1" role="dialog" aria-labelledby="modalRecuperarContraseniaLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
		<div class="modal-content p-4 modal-colecciones-border">

			<div class="modal-body mt-4 mt-xl-0">


				<button type="button" class="close alto-boton-close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><img src="front/images/icons/icon-close-amarillo.svg" class="right  d-none d-xl-block" alt=""></span>
					<span aria-hidden="true"><img src="front/images/icons/icon-close-amarillo.svg" class="d-none d-sm-none" alt=""></span>
				</button>


				<div class="row">

                <div class="icon-close-modal"><img src="{{genericDomain}}images/icons/iconcerrar.svg" class="width-responsive"
                    data-dismiss="modal"></div>
					
					<div class="col-12">

						<h3 class="pb-2 pt-5 tit-modal-coleccion fw-bold-t pt-4 text-center">RECUPERAR CONTRASEÑA</h3>

                        <h5 class="fw-regular-t text-center">Ingrese el mail o el nombre de usuario registrado<br/> para recuperar la contraseña</h5> <br />



                        <div class="row">
                            <div class="col-12 mb-2">
                                <input name="usuario" placeholder="Email o Usuario" type="text" id="txtUsuario">
                            </div>

                            <div class="col-12 my-2 d-none" id="usuarioMail_noencontrado">
                                <h5 class="fw-regular-t text-danger">El usuario o Email ingresado no figura en nuestro sistema!</h5>
                            </div>

                            <div class="col-12">
                                <button type="button" class="mt-4 boton sobre_blanco"  id="btnRecuperar" onclick="recuperar()">ENVIAR</button>
                            </div>
                       
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="msgRecuperar" tabindex="-1" role="dialog" aria-labelledby="msgConfirmacion"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="icon-close-modal"><img src="{{genericDomain}}images/icons/iconcerrar.svg" class="width-responsive"
                    data-dismiss="modal" onclick="location.reload();"></div>
            <div class="col-12 mt-5 mb-2">
                <span class="fw-bold-t article-txt up-percase d-flex">Información enviada!</span> <br>
                <span class="txt fw-regular-t" id="txtRecuperar">Enviamos un mail con la información a <strong/></span>
            </div>

            <div class="col-12 mb-5">
                <button type="button" class="mt-4 boton sobre_blanco"   onclick="location.reload();">Cerrar</button>
            </div>

        </div>
    </div>
</div>

        
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

 
<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>
    

    
<script>
    let status = 0;
	function recuperar() {
        fetch('recuperar?usernameOrEmail=' + document.getElementById('txtUsuario').value)
        .then(response => {
            status = response.status;
            return response.json();
        })
        .then(json => {
            if (status == 200) {
                document.getElementById('txtRecuperar').innerText = 'Enviamos un mail con la información a ' + json.ok;
                $('#msgRecuperar').modal('show');  
                $('#modalRecuperarContrasenia').modal('hide');      
            } else {
                document.getElementById('usuarioMail_noencontrado').classList.add('d-block');
            }
        });
    }
</script>

{% endblock %}