<!DOCTYPE HTML>
<html lang="es" dir="ltr">
<head>
<meta charset="utf-8">

<title>Humancare - Salud y Bienestar</title>

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="all" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="theme-color" content="#00356c">

<meta name="og:title" content="Humancare"/>
<meta name="og:type" content="website"/>
<meta name="og:site_name" content="Humancare"/>
<meta property="og:image" content="{{genericDomain}}front/images/favicon.svg"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>

<link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Propios -->
<link rel="stylesheet" href="{{genericDomain}}front/css/header.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css"  type="text/css" />
<link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}"  type="text/css" />

          <script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>


</head>

<body>


    <!-- Header-->
    {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
    <!--Fin Header-->

<!--Nosotros-->
<div class="bg bg-section section-nosotros ">
    <div class="container   w-xl">
        <div class="row">
            <div class=" col-12 relative ">
                <div class="row d-flex ">
                    <div class="order-2 order-md-1 col-md-6 mb-5 pr-md-5 ">
                        <div class="row  align-items-center h-100">

                            <div class="col-12">
                                <div class="row ">
                                    <h1 class="col-12 mb-2">
                                        <p class="tit cf-azul fw-regular-d">
                                            <span class="fw-bold-d ">Nosotros</span></p>
                                    </h1>
                                    <div class=" col-12 mt-3 mb-5">
                                        <p class="txt-tit cf-gris  fw-light-t">
                                            En <span class="fw-bold-t">Humancare empresa 100% colombiana</span>, con mas de 20 años de experiencia en el sector salud y farmacéutico. Nuestro compromiso es el bienestar y la salud, trabajamos para preservar el bienestar de los Colombianos
                                        </p>
                                    </div>

                                    <div class=" col-12 mt-5 mb-5">
                                        <a href="{{ genericDomain }}contactpage"><span class="boton left"> CONTACTO</span></a> 
                                     </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class=" order-1 order-md-2  col-md-6 col-12 mb-5  mb-md-0 pl-md-5 ">
                        <div class="img-secction-mobile radius inferior overflow-h">
                            <img src="{{genericDomain}}front/images/img-nosotros.jpg" class="width-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin nosotros-->





<!-- Sub Titulo-->
<div class="bg bg-verde sub-tit-section  ">
    <div class="container w-xl ">
        <div class="row   ">
            <div class="col-12  mb-5 mt-4 ">

                <p class="ta-left fw-regular-d cf-blanco article-tit "> 
                  Nuestra 
                    <span class=" fw-bold-d "> Historia</span>  

                </p>

            </div>
        </div>
    </div>
</div>
<!--Fin Sub Titulo-->

<!-- Producto-->
<div class="bg overflow-h  my-5 ">
    <div class="container w-xl ">
        <div class="row ">
            <div class="col-12  mb-4 mt-5  ">
                    <div class="icon icon-logo centrar"><img src="{{genericDomain}}front/images/icons/logo-humancare.svg" class="width-responsive"></div>
            </div>

            <div class="col-12 col-md-10  centrar">
                <p class="cf-azul fw-light-t article-txt centrar mb-4">
                    Humancare nace en el 2009 , donde un grupo de Especialistas en Medicina Interna y fertilidad deciden unirse para crear una entidad que brinde soluciones de salud a las familias colombianas, desde allí ha logrado representar marcas lideres a nivel internacional como:
                </p>
            </div>

        </div>
    </div>
</div>
<!--Fin producto-->

<!-- Marcas-->
<div class="bg overflow-h  ">
    <div class="container w-xl ">
        <div class="row ">
            <div class="col-md-10 centrar  mb-5 mt-5  ">
                <div class="row no-gutters">
                    <div class="col-12 col-md-4">
                        <img src="{{genericDomain}}front/images/logo-ibsa.jpg" class="width-responsive mb-5" />
                        
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{genericDomain}}front/images/logo-nidacon.jpg" class="width-responsive mb-5" />
                        
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{genericDomain}}front/images/logo-cysbiotic.jpg" class="width-responsive mb-5" />
                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin marcas-->

<!-- Mision Vision-->
<div class="bg overflow-h  borde-bottom-gris  ">
    <div class="container w-xl ">
        <div class="row ">

            <div class="col-12 col-md-6   cuadro-color px-5">

                <div class="row  align-items-center bg-verde overflow-h h-100 ">
                 <div class="col-12 ">  
                <p class="centrar p-5 ">
                 <span class="sub-tit cf-blanco fw-bold-d ">
                    Misión 
                 </span><br><br>
                 <span class="txt-sub-tit cf-blanco fw-light-t ">
                    Servir a los Colombianos ofreciéndoles<br>
                    los mejores productos farmacéuticos y terapias <br>
                    para la salud de las familias
                 </span>

                </p>
                </div> 
                </div>
            </div>

            <div class="col-12 col-md-6   cuadro-color px-5 mb-5">

                <div class="row  align-items-center bg-degrade overflow-h h-100 ">
                 <div class="col-12 ">  
                <p class="centrar p-5 ">
                 <span class="sub-tit cf-blanco fw-bold-d ">
                    Visión 
                 </span><br><br>
                 <span class="txt-sub-tit cf-blanco fw-light-t ">
                    Ser una empresa que todos los días innova y trabaja <br>
                    para que todos sus procesos sean excelentes, <br>
                    en pro de la salud de las personas
                 </span>

                </p>
                </div> 
                </div>
            </div>

        </div>
    </div>
</div>
<!--Fin mision vision-->

<!-- Promesa de Valor-->
<div class="bg  bg-img-section ">
    <div class="container w-xl  ">
        <div class="row ">
            <div class="col-12  cuadro-destacado pt-4">
                <div class="row  align-items-center  h-100 ">
                    <div class="col-12 ">
    
                        <span class="txt-tit cf-azul fw-bold-d"> Promesa de valor</span>
                      </div>
                     
                      <div class="col-12 col-md-5 mb-5 ">
                        <p class="cf-azul fw-light-italic-t destacado-txt ta-left mb-4">
                            “Nuestro compromiso es trabajar con excelencia por
                             el bienestar y salud de los Colombianos, 
                            representando productos y terapias que cuidan 
                            <span class="fw-bold-italic-t">la vida de las familias. ”</span>
                        </p>
                      </div>

                      <div class="col-12  mt-5  align-self-end ">
                        <div class="icon icon-logo destacado-img float-right"><img src="{{genericDomain}}front/images/icons/logo-humancare-blanco.svg" class="width-responsive">
                        </div>
                    </div>


                </div>
    
            </div>
    

        </div>
    </div>
</div>
<!--Fin promesa de valor-->

<!-- Valores-->
<div class="bg borde-bottom-gris mb-5">
    <div class="container w-xl ">
        <div class="row ">
            <div class="col-12  ">
                <div class="row no-gutters">
                    <div class="col-12  bg-blanco radius">
                        <p class="txt up-percase cf-gris-oscuro fw-light-t m-5 centrar">
                           -  Respeto y calidez - Trabajo en equipo - Excelencia en calidad - Voluntad de servicio
                            Responsabilidad social - Convicción - Transparencia
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!--Fin valores-->


<!-- Experiencia-->
<div class="container w-xl">
    <div class="row  ">
        <div class="col-12  ">
            <p class="ta-left fw-display-d cf-azul sub-tit ">
                <span class=" fw-bold-d "> Experiencia</span>

            </p>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-4 ta-center  cuadro-color p-4">
            <div class="row  align-items-center  overflow-h h-100 borde mr-md-1">
                <div class="col-12 linea-verde-miscelanea ">
                    <p class="txt up-percase cf-azul fw-light-t  ">
                        Llegamos a más de  <br>
                        <span class="fw-bold-t destacado-txt">
                            8.000 pacientes 
                        </span><br>
                        con terapias especificas

                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ta-center  cuadro-color p-4">
            <div class="row  align-items-center  overflow-h h-100 borde ">
                <div class="col-12 linea-verde-miscelanea ">
                    <p class="txt up-percase cf-azul fw-light-t  ">
                        Representamos mas <br>
                        <span class="fw-bold-t destacado-txt">
                            5 marcas <br>
                            a nivel mundial

                        </span>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 ta-center  cuadro-color p-4 ">
            <div class="row  align-items-center  overflow-h h-100 borde ml-md-1">
                <div class="col-12 linea-verde-miscelanea ">
                    <p class="txt up-percase cf-azul fw-light-t  ">
                        Llegamos a más de <br>
                        <span class="fw-bold-t destacado-txt">
                            200 instituciones

                        </span><br>
                        de salud a nivel nacional
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin experiencia-->





<!-- Fertilidad-->
<div class="bg-section section-fertilidad full-height">
    <div class="container h-100  w-xl">
        <div class="row">
            <div class=" col-12 relative mt-5">
                <div class="row d-flex ">
                    <div class=" order-1 order-md-1  col-md-6 col-12 mb-5 pr-md-5">
                        <div class="img-secction-mobile radius overflow-h mt-5">
                            <img src="{{genericDomain}}front/images/img-fertilidad.jpg" class="width-responsive" alt="Humancare fertilidad" title="Humancare fertilidad"> 
                        </div>
                      </div>
                  <div class="order-2 order-md-2 col-md-6 mb-5 pl-md-5">
                    <div class="row  align-items-center h-100">
                        <div class="col-12">
                    <h1 class="mb-3">
                        <p class="tit cf-azul fw-regular-d"> 
                            Cuidamos la salud<br>
                       <span class="fw-bold-d ">de los colombianos</span></p>
                   </h1>
                    <div class="mt-3">
                        <p class="txt-tit cf-gris  fw-light-t">
                            Nuestra amplia cartera en opciones de tratamientos, 
                            <span class="fw-bold-t cf-azul">dispositivos y tecnologías avanzadas de fertilidad,</span> nuestro objetivo es contribuir a mejores resultados, que ayuden a parejas a cumplir el sueño de ser padres.
                        </p>
                    </div>
                    <div class="mt-5">
                        <a href="{{ genericDomain }}contactpage"><span class="boton left"> CONTACTO</span></a>
                    </div>
                    </div>
                    </div>
                  </div>

               </div>
            </div>
        </div>
    </div>
</div>
<!--Fin fertilidad-->






<!--Footer-->
{% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
<!--Fin footer-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

 
<!-- efectos personales -->
<script src="{{genericDomain}}front/js/scripts.js"></script>


</body>


</html>