{% extends 'SerincoCoreBundle::layout.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{ asset('js/jquery-polka.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery.jscroll.min.js') }}" type="text/javascript"></script>

	
{% endblock %}





{% block content %}

{{ parent() }}
{% render "SerincoCoreBundle:Default:header" with {'user':user} %}
         
<div style="text-align: center;" id="cc-m-6114549079" class="j-module n j-text ">
        {% if texto is defined and texto!='' %}
            <p class="pUsuario" style="    color: rgba(2,94,175,1);"><strong>{{texto}}</strong><p>
        {%endif%}
     <form method="POST" action="{{ url('nuevousuario')}}"> 
         {% if usuario.id is defined and usuario.id!='' %}
        <p class="pUsuario" style="    color: darkorange;    font-size: 16px;"><strong>EDICIÓN DE USUARIO</strong><p>
        {%else%}
        <p class="pUsuario" style="    color: darkorange;    font-size: 16px;"><strong>ALTA DE USUARIO</strong><p>
        {%endif%}
            {% if usuario.id is defined and usuario.id!='' %}
            <p class="pUsuario" style="    color: rgba(2,94,175,1);">ID DE USUARIO:<p>
            <p id="id" style="font-size: 16px;margin-top:5px;" name="id">{{usuario.id}}</p>
            <input type="hidden" name="id" value="{{usuario.id}}">
        {%endif%}
        <p class="pUsuario" style="    color: rgba(2,94,175,1);">NOMBRE:<p>
        <input {% if usuario.nombre is defined and usuario.nombre!='' %} value="{{usuario.nombre}}"{%endif%} style="height: 35px; width: 50%;  margin-top: 10px;" id="nombre" name="nombre" type="text">
        <p class="pUsuario" style="    color: rgba(2,94,175,1);">EMAIL:<p>
        <input {% if usuario.email is defined and usuario.email!='' %} value="{{usuario.email}}"{%endif%} style="height: 35px; width: 50%;  margin-top: 10px;" id="email" name="email" type="text">
        <p class="pUsuario" style="    color: rgba(2,94,175,1);">CONTRASEÑA:<p>
        <input {% if usuario.contrasena is defined and usuario.contrasena!='' %} value="{{usuario.contrasena}}"{%endif%} style="height: 35px; width: 50%;  margin-top: 10px;" id="contrasena" name="contrasena" type="text">
        <p class="pUsuario" style="    color: rgba(2,94,175,1);">ADMIN:<p>
        <select style="height: 36px;  width: 100px;" name="admin">
            <option {% if usuario.admin is defined and usuario.admin=='0' %} selected {%endif%} value="0">NO</option>
            <option {% if usuario.admin is defined and usuario.admin=='1' %} selected {%endif%} value="1">SI</option>
        </select>
        <p class="pUsuario" style="    color: rgba(2,94,175,1);">HABILITADO:<p>
        <select style="height: 36px;  width: 100px;" name="habilitado">
            <option {% if usuario.habilitado is defined and usuario.habilitado=='0' %} selected {%endif%} value="0">NO</option>
            <option {% if usuario.habilitado is defined and usuario.habilitado=='1' %} selected {%endif%} value="1">SI</option>
        </select>
        <br><br>
        <input style="    background-color: rgba(2,94,175,1);    color: white;    height: 35px;    width: 100px;" type="submit" value="GRABAR">
     </form> 
                  
                </div>


 

	
    
{% endblock %}