<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>

    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

          <script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>

</head>

<body>




    <div class="bg-section section-terminaciones ">

        <!-- Header-->
        {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
        <!--Fin Header-->
        <!-- Productos-->
        <div class="container w-xl  d-flex align-self-center ">
            <div class="row  mt-md-2">
                <div class="col-12 mb-2 mt-5 ">
                    <span class="txt-sub-tit cf-amarillo fw-regular-t pl-2">
                        NUESTROS
                    </span>
                </div>
                <div class=" col-6  mb-5 ">
                    <span class="tit fw-medium-d cf-blanco  "> Productos</span>

                </div>
                <div class="btn-whatsapp ">
                    <a
                        href="https://api.whatsapp.com/send?phone=5491124967000&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor.">
                        <div class="no-gutters ">

                            <span class="col-12 d-flex justify-content-center">
                                <div class="icon icon-wp-flotante pr-4 "></div>(+549) 11 2496 -7000
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--Fin  productos -->
    </div>




    <!-- Banner Redes -->
    <div class="bg bg-blanco sub-tit-section  mobile">
        <div class="container w-xl mt-5">
            <div class="row  ">
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-4 my-auto">
                            <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                        </div>
                        <div class="col-8 ">
                            <div class="redes banner">
                                <ul>
                                    <li>
                                        <a href="" target="_blank">
                                            <div class="icon icon-lista ig-negro"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank">
                                            <div class="icon icon-lista fb-negro"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank">
                                            <div class="icon icon-lista pint-negro"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin  banner redes -->


    <div class="bg bg-section section-colecciones">
        <!-- Titulo -->

        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                    <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Colecciones </span>
                </div>
            </div>
        </div>

        <!--Fin titulo-->

    


   

    <!--Colecciones -->
    <div class="container w-xl ">
                      <div class="lista-colecciones col-12  mb-2 mt-5">
                         
                         
                        
                         
                         
                         <ul class="row no-gutters d-flex align-items-stretch">
                         {%if colecciones is defined and colecciones != ""%}
                            {%for coleccion in colecciones%}

                            <li class="col-12 col-md-4 mb-5 mt-3 px-md-3">
                                
                                <div class="row no-gutters">
                                    <div class="col-12">
                                    
                                        <a href="{{ genericDomain }}coleccion?id={{coleccion.id}}">
                                            <div class="img-colecciones">
                                                <div class="flotante circulo-fav  cursor alt-fav circulo-blanco sombra ">
                                                    <span class="icon-icon-mas "></span>
                                                </div>
                                                <img src="{{genericDomain}}{{coleccion.imagen_portada}}" />
                                            </div>
                                        </a>

                                    </div> 

                                    <div id="{{coleccion.titulo}}" class="col-12 my-4">
                                        <p class="sub-tit fw-medium-d  cf-negro mb-5 text-center">
                                            <a href="{{ genericDomain }}coleccion?id={{coleccion.id}}"> {{coleccion.titulo}}</a>
                                        </p>
                                        <p class="cf-gris txt fw-light-italic-t  text-center ">
                                            {{coleccion.descripcion|raw}}
                                        </p>
                                        <a href="{{genericDomain}}coleccion?id={{coleccion.id}}" class="centrar"> <div class=" centrar boton mt-5">Ver más</div></a>
                                    </div>
                                </div>
                            </li>

                             {%endfor%}
                        {%endif%}
                         </ul>
                       </div>
    </div>
</div>
    <!--End Colecciones -->

    <!-- Icon Texto -->
    <div class="container w-xl ">
        <div class="row ">
            <div class="col-12 col-md-10 centrar mb-5 mt-2">
                <div class="row no-gutters  p-4">
                    {# <div class="col-12 col-md-3 pr-md-4">
                        <img src="{{genericDomain}}front/images/icons/logo-amapolann-completo-negro.svg" class="width-responsive" />
                    </div> #}
                    <div class="col-12 mt-4 mb-4">
                        <p class="cf-gris txt fw-light-italic-t">
                            {%if descrip_coleccion is defined and descrip_coleccion != ""%}
                                    {{descrip_coleccion}}                            
                            {%endif%}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Fin  Icon Texto -->


    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  tabletyweb">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12  mb-5 mt-5">
                    <p class="ta-center fw-regular-d cf-blanco article-tit ">
                        Griferias con
                        <span class=" fw-bold-d "> Estilo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->

    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- efectos personales -->
    <script src="{{genericDomain}}front/js/scripts.js"></script>


</body>


</html>