<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

   
    <meta name="og:title" content="{{producto.0.titulo}}" />
    <meta name="og:type" content="website" />

    <meta property="og:description" content="{{producto.0.descripcion}}" />
    <meta name="og:site_name" content="Amapolann - Griferías con estilo" />
    <meta property="og:image" content="{{genericDomain}}{{producto.0.imagen_portada}}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="http://amapolann.com/"/>

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>

    <!-- jsPDF library -->
    <script src="js/jsPDF/dist/jspdf.min.js"></script>

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MM8M5WF4L2');
    </script>


    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />
    
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    
    
    <script type="text/javascript">
    if (document.layers) {
        //Capture the MouseDown event.
        document.captureEvents(Event.MOUSEDOWN);
    
        //Disable the OnMouseDown event handler.
        document.onmousedown = function () {
            return false;
        };
    }
    else {
        //Disable the OnMouseUp event handler.
        document.onmouseup = function (e) {
            if (e != null && e.type == "mouseup") {
                //Check the Mouse Button which is clicked.
                if (e.which == 2 || e.which == 3) {
                    //If the Button is middle or right then disable.
                    return false;
                }
            }
        };
    }
    
    //Disable the Context Menu event.
    document.oncontextmenu = function () {
        return false;
    };
    </script>







    <!-- Compartir en facebook -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v12.0" nonce="XXoBhArL"></script>



    <!-- Smartsupp Live Chat script -->
        <script src="{{genericDomain}}front/js/chatbot.js"></script>
    <!-- Smartsupp Live Chat script -->


  

</head>

<body>
 


<div id="aviso_generacion_pdf">
<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div id="test_html_pdf">


    <div class="bg-section section-terminaciones">

        <!-- Header-->
        {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
        <!--Fin Header-->


        <!-- Productos-->
        <div class="container w-xl  d-flex align-self-center">
            <div class="row mt-md-2">


                <div class="col-12 mb-2 mt-5">
                    <span class="txt-sub-tit cf-amarillo fw-regular-t pl-2">
                        NUESTROS
                    </span>
                </div>


                <div class="col-6 mb-5">
                    <span class="tit fw-medium-d cf-blanco"> Productos</span>
                </div>

                <div class="btn-whatsapp">
                    <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                        <div class="no-gutters">

                            <span class="col-12 d-flex justify-content-center">
                                <div class="icon icon-wp-flotante pr-4 "></div>
                                (+54 9) 11 7717-2020
                            </span>
                        </div>
                    </a> 
                </div>


                {# <div class="btn-whatsapp llamar">
                    <a href="tel:+54 9 11 77172020">
                        <div class="no-gutters">
                            <span class="col-12 d-flex justify-content-center">
                                <div class="icon icon-llamar-flotante pr-4"></div>
                                0810 444-8080
                            </span>
                        </div>
                    </a> 
                </div> #}

            

            </div>
        </div>
        <!--Fin  productos -->
    </div>





    <div class="d-block d-md-none">{% include "AmapolannUserBundle:Account:footer_reducido_front.html.twig"%}</div>



    <!-- Banner Redes -->
    <div class="bg bg-blanco sub-tit-section  mobile" id="elementH">
        <div class="container w-xl mt-5">
            <div class="row ">
                <div class="col-12 mt-0 pt-0">
                    <div class="row">

                        <div class="col-4 my-auto">
                            <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                        </div>
                        <div class="col-8 ">
                            <div class="redes banner">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin  banner redes -->


    <div class="bg bg-section section-colecciones-oscuro" >



        <!-- Titulo -->

        <div class="container w-xl" id="generaPdfA">

            <div class="col-12 mt-5 mb-2 px-0">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{genericDomain}}">colecciones</a></li>
                  <li class="breadcrumb-item"><a href="{{genericDomain}}coleccion?id={{producto.0.id_categoria}}">{{producto.0.coleccion}}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{producto.0.titulo}}</li>
              </ol>
            </div>

            <div id="coleccion-milnovecientos" class="row">
                <div class=" col-12 centrar mt-3 mb-5 ">
                    <span class=" sub-tit colecciones fw-medium-d cf-blanco ta-center"> 
                        {%if producto is defined and producto != ""%}{{producto.0.titulo}}{%endif%}
                    </span>
                </div>

                <div class="col-12 centrar mb-5">
                    <p class="txt fw-light-n cf-amarillo ta-center up-percase bajada_detalle_producto_especifico"> 
                       colección: <span class="fw-bold-n mr-2">{{producto.0.coleccion}}</span>
                    
                        <span class="ml-4">Código:</span>

                        <span class="fw-bold-n"> 
                            {{producto.0.codigo_coleccion}} - {{producto.0.codigo}} -  XXYY   
                        </span>
                    </p>
                </div>
            </div>

        </div>

        <!--Fin titulo-->

    
        <!--Coleccion 1900 -->
        <div class="container w-xl ">
            <div class="row ">

                    <div class="col-10  mb-2 mt-2  centrar ">
                        
                        <div class="row">



                            <div class="col-12 col-lg-9 px-0">
                                <div class="tab-content" id="nav-tabContent">
                                
                                <div class="tab-pane fade show active" id="img1" role="tabpanel" aria-labelledby="list-img1">

                                    <a href="#" id="agregar-favoritos" data-cole="{{producto.0.coleccion}}" data-nombre="{{producto.0.descripcion}}" data-idProd="{{producto.0.id}}" data-codigo="{{producto.0.codigo}} - {{producto.0.codigo_coleccion}} - XXYY" data-imagenProd="{{genericDomain}}{{producto.0.imagen_portada}}" data-urlProd="{{genericDomain}}producto?id={{producto.0.id}}" class="bt_agregar_favoritos bt_agregar_favoritos_sobre_imagen"><img src="front/images/icons/icon-fav-amarillo.svg" class="iconos_botones_acciones"/>Agregar a favoritos</a>


                                    <img loading="lazy" src="{{genericDomain}}{{producto.0.imagen_portada}}" class="width-responsive"/>
                                    
                                </div>

                                <div class="tab-pane fade" id="img2" role="tabpanel" aria-labelledby="list-img2">
                                    <img loading="lazy" src="{{genericDomain}}front/images/productos/2.jpg" class="width-responsive"/>
                                </div>
                                </div>
                            </div>




                            <!-- Conteedor plano + info + botones -->
                            <div class="col-12 col-lg-3 bg gris-oscuro py-4 borde-4p">



                                <!-- Plano decrpcion y dimensiones -->

                                {%if producto.0.mostrar_plano is defined and producto.0.mostrar_plano == 1 %}
                                    

                                        <div clas="row">
                                        
                                            {%if producto is defined and producto.0.imagen_plano !=""%}
                                                <div class="col-12 cf-blanco up-percase ta-left px-0">
                                                    <span class="txt fw-bold-t cf-">{{producto.0.tipoPlano}}</span>
                                                </div>
                                                <div class="img-productos mb-4 mt-2">
                                                
                                                    <a href="#" data-toggle="modal" data-target="#mPlanoProducto"> 
                                                    <img loading="lazy" src="{{genericDomain}}{{producto.0.imagen_plano}}" class="plano" />
                                                    </a>
                    
                                                </div>
                                            {%endif%}

                                            <div class="col-12 cf-blanco up-percase ta-left px-0">
                                            <span class="txt fw-bold-t cf-">DIMENSIONES</span>


                                            <div class="txt mt-2 fw-light-n">
                                                
                                                <div class="row">
                                                    <div class="col-3 mb-1">Largo:</div>
                                                    <div class="col-4 text-right p-0 mb-1">{{producto.0.alto}}</div>
                                                    <div class="col-4 mb-1">cms</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-3 mb-1">Ancho:</div>
                                                    <div class="col-4 text-right p-0 mb-1">{{producto.0.ancho}}</div>
                                                    <div class="col-4 mb-1">cms</div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-3 mb-1">Prof.:</div>
                                                    <div class="col-4 text-right p-0 mb-1">{{producto.0.profundidad}}</div>
                                                    <div class="col-4 mb-1">cms</div>
                                                </div>

                                            </div>


                                            <p class="txt fw-light-italic-t cf-amarillo text-left mb-5 mt-3">
                                                {{producto.0.descripcion}}
                                            </p>

                                            <input type="hidden" name="idProducto" id="idProducto" value="{{producto.0.codigo}}">
                                            <input type="hidden" name="tituloProducto" id="tituloProducto" value="{{producto.0.titulo}}">

                                        </div>

                                    
                                {%endif%}  
                                <!-- Fin Plano decrpcion y dimensiones --> 





                                <!-- BOTONES DE PLANOS --> 
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="acciones_prod_especifico">
                                        
                                        {%if producto.0.mostrar_plano is defined and producto.0.mostrar_plano == 1 %}
                                            

                                            {%if producto is defined and producto.0.pdf_plano !=""%}
                                                <li><a  href="{{producto.0.pdf_plano}}" download><img src="front/images/icons/icon-descargar-amarillo.svg" class="iconos_botones_acciones"/> Descargar {{producto.0.tipoPlano}}</a>
                                                </li>
                                            {%endif%}

                                        {%endif%}

                                            <li>    
                                                <a href="#" class="despliega_compartir"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"/>Compartir</a>
                                                <ul class="botones_compartir">                    
                                                    <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20https://www.amapolann.com/producto?id={{producto.0.id}}" target="_blank" class="whatsapp">whatsapp</a></li>
                                                    <li>
                                                        {# <div class="fb-share-button" data-href="https://www.amapolann.com/producto?id=15644" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Facebook</a></div> #}

                                                        <a href="http://www.facebook.com/sharer.php?u=https://www.amapolann.com/producto?id={{producto.0.id}}&t=NorfiPC" target="_blank" class="facebook ">Facebook</a>
                                                            
                                                    </li>
                                                    
                                                    <li><a href="mailto:?subject=Recomendación de Amapolan!&amp;body=Mirá este producto ingresando en https://www.amapolann.com/producto?id={{producto.0.id}}" class="mail" target="_blank">Mail</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="javascript:copiar_link();"><img src="front/images/icons/icon-copiar-amarillo.svg" class="iconos_botones_acciones"/> Copiar Link</a></li>
                                            
                                            
                                            {# <li><a  id="#" href="#" download><img src="front/images/icons/icon-descargar-amarillo.svg" class="iconos_botones_acciones"/> Descargar PDF</a></li> #}

                                            <li><a href="#" id="btnCrearPdf"><img src="front/images/icons/icon-descargar-amarillo.svg" class="iconos_botones_acciones"/> Descargar PDF</a></li>

                 
                                            <li><a href="#" id="agregar-favoritos" data-cole="{{producto.0.coleccion}}" data-nombre="{{producto.0.descripcion}}" data-idProd="{{producto.0.id}}" data-codigo="{{producto.0.codigo}} - {{producto.0.codigo_coleccion}} - XXYY" data-imagenProd="{{genericDomain}}{{producto.0.imagen_portada}}" data-urlProd="{{genericDomain}}producto?id={{producto.0.id}}" class="bt_agregar_favoritos"><img src="front/images/icons/icon-fav-amarillo.svg" class="iconos_botones_acciones"/> Agregar a favoritos </a></li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- fin BOTONES DE PLANOS --> 

    
                            </div> 
                            <!-- FiN Conteedor plano + info + botones -->


                            <div id="aviso_url_copiada">Link copiado!</div>



        </div>



                    {%if terminaciones_x_prod is defined and terminaciones_x_prod|length > 0 %}
                    <div class="col-12 pt-4 pb-4 mt-1 bg-negro">
                     <p class="cf-blanco article-txt legal fw-bold-t up-percase text-center text-md-left ">
                       TERMINACIONES DISPONIBLES
                     </p>
                    </div>



                    <div class="col-12 bg-negro pb-4">

                        <div class="row no-gutters">
                            {%for termi in terminaciones_x_prod%}
                            <div class="col-4 col-sm-4 col-md-2 col-lg">
                                <div class="card h-100">
                                    <img loading="lazy" src="{{genericDomain}}{{termi.imagen_portada}}" class="img-fluid"/> 
                                    <div class="card-body">
                                        <p>{{termi.titulo}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="txt fw-light-n cf-blanco mt-2 d-none d-sm-block ">
                                            <p> COD: <span class="fw-medium-n">{{termi.codigo}}</span> </p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>


                    
                    <!-- ANTERIOR (JORGE) -->
                    {#
                    <div class="col-12 lista-terminacion-producto px-2 px-md-3 bg-negro">
                        <ul class="row no-gutters" id="list-tab" role="tablist">
                        {%for termi in terminaciones_x_prod%}
                        <li class="centrar">
                            <a class="active icon icon-terminaciones-disponibles productos" id="list-img1" data-toggle="list" href="#img1" role="tab" aria-controls="img1">
                            <img loading="lazy" src="{{genericDomain}}{{termi.imagen_portada}}" class="width-responsive"/>
                            </a>
                            {{termi.titulo}}
                            <div class="txt fw-light-n cf-blanco mt-3 d-none d-sm-block">
                                COD: <span class="fw-medium-n">{{termi.codigo}}</span>
                            </div>
                        </li>
                        {%endfor%}
                        </ul>
                    </div>
                    #}

                    {%endif%}




                    
                    <!-- imagenes Adicionales (nuevo Gallo) -->
                    {%if imagenes is defined and imagenes|length > 0 %}
                    <div class="col-12 bg-negro pb-4 pt-4 mt-4">
                        <div class="row no-gutters d-flex justify-content-center">
                            {%for img in imagenes%}   
                            <div class="col-4 col-sm-4 col-md-2 col-lg-2" data-target="#slider-galeria-modalAdic" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>

                                <div class="img-colecciones btn-hover cursor"  data-toggle="modal"
                                        data-target="#mCarouselGaleriaAdic">
                                    <img class="with-responsive" src="{{genericDomain}}{{img.imagen}}" >
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    {%endif%}
                    <!-- imagenes Adicionales (nuevo Gallo) -->
        


                    
                    {%if levas_x_coleccion is defined and levas_x_coleccion|length > 0 %}
                    <div class="col-12 pt-4 pb-4 mt-1 bg-negro">
                     <p class="cf-blanco article-txt legal  fw-bold-t   up-percase text-center text-md-left ">
                       LEVAS DISPONIBLES
                     </p>
                    </div>

                    <div class="col-12 lista-terminacion-producto px-2 mb-4 px-md-3 bg-negro">

                        <ul class="row no-gutters" id="list-tab" role="tablist">
                        {%for leva in levas_x_coleccion%}
                        <li class="centrar">
                            <a class="active icon icon-terminaciones-disponibles productos" id="list-img1" data-toggle="list" href="#img1" role="tab" aria-controls="img1">
                            <img loading="lazy" src="{{genericDomain}}{{leva.imagen_portada}}" class="width-responsive"/>
                            </a>
                            {{leva.titulo}}
                            <p class="txt fw-light-n  cf-blanco mt-3 d-none d-sm-block">
                                       <a> COD: #<span class="fw-medium-n  ">{{leva.codigo}}</span></a>
                            </p>
                        </li>
                        {%endfor%}
                        </ul>
                    </div>
                    {%endif%}
                            

                    <!-- Boton Contacto -->
                     <div class="container w-xl mobile ">
                         <div class="row ">
                             <div class=" col-12  mb-5 mt-5 ">
                                 <a href="{{ genericDomain }}contacto"><span class="boton xl left centrar"> CONTACTO AMAPOLANN</span></a>
                             </div>

                         </div>
                     </div>
                     <!--Fin  boton contacto -->




        {%if productos_coleccion is defined and productos_coleccion|length > 0%}
        <div class="col-12 mt-5 mb-4 exclusion_html_pdf">
            <p class="cf-blanco article-txt legal  fw-bold-t   up-percase text-center text-md-left ">
            PRODUCTOS RELACIONADOS
            </p>
        </div>

        <!--Coleccion Nueva -->
            <div class="container w-xl exclusion_html_pdf">
                <div class="row justify-content-center">

                            {%for producto in productos_coleccion%}

                            <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-4 " data-target="#slider-galeria-modalR" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>

                                <div class="row no-gutters">
                                    <div class="col-12">
                                        
                                        <div class="img-colecciones btn-hover cursor" data-toggle="modal"
                                            data-target="#mCarouselGaleriaR">

                                            <img class="with-responsive" src="{{genericDomain}}{{producto.imagen_portada}}" >
                                        
                                        </div>
                                    </div> 
                                    <div class="col-12">
                                    
                                        <p class="sub-tit productos fw-medium-d  cf-blanco mb-2 mt-4 text-center">
                                            <a href="{{genericDomain}}producto?id={{producto.id}}">{{producto.titulo}}</a>
                                            
                                            <div class="txt cf-amarillo fw-light-n mt-0 text-center">
                                                COD: <span class="fw-medium-n">{{producto.codigo_coleccion}} - {{producto.codigo}} - XXYY</span>
                                            </div>
                                        </p>
                                    
                                    </div>
                                </div>

                            </div>

                        {%endfor%}
                
                
                </div>
            </div>
        <!--Coleccion Nueva -->
        {%endif%} 

                        <!--Coleccion Anterior (JORGE) -->
                        {#<div class="lista-colecciones col-12  mb-2 mt-5 px-0 ">
                            <ul class="row no-gutters" >
                                {%for producto in productos_coleccion%}
                                <li class="col-12 col-md-3 mb-md-5 mb-2 px-md-3 px-1 altura-automatica" data-target="#slider-galeria-modalR" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            
                                            <div class="img-colecciones btn-hover cursor" data-toggle="modal"
                                                data-target="#mCarouselGaleriaR">

                                                <img class="with-responsive" src="{{genericDomain}}{{producto.imagen_portada}}" >
                                            
                                            </div>
                                        </div> 
                                        <div class="col-12">
                                        
                                            <p class="sub-tit productos fw-medium-d  cf-blanco mb-2 mt-4 text-center">
                                                <a href="{{genericDomain}}producto?id={{producto.id}}">{{producto.titulo}}</a>
                                            </p>
                                        
                                        </div>
                                    </div>
                                </li>
                                {%endfor%}
                                
                            </ul>
                        </div>
                        <!--Coleccion Anterior (JORGE) -->
                        {%endif%}#}


                </div>


            </div>

        </div>



    </div>
    <!--Fin  Colecciones -->


    <!-- Icon Texto -->
    <div class="container w-xl exclusion_html_pdf ">
        <div class="row my-5">
            <div class="col-12 mb-5">
                <a href="{{ genericDomain }}contacto"><span class="boton xl left centrar"> CONTACTO AMAPOLANN</span></a>
            </div>

        </div>
    </div>
    <!--Fin  Icon Texto -->
    </div>


     <div class="d-block d-md-none">{% include "AmapolannUserBundle:Account:footer_reducido_front.html.twig"%}</div>


       <!--Nuevo galeria-->
       {%if galeria_productos is defined and galeria_productos|length > 0 %}
        <div class="bg bg-section section-colecciones exclusion_html_pdf">
            <!-- Titulo -->
            <div class="container w-xl">
                <div class="row mb-5">
                    <div class=" col-12 centrar mt-5 mb-5">
                        <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Galería</span>
                    </div>
                </div>
            </div>
            <!--Fin titulo-->



            <!--Galeria Nueva -->
            <div class="container w-xl mb-5 ">
                <div class="row justify-content-center">
                    {%for presentacion in galeria_productos%}
                    <div class="col-6 col-md-3 col-lg-2 ">

                        <div class="row no-gutters">
                        
                    
                            
                            
                            <div class="col-12" data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                            
                                <div id="div_foto" name="div_foto" class="img-colecciones btn-hover cursor" data-id="{{presentacion.id}}" data-toggle="modal"
                                        data-target="#mCarouselGaleria">
                                    <img loading="lazy" class="with-responsive" src="{{genericDomain}}{{presentacion.imagen}}" >
                                    <div class="img-texto">
                                        <p class="article-txt up-percase fw-bold-d cf-blanco ta-center">
                                        </p>
                                    </div>
        
                                </div>
                            </div> 
                            <div class="col-12 text-center mb-5">
                            
                                <p class="txt fw-regular-t cf-negro my-3 d-none d-sm-block">
                                <a> {{presentacion.nombre_coleccion}} | {{presentacion.nombre_producto}} <br><span class="fw-medium-n  ">{{presentacion.codigo_coleccion}}-{{presentacion.codigo_categoria}}-{{presentacion.codigo}}</span></a>
                                </p>
                            
                            </div>
                        </div>

                    </div>
                    {%endfor%}
                   
                </div>
            </div>


            <!--Galeria anterior (JORGE)-->
            {#
            <div class="container w-full full-mobile ">
                    <div class="lista-colecciones col-12  mb-2 mt-5 ">
                        <ul class="row no-gutters" >
                            {%for presentacion in galeria_productos%}
                            <li class="col-4 col-md-2 mb-md-5 mb-2 px-md-3 px-1 altura-automatica-galeria"
                            data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                                <div class="row no-gutters">
                                <div class="col-12">
                                    
                                    <div id="div_foto" name="div_foto" class="img-colecciones btn-hover cursor" data-id="{{presentacion.id}}" data-toggle="modal"
                                        data-target="#mCarouselGaleria">

                                        <img class="with-responsive" src="{{genericDomain}}{{presentacion.imagen}}" >
                                    
                                        <div class="img-texto">
                                            <p class="article-txt up-percase fw-bold-d cf-blanco ta-center">
                                                
                                            </p>
                                        </div>
            
                                    </div>
                                </div> 
                                <div class="col-12">
                                
                                    <p class="txt fw-regular-t cf-negro my-3 d-none d-sm-block">
                                    <a> {{presentacion.nombre_coleccion}} | {{presentacion.nombre_producto}} <br><span class="fw-medium-n  ">{{presentacion.codigo_coleccion}}-{{presentacion.codigo_categoria}}-{{presentacion.codigo}}</span></a>
                                    </p>
                                
                                </div>
                                </div>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
            </div>
            #}
            <!--Galeria anterior (JORGE)-->






<!-- Modal Slider galeria-->

    <div class="modal fade " id="mCarouselGaleria" tabindex="-1" role="dialog"
        aria-labelledby="mCarouselGaleria" aria-hidden="true ">
        <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
            <div class="modal-content galeria-modal">
                <div class="row">
                    <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg"
                            class="width-responsive" data-dismiss="modal"></div>
                </div>
                <div class="row no-gutters">

                    <div class="col-12 centrar">

                        <!-- Modal Slider HTML-->
                        <div class="colecciones-galeria-modal ">
                            <div id="slider-galeria-modal" class="slider-galeria-modal carousel slide" data-ride="carousel"
                                data-interval="false">
                                <ol class="carousel-indicators">
                                      
                                    {%for presentacion in galeria_productos%}
                                    <li data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}></li>
                                    {%endfor%}
                                </ol>
                                
                                <div class="carousel-inner">


                                    {%for presentacion in galeria_productos%}

                                    
                                    <div class="carousel-item {% if loop.index == 1 %}active{%endif%}">

                                    

                                        <div class="col-12 centrar mb-5">
                                            <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-around"> 

                                                <span>
                                                colección: <span class="fw-bold-n"> 
                                                    {{presentacion.nombre_coleccion}} </span>
                                                </span>

                                                <span class="fw-bold-n cf-amarillo">{{presentacion.nombre_producto}}</span>

                                                <span>Código:
                                                    <span class="fw-bold-n"> 
                                                        {{presentacion.codigo}} - {{presentacion.codigo_coleccion}} - XXYY   
                                                    </span>
                                                </span>
                                            </p>
                                        </div>
        

                                        <img class="with-responsive img_ppal_carousel" src="{{genericDomain}}{{presentacion.imagen}}" alt="Imagen Slider">
                                    

                                        <ul class="botones_acciones_img_carousel_galeria">
                                            <li><a href="contacto"><img src="front/images/icons/icon-mail-amarillo.svg" class="iconos_botones_acciones"/> Contactános</a></li>
                                            <li><a href="tel:+54 9 11 77172020"><img src="front/images/icons/icon-tel_amarillo.svg" class="iconos_botones_acciones"/> Llamar</a></li>
                                            <li>
                                                <a href="#" class="despliega_compartir"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"/> Compartir</a>
                                                <ul class="botones_compartir">                                               
                                                    <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20{{genericDomain}}producto?id={{presentacion.id_producto}}" class="whatsapp" target="_blank">whatsapp</a></li>
                                                    {# <li><a href="" class="fb-share-button" data-href="https://www.amapolann.com/producto?id=15644" data-layout="button_count">Facebook</a></li> #}
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u={{genericDomain}}producto?id={{presentacion.id_producto}}&t=NorfiPC" target="_blank" class="facebook ">Facebook</a>
                                                    </li>
                                                    <li><a href="mailto:?subject=Recomendación de Amapolan!&amp;body=Mirá este producto ingresando en {{genericDomain}}producto?id={{presentacion.id_producto}}" class="mail" target="_blank">Mail</a></li>
                                                </ul>
                                            </li>
                                            {# <li><a href="#">Agregar al listado</a></li> #}
                                            
                                             <li><a href="#" id="agregar-favoritos" data-cole="{{presentacion.nombre_coleccion}}" data-nombre="{{presentacion.nombre_producto}}" data-idProd="{{presentacion.id_producto}}" data-codigo="{{presentacion.codigo}} - {{presentacion.codigo_coleccion}} - XXYY" data-imagenProd="{{genericDomain}}{{presentacion.imagen}}" data-urlProd="{{genericDomain}}producto?id={{presentacion.id_producto}}" class="bt_agregar_favoritos"><img src="front/images/icons/icon-fav-amarillo.svg" class="iconos_botones_acciones"/> Agregar a favoritos</a></li>
                                        </ul> 

                                    </div>

                                    {%endfor%}

                                </div>




                                <a class="carousel-control-prev" href="#slider-galeria-modal"
                                    role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#slider-galeria-modal"
                                    role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <!--Fin  Modal Slider HTML-->


                    </div>



                </div>
            </div>
        </div>
     </div>
    <!-- Fin modal slider galeria-->
            <!--End Galeria -->

</div>
{%endif%} 
<!-- Fin nuevo galeria -->  







































    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section tabletyweb">
        <div class="container w-xl">
            <div class="row">
                <div class="col-12  mb-5 mt-5">
                    <p class="ta-center fw-regular-d cf-blanco article-tit ">
                        Griferias con
                        <span class=" fw-bold-d "> Estilo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->

    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->







</div><!-- id="test_html_pdf" -->









<!-- Modal Slider Relacionados-->

<div class="modal fade " id="mCarouselGaleriaR" tabindex="-1" role="dialog"
    aria-labelledby="mCarouselGaleriaR" aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
        <div class="modal-content galeria-modal">
            <div class="row">
                <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg"
                        class="width-responsive" data-dismiss="modal"></div>
            </div>
            <div class="row no-gutters">

                <div class="col-12 centrar">

                    <!-- Modal Slider HTML-->
                    <div class="colecciones-galeria-modal">
                        <div id="slider-galeria-modalR" class="slider-galeria-modal carousel slide" data-ride="carousel"
                            data-interval="false">
                            
                            
                            
                            <ol class="carousel-indicators">
                                {%for presentacion in productos_coleccion%}
                                <li data-target="#slider-galeria-modalR" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                                
                                <img class="d-md-block w-100 img-fluid" src="{{genericDomain}}{{presentacion.imagen_portada}}"  alt="First slide">
                                
                                </li>
                                {%endfor%}
                            </ol>

                            



                            

                            <div class="carousel-inner">
                                {%for presentacion in productos_coleccion%}
                                <div class="carousel-item {% if loop.index == 1 %}active{%endif%}">


                                <div class="col-12 centrar mb-5">
                                    <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-around"> 

                                        <span>
                                        colección: <span class="fw-bold-n"> 
                                            {{presentacion.coleccion}} </span>
                                        
                                        </span>

                                        <span class="fw-bold-n cf-amarillo">{{presentacion.titulo}}</span>


                                        <span>Código:
                                            <span class="fw-bold-n"> 
                                                {{presentacion.codigo}} - {{presentacion.codigo_coleccion}} - XXYY   
                                            </span>
                                        </span>
                                    </p>
                                </div>


    
                                <img loading="lazy" class="with-responsive img_ppal_carousel" src="{{genericDomain}}{{presentacion.imagen_portada}}" alt="Imagen Slider">
                                        


                                <ul class="botones_acciones_img_carousel_galeria">
                                    <li><a href="contacto"><img src="front/images/icons/icon-mail-amarillo.svg" class="iconos_botones_acciones"/> Contactános</a></li>
                                    <li><a href="tel:+54 9 11 77172020"><img src="front/images/icons/icon-tel_amarillo.svg" class="iconos_botones_acciones"/> Llamar</a></li>
                                    <li>
                                        <a href="#" class="despliega_compartir"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"/> Compartir</a>
                                        <ul class="botones_compartir">                                               
                                            <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20{{genericDomain}}producto?id={{presentacion.id}}" class="whatsapp" target="_blank">whatsapp</a></li>
                                            {# <li><a href="" class="fb-share-button" data-href="{{genericDomain}}producto?id=15644" data-layout="button_count">Facebook</a></li> #}
                                            <li>
                                                <a href="http://www.facebook.com/sharer.php?u={{genericDomain}}producto?id={{presentacion.id}}&t=NorfiPC" target="_blank" class="facebook ">Facebook</a>
                                            </li>
                                            <li><a href="mailto:?subject=Recomendación de Amapolan!&amp;body=Mirá este producto ingresando en {{genericDomain}}producto?id={{presentacion.id}}" class="mail" target="_blank">Mail</a></li>
                                        </ul>
                                    </li>
                                    {# <li><a href="#">Agregar al listado</a></li> #}
                                     <li><a href="#" id="agregar-favoritos" data-cole="{{presentacion.coleccion}}" data-nombre="{{presentacion.titulo}}" data-idProd="{{presentacion.id}}" data-codigo="{{presentacion.codigo}} - {{presentacion.codigo_coleccion}} - XXYY" data-imagenProd="{{genericDomain}}{{presentacion.imagen_portada}}" data-urlProd="{{genericDomain}}producto?id={{presentacion.id}}" class="bt_agregar_favoritos"><img src="front/images/icons/icon-fav-amarillo.svg" class="iconos_botones_acciones"/> Agregar a favoritos</a></li>
                                </ul>  


                                        

                                </div>
                                {%endfor%}
                            </div>
                            <a class="carousel-control-prev" href="#slider-galeria-modalR"
                                role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#slider-galeria-modalR"
                                role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <!--Fin  Modal Slider HTML-->

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin modal slider Relacionados-->





<!-- Modal Slider Fotos adicionales-->

<div class="modal fade " id="mCarouselGaleriaAdic" tabindex="-1" role="dialog"
    aria-labelledby="mCarouselGaleriaAdic" aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
        <div class="modal-content galeria-modal">
            <div class="row">
                <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg"
                        class="width-responsive" data-dismiss="modal"></div>
            </div>
            <div class="row no-gutters">

                <div class="col-12 centrar">

                    <!-- Modal Slider HTML-->
                    <div class="colecciones-galeria-modal">
                        <div id="slider-galeria-modalAdic" class="slider-galeria-modal carousel slide" data-ride="carousel"
                            data-interval="false">
                            
                            <ol class="carousel-indicators">
                                {%for img in imagenes%}
                                <li data-target="#slider-galeria-modalAdic" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                                
                                    <img loading="lazy" class="d-md-block w-100 img-fluid" src="{{genericDomain}}{{img.imagen}}"  alt="First slide">
                                
                                </li>
                                {%endfor%}
                            </ol>



                            
                            <div class="carousel-inner">
                                {%for img in imagenes%}
                                <div class="carousel-item {% if loop.index == 1 %}active{%endif%}">


                                    {%if producto is defined and producto.0.imagen_plano !=""%}
                                        <div class="col-12 centrar mb-5">
                                            <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-around"> 
                                                <span>
                                                    colección: <span class="fw-bold-n">  {{producto.0.coleccion}} </span>
                                                </span>
                                                <span class="fw-bold-n cf-amarillo">{{producto.0.titulo}}</span>

                                                <span>Código: <span class="fw-bold-n">  {{producto.0.codigo_coleccion}} - {{producto.0.codigo}} - XXYY  </span>
                                                </span>
                                            </p>
                                        </div>
                                    {%endif%}
                                                           


                                    <img loading="lazy" class="with-responsive img_ppal_carousel" src="{{genericDomain}}{{img.imagen}}" alt="Imagen Slider">



                                    {%if producto is defined and producto.0.imagen_plano !=""%}
                                    <ul class="botones_acciones_img_carousel_galeria">
                                        <li><a href="contacto"><img src="front/images/icons/icon-mail-amarillo.svg" class="iconos_botones_acciones"/> Contactános</a></li>
                                        <li><a href="tel:+54 9 11 77172020"><img src="front/images/icons/icon-tel_amarillo.svg" class="iconos_botones_acciones"/> Llamar</a></li>
                                        <li>
                                            <a href="#" class="despliega_compartir facebook"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"/> Compartir</a>
                                            <ul class="botones_compartir">                                               
                                                <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%0D%20{{producto.0.titulo}}%20%20CODIGO:%20{{producto.0.codigo_coleccion}} - {{producto.0.codigo}} - XXYY%20{{genericDomain}}producto?id={{producto.0.id}}" class="whatsapp" target="_blank">whatsapp</a></li>
                                                <li>
                                                    <a href="http://www.facebook.com/sharer.php?u={{genericDomain}}producto?id={{producto.0.id}}" target="_blank" class="facebook ">Facebook</a>
                                                </li>
                                                <li><a href="mailto:?subject=Producto Amapolann:&amp;body=Mirá este producto de Amapolan: {{producto.0.titulo}} CODIGO: {{producto.0.codigo_coleccion}} - {{producto.0.codigo}} - XXYY %0D%0A Link al producto: {{genericDomain}}producto?id={{producto.0.id}}" class="mail" target="_blank">Mail</a></li>
                                            </ul>
                                        </li>
                                        {# 
                                        <li><a href="#" id="agregar-favoritos" data-nombre="favoritos" data-idProd="12345" class="bt_agregar_favoritos" >Agregar a favoritos</a></li> #}
                                    </ul>  
                                    {%endif%}





                                    
                                </div>
                                {%endfor%}

                            </div>
                            
                            <a class="carousel-control-prev" href="#slider-galeria-modalAdic"
                                role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#slider-galeria-modalAdic"
                                role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                </div>
                <!--Fin  Modal Slider HTML-->


                </div>



            </div>
        </div>
    </div>
</div>
<!-- Modal Slider Fotos adicionales-->







<!-- Modal PLANO -->
<div class="modal fade " id="mPlanoProducto" tabindex="-1" role="dialog"
    aria-labelledby="mPlanoProducto" aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
        <div class="modal-content galeria-modal">
            <div class="row">
                <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg"
                        class="width-responsive" data-dismiss="modal">
                </div>
            </div>
            <div class="row no-gutters">

            

                <div class="col-12 centrar">

                    {%if producto is defined and producto.0.imagen_plano !=""%}
                    <ul class="botones_acciones_img_carousel_galeria">
                        <li><a href="contacto"><img src="front/images/icons/icon-mail-amarillo.svg" class="iconos_botones_acciones"/> Contactános</a></li>
                        <li><a href="tel:+54 9 11 77172020"><img src="front/images/icons/icon-tel_amarillo.svg" class="iconos_botones_acciones"/> Llamar</a></li>
                        <li>
                            <a href="#" class="despliega_compartir facebook"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"/> Compartir</a>
                            <ul class="botones_compartir">                                               
                                <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20{{genericDomain}}{{producto.0.imagen_plano}}" class="whatsapp" target="_blank">whatsapp</a></li>
                                {# <li><a href="" class="fb-share-button" data-href="https://www.amapolann.com/producto?id=15644" data-layout="button_count">Facebook</a></li> #}
                                <li>
                                    <a href="http://www.facebook.com/sharer.php?u={{genericDomain}}{{producto.0.imagen_plano}}" target="_blank" class="facebook ">Facebook</a>
                                </li>
                                <li><a href="mailto:?subject=Plano de producto Amapolann:&amp;body=Mirá este producto ingresando en {{genericDomain}}{{producto.0.imagen_plano}}" class="mail" target="_blank">Mail</a></li>
                            </ul>
                        </li>
                        {# 
                        <li><a href="#" id="agregar-favoritos" data-nombre="favoritos" data-idProd="12345" class="bt_agregar_favoritos" >Agregar a favoritos</a></li> #}
                    </ul>  
                    {%endif%}


                    {%if producto is defined and producto.0.imagen_plano !=""%}
                        <img loading="lazy" src="{{genericDomain}}{{producto.0.imagen_plano}}" class="plano" />
                    
                    {%endif%}

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin Modal PLANO -->







    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->









    





<!-- Impresion PDF -->

    <!-- 

        TUTO: https://www.youtube.com/watch?v=1nTT2IJ-gTg
        Ejemplo: https://parzibyte.me/blog/2020/09/05/html-pdf-javascript/#Incluyendo_libreria
        Repo: https://github.com/eKoopmans/html2pdf.js

    -->
    <script src="{{genericDomain}}front/js/htmlpdf/html2pdf.bundle.min.js"></script>
    
    <script>

    document.addEventListener("DOMContentLoaded", () => {
        // Escuchamos el click del botón


        const $botonGenerarPDF = document.querySelector("#btnCrearPdf"); //BotonGenerarPDF ubicado correctamente (pero genera mal el PDF)
        //const botonTrigger = document.querySelector("#btnCrearPdfTrigger"); //Boton ubicado arriba de todo para que genere bien el PDF

        /*$boton.addEventListener("click", (e) => {
            e.preventDefault();
            alert("trigger");

            window.scroll(0,0);
            botonTrigger.click();
        })*/

        $botonGenerarPDF.addEventListener("click", (e) => {

            e.preventDefault();

            //Si no llevo el sitio arrriba no se genra bien el PDF
            window.scroll(0,0);

            let avisoGeneracion = document.getElementById("aviso_generacion_pdf");
            avisoGeneracion.style.display="block";
    

        
            //const $elementoParaConvertir = document.body; // <-- Aquí puedes elegir cualquier elemento del DOM

            // Capturo el div que contiene todo -----------------------------------------------------
               var container = document.getElementById("test_html_pdf");

                //Capturo todos los div que no quiero que se impriman en el PDF
                var elements = container.getElementsByClassName("exclusion_html_pdf");

                //Elimino de DOM los elementos que seleccione antes (que no se imprimen en PDF)
                while (elements[0]) { elements[0].parentNode.removeChild(elements[0]); }

                // Armo la constante que finalmente se imprime en PDF
                let $elementoParaConvertir2 = document.querySelector("#test_html_pdf"); // <-- Aquí puedes elegir cualquier elemento del DOM
            // Capturo el div que contiene todo -----------------------------------------------------


            //const $elementoParaConvertir2 = document.querySelector("#test_html_pdf"); // <-- Aquí puedes elegir 
            //let $elementoParaConvertir3 = document.getElementById("test_html_pdf_interno"); // <-- Aquí puedes elegir

  
            html2pdf()
                .set({
                    margin: 1,
                    filename: 'Amapolann_COD_{%if producto is defined and producto != ""%}{{producto.0.codigo}}-{{producto.0.codigo_coleccion}}-XXYY{%endif%}.pdf',
                    image: {
                        type: 'jpeg',
                        quality: 0.98
                    },
                    html2canvas: {
                        scale: 3, // A mayor escala, mejores gráficos, pero más peso
                        letterRendering: true,
                    },
                    jsPDF: {
                        unit: "in",
                        format: "a2",
                        orientation: 'portrait' // landscape o portrait
                    }
                })
                .from($elementoParaConvertir2)
                .save()
                .catch(err => console.log(err))
                .then( ()=> {
                    location.reload(); //Pongo a recargar la pagina para que vuelva a cargar lo divs eliminados
                });
        });
    });


    </script>

<!-- Impresion PDF -->









    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- efectos personales -->
    <script src="{{genericDomain}}front/js/scripts.js"></script>




    <script>
        function copiar_link() {
            var aux = document.createElement("input");
            //aux.setAttribute("value", window.location.href.split("?")[0].split("#")[0]);
            aux.setAttribute("value", window.location.href);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);

            var aviso = document.getElementById("aviso_url_copiada");
      
            setTimeout(function(){
                aviso.classList.add("visible");
                setTimeout(function(){
                    aviso.classList.remove("visible");
                }, 1500);
            }, 1);
        }
    </script>





    <script>
        $("a.despliega_compartir").on("click", function(e){
            e.preventDefault();
            $(this).next("ul").toggle();
        }) 
    </script>

    
    
    <script>
    /*
    // cuando se pulsa en "agregar a favoritos"
    document.getElementById("descargarPDFa").addEventListener("click"){

    //

        var elementHTML = $('#generaPdfA').html();
        var specialElementHandlers = {
            '#elementH': function (element, renderer) {
                return true;
            }
        };
        doc.fromHTML(elementHTML, 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        
        // Save the PDF
        doc.save('sample-document.pdf');
    }*/
    </script>













    <!--
    
<script type="text/javascript">
        $( document ).ready(function() {
            
            
            console.log("ready!");
            $('div[name^="div_foto"]').on("click", function() {
                console.log("Apretado!");
                //Ponemos clase active a el elemento cliqueado
                var cliqueado = $(this).attr('data-id');
                console.log(cliqueado);
                
                $("#pre_"+cliqueado).attr('class', 'active');
                $("#pre_img_"+cliqueado).attr('class', 'active');
                
                
                
            });
        });
    </script>
-->














</body>


</html>
