{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
   {{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>

            <script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>
<script>    
         $(document).ready(function(){  
             
             $('#eliminarpun').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_pun_id').val(id);
            });
             
             $('#eliminar_pun').on("click", function() {
             
              var data = new FormData();
                data.append('id', $('#eliminar_pun_id').val());
                
                $.ajax({
                    url: '{{url('eliminar_ter_prod')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_pun").html('Terminacion eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                           window.location = window.location.pathname+'?id={{id}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
            
            $('#insertar_portada').submit(insertarFotoPortada)
             
             function insertarFotoPortada(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_portada")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('portadaproducto')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_port").html('Imagen guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_port").html(form);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
            $('#insertar_plano').submit(insertarFotoPlano)
             
             function insertarFotoPlano(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_plano")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('planoproducto')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_plano").html('Plano guardado correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_plano").html(form);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
             
             $('#insertar_pdf').submit(insertarPdfPlano)
             
             function insertarPdfPlano(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_pdf")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('pdfproducto')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_pdf").html('Plano guardado correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_pdf").html(form);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
             
             
             $('#guardar_ter').on("click", function() {           
              var data = new FormData();
                data.append('id', {{id}});
                data.append('id_ter', $('#id_terminacion').val());
                $.ajax({
                    url: '{{url('guardarnueterminacion')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          if (data == "ok"){
                             $("#resultado_ter").html('Terminación guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_ter").html(data);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                    }
                });

                });
                
            $('#eliminar_prod').on("click", function() {
             console.log("boton apretado");
             
              var data = new FormData();
                data.append('id', {{id}});
                
                $.ajax({
                    url: '{{url('eliminarprod', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                            window.location = '{{url('grillaproductos')}}';
                        }
                        catch (e)
                        {
                        }
                    }
                });

            });  

            $("#all").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        

            $('#modificar').on("click", function() {
            var selected = [];
            $('input:checked').each(function() {
                if($(this).attr('name')!="all"){
                    selected.push($(this).attr('name'));    
                }
                
            });
            
             var data = new FormData();
                data.append('ids', selected);
                data.append('activo', $('#activom').val());
                data.append('mostrar', $('#mostrarm').val());
                
                $.ajax({
                    url: '{{url('modificarmultiplesImgad')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                           console.log(data); 
                           $("#resultado_mod").html('Datos guardados correctamente. Se refrescará la página automáticamente.');
                           setTimeout(function(){
                           window.location.href = window.location.href;
                           },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        
        $("#all").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        


          $( "input[name^='vis']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificarvisibilidadImgad')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        $( "input[name^='ord']" ).change(function(){
            var id = ($(this).data('id'));
            var vis = ($(this).val());
            
            $.ajax({
                    url: '{{url('modificarorden')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
          
        $( "input[name^='gal']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificargaleria')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        }); 
        });
</script>            
    
{% endblock %}





{% block content %}

{{ parent() }}

{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">

<form id='myform' name='myform' role="form" method="POST" action="{{url('productoabm')}}"  enctype="multipart/form-data">
<div class="contenedor-datos"> 

<h1 class="productos"> Producto</h1>


        

    
<div class="grupo_datos">

    <h2>Datos básicos </h2>

    <div class="row">

            <input type="hidden" name="id" id="id" value="{{id}}">
                
                {%if id is defined and id!="0"%}    
                    <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo de Colecci&oacute;n</label>
                            {%if propiedad is defined and propiedad.0.codigo_coleccion is defined %}
                                <input type="text" value="{{propiedad.0.codigo_coleccion}}" name="codigo" id="codigo" class="form-control required" readonly>
                            {%else%}
                                    <input type="text" value="" name="codigo" id="codigo" class="form-control required" readonly>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo de Categoria</label>
                            {%if propiedad is defined and propiedad.0.codigo_categoria is defined %}
                                <input type="text" value="{{propiedad.0.codigo_categoria}}" name="codigo" id="codigo" class="form-control required" readonly>
                            {%else%}
                                    <input type="text" value="" name="codigo" id="codigo" class="form-control required" readonly>
                            {%endif%}
                        </div>
                    </div>
                
                    <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo de Producto</label>
                            {%if propiedad is defined and propiedad.0.codigo is defined %}
                                <input type="text" value="{{propiedad.0.codigo}}" name="codigo" id="codigo" class="form-control required" required>
                            {%else%}
                                    <input type="text" value="" name="codigo" id="codigo" class="form-control required" required>
                            {%endif%}
                        </div>
                    </div>    
                        
                    {%else%}    

                
                    <div class="col-sm-12 col-md-6">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo de Producto</label>
                            {%if propiedad is defined and propiedad.0.codigo is defined %}
                                <input type="text" value="{{propiedad.0.codigo}}" name="codigo" id="codigo" class="form-control required" required>
                            {%else%}
                                    <input type="text" value="" name="codigo" id="codigo" class="form-control required" required>
                            {%endif%}
                        </div>
                    </div>
                    {%endif%}
                </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">	
                        <div class="form-group">
                        <label for="calle"><span style="color:#eb433e;">* </span>Titulo de Producto</label>
                        {%if propiedad is defined and propiedad.0.titulo is defined %}
                            <input type="text" value="{{propiedad.0.titulo}}" name="titulo" id="titulo" class="form-control required" required>
                        {%else%}
                                <input type="text" value="" name="titulo" id="titulo" class="form-control required" required>
                        {%endif%}
                        </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="col-sm-12 col-md-6">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>Categoria a la que pertenece</label>
                            {%if propiedad is defined and propiedad.0.id_cat is defined %}
                                <select name="categoria" id="categoria" class="form-control required" required>
                                {% for categoria in categorias %}
                                        <option value="{{categoria.id}}" {%if categoria.id == propiedad.0.id_cat%}selected{%endif%}>{{categoria.titulo}}</option>
                                {% endfor %}
                                </select>
                            {%else%}
                                <select name="categoria" id="categoria" class="form-control required" required>
                                        <option value=""></option>
                                {% for categoria in categorias %}
                                        <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                                {% endfor %}
                                </select>
                            {%endif%}
                        </div>
                </div>	      
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>Colección a la que pertenece</label>
                            {%if propiedad is defined and propiedad.0.id_categoria is defined %}
                                <select name="coleccion" id="coleccion" class="form-control required" required>
                                {% for coleccion in colecciones %}
                                        <option value="{{coleccion.id}}" {%if coleccion.id == propiedad.0.id_categoria%}selected{%endif%}>{{coleccion.titulo}}</option>
                                {% endfor %}
                                </select>
                            {%else%}
                                <select name="coleccion" id="coleccion" class="form-control required" required>
                                        <option value=""></option>
                                {% for coleccion in colecciones %}
                                        <option value="{{coleccion.id}}">{{coleccion.titulo}}</option>
                                {% endfor %}
                                </select>
                            {%endif%}
                        </div>
                </div>	      
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>Activo (Visible web)</label>
                                <select name="activo" id="activo" class="form-control required" required>
                                        {%if propiedad is defined and propiedad.0.activo is defined  %}
                                        <option value="1" {%if propiedad.0.activo == '1'%}selected{%endif%}>SI</option>
                                        <option value="0" {%if propiedad.0.activo == '0'%}selected{%endif%}>NO</option>
                                        {%else%}
                                        <option value="1" selected>SI</option>
                                        <option value="0">NO</option>
                                        {%endif%}
                                </select>
                        </div>
                </div>	      
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>Orden</label>
                                {%if propiedad is defined and propiedad.0.orden is defined %}
                                    <input type="text" value="{{propiedad.0.orden}}" name="orden" id="orden" class="form-control required" required>
                                {%else%}
                                        <input type="text" value="1000" name="orden" id="orden" class="form-control required" required>
                                {%endif%}
                        </div>
                </div>	
                
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>Destacado</label>
                                <select name="mostrar" id="mostrar" class="form-control required" required>
                                        {%if propiedad is defined and propiedad.0.mostrar_galeria is defined  %}
                                        <option value="1" {%if propiedad.0.mostrar_galeria == '1'%}selected{%endif%}>SI</option>
                                        <option value="0" {%if propiedad.0.mostrar_galeria == '0'%}selected{%endif%}>NO</option>
                                        {%else%}
                                        <option value="1">SI</option>
                                        <option value="0"selected>NO</option>
                                        {%endif%}
                                </select>
                        </div>
                </div>
            </div>

                <div class='row'>
                    <div class="col-sm-12 col-md-6">	
                            <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>Keywords</label>
                                {%if propiedad is defined and propiedad.0.keywords is defined %}
                                <textarea style="min-height: 100px;" name="keywords" id="keywords" class="form-control required" placeholder="IMPORTANTE!! Separar cada palabra clave con el caracter coma. Ejemplo: Bañera, Oro, Bacha, Grifería Oro, otro">{{propiedad.0.keywords|raw|replace({'<br>':'\r\n'})}}</textarea>
                                    
                                {%else%}
                                    <textarea style="min-height: 100px;" name="keywords" id="keywords" class="form-control required" ></textarea>
                                {%endif%}
                            </div>
                    </div>
                </div>

            <div class='row'>
                    <div class="col-sm-12 col-md-6">	
                            <div class="form-group">
                                <label for="calle"><span style="color:#eb433e;">* </span>Descripción</label>
                                {%if propiedad is defined and propiedad.0.descripcion is defined %}
                                    <textarea style="min-height: 100px;" name="detalles" id="detalles" class="form-control required" required>{{propiedad.0.descripcion|raw|replace({'<br>':'\r\n'})}}</textarea>
                                {%else%}
                                    <textarea style="min-height: 100px;" name="detalles" id="detalles" class="form-control required" required></textarea>
                                {%endif%}
                            </div>
                    </div>



                    {%if id is defined and id!="0"%}  
                    <div class="col-sm-12 col-md-6" style="margin-top:-380px;">
                        <h2>Terminaciones - <a style='margin-left: 7px; margin-top:-20px;' data-id_wa="0"  data-toggle='modal' data-target='#myModalNue'> + Nueva terminación</a> </h2>    

                        {%if terminaciones_x_prod is defined and terminaciones_x_prod|length>0 %}

                        <div class="contenedor-tablas-excel">
                            <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                                    <tr  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">    
                                        <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">TERMINACION ASIGNADA</th>
                                        <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"></th>
                                    </tr>
                                    {% for terminacion in terminaciones_x_prod %}
                                    <tr style="border-bottom: 1px dotted #A6A9A9;">
                                        <td id="{{terminacion.id}}_tipo"  name="{{terminacion.id}}_tipo" style="text-align: center;
                                        font-size: 12px;
                                        font-weight: 600;
                                        color: gray;
                                        margin-right: 8px;
                                        padding: 5px;"><a href="{{ genericDomain }}admin/terminacionabm?id={{terminacion.id_terminacion}}"</a>{{terminacion.titulo}}</td>                                            
                                        <td style="text-align: center;
                                        font-size: 12px;
                                        font-weight: 600;
                                        color: gray;
                                        margin-right: 8px;
                                        padding: 5px;"><a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{terminacion.id}}"  data-toggle='modal' data-id="{{terminacion.id}}" data-target='#eliminarpun'>Eiminar</a></td> 
                                    </tr>
                                    {%endfor%}
                            </table>
                        </div>
                        {%endif%}
                    </div>
                    {%endif%}    
            </div><!-- row -->
            <h2>Medidas</h2>                    
            <div class='row'>    
                <div class="col-sm-12 col-md-2">
                        <div class="form-group">
                            <label for="calle">Alto</label>
                            {%if propiedad is defined and propiedad.0.alto is defined %}
                                <input type="text" value="{{propiedad.0.alto}}" name="alto" id="alto" class="form-control required" >
                            {%else%}
                                <input type="text" value="" name="alto" id="alto" class="form-control required" >
                            {%endif%}
                        </div>
                </div>
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle">Ancho</label>
                            {%if propiedad is defined and propiedad.0.ancho is defined %}
                                <input type="text" value="{{propiedad.0.ancho}}" name="ancho" id="ancho" class="form-control required" >
                            {%else%}
                                <input type="text" value="" name="ancho" id="ancho" class="form-control required" >
                            {%endif%}
                        </div>
                </div>
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle">Profundidad</label>
                            {%if propiedad is defined and propiedad.0.profundidad is defined %}
                                <input type="text" value="{{propiedad.0.profundidad}}" name="profundidad" id="profundidad" class="form-control required" >
                            {%else%}
                                <input type="text" value="" name="profundidad" id="profundidad" class="form-control required" >
                            {%endif%}
                        </div>
                </div>    
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle">Tipo Plano</label>
                            {%if propiedad is defined and propiedad.0.tipoPlano is defined %}
                                <input type="text" value="{{propiedad.0.tipoPlano}}" name="tipoPlano" id="tipoPlano" class="form-control required" >
                            {%else%}
                                <input type="text" value="" name="tipoPlano" id="tipoPlano" class="form-control required" >
                            {%endif%}
                        </div>
                </div> 
                <div class="col-sm-12 col-md-2">	
                        <div class="form-group">
                            <label for="calle"><span style="color:#eb433e;">* </span>Mostrar Plano en Galeria:</label>
                                <select name="mostrarPlano" id="mostrarPlano" class="form-control required" required>
                                        {%if propiedad is defined and propiedad.0.mostrar_plano is defined  %}
                                        <option value="1" {%if propiedad.0.mostrar_plano == '1'%}selected{%endif%}>SI</option>
                                        <option value="0" {%if propiedad.0.mostrar_plano == '0'%}selected{%endif%}>NO</option>
                                        {%else%}
                                        <option value="1">SI</option>
                                        <option value="0"selected>NO</option>
                                        {%endif%}
                                </select>
                        </div>
                </div>   
            </div>
            {%if id is defined and id > '0' %}
            <div class="row"> 
            {%if propiedad is defined and propiedad.0.imagen_portada is not null %}
            
            
                    <div  class="col-sm-12 col-md-3 mt-2">
                        <h2>Imágen de portada </h2>
                        <a href="{{genericDomain}}{{propiedad.0.imagen_portada}}" target="_blank" >
                            <img src="{{genericDomain}}{{propiedad.0.imagen_portada}}" class="width-responsive"/>
                        </a>

                        <div class="txt cf-gris fw-light-n mt-2 "> Formato 4:3 o (540px x 410px)</div>
                            <!-- Guardar Eliminar -->
                            <ul class="botonera-guardar-editar-eliminar">
                                        {%if id is defined and id!='0' %}
                                            <li>
                                                <a href="#" data-toggle='modal' data-target='#myModalPortada' class="boton alt-amarillo pull-left">Cambiar Portada</a>
                                            </li>
                                            
                                            {%endif%} 
                            </ul>
                        <!-- Fin Guardar Eliminar -->
                    </div>
            
                
            {%else%} 
            
                
                    <div class="col-sm-12 col-md-3 mt-2">
                        <h2>Imágen de portada</h2>
                        <img src="{{genericDomain}}front/images/img-default.jpg"
                        class="width-responsive" alt="Amapolann" title="Amapolann"/> 
                        <div class="txt cf-gris fw-light-n mt-2 "> Formato 4:3 o (540px x 410px)</div>
                            <!-- Guardar Eliminar -->
                            <ul class="botonera-guardar-editar-eliminar">
                                            <li>
                                                <a href="#" data-toggle='modal' data-target='#myModalPortada' class="boton alt-amarillo pull-left">Cambiar Portada</a>
                                            </li>

                                            <li>
                                                <a href="#" data-toggle='modal' data-target='#myModalPortada' class="boton alt-gris pull-left">Eliminar</a>
                                            </li>
                            </ul>
                            <!-- Fin Guardar Eliminar -->
                    </div>
                    
            {%endif%}   
            

            {%if propiedad is defined and propiedad.0.imagen_plano is not null %}
                    <div class="col-sm-12 col-md-3 mt-2">
                        <h2>Imágen de plano</h2>
                        <a href="{{genericDomain}}{{propiedad.0.imagen_plano}}" target="_blank">
                            <img src="{{genericDomain}}{{propiedad.0.imagen_plano}}" class="width-responsive"/>
                        </a>
                        <div class="txt cf-gris fw-light-n mt-2 ">  (300px x 400px)</div>
                        <!-- Guardar Eliminar -->
                            <ul class="botonera-guardar-editar-eliminar">
                        {%if id is defined and id!='0' %}
                        <li><a href="#" data-toggle='modal' data-target='#myModalPlano' class="boton alt-amarillo pull-left">Cambiar </a></li>
                        {%endif%} 
                            </ul>
                            <!-- Fin Guardar Eliminar -->
                    </div>
            {%else%} 
                    <div class="col-sm-12 col-md-3 mt-2">
                            <h2>Imágen de plano</h2>
                            <img src="{{genericDomain}}front/images/img-default.jpg"
                            class="width-responsive" alt="Amapolann" title="Amapolann"> 
                            <div class="txt cf-gris fw-light-n mt-2 ">(300px x 400px)</div>
                            <!-- Guardar Eliminar -->
                                    <ul class="botonera-guardar-editar-eliminar">
                                                    <li><a href="#" data-toggle='modal' data-target='#myModalPlano' class="boton alt-amarillo pull-left">Cambiar Plano </a></li>
                                                    
                                    </ul>
                            <!-- Fin Guardar Eliminar -->
                    </div> 
                    
            {%endif%}

            {%if propiedad is defined and propiedad.0.pdf_plano is not null %}
                    <div class="col-sm-12 col-md-3 mt-2">
                        <h2>PDF de plano</h2>
                        <a href="{{genericDomain}}{{propiedad.0.pdf_plano}}" target="_blank">
                            <iframe  src="{{genericDomain}}{{propiedad.0.pdf_plano}}" class="width-responsive"></iframe>
                           
                        </a>
                        <div class="txt cf-gris fw-light-n mt-2 ">  (300px x 400px)</div>
                        <!-- Guardar Eliminar -->
                            <ul class="botonera-guardar-editar-eliminar">
                        {%if id is defined and id!='0' %}
                        <li><a href="#" data-toggle='modal' data-target='#myModalPdf' class="boton alt-amarillo pull-left">Cambiar </a></li>
                        {%endif%} 
                            </ul>
                            <!-- Fin Guardar Eliminar -->
                    </div>
            {%else%} 
                    <div class="col-sm-12 col-md-3 mt-2">
                        <h2>PDF de plano</h2>
                        <img src="{{genericDomain}}front/images/img-default.jpg"
                        class="width-responsive" alt="Amapolann" title="Amapolann"> 
                        <div class="txt cf-gris fw-light-n mt-2 ">(300px x 400px)</div>
                        <!-- Guardar Eliminar -->
                                <ul class="botonera-guardar-editar-eliminar">
                                    <li><a href="#" data-toggle='modal' data-target='#myModalPdf' class="boton alt-amarillo pull-left">Cambiar Plano </a></li>           
                                </ul>
                        <!-- Fin Guardar Eliminar -->
                    </div> 
                    
                    
            {%endif%}

            
 

            </div> 

{%if imagenes is defined and imagenes|length>'0' %}
    <h2>Imágenes adicionales</h2>

    <div class="row">
        {% for imagen in imagenes %}
            <div class="col-xs-12 col-sm-12 col-md-3 mt-2" style="border:1px solid red-">
                <a href="{{genericDomain}}{{imagen.imagen}}" target="_blank">
                    <img src="{{genericDomain}}{{imagen.imagen}}" class="width-responsive"/>
                </a>
                <div class="txt cf-gris fw-light-n mt-2"> Formato 4:3 o (540px x 410px)</div>
            </div>
        {%endfor%}
    </div>
   


    <!-- Guardar Eliminar -->
   
        <div class="col-xs-12" style="border:1px solid green-">
            <ul class="botonera-guardar-editar-eliminar">
                {%if id is defined and id!='0' %}
                <li>
                    <a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Editar Imagenes</a>
                </li>
                {%endif%} 
            </ul>
       
        </div>
    <!-- Fin Guardar Eliminar -->
</div>
            
                   

    
</div>

           
{%else%} 
    <h2>Imágenes</h2>
    <div class="row">
        <div class="col-sm-12 col-md-3 mt-2">
            <img src="{{genericDomain}}front/images/img-default.jpg"
            class="width-responsive" alt="Amapolann" title="Amapolann"> 
        <div class="txt cf-gris fw-light-n mt-2 "> Formato 4:3 o (540px x 410px)</div>
        <!-- Guardar Eliminar -->
            <ul class="botonera-guardar-editar-eliminar">
                <li><a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Editar </a></li>
            </ul>
        <!-- Fin Guardar Eliminar -->
        </div> 
    </div>
{%endif%}

{%endif%}

    <hr />

<!-- Guardar Eliminar -->
<ul class="botonera-guardar-editar-eliminar">
    <li>
        <input type="submit" id='siguiente' name='siguiente' class="boton alt-amarillo pull-left" value="Guardar">
    </li>
    {%if id is defined and id!='0' %}
        <li>
        <input type="submit" id='siguiente' name='siguiente' class="boton alt-gris pull-left" data-toggle='modal' data-target='#myModalEliminar' value="Eliminar">
    </li>
    {%endif%} 
            
</ul>
<!-- Fin Guardar Eliminar -->


</div>
</div>




 
</form>
</div><!-- Fin Grupo datos -->
</div><!-- Fin Contenedor datos -->
</div>

     

     
  
<div id="myModalImagenes" style="z-index: 99999;" class="modal">

  <!-- Modal content  -->
  <div class="modal-content" style="width: 90%;margin-top: 2%;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <iframe style="width: 100%;
    
    border: none;
    min-height: 500px;" src="{{genericDomain}}admin/imagenesproductos?id={{id}}"></iframe>
  
  </div>

</div>

<div id="myModalPortada" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_port' name='resultado_port' class="atencion_botonera"></p> 
    <form action="" id="insertar_portada" name="insertar_portada" enctype="multipart-form/data">
        <p>Imagen de Portada</p>
        <input type="hidden" id="id_producto" name="id_producto" value="{{id}}" class="form-control">
        <label for="calle">Seleccione la nueva imagen formato 4:3 o (540px x 410px)</label>
        <input type="file" id="imagen_por" name="imagen_por" class="form-control">
        <input type="submit"  class=" boton  mt-4" id="establecer_port" name="establecer_port" value="ESTABLECER!">
    </form>
  </div>

</div>  

<div id="myModalPlano" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_plano' name='resultado_plano' class="atencion_botonera"></p> 
    <form action="" id="insertar_plano" name="insertar_plano" enctype="multipart-form/data">
        <p>Imágen de Plano</p>
        <input type="hidden" id="id_producto" name="id_producto" value="{{id}}" class="form-control">
        <label for="calle">Seleccione la nueva imágen de plano (300px x 400px)</label>
        <input type="file" id="imagen_plano" name="imagen_plano" class="form-control">
        <input type="submit" class=" boton  mt-4"  id="establecer_plano" name="establecer_plano" value="ESTABLECER!">
    </form>
  </div>
  </div>

<div id="myModalPdf" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_pdf' name='resultado_pdf' class="atencion_botonera"></p> 
    <form action="" id="insertar_pdf" name="insertar_pdf" enctype="multipart-form/data">
        <p>PDF de Plano</p>
        <input type="hidden" id="id_producto" name="id_producto" value="{{id}}" class="form-control">
        <label for="calle">Seleccione nuevo pdf </label>
        <input type="file" id="pdf_plano" name="pdf_plano" class="form-control">
        <input type="submit" class=" boton  mt-4"  id="establecer_plano" name="establecer_plano" value="ESTABLECER!">
    </form>
  </div>
  </div>
  

  
  
  
<div style='z-index: 99999;' id="myModalNue" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin-top: 5%;">
    <span class="close"  data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_ter' name='resultado_ter' class="atencion_botonera"></p> 
    <p>Seleccione la nueva terminación</p>
    <select name="id_terminacion" id="id_terminacion" class="form-control" required multiple>
        {% for terminacion in terminaciones %}
                <option value="{{terminacion.id}}">{{terminacion.titulo}}</option>
        {% endfor %}
        </select>    
     <br>
     <br>
     <input  id="guardar_ter" name="guardar_ter" style="    background-color: rgba(2,94,175,1); color: white;" type="button" value="Guardar">
     
  </div>
</div> 
  
<div id="myModalEliminar" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin: auto; margin-top: 5%; padding: 10px;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p class="atencion_botonera" style="text-align: center">¿Confirma que desea eliminar el producto?</p> 
    <br>
    <input type="button" style=" background-color: rgba(2,94,175,1); color: white;  margin-right: auto;" id="eliminar_prod" name="eliminar_prod" value="ELIMINAR">
  </div>
</div>    
 
<div name="eliminarpun" id="eliminarpun" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_pun_id" name="eliminar_pun_id">
        <p id='resultado_eliminar_pun' name='resultado_eliminar_pun' class="atencion_botonera">¿Confirma que desea eliminar esta terminación?</p> 
        <br>
        <input type="button" style="    background-color: rgba(2,94,175,1); color: white;" id="eliminar_pun" name="eliminar_pun" value="ELIMINAR!">
  </div>
</div>        
        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style>                                          
                                                                             
                                                                                       


	
    {% endblock%}