{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
         <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>
<script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script>
    $(document).ready(function(){
        
         $('#eliminarprod').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_prod_id').val(id);
            });
       
         $('#inp').on("click", function() {
             
            $( "#buscador" ).toggle();
         });
         
         
         $('#eliminar_prod').on("click", function() {
             
              var data = new FormData();
                data.append('id', $('#eliminar_prod_id').val());
                
                $.ajax({
                    url: '{{url('eliminarprod')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_prod").html('Producto eliminada correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                          window.location = '{{url('grillaproductos')}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
            
        $('#modificar').on("click", function() {
            var selected = [];
            $('input:checked').each(function() {
                if($(this).attr('name')!="all"){
                    selected.push($(this).attr('name'));    
                }
                
            });
            
             var data = new FormData();
                data.append('ids', selected);
                data.append('activo', $('#activom').val());
                data.append('mostrar', $('#mostrarm').val());
                
                $.ajax({
                    url: '{{url('modificarmultiples')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                           console.log(data); 
                           $("#resultado_mod").html('Datos guardados correctamente. Se refrescará la página automáticamente.');
                           setTimeout(function(){
                           window.location.href = window.location.href;
                           },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        
        $("#all").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        
          $( "input[name^='vis']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificarvisibilidad')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
        $( "input[name^='ord']" ).change(function(){
            var id = ($(this).data('id'));
            var vis = ($(this).val());
            
            $.ajax({
                    url: '{{url('modificarorden')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
          
        $( "input[name^='gal']" ).click(function(){
            var id = ($(this).val());
            var vis = 0;
            if ($(this).is(':checked')) {
                vis = 1;
              }
            $.ajax({
                    url: '{{url('modificargaleria')}}?id='+id+'&vis='+vis,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'GET',
                    success: function ( data ) {
                        try
                        {
                           
                        }
                        catch (e)
                        {
                        }
                    }
                });
        });
        
      
        
    });   
    </script>
    
    
{% endblock %}





{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}

<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}


<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">

<div class="contenedor-datos">
        <!--<ul id="botonera_acciones_generales">
                <li><a href="#" data-toggle='modal' data-target='#myModalModificar' style="position:relative; left: 800px" class="guardar"> Modificar Seleccionados</a></li>
        </ul>-->
    
    
						<h1 class="productos" style="">Productos</h1>



						<div class="grupo_datos">


                <h2>Buscador <a name="inp" id="inp" style="margin-left:10px; display:inline;    height: 35px;    width: 35px;">Desplegar / Ocultar</a>
                    </h2>
                
							<div  class="row">





        <div class="col-sm-12 col-md-12">
                
        {% include "AmapolannUserBundle:Account:buscador_productos.html.twig"%}    

{% if productos is defined and productos!='' %}
<h2 class="fw-regular-t ">
        TODOS LOS PRODUCTOS
</h2>
<!-- boton agregar  -->
<div class="pull-left ">                                              
<a href="{{genericDomain}}admin/productoabm?id=0" type="submit" class="boton alt-amarillo pull-left " style="margin-bottom:10px;">AGREGAR PRODUCTO</a>


</div> 
<!-- fin boton agregar -->
  
<div class="contenedor-tablas-excel">

<table style="min-width: 500px;    WIDTH: 100%; margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
<thead  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">           
        
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: left; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">C&Oacute;DIGO</th> 
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: left; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">COLECCI&Oacute;N</th>
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: left;color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"><a href="?sort=titulo">T&Iacute;TULO &#11167;</a></th> 
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">PORTADA</th> 
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: left; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">MEDIDAS</th>
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: center;  color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"><a href="?sort=activo">ACTIVO &#11167;</a></th>
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">GALER&Iacute;A</th>
        <th style="padding-top: 10px;  padding-bottom: 10px; text-align: left; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"><a href="?sort=orden">ORDEN &#11167;</a></th>
        <th colspan="2" style="padding-top: 10px;  padding-bottom: 10px; text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 63px;">ACCIONES</th>
       
<tbody>
{% for producto in productos %}
<tr style="border-bottom: 1px dotted #A6A9A9;">

<td style="
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 0px ;">{{producto.codigo}}</td>
<td style="
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 0px;">{{producto.coleccion}}</td>
<td style="
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 0px ;">
{% if producto.keywords %}
<a href="{{ genericDomain }}admin/productoabm?id={{producto.id}}" class="">{{producto.titulo}}</a></td>
{% else %}
<a href="{{ genericDomain }}admin/productoabm?id={{producto.id}}" class="sin_palabras_clave">{{producto.titulo}}</a></td>
{% endif %}
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px 0px;"><img src="{{genericDomain}}{{producto.imagen_portada}}" style="width:100px;" alt="Falta Img Portada"/></td>
<td style="
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 0px ;">{{producto.alto}}x{{producto.ancho}}x{{producto.profundidad}} </td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px;">{%if producto.activo =='1'%}<input value="{{producto.id}}" type="checkbox" name="vis_{{producto.id}}" id="vis_{{producto.id}}" checked>{%else%}<input value="{{producto.id}}" type="checkbox" name="vis_{{producto.id}}" id="vis_{{producto.id}}">{%endif%}</td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px;">{%if producto.mostrar_galeria =='1'%}<input value="{{producto.id}}" type="checkbox" name="gal_{{producto.id}}" id="gal_{{producto.id}}" checked>{%else%}<input value="{{producto.id}}" type="checkbox" name="gal_{{producto.id}}" id="gal_{{producto.id}}">{%endif%}</td>
<td style="
font-size: 12px;
font-weight: 600;
color: gray;
padding: 5px;"><input style="width: 50px;" value="{{producto.orden}}" data-id="{{producto.id}}" type="number" name="ord_{{producto.id}}" id="ord_{{producto.id}}"></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><a href="{{ genericDomain }}admin/productoabm?id={{producto.id}}" class="boton alt-amarillo pull-left " > EDITAR </a></td>
<td style="text-align: center;
font-size: 12px;
font-weight: 600;
color: gray;
padding: 0px 5px;"><div class="pull-left ">
    <a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{producto.id}}"  data-toggle='modal' data-id="{{producto.id}}" data-target='#eliminarprod' class="boton alt-gris pull-left ">ELIMINAR</a>
    </div>
</td>



</tr>
{% endfor %}
</tbody>
</table>
</div>	
{% endif %}
{%if paginas is defined and (paginas / limit) > actual and actual is defined and actual == '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">


<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t ">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>
{%elseif paginas is defined and (paginas / limit) <= actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul style="columns: 1 !important;">
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

</ul>
</div>                
</div>                
{%elseif paginas is defined and (paginas / limit) > actual and actual is defined and actual > '1' %}
<div class="col-12 radius mb-2 bg-blanco overflow-h my-1">
<div class=" caracteristicas opciones ">
<ul>
<li>
<a href="{{anterior}}">
<p class=" txt-img fw-bold-t pr-2">
<input type="button" value="ANTERIOR"></p>
</a>
</li>

<li>
<a href="{{siguiente}}">
<p class=" txt-img fw-bold-t pl-2">
<input type="button" value="SIGUIENTE"></p>
</a>
</li>
</ul>
</div>                
</div>



{%endif%}
        </div>	


							</div><!-- row columna derecha de mapa -->



						</div>
                        
   </div>                     
<!-- Grupo datos -->
       
       
 </div>
</div>
</div>	  
 
<div name="eliminarprod" id="eliminarprod" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_prod_id" name="eliminar_prod_id">
        <p id='resultado_eliminar_prod' name='resultado_eliminar_prod' class="atencion_botonera">¿Confirma que desea eliminar este producto?</p> 
        <br>
        <input type="button" style="    background-color: rgba(2,94,175,1); color: white;" id="eliminar_prod" name="eliminar_prod" value="ELIMINAR!">
  </div>
</div> 
        
<div style='z-index: 99999;' id="myModalModificar" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
    <span class="close"  data-dismiss="modal" aria-hidden="true">&times;</span>
        
		<div class="grupo_datos">
    <p id='resultado_mod' name='resultado_mod' class="atencion_botonera">
    </p> 
    
     <div class="row">
                                       
                <div class="col-sm-12 col-md-6">	
                        <label for="calle"><span style="color:#eb433e;">* </span>Activo (Visible en la web)</label>
                        <select name="activom" id="activom" class="form-control required" required>
                                <option value="" selected>Seleccionar..</option>
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                        </select>
                </div>
                <div class="col-sm-12 col-md-6">	
                        <label for="calle"><span style="color:#eb433e;">* </span>Destacado (Galería Home)</label>
                        <select name="mostrarm" id="mostrarm" class="form-control required" required>
                                <option value="" selected>Seleccionar..</option>
                                <option value="1">SI</option>
                                <option value="0">NO</option>
                        </select>
                </div>
    </div>                                              
    <div class="row">
         <br>
     <br>
         <input  id="modificar" name="modificar" style="    background-color: rgba(2,94,175,1); color: white;    margin-top: 16px;
    margin-left: 14px;
    height: 33px;
    width: 100px;" type="button" value="Guardar">
     
  </div>
    </div>
         </div>
</div>
        
       
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style> 


{% endblock %}
