{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">

    </script>
		
{% endblock %}





{% block content %}
<div class="col-xs-12 col-sm-5 col-md-4 col-lg-2 fw-regular-t" id="contenedor_botonera_izq">

	<a href="#" class="bt_despliega_botonera_ppal_izq hidden-sm hidden-md hidden-lg d-md-none ">Menú</a>


	<div id="despleglable_botonera_ppal_izq">

		<h2 style="margin-top:0px;" class="botonera_ppal_izquierda hidden-xs d-none d-sm-block">Menú</h2>
              
		<ul id="botonera_ppal_izq">
               
                        <li><a href="{{ genericDomain }}admin/grillacolecciones"  class="colecciones completo fw-bold-d">Colecciones</a></li>
                        <li><a href="{{ genericDomain }}admin/coleccionabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar colección</a></li> 
			
                        <br>
                        
                        <li><a href="{{ genericDomain }}admin/grillacategorias"  class="colecciones completo fw-bold-d">Categorias</a></li>
                        <li><a href="{{ genericDomain }}admin/categoriaabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar categoria</a></li> 
			
                        <br>

                        <li><a href="{{ genericDomain }}admin/grillaterminaciones"  class="terminaciones completo fw-bold-d">Terminaciones</a></li>
                        <li><a href="{{ genericDomain }}admin/terminacionabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar terminación</a></li> 
                        
                        <br>

                        <li><a href="{{ genericDomain }}admin/grillalevas"  class="terminaciones completo fw-bold-d">Levas</a></li>
                        <li><a href="{{ genericDomain }}admin/levaabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar leva</a></li> 
			
                        <br>
                        <li><a href="{{ genericDomain }}admin/grillaproductos" class="productos completo fw-bold-d">Productos</a></li>
                        <li><a href="{{ genericDomain }}admin/productoabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar producto</a></li>
                        <br>
                        <li><a href="{{ genericDomain }}admin/grillaambientaciones"  class="productos completo fw-bold-d">Ambientaciones</a></li>
                        <li><a href="{{ genericDomain }}admin/ambientacionabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar ambientacion</a></li> 
                        <br>
                        <li><a href="{{ genericDomain }}admin/grilladistribuidores"  class="productos completo fw-bold-d">Distribuidores</a></li>
                        <li><a href="{{ genericDomain }}admin/distribuidorabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar distribuidor</a></li> 
                        <br>
                        {# <li><a href="{{ genericDomain }}admin/grillacombinaciones"  class="productos completo fw-bold-d">Combinaciones</a></li>
                        <li><a href="{{ genericDomain }}admin/combinacionabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario ">agregar combinacion</a></li> 
                        <br> #}
                        <li><a href="{{ genericDomain }}admin/grillacarrousel" class="slider completo fw-bold-d">Slider Home</a></li>
                        <li><a href="{{ genericDomain }}admin/carrouselabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario">Agregar Slide</a></li>
                        <br>
                        <li><a href="{{ genericDomain }}admin/grillacarrouselempresa" class="slider completo fw-bold-d">Slider Empresa</a></li>
                        <li><a href="{{ genericDomain }}admin/carrouselempresaabm?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario">Agregar Slide Empresa</a></li>
                        <br>
                        <li><a href="{{ genericDomain }}admin/bannercotizacion" class="slider comparable fw-bold-d borde-bottom-gris">Banner Cotización</a></li>
                        <br>
                        <li><a href="{{ genericDomain }}admin/textos" class="textos comparable fw-bold-d borde-bottom-gris ">Textos</a></li>
                        <br>
                        <br>
                        <li><a href="{{ genericDomain }}admin/grillagaleriagrales" class="textos comparable fw-bold-d borde-bottom-gris ">Galeria General</a></li>
                        <br>
                        <br>
                        <li><a href="{{ genericDomain }}admin/grillausuarios" class="usuarios fw-bold-d">Usuarios</a></li>
			<li><a href="{{ genericDomain }}admin/nuevousuario?id=0" class="cf-amarillo up-percase borde-bottom-gris txt-secundario">Nuevo usuario</a></li>
                        			
		</ul>

	</div>
	
</div>
{% endblock %}