<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>


    <!-- Google Tag Manager --> <!-- Junio 2023 -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M7SPDXG');</script>
    <!-- End Google Tag Manager -->



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MM8M5WF4L2');
    </script>


    <!-- Global site tag (gtag.js) - Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-353745492"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-353745492');
    </script>


    <meta charset="utf-8">

    <title>Resultados de búsqueda - Amapolann</title>

    <meta name="description" content="Descubra la variedad de griferías que tenemos para usted">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="{{genericDomain}}front/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />



    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css" type="text/css" />

<script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>






<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->


</head>

<body>


    <!-- Google Tag Manager (noscript) -->  <!-- Junio 2023 -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7SPDXG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->  




<!-- Compartir en facebook -->
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




 <!-- Nuevo Slide -->


 <!-- Your share button code -->
{# <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div> #}


    
<div class="bg-section section-empresa">

    <!-- Header-->
    {% include "AmapolannUserBundle:Account:header_front.html.twig"%}
    <!--Fin Header-->

    <div class="container w-xl  ">
     <div class="row  ">
        <div class=" col-12 mt-5 mb-5">
            <div class="icon icon-logo section centrar "><img loading="lazy" src="{{genericDomain}}front/images/icons/logo-amapolann-completo-blanco.png" class="width-responsive"/></div>
        </div>


       <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">

                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4 "></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>


        {# <div class="btn-whatsapp llamar">
            <a href="tel:+54 9 11 77172020">
                <div class="no-gutters">
                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-llamar-flotante pr-4 "></div>
                        0810 444-8080
                    </span>
                </div>
            </a> 
        </div> #}


     </div>
    </div>

</div>



 <!-- Fin nuevo Slide -->



    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  mobile">
        <div class="container w-xl ">
            <div class="row">
                <div class="col-12  mb-0 mt-5 pt-5">

                
                    <p class="ta-center fw-regular-d cf-blanco article-tit mt-5 pt-5">
                        <br />Griferías con
                        <span class=" fw-bold-d "> Estilo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->


    <!-- Banner Redes -->
    <div class="bg bg-blanco sub-tit-section  mobile">
        <div class="container w-xl ">
            <div class="row">
                <div class="col-12 mt-4">
                    <div class="row">
                        <div class="col-4 my-auto">
                            <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                        </div>
                        <div class="col-8 ">
                            <div class="redes banner">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin  banner redes -->





    <!-- banner para ofertas, anuncios -->
    {%if info_adicional is defined and info_adicional!=""%}

    <div class="contenedor_mensaje2">
        <div class="row">
            <div class="col-12">
                <div class="mensaje2">                    
                    <div class="fw-regular-n ta-center  cf-amarillo"> {{info_adicional}}</div>
                </div>
            </div>
        </div>
        </div>
    {%endif%}
    <!-- fin banner ofertas anuncios -->





  
    <div class="bg bg-section section-colecciones-oscuro">
        
         <!-- Titulo -->
        <div class="container w-xl">
            <div class="row">
                <div class="col-12 centrar mt-5 mb-5">
                    <span class="sub-tit fw-medium-d cf-blanco ta-center linea-amarilla-miscelanea">Resultado busqueda </span>
                </div>
            </div>
        </div>
        <!--Fin titulo-->
    

    
    {%if galeria_productos is defined and galeria_productos|length > 0%}

        <!--Coleccion Nueva (GALLO) -->
            <div class="container w-xl mt-5">

                <div class="row justify-content-center">

                    {%for producto in galeria_productos%}

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-4">

                            <div class="img-colecciones btn-hover cursor">
                                <a href="{{genericDomain}}producto?id={{producto.id}}" target="_blank">
                                <div class="flotante circulo-fav cursor alt-fav sombra d-block d-sm-none">
                                            <!--<img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="Imagen del producto">-->
                                            <span class="icon-icon-mas "></span>
                                </div> 
                                <img loading="lazy" src="{{genericDomain}}{{producto.imagen_portada}} " />
                                </a>     
                            </div>

                            <p class="sub-tit productos fw-medium-d  cf-blanco mb-1 mt-2 text-center">
                                <a href="{{genericDomain}}producto?id={{producto.id}}"> {{producto.titulo}} 
                                    <div class="txt cf-amarillo fw-light-n mt-0 text-center">
                                        COD: <span class="fw-medium-n">{{producto.codigo}}</span>
                                    </div>
                                </a>
                            </p>
                        </div>

                    {%endfor%}
                </div>
            
            </div>

       {% elseif galeria_productos2 is defined and galeria_productos2|length > 0%}

                   <div class="container w-xl mt-5  mb-5 pb-5">
                <div class="row justify-content-center mt-5 pt-5 mb-5 pb-5">
                    <div class="col-12">
                        <p class="sub-tit productos fw-medium-d cf-blanco text-center">
                            Lamentablemente no encontramos lo que buscabas </p>
                        <p class="txt cf-amarillo fw-light-n mt-2 text-center">
                            Podés rehacer la busqueda ... , <span class="fw-medium-n">o ver alguno de nuestros otros productos!</span>
                        </p>
                    </div>
                    







<div class="container w-xl mt-5">

                        <div class="row justify-content-center">

                            {%for producto in galeria_productos2%}

                                <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-4">

                                    <div class="img-colecciones btn-hover cursor">
                                        <a href="{{genericDomain}}producto?id={{producto.id}}" target="_blank">
                                        <div class="flotante circulo-fav cursor alt-fav sombra d-block d-sm-none">
                                                    <!--<img loading="lazy" src="{{genericDomain}}front/images/icons/icon-mas.svg" class="width-responsive" alt="Imagen del producto">-->
                                                    <span class="icon-icon-mas "></span>
                                        </div> 
                                        <img loading="lazy" src="{{genericDomain}}{{producto.imagen_portada}} " />
                                        </a>     
                                    </div>

                                    <p class="sub-tit productos fw-medium-d  cf-blanco mb-1 mt-2 text-center">
                                        <a href="{{genericDomain}}producto?id={{producto.id}}"> {{producto.titulo}} 
                                            <div class="txt cf-amarillo fw-light-n mt-0 text-center">
                                                COD: <span class="fw-medium-n">{{producto.codigo}}</span>
                                            </div>
                                        </a>
                                    </p>
                                </div>

                            {%endfor%}
                        </div>
                    
                    </div>









    
                </div>
            </div>

        

            
            
            
       
       
        {%else%}

            <div class="container w-xl mt-5  mb-5 pb-5">
                <div class="row justify-content-center mt-5 pt-5 mb-5 pb-5">
                    <div class="col-12">
                        <p class="sub-tit productos fw-medium-d cf-blanco text-center">
                            Lamentablemente no encontramos lo que buscabas </p>
                        <p class="txt cf-amarillo fw-light-n mt-2 text-center">
                            Pero no te preocupes, <span class="fw-medium-n">seguro encontrás lo que buscabas en nuestras colecciones!</span>
                        </p>
                    </div>
                    <div class="col-12 mt-5 pt-5">
                        <a href="{{ genericDomain }}listado"><span class="boton xl left centrar"> VER TODAS LAS COLECCIONES</span></a>
                    </div>

    
                </div>
            </div>



    </div>
    {%endif%}
    <!--Coleccion Nueva (GALLO) -->






   
    <!--Galeria (ALFONSO) -->
   
    {# <div class="container w-full full-mobile  ">
        <div class="lista-colecciones col-12  mb-2 mt-5 ">
            <ul class="row no-gutters" >
                {%for producto in galeria_productos%}

                <li class="col-4 col-md-3 mb-md-4 mb-2 px-md-3 px-1 altura-automatica-galeria"
                data-target="#slider-galeria-modal" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>
                    <div class="row no-gutters">
                    <div class="col-12">
                    
                    <div class="img-colecciones btn-hover cursor" data-toggle="modal"
                        data-target="#mCarouselGaleria">

                        <img class="with-responsive" src="{{genericDomain}}{{producto.imagen_portada}}">

                        <div class="img-texto">
                            <p class="article-txt up-percase fw-bold-d cf-blanco ta-center">
                                
                            </p>
                        </div>

                    </div>
                    </div> 
                    <div class="col-12">
                    
                    <p class="txt fw-regular-t cf-negro my-3 d-none d-sm-block">
                        <a href="{{genericDomain}}coleccion?id={{producto.id_categoria}}"> {{producto.coleccion}} | {{producto.titulo}} <br><span class="fw-medium-n  ">{{producto.codigo}}</span></a>
                    </p>
                    
                    </div>
                </div>
                </li>
                {%endfor%}
                
            </ul>
        </div>
    </div>
    {%endif%}#}
    <!-- Galera (ALFONSO) -->
























  <!-- Modal Slider galeria-->

                    <div class="modal fade" id="mCarouselGaleria" tabindex="-1" role="dialog"
                        aria-labelledby="mCarouselGaleria" aria-hidden="true ">
                        <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
                            <div class="modal-content galeria-modal">
                                <div class="row">
                                    <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg" class="width-responsive" data-dismiss="modal"></div>
                                </div>
                                <div class="row no-gutters">

                                    <div class="col-12 centrar">

                                        <!-- Modal Slider HTML-->
                                        <div class="colecciones-galeria-modal ">
                                            <div id="slider-galeria-modal" class="slider-galeria-modal carousel slide" data-ride="carousel" data-interval="false">

                                               
                                               
                                                <ol class="carousel-indicators">
                                                    {%for foto in galeria_productos%}

                                                    <li data-target="#slider-galeria-modal" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %} class="active"{%endif%}>

                                                        <img class="d-md-block w-100 img-fluid" src="{{genericDomain}}{{foto.imagen_portada}}"  alt="First slide">
                                                    
                                                    </li>
                                                    {%endfor%}
                                                </ol> 
                                                
                                                <div class="carousel-inner">
                                                    {%for foto in galeria_productos%}
                                                    <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                                        
                                                        <div class="col-12 centrar mb-5">
                                                            <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-around"> 

                                                                <span>
                                                                colección: <span class="fw-bold-n"> 
                                                                    {{foto.coleccion}} </span>
                                                                
                                                                </span>

                                                                <span class="fw-bold-n cf-amarillo">{{foto.titulo}}</span>


                                                                <span>Código:
                                                                    <span class="fw-bold-n"> 
                                                                        {{foto.codigo}} - {{foto.codigo_coleccion}} - XXYY   
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        
                                                        <img class="with-responsive"
                                                            src="{{genericDomain}}{{foto.imagen_portada}}" alt="Slide Galeria" style="2px solid green">


                                                        <ul class="botones_acciones_img_carousel_galeria">
                                                            <li><a href="{{ genericDomain }}contactpage">Contactános</a></li>
                                                            <li><a href="tel:+54 9 11 77172020">Llamar</a></li>
                                                                <li>
                                        <a href="#" class="despliega_compartir"><img src="front/images/icons/icon-compartir-amarillo.svg" class="iconos_botones_acciones"> Compartir</a>
                                        <ul class="botones_compartir" style="display: block;">                                               
                                            <li><a href="https://api.whatsapp.com/send?text=Mirá%20este%20producto%20de%20Amapolann!%20https://www.amapolann.com/producto?id=15718" class="whatsapp" target="_blank">whatsapp</a></li>
                                                                                        <li>
                                                <a href="http://www.facebook.com/sharer.php?u=https://www.amapolann.com/producto?id=15718&amp;t=NorfiPC" target="_blank" class="facebook ">Facebook</a>
                                            </li>
                                            <li><a href="mailto:?subject=Recomendación de Amapolan!&amp;body=Mirá este producto ingresando en https://www.amapolann.com/producto?id=15718" class="mail" target="_blank">Mail</a></li>
                                        </ul>
                                    </li>
                                                            {# <li><a href="#">Agregar al listado</a></li> #}
                                                            <li><a href="#" id="agregar-favoritos" data-nombre="favoritos" data-valor="12345" class="bt_agregar_favoritos">Cotizar</a></li>
                                                        </ul>  


                                                    </div>    
                                                    {%endfor%}
                                                </div>
                                                
                                                <a class="carousel-control-prev" href="#slider-galeria-modal"
                                                    role="button" data-slide="prev"  aria-hidden="true">
                                                    <span class="carousel-control-prev-icon" ></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#slider-galeria-modal"
                                                    role="button" data-slide="next" >
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--Fin  Modal Slider HTML-->


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

 <!-- Fin modal slider galeria-->


    <!--End Galeria -->

    
    




    
 </div>
<!-- Fin nuevo Colecciones -->








<!--Footer-->
    {# {% include "AmapolannUserBundle:Account:footer_front.html.twig"%} #}
<!--Fin footer-->





{#
  <div class="bg bg-section section-colecciones">
   <!-- Titulo -->
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                    <span class=" sub-tit fw-medium-d cf-negro ta-center linea-amarilla-miscelanea"> Galería</span>
                </div>
            </div>
        </div>
    <!--Fin titulo-->

    <!-- Boton -->
    <div class="container w-xl ">
        <div class="row ">
            <div class=" col-12  mb-5  ">
                <a href="#arriba"><span class="boton xl left centrar"> VOLVER ARRIBA</span></a>
            </div>

        </div>
    </div>
    <!--Fin boton -->
 </div>
#}







    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  tabletyweb">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12  mb-5 mt-5   ">
                    <p class="ta-center fw-regular-d cf-blanco article-tit ">
                        Griferias con
                        <span class=" fw-bold-d "> Estilo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->





    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- efectos personales -->
    <script src="{{genericDomain}}front/js/scripts.js"></script>


    

    <script>
        function copiar_link() {
            var aux = document.createElement("input");
            //aux.setAttribute("value", window.location.href.split("?")[0].split("#")[0]);
            aux.setAttribute("value", window.location.href);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);

            var aviso = document.getElementById("aviso_url_copiada");
      
            setTimeout(function(){
                aviso.classList.add("visible");
                setTimeout(function(){
                    aviso.classList.remove("visible");
                }, 1500);
            }, 1);
        }
    </script>
    
    
    
    <script>
        $("a.despliega_compartir").on("click", function(e){
            e.preventDefault();
            $(this).next("ul").toggle();
        }) 
    </script>




    <script>

        // cuando se pulsa en "agregar a favoritos"
        document.getElementById("Cotizar").addEventListener("click", function(e) {

        // hacemos que no se ejecute el enlace
        e.preventDefault();


        // leemos los datos clave del producto y los guardamos en un objeto
        var datos = {
            //id: document.getElementById("producto-id").value,
            //nombre: document.getElementById("producto-nombre").textContent,
            //url: document.location.href

            //Info GALLO:
            id: e.target.getAttribute('data-valor'),
            nombre: e.target.getAttribute('data-nombre'),
            url: document.location.href
        };

        // leemos los favoritos del localStorage
        var favoritos = localStorage.getItem("favoritos") || "[]";
        favoritos = JSON.parse(favoritos);

        // buscamos el producto en la lista de favoritos
        var posLista = favoritos.findIndex(function(e) { return e.id == datos.id; });
        if (posLista > -1) {
            // si está, lo quitamos
            favoritos.splice(posLista, 1);
            e.target.classList.remove("activo");
            e.target.innerHTML = "Cotizar";
        } else {
            // si no está, lo añadimos
            favoritos.push(datos);
            e.target.classList.add("activo");
            e.target.innerHTML = "No cotizar";
        }

        console.log(`ID: ${datos.id},Nombre: ${datos.nombre},URL: ${datos.url}, favoritos:${JSON.stringify(favoritos)}`);

        // guardamos la lista de favoritos 
        localStorage.setItem("favoritos", JSON.stringify(favoritos));

        });
        </script>






</body>


</html>