<!DOCTYPE HTML>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>Amapolann - Griferías con estilo</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="all" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <meta name="og:title" content="Amapolann" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Amapolann-Griferías con estilo" />

    <meta property="og:image" content="http://www.cartaqr.com.ar/amapolann/images/og-img-amapolann.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <link rel="icon" href="{{genericDomain}}front/images/favicon.svg" type="image/svg+xml">
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MM8M5WF4L2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MM8M5WF4L2');
</script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> -->
    
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propios -->
    <link rel="stylesheet" href="{{genericDomain}}front/css/header.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="{{genericDomain}}front/css/styles.css{{styles_var}}" type="text/css" />


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

          <script type="text/javascript">
if (document.layers) {
    //Capture the MouseDown event.
    document.captureEvents(Event.MOUSEDOWN);
 
    //Disable the OnMouseDown event handler.
    document.onmousedown = function () {
        return false;
    };
}
else {
    //Disable the OnMouseUp event handler.
    document.onmouseup = function (e) {
        if (e != null && e.type == "mouseup") {
            //Check the Mouse Button which is clicked.
            if (e.which == 2 || e.which == 3) {
                //If the Button is middle or right then disable.
                return false;
            }
        }
    };
}
 
//Disable the Context Menu event.
document.oncontextmenu = function () {
    return false;
};
</script>



<!-- Smartsupp Live Chat script -->
    <script src="{{genericDomain}}front/js/chatbot.js"></script>
<!-- Smartsupp Live Chat script -->




</head>

<body>




<div class="bg-section section-terminaciones ">

<!-- Header-->
{% include "AmapolannUserBundle:Account:header_front.html.twig"%}
<!--Fin Header-->


<!-- Terminaciones-->
<div class="container w-xl  d-flex align-self-center ">
    <div class="row  mt-md-2">
        <div class=" col-6  mt-5 mb-5 ">
            <span class="tit fw-medium-d cf-blanco  "> Terminaciones </span>

        </div>
        <div class="btn-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=5491177172020&amp;text=Hola,%20me%20gustaría%20chatear%20con%20un%20asesor." target="_blank">
                <div class="no-gutters">

                    <span class="col-12 d-flex justify-content-center">
                        <div class="icon icon-wp-flotante pr-4 "></div>
                        (+54 9) 11 7717-2020
                    </span>
                </div>
            </a> 
        </div>



        {# <div class="btn-whatsapp llamar">
                <a href="tel:+54 9 11 77172020">
                    <div class="no-gutters">
                        <span class="col-12 d-flex justify-content-center">
                            <div class="icon icon-llamar-flotante pr-4 "></div>
                            0810 444-8080
                        </span>
                    </div>
                </a> 
        </div> #}
            


    </div>
</div>
<!--Fin  terminaciones -->
</div>


    <!-- Titulo -->
    {%if titulo_categoria is defined and titulo_categoria !=""%}
    <div class="bg bg-negro">
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5 linea-amarilla-miscelanea ">
                    <span class=" sub-tit fw-medium-d cf-blanco ta-center "> {{titulo_producto}} ,
                        Colección {{titulo_categoria}} </span>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <!--Fin titulo-->

   <!-- Titulo -->
    <div class="bg bg-negro ">
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                                    <div class="separacion_arreglo_jorge d-block d-sm-none"></div>

                    <span class=" sub-tit fw-medium-d cf-blanco ta-center linea-amarilla-miscelanea"> Terminaciones Gríferia </span>
                </div>
            </div>
        </div>
    </div>
   
    <!--Fin titulo-->
    
    <!-- Terminaciones Griferias-->
    <div class="bg bg-negro">

        <div class="container w-xl">


            <div class="row mt-5 pt-5 d-flex justify-content-center">

            {%if terminaciones_producto is defined and terminaciones_producto !=""%}
            {%for terminacion in terminaciones_producto%}

            
                <div class="col-12 col-md-2 mb-5 px-md-3" data-target="#slider-galeria-modalTermi" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>

                    <a href="#" data-toggle="modal"  data-target="#mCarouselGaleriaTerminaciones">    
                        <div class="card h-100" style="background-color:blue-; border:1px solid pink-">
                            
                            <div class="card-body d-flex text-center align-items-center">
                                <div class="article-tit fw-medium-d cf-blanco w-100" style="background-color:red-">{{terminacion.titulo}}<br />
                                
                                    <p class="txt text-center fw-light-n cf-blanco my-3 d-none d-sm-block">
                                    CÓDIGO: <span class="fw-medium-n  ">{{terminacion.codigo}}</span> </p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <img loading="lazy" src="{{ genericDomain }}{{terminacion.imagen_portada}}" class="width-responsive  circular radius p-3" /> 
                            </div>

                        </div>
                    </a>
                </div>
                

            {%endfor%}
            {%endif%} 

            </div>
            


           <!-- <div class="lista-terminaciones col-12  mb-2 mt-5 ">
               <ul class="row no-gutters align-items-stretch" >
                   {%if terminaciones_producto is defined and terminaciones_producto !=""%}
                        {%for terminacion in terminaciones_producto%}
                       
                           <li class="col-12 col-md-2 mb-5 px-md-3 " style="border:1px solid green">
                                
                                <div class="row no-gutters h-100 " style="border:1px solid yellow">
                                
                                 <div id="{{terminacion.titulo}}" class="col-12 centrar mb-5 mt-2 h-100" style="border:1px solid pink">
                                    <div class="row no-gutters p-4 ">


                                      

                                        <div class="col-12 mt-4 ">

                                            <div class="col-12" style="border:1px solid red">
                                                <span class=" article-tit fw-medium-d cf-blanco "> {{terminacion.titulo}}</span>
                                            </div>

                                            <p class="txt fw-light-n  cf-blanco my-3 d-none d-sm-block">
                                                <a> CÓDIGO: <span class="fw-medium-n  ">{{terminacion.codigo}}</span></a>
                                            </p> 
                                        </div>


                                        <div class="col-12 " style="border:1px solid orange">
                                            <img loading="lazy" src="{{ genericDomain }}{{terminacion.imagen_portada}}" class="width-responsive radius circular" />
                                        </div>
                                  

                                        <div class="col-12  mb-4 pl-md-4">
                                                    <p class="cf-blanco txt  text-center fw-light-italic-t ">{{terminacion.descripcion}}</p>
                                        </div>-->

                                <!--    </div>
                                 </div>
                               </div>

                            </li> 


                            

                        {%endfor%}
                   {%endif%} 
               </ul> 
             </div> -->
        </div>

    </div>
    <!--Fin  terminaciones griferias-->
       <!-- Titulo -->
    <div class="bg bg-negro ">
        <div class="container   w-xl">
            <div class="row">
                <div class=" col-12 centrar mt-5 mb-5">
                    <span class=" sub-tit fw-medium-d cf-blanco ta-center linea-amarilla-miscelanea"> Opciones de Piedras </span>
                </div>
            </div>
    </div>
    </div>
   
    <!--Fin titulo-->
<!-- Terminaciones levas-->
    <div class="bg bg-negro">

        <div class="container w-xl">


            <div class="row mt-5 pt-5 d-flex justify-content-center">

            {%if levas is defined and levas !=""%}
            {%for leva in levas%}

            
                <div class="col-12 col-md-2 mb-5 px-md-3" data-target="#slider-galeria-modalLeva" data-slide-to="{{loop.index0}}" {% if loop.index == 1 %}class="active"{%endif%}>

                    <a href="#" data-toggle="modal"  data-target="#mCarouselGaleriaLevas">    
                        <div class="card h-100" style="background-color:blue-; border:1px solid pink-">
                            
                            <div class="card-body d-flex text-center align-items-center">
                                <div class="article-tit fw-medium-d cf-blanco w-100" style="background-color:red-">{{leva.titulo}}<br />
                                
                                    <p class="txt text-center fw-light-n cf-blanco my-3 d-none d-sm-block">
                                    CÓDIGO: <span class="fw-medium-n  ">{{leva.codigo}}</span> </p>
                                </div>
                            </div>


                            <div class="d-flex">
                                <img loading="lazy" src="{{ genericDomain }}{{leva.imagen_portada}}" class="width-responsive  circular radius p-3" /> 
                            </div>

                        </div>
                    </a>
                </div>
                

            {%endfor%}
            {%endif%} 

            </div>
            


           <!-- <div class="lista-terminaciones col-12  mb-2 mt-5 ">
               <ul class="row no-gutters align-items-stretch" >
                   {%if terminaciones_producto is defined and terminaciones_producto !=""%}
                        {%for terminacion in terminaciones_producto%}
                       
                           <li class="col-12 col-md-2 mb-5 px-md-3 " style="border:1px solid green">
                                
                                <div class="row no-gutters h-100 " style="border:1px solid yellow">
                                
                                 <div id="{{terminacion.titulo}}" class="col-12 centrar mb-5 mt-2 h-100" style="border:1px solid pink">
                                    <div class="row no-gutters p-4 ">


                                      

                                        <div class="col-12 mt-4 ">

                                            <div class="col-12" style="border:1px solid red">
                                                <span class=" article-tit fw-medium-d cf-blanco "> {{terminacion.titulo}}</span>
                                            </div>

                                            <p class="txt fw-light-n  cf-blanco my-3 d-none d-sm-block">
                                                <a> CÓDIGO: <span class="fw-medium-n  ">{{terminacion.codigo}}</span></a>
                                            </p> 
                                        </div>


                                        <div class="col-12 " style="border:1px solid orange">
                                            <img loading="lazy" src="{{ genericDomain }}{{terminacion.imagen_portada}}" class="width-responsive radius circular" />
                                        </div>
                                  

                                        <div class="col-12  mb-4 pl-md-4">
                                                    <p class="cf-blanco txt  text-center fw-light-italic-t ">{{terminacion.descripcion}}</p>
                                        </div>-->

                                <!--    </div>
                                 </div>
                               </div>

                            </li> 


                            

                        {%endfor%}
                   {%endif%} 
               </ul> 
             </div> -->
        </div>

    </div>
    <!--Fin  terminaciones griferias-->












































    <div class="modal fade mt-5" id="mCarouselGaleriaTerminaciones" tabindex="-1" role="dialog"
                        aria-labelledby="mCarouselGaleriaTerminaciones" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
                            <div class="modal-content galeria-modal">
                                <div class="row">
                                    <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg" class="width-responsive" data-dismiss="modal"></div>
                                </div>
                                <div class="row no-gutters">

                                    <div class="col-12 centrar">

                                        <!-- Modal Slider HTML-->
                                        <div class="colecciones-galeria-modal">
                                            <div id="slider-galeria-modalTermi" class="slider-galeria-modalTermi carousel slide" data-ride="carousel" data-interval="false">

                                               
                                            

                                                <!-- <ol class="carousel-indicators">
                                                     {%for terminacion in terminaciones_producto%}

                                                    <li data-target="#slider-galeria-modalTermi" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %} class="active"{%endif%}>

                                                        <img class="d-md-block w-100 img-fluid" src="{{genericDomain}}{{terminacion.imagen_portada}}"  alt="First slide">
                                                    
                                                    </li>
                                                    {%endfor%}
                                                </ol>  -->
                                                
                                                <div class="carousel-inner">
                                                     {%for terminacion in terminaciones_producto%}
                                                    <div class="carousel-item {% if loop.index == 1 %}active{%endif%}">
                                                        
                                                        <div class="col-12 centrar mb-5">
                                                            <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-center"> 

                                                                <span class="fw-bold-n cf-amarillo mr-4">{{terminacion.titulo}} </span>


                                                                <span class="ml-4">Código:
                                                                    <span class="fw-bold-n"> 
                                                                        {{terminacion.codigo}}
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        
                                                        <img class="with-responsive imagenes_en_slider_terminaciones" src="{{genericDomain}}{{terminacion.imagen_portada}}" alt="Slide Galeria">

                                                        <div class="carousel-caption">
                                                                <div class="col-12 col-md-7 col-lg-6 centrar mt-4">
                                                                
                                                                <p class="texto_ampliacion_slider_terminaciones fw-regular-t">{{terminacion.descripcion}}</p>
                                                            </div>
                                                        </div>

                                                        


                                                    </div>    
                                                    {%endfor%}
                                                </div>
                                                
                                                <a class="carousel-control-prev" href="#slider-galeria-modalTermi"
                                                    role="button" data-slide="prev"  aria-hidden="true">
                                                    <span class="carousel-control-prev-icon" ></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#slider-galeria-modalTermi"
                                                    role="button" data-slide="next" >
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--Fin  Modal Slider HTML-->


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>




<!-- modal levas -->
    <div class="modal fade mt-5" id="mCarouselGaleriaLevas" tabindex="-1" role="dialog"
                        aria-labelledby="mCarouselGaleriaLevas" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered galeria-modal" role="document">
                            <div class="modal-content galeria-modal">
                                <div class="row">
                                    <div class="icon-close-modal"><img loading="lazy" src="images/icons/iconcerrar.svg" class="width-responsive" data-dismiss="modal"></div>
                                </div>
                                <div class="row no-gutters">

                                    <div class="col-12 centrar">

                                        <!-- Modal Slider HTML-->
                                        <div class="colecciones-galeria-modal">
                                            <div id="slider-galeria-modalLeva" class="slider-galeria-modalLeva carousel slide" data-ride="carousel" data-interval="false">

                                               
                                            

                                                <!-- <ol class="carousel-indicators">
                                                     {%for terminacion in terminaciones_producto%}

                                                    <li data-target="#slider-galeria-modalTermi" data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %} class="active"{%endif%}>

                                                        <img class="d-md-block w-100 img-fluid" src="{{genericDomain}}{{terminacion.imagen_portada}}"  alt="First slide">
                                                    
                                                    </li>
                                                    {%endfor%}
                                                </ol>  -->
                                                
                                                <div class="carousel-inner">
                                                     {%for leva in levas%}
                                                    <div class="carousel-item {% if loop.index == 1 %}active{%endif%}">
                                                        
                                                        <div class="col-12 centrar mb-5">
                                                            <p class="txt fw-light-n cf-blanco up-percase d-flex justify-content-center"> 

                                                                <span class="fw-bold-n cf-amarillo mr-4">{{leva.titulo}} </span>


                                                                <span class="ml-4">Código:
                                                                    <span class="fw-bold-n"> 
                                                                        {{leva.codigo}}
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        
                                                        <img class="with-responsive imagenes_en_slider_terminaciones" src="{{genericDomain}}{{leva.imagen_portada}}" alt="Slide Galeria">

                                                        <div class="carousel-caption">
                                                                <div class="col-12 col-md-7 col-lg-6 centrar mt-4">
                                                                
                                                                <p class="texto_ampliacion_slider_terminaciones fw-regular-t">{{leva.descripcion}}</p>
                                                            </div>
                                                        </div>

                                                        


                                                    </div>    
                                                    {%endfor%}
                                                </div>
                                                
                                                <a class="carousel-control-prev" href="#slider-galeria-modalLeva"
                                                    role="button" data-slide="prev"  aria-hidden="true">
                                                    <span class="carousel-control-prev-icon" ></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#slider-galeria-modalLeva"
                                                    role="button" data-slide="next" >
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--Fin  Modal Slider HTML-->


                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

<!-- FIN modal levas -->






















   <!-- Terminaciones Piedras VIEJOO    
    <div class="bg bg-negro">

        <div class="container w-xl ">
            <div class="lista-terminaciones col-12  mb-2 mt-5 ">
               <ul class="row no-gutters" >
                   {%if levas is defined and levas !=""%}
                        {%for leva in levas%}
                            <li class="col-12 col-md-2 mb-5 px-md-3">
                                <div class="row no-gutters">
                                 <div id="{{leva.titulo}}" class="col-12  centrar mb-5 mt-2  h-100">
                                     <div class="row no-gutters  p-4 d-flex align-items-center">

                                         <div class="col-12  mt-4 ">
                                             <div class="col-12 text-center  ">
                                                  <span class=" article-tit fw-medium-d cf-blanco ">{{leva.titulo}}</span>
                                             </div>
                                              <p class="txt fw-light-n  cf-blanco my-3 d-none d-sm-block">
                                       <a> CÓDIGO: <span class="fw-medium-n  ">{{leva.codigo}}</span></a>
                                    </p>
                                         </div>

                                         <div class="col-12  ">


                                             <img loading="lazy" src="{{ genericDomain }}{{leva.imagen_portada}}"
                                                 class="width-responsive radius circular " />
                                         </div>

                                     </div>
                                 </div>
                               </div>
                            </li>
                        {%endfor%}
                   {%endif%} 
               </ul>
             </div>
        </div>

    </div>
    <!--Fin  terminaciones piedras VIEJOOOO-->
    
    <!-- Banner Redes -->
    <div class="bg bg-blanco sub-tit-section  mobile">
        <div class="container w-xl mt-0">
            <div class="row  ">
                <div class="col-12 mt-4 mb-4">
                    <div class="row">
                        <div class="col-4 my-auto">
                            <span class="article-tit fw-light-t mb-3 cf-negro borde-right-negro-1px pr-5">REDES</span>
                        </div>
                        <div class="col-8 ">
                            <div class="redes banner">
                                <ul class="d-flex justify-content-between">
                                    <li>
                                        <a href="https://www.instagram.com/griferiasamapolann/" target="_blank">
                                            <div class="icon icon-lista ig-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/griferiasamapolann-105408931928741" target="_blank">
                                            <div class="icon icon-lista fb-color"></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ar.pinterest.com/Amapolanngriferias/_created/" target="_blank">
                                            <div class="icon icon-lista pint-color"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Fin  banner redes -->

    <!-- Banner -->
    <!-- Sub Titulo-->
    <div class="bg bg-banner sub-tit-section  tabletyweb">
        <div class="container w-xl ">
            <div class="row  ">
                <div class="col-12  mb-5 mt-5">
                    <p class="ta-center fw-regular-d cf-blanco article-tit ">
                        Griferias con
                        <span class=" fw-bold-d "> Estilo</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Fin Sub Titulo-->
    <!--Fin  banner -->

    <!--Footer-->
    {% include "AmapolannUserBundle:Account:footer_front.html.twig"%}
    <!--Fin footer-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


    <!-- efectos personales -->
    <script src="{{genericDomain}}front/js/scripts.js"></script>


</body>


</html>