{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
   {{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>

            <script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>
            
<script>    
         $(document).ready(function(){
             $('#insertar_portada').submit(insertarFotoPortada)
             
             function insertarFotoPortada(e){
                 e.preventDefault();
                 var form = new FormData($("#insertar_portada")[0]);
                 console.log(form);
                 $.ajax({
                     url:'{{url('portadaterminacion')}}',
                     type: 'POST',
                     data: form,
                     contentType: false,
                     processData: false,
                     success: function(form){
                         try
                        {
                          if (form == "ok"){
                             $("#resultado_ter").html('Imagen guardada correctamente. Se refrescará la página automáticamente.');
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                          else{
                            $("#resultado_ter").html(form);
                            setTimeout(function(){
                            window.location = window.location.pathname+'?id={{id}}';
                            },2500);
                            }
                        }
                        catch (e)
                        {
                        }
                     }
                     
                 })
             }
            
            $('#eliminar_ter').on("click", function() {
             console.log("boton apretado");
             
              var data = new FormData();
                data.append('id', {{id}});
                
                $.ajax({
                    url: '{{url('eliminarterminacion', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                            window.location = '{{url('grillaterminaciones')}}';
                        }
                        catch (e)
                        {
                        }
                    }
                });

            });
            
        });
</script>  
{% endblock %}





{% block content %}

{{ parent() }}

{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
 {% render "AmapolannUserBundle:Account:progreso"%}

                    
   <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">

   <form id='myform' name='myform' role="form" method="POST" action="{{url('terminacionabm')}}"  enctype="multipart/form-data">
   <div class="contenedor-datos"> 
        <h1 class="terminaciones">Terminación</h1>
        
            
                      
                      
              <div class="grupo_datos">

                              <h2>Datos básicos</h2>


                              <div class="row">

                                  <input type="hidden" name="id" id="id" value="{{id}}">


                                  
                                  <div class="col-sm-12 col-md-6">	
                                          <div class="form-group">
                                          <label for="calle"><span style="color:#eb433e;">* </span>Nombre de Terminación</label>
                                          {%if propiedad is defined and propiedad.0.titulo is defined %}
                                              <input type="text" value="{{propiedad.0.titulo}}" name="titulo" id="titulo" class="form-control required" required>
                                          {%else%}
                                              <input type="text" value="" name="titulo" id="titulo" class="form-control required" required>
                                          {%endif%}
                                          </div>
                                  </div>
                                  
                              </div>
                                          
                              <div class="row">
                                  
                                  <div class="col-sm-12 col-md-6">	
                                          <div class="form-group">
                                          <label for="calle"><span style="color:#eb433e;">* </span>C&oacute;digo</label>
                                          {%if propiedad is defined and propiedad.0.codigo is defined %}
                                              <input type="text" value="{{propiedad.0.codigo}}" name="codigo" id="codigo" class="form-control required" required>
                                          {%else%}
                                              <input type="text" value="" name="codigo" id="codigo" class="form-control required" required>
                                          {%endif%}
                                          </div>
                                  </div>
                                  
                              </div>
                              <div class="row">
                                  
                                  <div class="col-sm-12 col-md-6">	
                                          <div class="form-group">
                                          <label for="calle"><span style="color:#eb433e;">* </span>Orden</label>
                                          {%if propiedad is defined and propiedad.0.orden is defined %}
                                              <input type="text" value="{{propiedad.0.orden}}" name="orden" id="orden" class="form-control required" required>
                                          {%else%}
                                              <input type="text" value="1000" name="orden" id="orden" class="form-control required" required>
                                          {%endif%}
                                          </div>
                                  </div>
                                  
                              </div>
                              

                              <div class='row'>
                                      <div class="col-sm-12 col-md-6">	
                                              <div class="form-group">
                                                  <label for="calle"><span style="color:#eb433e;">* </span>Descripción</label>
                                                  {%if propiedad is defined and propiedad.0.descripcion is defined %}
                                                      <textarea style="min-height: 100px;" name="detalles" id="detalles" class="form-control required" required>{{propiedad.0.descripcion|raw|replace({'<br>':'\r\n'})}}</textarea>
                                                  {%else%}
                                                      <textarea style="min-height: 200px;" name="detalles" id="detalles" class="form-control required" required></textarea>
                                                  {%endif%}
                                              </div>
                                      </div>                            
                              </div><!-- row -->
                              
                            
                            {%if id is defined and id>'0' %}
                            {%if propiedad is defined and propiedad.0.imagen_portada != null %}
                                <h2>Imágen de portada</h2>
                                  <div class="row">
                                      {% if imagen is defined%}
                                          <div style="margin-top: 10px;" class="col-sm-12 col-md-3">
                                                      <a href="{{genericDomain}}{{imagen}}" target="_blank">
                                                          <img src="{{genericDomain}}{{imagen}}" style="width: 100%; height: auto;"/>
                                                      </a>
                                                      <div class="txt cf-gris fw-light-n mt-2 "> (300px x 300px)</div>

                                                    <!-- Guardar Eliminar -->
                                                    <ul class="botonera-guardar-editar-eliminar">
                                                      {%if id is defined and id!='0' %}
                                                          <li>
                                                              <a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Cambiar Portada</a>
                                                          </li>
                                                      {%endif%} 
                                                      </ul>
                                                    <!-- Fin Guardar Eliminar -->

                                          </div>
                                      {%endif%}
                                  </div>
                              {%else%} 
                                <h2>Imágen de portada</h2>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 mt-2">
                                            <img src="{{genericDomain}}front/images/img-default.jpg"
                                            class="width-responsive" alt="Amapolann" title="Amapolann">
                                            <div class="txt cf-gris fw-light-n mt-2 "> (300px x 300px)</div>
                                                <!-- Guardar Eliminar -->
                                                    <ul class="botonera-guardar-editar-eliminar">
                                                                    <li>
                                                                        <a href="#" data-toggle='modal' data-target='#myModalImagenes' class="boton alt-amarillo pull-left">Cambiar Portada</a>
                                                                    </li>
                                                    </ul>
                                                <!-- Fin Guardar Eliminar -->
                                        </div>
                                    </div>
                               {%endif%}  
                              
                              {%endif%}
                            
                            
                            
                             
                 

                      
                </div>
    </div><!-- row columna derecha de mapa -->
    <!-- Guardar Eliminar -->
          <ul class="botonera-guardar-editar-eliminar">
                        <li>
                            <input type="submit" id='siguiente' name='siguiente' class="boton alt-amarillo pull-left" value="Guardar">
                        </li>


                        {%if id is defined and id!='0' %}
                         <li>
                            <input type="submit" id='siguiente' name='siguiente' class="boton alt-gris pull-left" data-toggle='modal' data-target='#myModalEliminar' value="Eliminar">
                        </li>
                        {%endif%}    
          </ul>
    <!-- Fin Guardar Eliminar -->
</div><!-- Grupo datos -->
</div>
 </form>



</div>

<div id="myModalImagenes" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin: auto; margin-top: 10%">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p id='resultado_ter' name='resultado_ter' class="atencion_botonera"></p> 
    <form action="" id="insertar_portada" name="insertar_portada" enctype="multipart-form/data">
        <p>Imágen de Portada</p>
        <input type="hidden" id="id_terminacion" name="id_terminacion" value="{{id}}" class="form-control">
        <label for="calle">Seleccione la nueva imágen (300px x 300px)</label>
        <input type="file" id="imagen_por" name="imagen_por" class="form-control">
        <input type="submit" class=" boton  mt-4" id="establecer_port" name="establecer_port" value="ESTABLECER!">
    </form>
  </div>

</div>
 
<div id="myModalEliminar" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin: auto; margin-top: 5%; padding: 10px;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p class="atencion_botonera" style="text-align: center">¿Confirma que desea eliminar el producto?</p> 
    <br>
    <input type="button" class=" boton  mt-4" id="eliminar_ter" name="eliminar_ter" value="ELIMINAR">
  </div>
</div>            
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style>                                          
                                                                             
                                                                                       


	
    {% endblock%}