{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}


{% endblock %}


{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
 <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
  <div class="contenedor-datos">

						<h1 class="texto">Textos Predefinidos</h1>



    <div class="grupo_datos">
        
        <div class="row">
                  <div class="col-sm-12 col-md-12">
                          
                                

        {% if textos is defined and textos!='' %}
        <div class="contenedor-tablas-excel">
                    
                  <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                          <tr  style="border-bottom: 1px dotted #A6A9A9;" class="con_linea">    
            <th class="ta-center" >TEXTO</th>                   
            <th ></th> 
            <th ></th>
            
            
          </tr>
                          {% for texto in textos %}
                          <tr style="border-bottom: 1px dotted #A6A9A9;">
                              
                            
                            <td class="ta-center cf-amarillo" ><a href="../admin/texto?id={{texto.id}}">{{texto.titulo}}</td>     
                        </tr>
                        {% endfor %}
                          
                        </table>
          </div>	
          {% endif %}       
                      </div>	


                    </div><!-- row columna derecha de mapa -->


        </div>
    </div><!-- Grupo datos -->    
 </div>

<!-- Fin bg -->                                                                                       
</div>                                                 
</div>   	
    
{% endblock %}