{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}


{% endblock %}


{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
<div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">

    <form role="form" method="POST" action="{{url('texto')}}"  enctype="multipart/form-data">

   
    
    
    <div class="contenedor-datos">
        <h1 class="texto">Texto:&nbsp; {{texto.0.titulo}}</h1>
        <div class="grupo_datos">
            <div class="row">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <div class="col-sm-12 col-md-12 mt-4">
                    <div class="form-group">
                        {% if texto.0.eslink %}
                        <label for="titulo_editable"><span style="color:#eb433e;">* </span>Modificar el título</label>
                        <input style="width: 100%;" type="text" name="titulo_editable" id="titulo_editable" placeholder="Escribe aqui..." value="{{ texto.0.titulo_editable }}">
                        <br>
                        <br>
                        <label for="subtitulo"><span style="color:#eb433e;">* </span>Modificar el subtítulo</label>
                        <input style="width: 100%;" type="text" name="subtitulo" id="subtitulo" placeholder="Escribe aqui..." value="{{ texto.0.subtitulo }}">
                        <br>
                        <br>
                        {% endif %}
                        <label for="calle"><span style="color:#eb433e;">* </span>Modificar el texto</label>
                        <textarea style="width: 100%; height: 200px;" name="texto" id="texto" placeholder="Escribe aqui...">{{texto.0.texto}}</textarea>
                        {% if texto.0.eslink %}
                        <br>
                        <br>
                        <label for="boton"><span style="color:#eb433e;">* </span>Modificar el nombre del boton</label>
                        <input style="width: 100%;" type="text" name="boton" id="boton" placeholder="Escribe aqui..." value="{{ texto.0.boton }}">
                        <br>
                        <br>
                        <label for="link"><span style="color:#eb433e;">* </span>Modificar el link</label>
                        <input style="width: 100%;" type="text" name="link" id="link" placeholder="Escribe aqui..." value="{{ texto.0.link }}">
                        {% endif %}
                    </div>
                </div>	
            </div><!-- row columna derecha de mapa -->
        </div>
         
    </div><!-- Grupo datos -->
     <ul class="botonera-guardar-editar-eliminar">
        <li><input type="submit" class="desconectar" value="Guardar"></li>
    </ul> 
    </form> 
 </div>


    </div>                                                 
</div>   	
    
{% endblock %}