{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCie-PiMz8PcQNzqrlXi8WW9I-4cU3ZYZM"></script>
<script src="{{ genericDomain }}js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>

<script type="text/javascript">
 function seteo_campos(tipo){
            
              
            $("#actividadesd").hide(); 
            $("#niveld").hide(); 
            
            
            if (tipo=='Asesor' || tipo=='Asesor a revisar'){
                  $("#niveld").show(); 
                $("#actividadesd").show(); 
            
            }
            
            
            
            
        }

$(document).ready(function(){  
    
            $('#eliminarus').on('show.bs.modal', function (e) {
                console.log("show"); 
                var id = $(e.relatedTarget).attr('data-id_waed');
            
                console.log(id);
            
                $('#eliminar_us_id').val(id);
            });
            
            $('#eliminar_us').on("click", function() {
              var data = new FormData();
                data.append('id', $('#eliminar_us_id').val());
                console.log(id);
                $.ajax({
                    url: '{{url('eliminarus')}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                          console.log(data);
                          $("#resultado_eliminar_us").html('Usuario eliminado correctamente. Se refrescará la página automáticamente.');
                          setTimeout(function(){
                          window.location = '{{url('grillausuarios')}}';
                          },2500);
                        }
                        catch (e)
                        {
                        }
                    }
                });
            });
            
            $("#tipo_contacto").change(function() {
               seteo_campos($("#tipo_contacto").val());
            });
            
});              
</script>

{% endblock %}


{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
 <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
  <div class="contenedor-datos">

						<h1 class="usuario">Usuarios</h1>



    <div class="grupo_datos">
        <h2>Buscador</h2>
        <div class="row">


                  




                  <div class="col-sm-12 col-md-12">
                          <form method="POST" action="{{url('usuarios')}}">
                            <div class="row"> 
                             <div class="form-group">
                                  <div class="col-sm-12 col-md-3">					
                                  <label for="provincia">Nombre</label>
                                  <input class="form-control" type="text" name="nombre" style="margin-bottom: 5px">
                                 </div> 
                                 <div class="col-sm-12 col-md-3">	
                                 <input type="submit"  value="Buscar">
                                 </div>
                             </div>
                           </div>
                         </form>
                                
        <h2 class="fw-regular-t ">
                TODOS LOS USUARIOS
        </h2>
        <!-- boton agregar  -->
        <div class="pull-left ">                                              
        <a href="{{genericDomain}}admin/nuevousuario?id=0" type="submit" class="boton alt-amarillo pull-left " style="margin-bottom:10px;">AGREGAR USUARIO</a>
        </div> 
        <!-- fin boton agregar -->
        {% if usuarios is defined and usuarios!='' %}
                    
        <div class="contenedor-tablas-excel">
                    
                  <table style="min-width: 500px;    WIDTH: 100%;margin-top: 5;background-color: #f3f3f3;  padding: 10px 20px 20px 20px;" id="t01" name="t01" class="t01">
                          <tr  >    
                                
            <th style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">NOMBRE</th> 
            <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">EMAIL</th>
            <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">HABILITADO</th>
            <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;">ACCIONES</th>
            <th  style="padding-top: 10px;  padding-bottom: 10px;text-align: center; color: #7F8080;   font-weight: 900;  font-size: 13px;    padding-right: 3px;"></th>
          </tr>
                          {% for usuario in usuarios %}
                        <tr>
                              
                            <td style="text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            color: gray;
                            padding: 5px;"><a href="../admin/nuevousuario?id={{usuario.id}}">{{usuario.nombre}}</a></td>
                            <td style="text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            color: gray;
                            padding: 5px;">{{usuario.email}}</td>                  
                                              <td style="text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            color: gray;
                            padding: 5px;">{%if usuario.habilitado == '1' %}SI{%else%}NO{%endif%}</td> 
                            <td style="text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            color: gray;
                            padding:  5px;"><a href="{{ genericDomain }}admin/nuevousuario?id={{usuario.id}}" class="boton alt-amarillo pull-left " > EDITAR </a></td>
                            <td style="text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            color: gray;
                            padding: 5px;"><div class="pull-left ">
                              <a id="eu" name="eu" href="#" style='margin-left: 7px;' data-id_waed="{{usuario.id}}"  data-toggle='modal' data-id="{{usuario.id}}" data-target='#eliminarus' class="boton alt-gris pull-left ">ELIMINAR</a>
                              </div>
                            </td>       
                        </tr>
                          {% endfor %}
                          
                        </table>
          </div>	
          {% endif %}       
                      </div>	


                    </div><!-- row columna derecha de mapa -->


        </div>
    </div><!-- Grupo datos -->    
 </div>

<!-- Fin bg -->                                                                                       
</div>                                                 
</div>   	

<div name="eliminarus" id="eliminarus" style="z-index: 99999;" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="width: 50%;margin-top: 5%;">
        <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        <input type="hidden" id="eliminar_us_id" name="eliminar_us_id">
        <p id='resultado_eliminar_us' name='resultado_eliminar_us' class="atencion_botonera">¿Confirma que desea eliminar este usuario?</p> 
        <br>
        <input type="button" class="boton  mt-4" id="eliminar_us" name="eliminar_us" value="ELIMINAR!">
  </div>
</div> 
        
        
  <style>
      .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style> 
          
{% endblock %}