{% extends 'AmapolannUserBundle::layoutf.html.twig'%}

{% block css %}
{{ parent() }}
{% endblock %}

{% block js %}
{{ parent() }}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<style>
    .ui-autocomplete {
  z-index: 10000000;
}
</style>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

            <script src="../js/bootstrap.js" type="text/javascript"></script>

<script>
    
    
         $(document).ready(function(){  
    
             $('#eliminar_us').on("click", function() {
             console.log("boton apretado");
             
              var data = new FormData();
                data.append('id', {{id}});
                
                $.ajax({
                    url: '{{url('eliminarus', {'id': id})}}',
                    data: data,
                    processData: false,
                    cache: false,
                    contentType: false,
                    type: 'POST',
                    success: function ( data ) {
                        try
                        {
                            window.location = '{{url('grillausuarios')}}';
                        }
                        catch (e)
                        {
                        }
                    }
                });

            });
        });
</script>
{% endblock %}





{% block content %}

{{ parent() }}
{% render "AmapolannUserBundle:Account:header" with {'user':user} %}
<div class="bg bg-gris">
<div class="bg bg-blanco-op ">
{% render "AmapolannUserBundle:Account:progreso"%}

                    
   <div class="col-xs-12 col-sm-7 col-md-8 col-lg-10" id="contenedor_desarrollo">
   <div class="contenedor-datos">
        <h1 class="usuario">Usuario</h1>
        <form role="form" method="POST" action="{{url('usuario')}}"  enctype="multipart/form-data">

		        <div class="grupo_datos">

       

                    <h2>Datos básicos</h2>          
                    <div class="row">

                          <input type="hidden" name="id" id="id" value="{{id}}">

                            <div class="col-sm-12 col-md-3">	
                                    <div class="form-group">
                                    <label for="calle"><span style="color:#eb433e;">* </span>Nombre</label>
                                    {%if usuario is defined and usuario.0.nombre is defined %}
                                        <input type="text" value="{{usuario.0.nombre}}" name="nombre" id="nombre" class="form-control required" required>
                                    {%else%}
                                         <input type="text" value="" name="nombre" id="nombre" class="form-control required" required>
                                    {%endif%}
                                    </div>
                            </div>	
                                                                
                            <div class="col-sm-12 col-md-3">	
                                    <div class="form-group">
                                    <label for="calle"><span style="color:#eb433e;">* </span>Email</label>
                                    {%if usuario is defined and usuario.0.email is defined %}
                                        <input type="email" value="{{usuario.0.email}}" name="email" id="email" class="form-control required" required>
                                    {%else%}
                                         <input type="email" value="" name="email" id="email" class="form-control required" required>
                                    {%endif%}
                                    </div>
                            </div>	
                                                                
                            <div class="col-sm-12 col-md-3">	
                                    <div class="form-group">
                                    <label for="calle"><span style="color:#eb433e;">* </span>Contraseña</label>
                                    {%if usuario is defined and usuario.0.contrasena is defined %}
                                        <input type="password" value="{{usuario.0.contrasena}}" name="contrasena" id="contrasena" class="form-control required" required>
                                    {%else%}
                                         <input type="password" value="" name="contrasena" id="contrasena" class="form-control required" required>
                                    {%endif%}
                                    </div>
                            </div>	

                                    
                            <div id="disposicion_deptod" class="col-sm-12 col-md-3">	
                                    <div class="form-group">
                                        <label for="calle">Habilitado</label>
                                        {%if usuario is defined and usuario.0.habilitado is defined %}
                                            <select name="habilitado" id="habilitado" class="form-control ">
                                               <option value="1" {%if usuario.0.habilitado == '1'%}selected{%endif%}>Si</option>
                                                <option value="0" {%if usuario.0.habilitado == '0'%}selected{%endif%}>No</option>   
                                              </select>
                                        {%else%}
                                            <select name="habilitado" id="habilitado" class="form-control">
                                                <option value="1" selected>Si</option>
                                                <option value="0">No</option> 
                                               </select>
                                        {%endif%}
                                    </div>
                            </div> 
                    </div>
                    <!-- row -->
        
                    <ul class="botonera-guardar-editar-eliminar">
                            <li><input type="submit" class="boton alt-amarillo pull-left " value="Guardar"></li>
                            {%if id is defined and id!="0"%}
                            <li><a  href="#" data-toggle='modal' data-target='#myModalEliminar'   class="boton alt-gris pull-left mt-5p">Eliminar</a></li>
                            {%endif%}
                    </ul>
                </div>   


           

        </form>


                                                                
        </div><!-- Grupo datos --> 
    </div>
<!-- Fin bg -->                                                                                       
</div>                                                 
</div>                                                                            
            
                                           
                                                                             
</div><!-- row columna derecha de mapa -->                                                                                       
                                                  
                                                                             
<div id="myModalEliminar" style="z-index: 99999;" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50%; margin: auto; margin-top: 5%; padding: 10px;">
    <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
    <p class="atencion_botonera" style="text-align: center">¿Confirma que desea eliminar el usuario?</p> 
    <br>
    <input type="button" style=" background-color: rgba(2,94,175,1); color: white;  margin-right: auto;" id="eliminar_us" name="eliminar_us" value="ELIMINAR">
  </div>

</div>                                              


	
    {% endblock%}